openapi: 3.0.0
info:
  title: Account Level Webhooks Book Commands Legacy Cash Flow Analytics (Deprecated) API
  version: 1.0.0
servers:
- url: https://api.ocrolus.com
security:
- oauth: []
tags:
- name: Legacy Cash Flow Analytics (Deprecated)
paths:
  /v1/book/summary:
    get:
      summary: Analytics (JSON) (Deprecated)
      operationId: analytics
      deprecated: true
      tags:
      - Legacy Cash Flow Analytics (Deprecated)
      description: 'Retrieves analytics for a <<glossary:Book>> in JSON format, for use within your own application workflows.


        ---

        > 🚧 We have a better version!

        > This product was deprecated in December 2023 and has been superseded by our [new Analytics 2.0 offering](ref:book-summary), which we recommend for all new work.


        > 📘 Multiple endpoints, one object

        > This endpoint and [the asynchronous version](ref:async-analytics-result) return analytics objects in the same format. The [XLSX endpoint](ref:analytics-excel) logically returns most of the same information, but does not use the same schema since JSON schemas don''t apply to XLSX files. You can find a detailed reference of the returned analytics object [here](doc:analytics-type).

        '
      parameters:
      - name: book_uuid
        in: query
        description: 'The unique identifier of the <<glossary:Book>> that contains the bank statements you''d like to have analyzed. Mutually exclusive with the `pk` parameter (i.e. don''t provide both).

          '
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/pk'
      - $ref: '#/components/parameters/extra_fields'
      x-readme:
        samples-languages:
        - curl
        - python
        explorer-enabled: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - message
                - response
                properties:
                  status:
                    type: integer
                    default: 200
                    description: 'Numerical code indicating the status of this request. Will be 200 for a successful response.

                      '
                  code:
                    type: integer
                    description: 'Numerical code indicating the nature of an error. Will not be present if the response is successful.

                      '
                  message:
                    type: string
                    default: OK
                    description: 'A textual description that indicates details about this response''s status. Will be "OK" for a successful request.

                      '
                  response:
                    $ref: '#/components/schemas/BookAnalytics'
              examples:
                Success:
                  $ref: '#/components/examples/SuccessV1AnalyticsResponse'
        '400':
          description: Client Errors
          content:
            application/json:
              examples:
                Book not found:
                  value:
                    status: 400
                    code: 1401
                    response: null
                    message: Book not found
                    meta:
                      status: 400
                      msg: Book not found
                      code: 1401
                Missing Required Parameters:
                  value:
                    status: 400
                    code: 1103
                    response: null
                    message: Required pk or book uuid
                    meta:
                      status: 400
                      msg: Required pk or book uuid
                      code: 1103
                No Permission:
                  value:
                    status: 400
                    code: 2102
                    response: null
                    message: No permission to access this book
                    meta:
                      status: 400
                      msg: No permission to access this book
                      code: 2102
                AnalyticsNotSupportError:
                  $ref: '#/components/examples/AnalyticsNotSupportError'
                AnalyticsOnlySupportBankStatementsError:
                  $ref: '#/components/examples/AnalyticsOnlySupportBankStatementsError'
              schema:
                oneOf:
                - title: Book not found
                  type: object
                  properties:
                    status:
                      type: integer
                      description: A numerical code that indicates the status of the request.
                      example: 400
                    code:
                      type: integer
                      description: A numerical code that indicates the nature of an error.
                      example: 1401
                    response:
                      type: object
                      description: An object received from the server that potentially contains data.
                      example: null
                    message:
                      type: string
                      default: OK
                      description: A textual description that indicates details about this response's status.
                      example: Book not found
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          description: A numerical code that indicates the status of the request.
                          example: 400
                        message:
                          type: string
                          description: A textual description that indicates details about this response's status.
                          example: Book not found
                        code:
                          type: integer
                          example: 1401
                          description: A numerical code that indicates the nature of an error.
                - title: Missing Required Parameter
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 400
                      description: A numerical code that indicates the status of the request.
                    code:
                      type: integer
                      example: 1103
                      description: A numerical code that indicates the nature of an error.
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                    message:
                      type: string
                      example: Required pk or book uuid
                      description: A textual description that indicates details about this response's status.
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        msg:
                          type: string
                          example: Required pk or book uuid
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 1103
                          description: A numerical code that indicates the nature of an error.
                - title: No Permission
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 400
                      description: A numerical code that indicates the status of the request.
                    code:
                      type: integer
                      example: 2102
                      description: A numerical code that indicates the nature of an error.
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                    message:
                      type: string
                      example: No permission to access this book
                      description: A textual description that indicates details about this response's status.
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        msg:
                          type: string
                          example: No permission to access this book
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 2102
                          description: A numerical code that indicates the nature of an error.
                - title: Analytics Not Supported
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 400
                      description: A numerical code that indicates the status of the request.
                    code:
                      type: integer
                      example: 2102
                      description: A numerical code that indicates the nature of an error.
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                    message:
                      type: string
                      example: No permission to access this book
                      description: A textual description that indicates details about this response's status.
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        msg:
                          type: string
                          example: No permission to access this book
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 2102
                          description: A numerical code that indicates the nature of an error.
                - title: Bank Statements Only
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 400
                      description: A numerical code that indicates the status of the request.
                    code:
                      type: integer
                      example: 2102
                      description: A numerical code that indicates the nature of an error.
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                    message:
                      type: string
                      example: No permission to access this book
                      description: A textual description that indicates details about this response's status.
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        msg:
                          type: string
                          example: No permission to access this book
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 2102
                          description: A numerical code that indicates the nature of an error.
  /v1/book/export/xlsx/analytics:
    get:
      summary: Analytics (Excel) (Deprecated)
      operationId: legacy-analytics-excel
      deprecated: true
      tags:
      - Legacy Cash Flow Analytics (Deprecated)
      description: 'Retrieves analytics for a <<glossary:Book>> in Excel-compatible XLSX format (not to be confused with the legacy XLS format).


        ---

        > 🚧 We have a better version!

        > This product was deprecated in December 2023 and has been superseded by our [new Analytics 2.0 offering](ref:book-summary), which we recommend for all new work.



        The output of this endpoint is intended for manual review, as opposed to automated consumption by your application.


        Some fields provided in the [JSON output](doc:analytics) are not listed in the XLSX output. This behavior may change in future revisions of this endpoint.


        > 📘 Multiple endpoints, one object

        > This endpoint returns the same information as the [JSON versions](ref:analytics), but in a different format. You can find a detailed reference of the JSON analytics object [here](doc:analytics-type), although it doesn''t strictly apply to the file returned by this endpoint.


        > 🚧

        > The response will have a MIME type of `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet`, hence there is no JSON response schema. See [here](https://docs.google.com/spreadsheets/d/1tCjC3ZmmGWyZnF18YMfhOVFBnt_MZ_58) for an example output.

        '
      parameters:
      - $ref: '#/components/parameters/pk'
        required: true
      x-readme:
        samples-languages:
        - curl
        - python
        explorer-enabled: false
      responses:
        '200':
          description: Success
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              examples:
                ExampleSpreadsheet:
                  summary: Success
                  externalValue: https://docs.google.com/spreadsheets/d/1tCjC3ZmmGWyZnF18YMfhOVFBnt_MZ_58
        '400':
          description: Client Errors
          content:
            application/json:
              examples:
                Book not found:
                  value:
                    status: 400
                    code: 1401
                    response: null
                    message: Book not found
                    meta:
                      status: 400
                      msg: Book not found
                      code: 1401
                Missing Required Parameters:
                  value:
                    status: 400
                    code: 1103
                    response: null
                    message: Required pk or book uuid
                    meta:
                      status: 400
                      msg: Required pk or book uuid
                      code: 1103
                No Permission:
                  value:
                    status: 400
                    code: 2102
                    response: null
                    message: No permission to access this book
                    meta:
                      status: 400
                      msg: No permission to access this book
                      code: 2102
                AnalyticsNotSupportError:
                  $ref: '#/components/examples/AnalyticsNotSupportError'
                AnalyticsOnlySupportBankStatementsError:
                  $ref: '#/components/examples/AnalyticsOnlySupportBankStatementsError'
              schema:
                oneOf:
                - title: Book not found
                  type: object
                  properties:
                    status:
                      type: integer
                      description: A numerical code that indicates the status of the request.
                      example: 400
                    code:
                      type: integer
                      description: A numerical code that indicates the nature of an error.
                      example: 1401
                    response:
                      type: object
                      description: An object received from the server that potentially contains data.
                      example: null
                    message:
                      type: string
                      default: OK
                      description: A textual description that indicates details about this response's status.
                      example: Book not found
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          description: A numerical code that indicates the status of the request.
                          example: 400
                        message:
                          type: string
                          description: A textual description that indicates details about this response's status.
                          example: Book not found
                        code:
                          type: integer
                          example: 1401
                          description: A numerical code that indicates the nature of an error.
                - title: Missing Required Parameter
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 400
                      description: A numerical code that indicates the status of the request.
                    code:
                      type: integer
                      example: 1103
                      description: A numerical code that indicates the nature of an error.
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                    message:
                      type: string
                      example: Required pk or book uuid
                      description: A textual description that indicates details about this response's status.
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        msg:
                          type: string
                          example: Required pk or book uuid
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 1103
                          description: A numerical code that indicates the nature of an error.
                - title: No Permission
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 400
                      description: A numerical code that indicates the status of the request.
                    code:
                      type: integer
                      example: 2102
                      description: A numerical code that indicates the nature of an error.
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                    message:
                      type: string
                      example: No permission to access this book
                      description: A textual description that indicates details about this response's status.
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        msg:
                          type: string
                          example: No permission to access this book
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 2102
                          description: A numerical code that indicates the nature of an error.
                - title: Analytics Not Supported
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 400
                      description: A numerical code that indicates the status of the request.
                    code:
                      type: integer
                      example: 2102
                      description: A numerical code that indicates the nature of an error.
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                    message:
                      type: string
                      example: No permission to access this book
                      description: A textual description that indicates details about this response's status.
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        msg:
                          type: string
                          example: No permission to access this book
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 2102
                          description: A numerical code that indicates the nature of an error.
                - title: Bank Statements Only
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 400
                      description: A numerical code that indicates the status of the request.
                    code:
                      type: integer
                      example: 2102
                      description: A numerical code that indicates the nature of an error.
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                    message:
                      type: string
                      example: No permission to access this book
                      description: A textual description that indicates details about this response's status.
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        msg:
                          type: string
                          example: No permission to access this book
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 2102
                          description: A numerical code that indicates the nature of an error.
  /v1/book/analytics/async/request:
    post:
      summary: Async Analytics Request (Deprecated)
      operationId: async-analytics-request
      deprecated: true
      tags:
      - Legacy Cash Flow Analytics (Deprecated)
      description: 'Request analytics for a <<glossary:Book>> to be computed behind the scenes. You''ll be notified when they''re ready.


        ---

        > 🚧 We have a better version!

        > This product was deprecated in December 2023 and has been superseded by our [new Analytics 2.0 offering](ref:book-summary), which we recommend for all new work.


        You can retrieve the results when they''re ready by [registering a webhook](doc:registering-webhook-endpoint) that listens for the `ANALYTICS_COMPLETED` event. You can also poll the [Async Analytics Result endpoint](ref:async-analytics-result) regularly if you don''t mind exchanging precision for simplicity.


        > 📘 Multiple endpoints, one object

        > The [asynchronous results endpoint](ref:async-analytics-result) and [the synchronous version](ref:analytics) return analytics objects in the same format. The [XLSX endpoint](ref:analytics-excel) logically returns most of the same information, but does not use the same schema since JSON schemas don''t apply to Excel files. You can find a detailed reference of the returned analytics object [here](doc:analytics-type).

        '
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - pk
              properties:
                pk:
                  $ref: '#/components/schemas/pk'
                extra_fields:
                  $ref: '#/components/schemas/ExtraFields'
      x-readme:
        samples-languages:
        - curl
        - python
        explorer-enabled: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: 'Numerical code indicating the status of this request.

                      '
                    example: 200
                  message:
                    type: string
                    description: 'A textual description that indicates details about this response''s status.

                      '
                    example: OK
                  response:
                    properties:
                      analytics_request_id:
                        type: string
                        format: uuid
                        description: 'A unique identifier for this analytics request. Provide it to the [Result](ref:async-analytics-result) endpoint to retrieve the results.

                          '
              examples:
                Success:
                  summary: Successful Request
                  description: Successful request for async analytics
                  value:
                    status: 200
                    message: OK
                    response:
                      analytics_request_id: e2b1051e-570a-43ba-8104-1bcc0a3ad2a0
        '400':
          description: Client Errors
          content:
            application/json:
              examples:
                Book not found:
                  value:
                    status: 400
                    code: 1401
                    response: null
                    message: Book not found
                    meta:
                      status: 400
                      msg: Book not found
                      code: 1401
                Missing Required Parameters:
                  value:
                    status: 400
                    code: 1103
                    response: null
                    message: Required pk
                    meta:
                      status: 400
                      msg: Required pk
                      code: 1103
                No Permission:
                  value:
                    status: 400
                    code: 2102
                    response: null
                    message: No permission to access this book
                    meta:
                      status: 400
                      msg: No permission to access this book
                      code: 2102
                AnalyticsNotSupportError:
                  $ref: '#/components/examples/AnalyticsNotSupportError'
                AnalyticsOnlySupportBankStatementsError:
                  $ref: '#/components/examples/AnalyticsOnlySupportBankStatementsError'
              schema:
                oneOf:
                - title: Book not found
                  type: object
                  properties:
                    status:
                      type: integer
                      description: A numerical code that indicates the status of the request.
                      example: 400
                    code:
                      type: integer
                      description: A numerical code that indicates the nature of an error.
                      example: 1401
                    response:
                      type: object
                      description: An object received from the server that potentially contains data.
                      example: null
                    message:
                      type: string
                      default: OK
                      description: A textual description that indicates details about this response's status.
                      example: Book not found
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          description: A numerical code that indicates the status of the request.
                          example: 400
                        message:
                          type: string
                          description: A textual description that indicates details about this response's status.
                          example: Book not found
                        code:
                          type: integer
                          example: 1401
                          description: A numerical code that indicates the nature of an error.
                - title: Missing Required Parameter
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 400
                      description: A numerical code that indicates the status of the request.
                    code:
                      type: integer
                      example: 1103
                      description: A numerical code that indicates the nature of an error.
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                    message:
                      type: string
                      example: Required pk
                      description: A textual description that indicates details about this response's status.
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        msg:
                          type: string
                          example: Required pk
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 1103
                          description: A numerical code that indicates the nature of an error.
                - title: No Permission
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 400
                      description: A numerical code that indicates the status of the request.
                    code:
                      type: integer
                      example: 2102
                      description: A numerical code that indicates the nature of an error.
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                    message:
                      type: string
                      example: No permission to access this book
                      description: A textual description that indicates details about this response's status.
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        msg:
                          type: string
                          example: No permission to access this book
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 2102
                          description: A numerical code that indicates the nature of an error.
                - title: Analytics Not Supported
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 400
                      description: A numerical code that indicates the status of the request.
                    code:
                      type: integer
                      example: 2102
                      description: A numerical code that indicates the nature of an error.
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                    message:
                      type: string
                      example: No permission to access this book
                      description: A textual description that indicates details about this response's status.
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        msg:
                          type: string
                          example: No permission to access this book
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 2102
                          description: A numerical code that indicates the nature of an error.
                - title: Bank Statements Only
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 400
                      description: A numerical code that indicates the status of the request.
                    code:
                      type: integer
                      example: 2102
                      description: A numerical code that indicates the nature of an error.
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                    message:
                      type: string
                      example: No permission to access this book
                      description: A textual description that indicates details about this response's status.
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        msg:
                          type: string
                          example: No permission to access this book
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 2102
                          description: A numerical code that indicates the nature of an error.
  /v1/book/analytics/async/result:
    get:
      summary: Async Analytics Result (Deprecated)
      operationId: async-analytics-result
      deprecated: true
      tags:
      - Legacy Cash Flow Analytics (Deprecated)
      description: 'Checks the status of an asynchronous analytics request, retrieving the results if they''re ready.


        ---

        > 🚧 We have a better version!

        > This product was deprecated in December 2023 and has been superseded by our [new Analytics 2.0 offering](ref:book-summary), which we recommend for all new work.


        > 📘 Multiple endpoints, one object

        > This endpoint and [the synchronous version](ref:analytics) return analytics objects in the same format. The [XLSX endpoint](ref:analytics-excel) logically returns most of the same information, but does not use the same schema since JSON schemas don''t apply to Excel files. You can find a detailed reference of the returned analytics object [here](doc:analytics-type).

        '
      parameters:
      - name: analytics_request_id
        in: query
        description: The ID of the request that was returned by [the request endpoint](ref:async-analytics-request).
        required: true
        schema:
          type: string
          format: uuid
      x-readme:
        samples-languages:
        - curl
        - python
        explorer-enabled: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: 'Numerical code indicating the status of this request. Will be 200 for a successful response.

                      '
                  message:
                    type: string
                    description: 'A textual description that indicates details about this response''s status. Will be "OK" for a successful request.

                      '
                    example: OK
                  response:
                    type: object
                    description: 'Details about the asynchronous analytics request and its state. The key will be the value given in the `analytics_request_id` parameter.

                      '
                    properties:
                      request_id:
                        type: object
                        description: A unique identifier for this analytics request. Provide it to the [Result](ref:async-analytics-result) endpoint to retrieve the results.
                        properties:
                          analytics_status:
                            $ref: '#/components/schemas/AnalyticsRequestStatus'
                          analytics:
                            $ref: '#/components/schemas/BookAnalytics'
              examples:
                Success:
                  $ref: '#/components/examples/SuccessV1AsyncAnalyticsResponse'
        '400':
          description: Client Errors
          content:
            application/json:
              examples:
                Missing Required Paramater:
                  value:
                    status: 400
                    code: 1103
                    response: null
                    message: Required parameter not found
                    meta:
                      status: 400
                      msg: Required parameter not found
                      code: 1103
              schema:
                title: Missing Required Parameter
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                    default: 0
                    description: A numerical code that indicates the status of the request.
                  code:
                    type: integer
                    example: 1103
                    default: 0
                    description: A numerical code that indicates the nature of an error.
                  response:
                    type: object
                    example: null
                    description: An object received from the server that potentially contains data.
                  message:
                    type: string
                    example: Required parameter not found
                    description: A textual description that indicates details about this response's status.
                  meta:
                    type: object
                    description: An object received from the server that potentially contains information about the request.
                    properties:
                      status:
                        type: integer
                        example: 400
                        default: 0
                        description: A numerical code that indicates the status of the request.
                      msg:
                        type: string
                        example: Required parameter not found
                        description: A textual description that indicates details about this response's status.
                      code:
                        type: integer
                        example: 1103
                        default: 0
                        description: A numerical code that indicates the nature of an error.
components:
  parameters:
    extra_fields:
      name: extra_fields
      in: query
      description: 'A list of extra analytics fields to include in the result. See [here](doc:extra-fields) for a full list. These fields are also listed in this documentation.


        Future revisions of this endpoint will include these fields by default. This will _not_ constitute a [breaking change](doc:breaking-change-policy), so we may not give advance notice.

        '
      deprecated: true
      style: form
      explode: false
      schema:
        $ref: '#/components/schemas/ExtraFields'
    pk:
      name: pk
      in: query
      description: 'The <<glossary:PK>> of the <<glossary:Book>> that contains the bank statements you''d like to have analyzed.

        '
      schema:
        $ref: '#/components/schemas/pk'
  schemas:
    pk:
      description: 'The <<glossary:PK>> of the <<glossary:Book>> that contains the bank statements you''d like to have analyzed.

        '
      type: integer
      format: uint64
    EstimatedRevenueCalculationTransactionsByMonth:
      title: Estimated Revenue Calculation Transactions by Month
      description: 'The list of credit transactions used to calculate estimated revenues grouped by category and calendar month.

        estimated_revenue = all credits - revenue_deducted -  transfer + revenue_included - alternative_lender + factoring The estimated revenue of the business grouped by calendar month. This is calculated by summing together all credit transactions, then removing all transfer credits (except for wire transfers), all alternative lender credits (except for factoring credits), and all transactions that contain words that signify that they are not revenue deposits. This includes words such as "Refund", "Reversal", "Cash Back", "Return", and about 20 others.

        '
      x-metric-category: Transaction-Level Data
      required:
      - added_factoring_txns
      - added_specific_terms_txns
      - deposits
      - deducted_alternative_lender_txns
      - deducted_specific_terms_txns
      - deducted_transfer_deposit_txns
      properties:
        added_factoring_txns:
          description: 'Credit transactions identified as factoring. Added to the total revenue estimate.

            Each key is a string representing a month and a year, using the regex `^\d{2}/\d{4}$` (i.e `MM/YYYY`).

            '
          additionalProperties:
            type: array
            minItems: 0
            items:
              $ref: '#/components/schemas/Transaction'
          x-key-pattern: ^\d{2}/\d{4}$
        added_specific_terms_txns:
          description: 'Credit transactions that are *likely* to be revenue deposits. We maintain a list of terms that signal this quality. Transactions with a description that includes one of these phrases are included here.

            Each key is a string representing a month and a year, using the regex `^\d{2}/\d{4}$` (i.e `MM/YYYY`).

            '
          additionalProperties:
            type: array
            minItems: 0
            items:
              $ref: '#/components/schemas/Transaction'
          x-key-pattern: ^\d{2}/\d{4}$
        deposits:
          description: 'Credit transactions identified as deposits, for use in revenue estimations.

            Each key is a string representing a month and a year, using the regex `^\d{2}/\d{4}$` (i.e `MM/YYYY`).

            '
          additionalProperties:
            type: array
            minItems: 0
            items:
              $ref: '#/components/schemas/Transaction'
          x-key-pattern: ^\d{2}/\d{4}$
        deducted_alternative_lender_txns:
          description: 'Credit transactions identified as alternative lending. Deducted from the total revenue estimate.

            Each key is a string representing a month and a year, using the regex `^\d{2}/\d{4}$` (i.e `MM/YYYY`).

            '
          additionalProperties:
            type: array
            minItems: 0
            items:
              $ref: '#/components/schemas/Transaction'
          x-key-pattern: ^\d{2}/\d{4}$
        deducted_specific_terms_txns:
          description: 'Credit transactions that are *unlikely* to be revenue deposits. We maintain a list of terms that signal this quality, such as "Refund", "Reversal", "Cash Back", and "Return". Transactions with a description that includes one of these phrases are included here.

            Each key is a string representing a month and a year, using the regex `^\d{2}/\d{4}$` (i.e `MM/YYYY`).

            '
          additionalProperties:
            type: array
            minItems: 0
            items:
              $ref: '#/components/schemas/Transaction'
          x-key-pattern: ^\d{2}/\d{4}$
        deducted_transfer_deposit_txns:
          description: 'Credit transactions identified as transfers. Deducted from the total revenue estimate.

            Each key is a string representing a month and a year, using the regex `^\d{2}/\d{4}$` (i.e `MM/YYYY`).

            '
          additionalProperties:
            type: array
            minItems: 0
            items:
              $ref: '#/components/schemas/Transaction'
          x-key-pattern: ^\d{2}/\d{4}$
    PeriodBalanceMismatch:
      type: object
      description: An indication of gaps between statement periods captured in the bank account.
      properties:
        begin_date:
          type: string
          description: The starting date of the unaccounted-for statement period.
          pattern: ^\d{2}/\d{2}/\d{4}$
        begin_balance:
          type: string
          description: The starting balance of the unaccounted-for statement period.
          pattern: ^[+-]?\d+(\.\d{1,2})?$
        end_date:
          type: string
          description: The ending date of the unaccounted-for statement period.
          pattern: ^\d{2}/\d{2}/\d{4}$
        end_balance:
          type: string
          description: The ending balance of the unaccounted-for statement period.
          pattern: ^[+-]?\d+(\.\d{1,2})?$
    BookAnalytics:
      description: 'Detailed analytics computed on the requested <<glossary:Book>>.

        All monetary amounts are given in USD.

        '
      nullable: true
      example:
        value:
          mca_payments_by_month:
            01/2021: '2733.48'
            07/2020: '0.00'
            08/2020: '0.00'
            09/2020: '0.00'
            12/2020: '2733.48'
          average_daily_balance: '15460.36'
          average_daily_balance_weekday: '15392.12'
          average_daily_balance_by_month:
            01/2021: '8850.68'
            07/2020: '23065.27'
            08/2020: '24571.28'
            09/2020: '11050.41'
            10/2020: '3052.42'
            11/2020: '19145.83'
            12/2020: '15980.41'
          average_daily_balance_weekday_by_month:
            01/2021: '7891.96'
            07/2020: '23623.21'
            08/2020: '24535.12'
            09/2020: '11346.07'
            10/2020: '2558.52'
            11/2020: '18691.85'
            12/2020: '16407.73'
          daily_balances:
            08/19/2020: '24614.02'
            08/20/2020: '24380.88'
            08/21/2020: '24370.13'
            08/22/2020: '24920.13'
            08/23/2020: '25525.58'
            08/24/2020: '25925.58'
            08/25/2020: '25267.95'
            08/26/2020: '25387.19'
            08/27/2020: '25558.42'
            08/28/2020: '25249.00'
            08/29/2020: '24974.75'
            08/30/2020: '26143.22'
            08/31/2020: '26143.22'
            09/01/2020: '26023.47'
            09/02/2020: '26597.48'
            09/03/2020: '26784.96'
            09/04/2020: '26813.96'
            09/05/2020: '24126.97'
            09/06/2020: '25059.45'
            09/07/2020: '23268.31'
            09/08/2020: '24055.17'
            09/09/2020: '23908.00'
            09/10/2020: '4126.11'
            09/11/2020: '2808.97'
            09/12/2020: '3608.97'
            09/13/2020: '5462.11'
            09/14/2020: '4385.23'
            09/15/2020: '4100.69'
            09/16/2020: '4100.69'
            09/17/2020: '4721.83'
            09/18/2020: '4721.83'
            09/19/2020: '4721.83'
            09/20/2020: '5450.75'
            09/21/2020: '4065.10'
            09/22/2020: '4815.10'
            09/23/2020: '4815.10'
            09/24/2020: '5515.10'
            09/25/2020: '5799.34'
            09/26/2020: '6455.57'
            09/27/2020: '7013.26'
            09/28/2020: '5936.38'
            09/29/2020: '6336.38'
            09/30/2020: '5914.24'
            10/01/2020: '6094.49'
            10/02/2020: '5927.65'
            10/03/2020: '6091.65'
            10/04/2020: '7066.02'
            10/05/2020: '3109.14'
            10/06/2020: '3109.14'
            10/07/2020: '3195.56'
            10/08/2020: '3195.56'
            10/09/2020: '3956.07'
            10/10/2020: '3645.07'
            10/11/2020: '5599.72'
            10/12/2020: '-62.30'
            10/13/2020: '137.70'
            10/14/2020: '137.70'
            10/15/2020: '437.70'
            10/16/2020: '1283.84'
            10/17/2020: '1283.84'
            10/18/2020: '2340.13'
            10/19/2020: '1155.25'
            10/20/2020: '1155.25'
            10/21/2020: '1355.25'
            10/22/2020: '1290.89'
            10/23/2020: '2438.84'
            10/24/2020: '2841.44'
            10/25/2020: '4051.07'
            10/26/2020: '2828.71'
            10/27/2020: '2828.71'
            10/28/2020: '3528.71'
            10/29/2020: '3528.71'
            10/30/2020: '5654.85'
            10/31/2020: '5418.68'
            11/01/2020: '5939.07'
            11/02/2020: '4636.20'
            11/03/2020: '4600.20'
            11/04/2020: '5400.20'
            11/05/2020: '1855.95'
            11/06/2020: '3255.63'
            11/07/2020: '2919.63'
            11/08/2020: '4893.63'
            11/09/2020: '3448.75'
            11/10/2020: '3137.75'
            11/11/2020: '2263.06'
            11/12/2020: '2263.06'
            11/13/2020: '4023.47'
            11/14/2020: '3687.47'
            11/15/2020: '34358.82'
            11/16/2020: '32516.28'
            11/17/2020: '32516.28'
            11/18/2020: '33016.28'
            11/19/2020: '33316.28'
            11/20/2020: '33467.45'
            11/21/2020: '33131.45'
            11/22/2020: '32626.90'
            11/23/2020: '31800.02'
            11/24/2020: '31800.02'
            11/25/2020: '32350.02'
            11/26/2020: '32350.02'
            11/27/2020: '33839.57'
            11/28/2020: '31076.57'
            11/29/2020: '33212.57'
            11/30/2020: '30672.38'
            12/01/2020: '30552.63'
            12/02/2020: '26939.35'
            12/03/2020: '26903.35'
            12/04/2020: '27098.35'
            12/05/2020: '18320.43'
            12/06/2020: '19907.89'
            12/07/2020: '18193.32'
            12/08/2020: '17943.32'
            12/09/2020: '18884.57'
            12/10/2020: '18884.57'
            12/11/2020: '17773.88'
            12/12/2020: '17773.88'
            12/13/2020: '18248.16'
            12/14/2020: '17611.69'
            12/15/2020: '16054.24'
            12/16/2020: '15896.32'
            12/17/2020: '14030.18'
            12/18/2020: '10679.20'
            12/19/2020: '11029.20'
            12/20/2020: '9176.42'
            12/21/2020: '9526.42'
            12/22/2020: '9526.42'
            12/23/2020: '9829.42'
            12/24/2020: '9829.42'
            12/25/2020: '10979.42'
            12/26/2020: '10979.42'
            12/27/2020: '12579.42'
            12/28/2020: '11563.67'
            12/29/2020: '11009.53'
            12/30/2020: '13834.30'
            12/31/2020: '13834.30'
            01/01/2021: '13714.55'
            01/02/2021: '14114.55'
            01/03/2021: '11686.79'
            01/04/2021: '11053.83'
            01/05/2021: '4990.35'
            01/06/2021: '5481.02'
            01/07/2021: '5481.02'
            01/08/2021: '6631.02'
            01/09/2021: '6503.03'
            07/10/2020: '16314.96'
            07/11/2020: '16314.96'
            07/12/2020: '16831.65'
            07/13/2020: '23010.11'
            07/14/2020: '23363.61'
            07/15/2020: '23021.28'
            07/16/2020: '23138.94'
            07/17/2020: '23438.94'
            07/18/2020: '23688.94'
            07/19/2020: '24075.05'
            07/20/2020: '24107.32'
            07/21/2020: '24377.66'
            07/22/2020: '24539.43'
            07/23/2020: '24507.66'
            07/24/2020: '24496.91'
            07/25/2020: '24259.49'
            07/26/2020: '24294.39'
            07/27/2020: '24286.73'
            07/28/2020: '24836.73'
            07/29/2020: '25048.20'
            07/30/2020: '24566.47'
            07/31/2020: '24916.47'
            08/01/2020: '24796.72'
            08/02/2020: '25494.21'
            08/03/2020: '25458.21'
            08/04/2020: '25958.21'
            08/05/2020: '22448.27'
            08/06/2020: '22374.08'
            08/07/2020: '22250.84'
            08/08/2020: '22550.84'
            08/09/2020: '23614.24'
            08/10/2020: '24051.41'
            08/11/2020: '24051.41'
            08/12/2020: '24602.06'
            08/13/2020: '23456.59'
            08/14/2020: '23456.59'
            08/15/2020: '23779.45'
            08/16/2020: '24672.89'
            08/17/2020: '25116.75'
            08/18/2020: '25116.75'
          daily_balances_by_month:
            01/2021:
              01/01/2021: '13714.55'
              01/02/2021: '14114.55'
              01/03/2021: '11686.79'
              01/04/2021: '11053.83'
              01/05/2021: '4990.35'
              01/06/2021: '5481.02'
              01/07/2021: '5481.02'
              01/08/2021: '6631.02'
              01/09/2021: '6503.03'
            07/2020:
              07/10/2020: '16314.96'
              07/11/2020: '16314.96'
              07/12/2020: '16831.65'
              07/13/2020: '23010.11'
              07/14/2020: '23363.61'
              07/15/2020: '23021.28'
              07/16/2020: '23138.94'
              07/17/2020: '23438.94'
              07/18/2020: '23688.94'
              07/19/2020: '24075.05'
              07/20/2020: '24107.32'
              07/21/2020: '24377.66'
              07/22/2020: '24539.43'
              07/23/2020: '24507.66'
              07/24/2020: '24496.91'
              07/25/2020: '24259.49'
              07/26/2020: '24294.39'
              07/27/2020: '24286.73'
              07/28/2020: '24836.73'
              07/29/2020: '25048.20'
              07/30/2020: '24566.47'
              07/31/2020: '24916.47'
            08/2020:
              08/01/2020: '24796.72'
              08/02/2020: '25494.21'
              08/03/2020: '25458.21'
              08/04/2020: '25958.21'
              08/05/2020: '22448.27'
              08/06/2020: '22374.08'
              08/07/2020: '22250.84'
              08/08/2020: '22550.84'
              08/09/2020: '23614.24'
              08/10/2020: '24051.41'
              08/11/2020: '24051.41'
              08/12/2020: '24602.06'
              08/13/2020: '23456.59'
              08/14/2020: '23456.59'
              08/15/2020: '23779.45'
              08/16/2020: '24672.89'
              08/17/2020: '25116.75'
              08/18/2020: '25116.75'
              08/19/2020: '24614.02'
              08/20/2020: '24380.88'
              08/21/2020: '24370.13'
              08/22/2020: '24920.13'
              08/23/2020: '25525.58'
              08/24/2020: '25925.58'
              08/25/2020: '25267.95'
              08/26/2020: '25387.19'
              08/27/2020: '25558.42'
              08/28/2020: '25249.00'
              08/29/2020: '24974.75'
              08/30/2020: '26143.22'
              08/31/2020: '26143.22'
            09/2020:
              09/01/2020: '26023.47'
              09/02/2020: '26597.48'
              09/03/2020: '26784.96'
              09/04/2020: '26813.96'
              09/05/2020: '24126.97'
              09/06/2020: '25059.45'
              09/07/2020: '23268.31'
              09/08/2020: '24055.17'
              09/09/2020: '23908.00'
              09/10/2020: '4126.11'
              09/11/2020: '2808.97'
              09/12/2020: '3608.97'
              09/13/2020: '5462.11'
              09/14/2020: '4385.23'
              09/15/2020: '4100.69'
              09/16/2020: '4100.69'
              09/17/2020: '4721.83'
              09/18/2020: '4721.83'
              09/19/2020: '4721.83'
              09/20/2020: '5450.75'
              09/21/2020: '4065.10'
              09/22/2020: '4815.10'
              09/23/2020: '4815.10'
              09/24/2020: '5515.10'
              09/25/2020: '5799.34'
              09/26/2020: '6455.57'
              09/27/2020: '7013.26'
              09/28/2020: '5936.38'
              09/29/2020: '6336.38'
              09/30/2020: '5914.24'
            10/2020:
              10/01/2020: '6094.49'
              10/02/2020: '5927.65'
              10/03/2020: '6091.65'
              10/04/2020: '7066.02'
              10/05/2020: '3109.14'
              10/06/2020: '3109.14'
              10/07/2020: '3195.56'
              10/08/2020: '3195.56'
              10/09/2020: '3956.07'
              10/10/2020: '3645.07'
              10/11/2020: '5599.72'
              10/12/2020: '-62.30'
              10/13/2020: '137.70'
              10/14/2020: '137.70'
              10/15/2020: '437.70'
              10/16/2020: '1283.84'
              10/17/2020: '1283.84'
              10/18/2020: '2340.13'
              10/19/2020: '1155.25'
              10/20/2020: '1155.25'
              10/21/2020: '1355.25'
              10/22/2020: '1290.89'
              10/23/2020: '2438.84'
              10/24/2020: '2841.44'
              10/25/2020: '4051.07'
              10/26/2020: '2828.71'
              10/27/2020: '2828.71'
              10/28/2020: '3528.71'
              10/29/2020: '3528.71'
              10/30/2020: '5654.85'
              10/31/2020: '5418.68'
            11/2020:
              11/01/2020: '5939.07'
              11/02/2020: '4636.20'
              11/03/2020: '4600.20'
              11/04/2020: '5400.20'
              11/05/2020: '1855.95'
              11/06/2020: '3255.63'
              11/07/2020: '2919.63'
              11/08/2020: '4893.63'
              11/09/2020: '3448.75'
              11/10/2020: '3137.75'
              11/11/2020: '2263.06'
              11/12/2020: '2263.06'
              11/13/2020: '4023.47'
              11/14/2020: '3687.47'
              11/15/2020: '34358.82'
              11/16/2020: '32516.28'
              11/17/2020: '32516.28'
              11/18/2020: '33016.28'
              11/19/2020: '33316.28'
              11/20/2020: '33467.45'
              11/21/2020: '33131.45'
              11/22/2020: '32626.90'
              11/23/2020: '31800.02'
              11/24/2020: '31800.02'
              11/25/2020: '32350.02'
              11/26/2020: '32350.02'
              11/27/2020: '33839.57'
              11/28/2020: '31076.57'
              11/29/2020: '33212.57'
              11/30/2020: '30672.38'
            12/2020:
              12/01/2020: '30552.63'
              12/02/2020: '26939.35'
              12/03/2020: '26903.35'
              12/04/2020: '27098.35'
              12/05/2020: '18320.43'
              12/06/2020: '19907.89'
              12/07/2020: '18193.32'
              12/08/2020: '17943.32'
              12/09/2020: '18884.57'
              12/10/2020: '18884.57'
              12/11/2020: '17773.88'
              12/12/2020: '17773.88'
              12/13/2020: '18248.16'
              12/14/2020: '17611.69'
              12/15/2020: '16054.24'
              12/16/2020: '15896.32'
              12/17/2020: '14030.18'
              12/18/2020: '10679.20'
              12/19/2020: '11029.20'
              12/20/2020: '9176.42'
              12/21/2020: '9526.42'
              12/22/2020: '9526.42'
              12/23/2020: '9829.42'
              12/24/2020: '9829.42'
              12/25/2020: '10979.42'
              12/26/2020: '10979.42'
              12/27/2020: '12579.42'
              12/28/2020: '11563.67'
              12/29/2020: '11009.53'
              12/30/2020: '13834.30'
              12/31/2020: '13834.30'
          daily_balances_weekday:
            01/01/2021: '13714.55'
            01/04/2021: '11053.83'
            01/05/2021: '4990.35'
            01/06/2021: '5481.02'
            01/07/2021: '5481.02'
            01/08/2021: '6631.02'
            07/10/2020: '16314.96'
            07/13/2020: '23010.11'
            07/14/2020: '23363.61'
            07/15/2020: '23021.28'
            07/16/2020: '23138.94'
            07/17/2020: '23438.94'
            07/20/2020: '24107.32'
            07/21/2020: '24377.66'
            07/22/2020: '24539.43'
            07/23/2020: '24507.66'
            07/24/2020: '24496.91'
            07/27/2020: '24286.73'
            07/28/2020: '24836.73'
            07/29/2020: '25048.20'
            07/30/2020: '24566.47'
            07/31/2020: '24916.47'
            08/03/2020: '25458.21'
            08/04/2020: '25958.21'
            08/05/2020: '22448.27'
            08/06/2020: '22374.08'
            08/07/2020: '22250.84'
            08/10/2020: '24051.41'
            08/11/2020: '24051.41'
            08/12/2020: '24602.06'
            08/13/2020: '23456.59'
            08/14/2020: '23456.59'
            08/17/2020: '25116.75'
            08/18/2020: '25116.75'
            08/19/2020: '24614.02'
            08/20/2020: '24380.88'
            08/21/2020: '24370.13'
            08/24/2020: '25925.58'
            08/25/2020: '25267.95'
            08/26/2020: '25387.19'
            08/27/2020: '25558.42'
            08/28/2020: '25249.00'
            08/31/2020: '26143.22'
            09/01/2020: '26023.47'
            09/02/2020: '26597.48'
            09/03/2020: '26784.96'
            09/04/2020: '26813.96'
            09/07/2020: '23268.31'
            09/08/2020: '24055.17'
            09/09/2020: '23908.00'
            09/10/2020: '4126.11'
            09/11/2020: '2808.97'
            09/14/2020: '4385.23'
            09/15/2020: '4100.69'
            09/16/2020: '4100.69'
            09/17/2020: '4721.83'
            09/18/2020: '4721.83'
            09/21/2020: '4065.10'
            09/22/2020: '4815.10'
            09/23/2020: '4815.10'
            09/24/2020: '5515.10'
            09/25/2020: '5799.34'
            09/28/2020: '5936.38'
            09/29/2020: '6336.38'
            09/30/2020: '5914.24'
            10/01/2020: '6094.49'
            10/02/2020: '5927.65'
            10/05/2020: '3109.14'
            10/06/2020: '3109.14'
            10/07/2020: '3195.56'
            10/08/2020: '3195.56'
            10/09/2020: '3956.07'
            10/12/2020: '-62.30'
            10/13/2020: '137.70'
            10/14/2020: '137.70'
            10/15/2020: '437.70'
            10/16/2020: '1283.84'
            10/19/2020: '1155.25'
            10/20/2020: '1155.25'
            10/21/2020: '1355.25'
            10/22/2020: '1290.89'
            10/23/2020: '2438.84'
            10/26/2020: '2828.71'
            10/27/2020: '2828.71'
            10/28/2020: '3528.71'
            10/29/2020: '3528.71'
            10/30/2020: '5654.85'
            11/02/2020: '4636.20'
            11/03/2020: '4600.20'
            11/04/2020: '5400.20'
            11/05/2020: '1855.95'
            11/06/2020: '3255.63'
            11/09/2020: '3448.75'
            11/10/2020: '3137.75'
            11/11/2020: '2263.06'
            11/12/2020: '2263.06'
            11/13/2020: '4023.47'
            11/16/2020: '32516.28'
            11/17/2020: '32516.28'
            11/18/2020: '33016.28'
            11/19/2020: '33316.28'
            11/20/2020: '33467.45'
            11/23/2020: '31800.02'
            11/24/2020: '31800.02'
            11/25/2020: '32350.02'
            11/26/2020: '32350.02'
            11/27/2020: '33839.57'
            11/30/2020: '30672.38'
            12/01/2020: '30552.63'
            12/02/2020: '26939.35'
            12/03/2020: '26903.35'
            12/04/2020: '27098.35'
            12/07/2020: '18193.32'
            12/08/2020: '17943.32'
            12/09/2020: '18884.57'
            12/10/2020: '18884.57'
            12/11/2020: '17773.88'
            12/14/2020: '17611.69'
            12/15/2020: '16054.24'
            12/16/2020: '15896.32'
            12/17/2020: '14030.18'
            12/18/2020: '10679.20'
            12/21/2020: '9526.42'
            12/22/2020: '9526.42'
            12/23/2020: '9829.42'
            12/24/2020: '9829.42'
            12/25/2020: '10979.42'
            12/28/2020: '11563.67'
            12/29/2020: '11009.53'
            12/30/2020: '13834.30'
            12/31/2020: '13834.30'
          daily_balances_weekday_by_month:
            01/2021:
              01/01/2021: '13714.55'
              01/04/2021: '11053.83'
              01/05/2021: '4990.35'
              01/06/2021: '5481.02'
              01/07/2021: '5481.02'
              01/08/2021: '6631.02'
            07/2020:
              07/10/2020: '16314.96'
              07/13/2020: '23010.11'
              07/14/2020: '23363.61'
              07/15/2020: '23021.28'
              07/16/2020: '23138.94'
              07/17/2020: '23438.94'
              07/20/2020: '24107.32'
              07/21/2020: '24377.66'
              07/22/2020: '24539.43'
              07/23/2020: '24507.66'
              07/24/2020: '24496.91'
              07/27/2020: '24286.73'
              07/28/2020: '24836.73'
              07/29/2020: '25048.20'
              07/30/2020: '24566.47'
              07/31/2020: '24916.47'
            08/2020:
              08/03/2020: '25458.21'
              08/04/2020: '25958.21'
              08/05/2020: '22448.27'
              08/06/2020: '22374.08'
              08/07/2020: '22250.84'
              08/10/2020: '24051.41'
              08/11/2020: '24051.41'
              08/12/2020: '24602.06'
              08/13/2020: '23456.59'
              08/14/2020: '23456.59'
              08/17/2020: '25116.75'
              08/18/2020: '25116.75'
              08/19/2020: '24614.02'
              08/20/2020: '24380.88'
              08/21/2020: '24370.13'
              08/24/2020: '25925.58'
              08/25/2020: '25267.95'
              08/26/2020: '25387.19'
              08/27/2020: '25558.42'
              08/28/2020: '25249.00'
              08/31/2020: '26143.22'
            09/2020:
              09/01/2020: '26023.47'
              09/02/2020: '26597.48'
              09/03/2020: '26784.96'
              09/04/2020: '26813.96'
              09/07/2020: '23268.31'
              09/08/2020: '24055.17'
              09/09/2020: '23908.00'
              09/10/2020: '4126.11'
              09/11/2020: '2808.97'
              09/14/2020: '4385.23'
              09/15/2020: '4100.69'
              09/16/2020: '4100.69'
              09/17/2020: '4721.83'
              09/18/2020: '4721.83'
              09/21/2020: '4065.10'
              09/22/2020: '4815.10'
              09/23/2020: '4815.10'
              09/24/2020: '5515.10'
              09/25/2020: '5799.34'
              09/28/2020: '5936.38'
              09/29/2020: '6336.38'
              09/30/2020: '5914.24'
            10/2020:
              10/01/2020: '6094.49'
              10/02/2020: '5927.65'
              10/05/2020: '3109.14'
              10/06/2020: '3109.14'
              10/07/2020: '3195.56'
              10/08/2020: '3195.56'
              10/09/2020: '3956.07'
              10/12/2020: '-62.30'
              10/13/2020: '137.70'
              10/14/2020: '137.70'
              10/15/2020: '437.70'
              10/16/2020: '1283.84'
              10/19/2020: '1155.25'
              10/20/2020: '1155.25'
              10/21/2020: '1355.25'
              10/22/2020: '1290.89'
              10/23/2020: '2438.84'
              10/26/2020: '2828.71'
              10/27/2020: '2828.71'
              10/28/2020: '3528.71'
              10/29/2020: '3528.71'
              10/30/2020: '5654.85'
            11/2020:
              11/02/2020: '4636.20'
              11/03/2020: '4600.20'
              11/04/2020: '5400.20'
              11/05/2020: '1855.95'
              11/06/2020: '3255.63'
              11/09/2020: '3448.75'
              11/10/2020: '3137.75'
              11/11/2020: '2263.06'
              11/12/2020: '2263.06'
              11/13/2020: '4023.47'
              11/16/2020: '32516.28'
              11/17/2020: '32516.28'
              11/18/2020: '33016.28'
              11/19/2020: '33316.28'
              11/20/2020: '33467.45'
              11/23/2020: '31800.02'
              11/24/2020: '31800.02'
              11/25/2020: '32350.02'
              11/26/2020: '32350.02'
              11/27/2020: '33839.57'
              11/30/2020: '30672.38'
            12/2020:
              12/01/2020: '30552.63'
              12/02/2020: '26939.35'
              12/03/2020: '26903.35'
              12/04/2020: '27098.35'
              12/07/2020: '18193.32'
              12/08/2020: '17943.32'
              12/09/2020: '18884.57'
              12/10/2020: '18884.57'
              12/11/2020: '17773.88'
              12/14/2020: '17611.69'
              12/15/2020: '16054.24'
              12/16/2020: '15896.32'
              12/17/2020: '14030.18'
              12/18/2020: '10679.20'
              12/21/2020: '9526.42'
              12/22/2020: '9526.42'
              12/23/2020: '9829.42'
              12/24/2020: '9829.42'
              12/25/2020: '10979.42'
              12/28/2020: '11563.67'
              12/29/2020: '11009.53'
              12/30/2020: '13834.30'
              12/31/2020: '13834.30'
          negative_balances_by_month:
            01/2021: []
            07/2020: []
            08/2020: []
            09/2020: []
            10/2020:
            - 10/12/2020
            11/2020: []
            12/2020: []
          negative_balances_by_month_weekday:
            01/2021: []
            07/2020: []
            08/2020: []
            09/2020: []
            10/2020:
            - 10/12/2020
            11/2020: []
            12/2020: []
          estimated_revenue_by_month:
            01/2021: '6754.51'
            07/2020: '5749.36'
            08/2020: '10934.28'
            09/2020: '14387.54'
            10/2020: '14659.32'
            11/2020: '17946.76'
            12/2020: '21157.71'
          txn_count: 324
          average_by_month:
            01/2021: '1157.79'
            07/2020: '386.05'
            08/2020: '576.18'
            09/2020: '585.21'
            10/2020: '634.34'
            11/2020: '1308.14'
            12/2020: '954.09'
          alt_lender_payments_by_month:
            01/2021: '2733.48'
            07/2020: '0.00'
            08/2020: '0.00'
            09/2020: '0.00'
            12/2020: '2733.48'
          estimated_expense_by_month:
            01/2021: '14085.78'
            07/2020: '4898.07'
            08/2020: '9784.70'
            09/2020: '13642.32'
            10/2020: '15154.88'
            11/2020: '22693.06'
            12/2020: '37995.79'
          average_deposit_by_month:
            01/2021: '1125.75'
            07/2020: '479.77'
            08/2020: '626.01'
            09/2020: '686.50'
            10/2020: '586.37'
            11/2020: '1917.87'
            12/2020: '961.71'
          withdrawal_sum: '-122285.61'
          withdrawal_count: 175
          deposit_sum: '132433.00'
          deposit_count: 149
          estimated_daily_expense_by_month:
            01/2021: '454.38'
            07/2020: '158.00'
            08/2020: '315.64'
            09/2020: '454.74'
            10/2020: '488.87'
            11/2020: '756.44'
            12/2020: '1225.67'
          cash_expense_days_by_month:
            01/2021: 19.48
            07/2020: 145.98
            08/2020: 77.85
            09/2020: 24.3
            10/2020: 6.24
            11/2020: 25.31
            12/2020: 13.04
          pk: 18843681
          name: Jill's Coffee (v.3)
          bank_accounts:
          - atm_withdrawals_num: 6
            atm_withdrawals_sum: '900.00'
            checks_num: 0
            deposit_count: 108
            deposits_sum_by_month:
              01/2021: '6754.51'
              08/2020: '7973.37'
              09/2020: '14387.54'
              10/2020: '14659.32'
              11/2020: '47946.76'
              12/2020: '21157.71'
            deposits_count_by_month:
              01/2021: 6
              08/2020: 10
              09/2020: 20
              10/2020: 25
              11/2020: 25
              12/2020: 22
            withdrawals_max_by_month:
              08/2020:
              - amount: '-657.63'
                bank_account_pk: 9662788
                bbox:
                - 138
                - 871
                - 2208
                - 913
                description: CHECKCARD 0825 TUNA MED FOOD BROOKLYN NY [...]
                page_doc_pk: 215629263
                txn_date: 08/25/2020
                page_idx: 1
                uploaded_doc_pk: 41188515
                pk: 2640545287
              09/2020:
              - amount: '-3250.0'
                bank_account_pk: 9662788
                bbox:
                - 142
                - 2367
                - 2208
                - 2413
                description: 'CHECKCARD 0905 BROOKLYN HEIGHTS REAL ESTATE # 158 MONTAGUE [...]'
                page_doc_pk: 215629263
                txn_date: 09/05/2020
                page_idx: 1
                uploaded_doc_pk: 41188515
                pk: 2640545267
              10/2020:
              - amount: '-3750.0'
                bank_account_pk: 9662788
                bbox:
                - 150
                - 3126
                - 2277
                - 3203
                description: 'CHECKCARD 1012 FLAMINGO FURNITURE #475 AVE BROOKLYN NY [ ... ]'
                page_doc_pk: 215718522
                txn_date: 10/12/2020
                page_idx: 0
                uploaded_doc_pk: 41188519
                pk: 2640678127
              11/2020:
              - amount: '-3250.0'
                bank_account_pk: 9662788
                bbox:
                - 142
                - 769
                - 2274
                - 838
                description: 'CHECKCARD 1105 BROOKLYN HEIGHTS REAL ESTATE # 158 MONTAGUE [ ... ]'
                page_doc_pk: 215718521
                txn_date: 11/05/2020
                page_idx: 2
                uploaded_doc_pk: 41188519
                pk: 2640690547
              12/2020:
              - amount: '-5324.14'
                bank_account_pk: 9662788
                bbox:
                - 146
                - 871
                - 2204
                - 913
                description: CHECKCARD 1202 PC RICHARD BROOKLYN NY [... ]
                page_doc_pk: 215629387
                txn_date: 12/02/2020
                page_idx: 2
                uploaded_doc_pk: 41188518
                pk: 2640574204
              01/2021:
              - amount: '-4124.25'
                bank_account_pk: 9662788
                bbox:
                - 142
                - 1367
                - 2208
                - 1417
                description: 'CHECKCARD 0103 FLAMINGO FURNITURE # 475 AVE BROOKLYN NY [... ]'
                page_doc_pk: 215629212
                txn_date: 01/03/2021
                page_idx: 2
                uploaded_doc_pk: 41188513
                pk: 2640590399
            withdrawals_sum_by_month:
              01/2021: '14085.78'
              08/2020: '2869.48'
              09/2020: '13577.19'
              10/2020: '15154.88'
              11/2020: '22693.06'
              12/2020: '37995.79'
            deposit_min_by_month:
              08/2020:
              - amount: '119.24'
                bank_account_pk: 9662788
                bbox:
                - 142
                - 954
                - 2196
                - 992
                description: 'SQUARE INC DES * CASH APP ID: T218960896228 INDN: JILL S COFFEE [... ]'
                page_doc_pk: 215629263
                txn_date: 08/26/2020
                page_idx: 1
                uploaded_doc_pk: 41188515
                pk: 2640545286
              09/2020:
              - amount: '150.37'
                bank_account_pk: 9662788
                bbox:
                - 142
                - 1204
                - 2204
                - 1242
                description: ACH WEB - SINGLE PAYMENT VENMO 4803514544
                page_doc_pk: 215629636
                txn_date: 09/20/2020
                page_idx: 1
                uploaded_doc_pk: 41188521
                pk: 2640548429
              10/2020:
              - amount: '200.0'
                bank_account_pk: 9662788
                bbox:
                - 146
                - 3038
                - 2204
                - 3083
                description: 'BKOFAMERICA ATM 10/03 # 000002960 DEPOSIT 1608 AVE M BROOKLYN NY'
                page_doc_pk: 215629636
                txn_date: 10/03/2020
                page_idx: 1
                uploaded_doc_pk: 41188521
                pk: 2640548407
              - amount: '200.0'
                bank_account_pk: 9662788
                bbox:
                - 150
                - 3300
                - 2277
                - 3377
                description: 'BKOFAMERICA ATM 10/13 #000003185 DEPOSIT 1608 AVE M BROOKLYN NY'
                page_doc_pk: 215718522
                txn_date: 10/13/2020
                page_idx: 0
                uploaded_doc_pk: 41188519
                pk: 2640678131
              - amount: '200.0'
                bank_account_pk: 9662788
                bbox:
                - 148
                - 1461
                - 2206
                - 1489
                description: 'BKOFAMERICA ATM 10/21 # 000003199 DEPOSIT 1608 AVE M BROOKLYN NY'
                page_doc_pk: 215718523
                txn_date: 10/21/2020
                page_idx: 1
                uploaded_doc_pk: 41188519
                pk: 2640619405
              11/2020:
              - amount: '200.0'
                bank_account_pk: 9662788
                bbox:
                - 146
                - 2892
                - 2204
                - 2929
                description: 'BKOFAMERICA ATM 11/11 #000003396 DEPOSIT 1608 AVE M BROOKLYN NY'
                page_doc_pk: 215629388
                txn_date: 11/11/2020
                page_idx: 0
                uploaded_doc_pk: 41188518
                pk: 2640574147
              12/2020:
              - amount: '200.0'
                bank_account_pk: 9662788
                bbox:
                - 146
                - 1367
                - 2204
                - 1417
                description: 'BKOFAMERICA ATM 12/06 # 000003672 DEPOSIT 1608 AVE M BROOKLYN NY'
                page_doc_pk: 215629387
                txn_date: 12/05/2020
                page_idx: 2
                uploaded_doc_pk: 41188518
                pk: 2640574196
              - amount: '200.0'
                bank_account_pk: 9662788
                bbox:
                - 146
                - 2367
                - 2208
                - 2413
                description: 'BKOFAMERICA ATM 12/23 # 000003829 DEPOSIT 1608 AVE M BROOKLYN NY'
                page_doc_pk: 215629213
                txn_date: 12/23/2020
                page_idx: 1
                uploaded_doc_pk: 41188513
                pk: 2640590319
              01/2021:
              - amount: '400.0'
                bank_account_pk: 9662788
                bbox:
                - 142
                - 1038
                - 2204
                - 1083
                description: 'BKOFAMERICA ATM 01/02 # 000003867 DEPOSIT 1608 AVE M BROOKLYN NY'
                page_doc_pk: 215629212
                txn_date: 01/02/2021
                page_idx: 2
                uploaded_doc_pk: 41188513
                pk: 2640590408
            deposit_max_by_month:
              08/2020:
              - amount: '4000.0'
                bank_account_pk: 9662788
                bbox:
                - 142
                - 2808
                - 2208
                - 2850
                description: ONLINE BANKING TRANSFER FROM SAV 4285 CONFIRMATION# 2454385332
                page_doc_pk: 215629262
                txn_date: 08/19/2020
                page_idx: 0
                uploaded_doc_pk: 41188515
                pk: 2640545261
              09/2020:
              - amount: '1853.14'
                bank_account_pk: 9662788
                bbox:
                - 142
                - 704
                - 2196
                - 742
                description: ACH WEB - SINGLE PAYMENT VENMO 4675294668
                page_doc_pk: 215629636
                txn_date: 09/13/2020
                page_idx: 1
                uploaded_doc_pk: 41188521
                pk: 2640548435
              10/2020:
              - amount: '1250.65'
                bank_account_pk: 9662788
                bbox:
                - 149
                - 962
                - 2206
                - 993
                description: ACH WEB - SINGLE PAYMENT VENMO 5006454937
                page_doc_pk: 215718523
                txn_date: 10/18/2020
                page_idx: 1
                uploaded_doc_pk: 41188519
                pk: 2640619399
              11/2020:
              - amount: '30000.0'
                bank_account_pk: 9662788
                bbox:
                - 147
                - 788
                - 2211
                - 838
                description: 'INTERBANK TRANSFER TO SV1 : XXXXXXXX8759 - NGOOND ONDECK [ ... ]'
                page_doc_pk: 215629389
                txn_date: 11/15/2020
                page_idx: 1
                uploaded_doc_pk: 41188518
                pk: 2640574178
              12/2020:
              - amount: '2100.0'
                bank_account_pk: 9662788
                bbox:
                - 146
                - 2788
                - 2208
                - 2829
                description: ACH WEB - SINGLE PAYMENT VENMO 6129661183
                page_doc_pk: 215629213
                txn_date: 12/27/2020
                page_idx: 1
                uploaded_doc_pk: 41188513
                pk: 2640590308
              01/2021:
              - amount: '2109.37'
                bank_account_pk: 9662788
                bbox:
                - 142
                - 1204
                - 2200
                - 1242
                description: ACH WEB - SINGLE PAYMENT VENMO 6370295961
                page_doc_pk: 215629212
                txn_date: 01/03/2021
                page_idx: 2
                uploaded_doc_pk: 41188513
                pk: 2640590404
            withdrawal_count: 136
            withdrawals:
            - amount: '-274.0'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 3142
              - 2204
              - 3179
              description: 'CHECKCARD 0819 LIBERTY PAPER SUPPLIES #633 COURT ST [...]'
              page_doc_pk: 215629262
              txn_date: 08/19/2020
              page_idx: 0
              uploaded_doc_pk: 41188515
              pk: 2640545257
            - amount: '-654.69'
              bank_account_pk: 9662788
              bbox:
              - 146
              - 3058
              - 2208
              - 3100
              description: CHECKCARD 0819 TUNA MED FOOD BROOKLYN NY [... ]
              page_doc_pk: 215629262
              txn_date: 08/19/2020
              page_idx: 0
              uploaded_doc_pk: 41188515
              pk: 2640545258
            - amount: '-233.14'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 3221
              - 2208
              - 3271
              description: 'CHECKCARD 0820 NGUYEN COFFEE SUPPLY #341 KNICKERBOCKER AVE [... ]'
              page_doc_pk: 215629262
              txn_date: 08/20/2020
              page_idx: 0
              uploaded_doc_pk: 41188515
              pk: 2640545256
            - amount: '-657.63'
              bank_account_pk: 9662788
              bbox:
              - 138
              - 871
              - 2208
              - 913
              description: CHECKCARD 0825 TUNA MED FOOD BROOKLYN NY [...]
              page_doc_pk: 215629263
              txn_date: 08/25/2020
              page_idx: 1
              uploaded_doc_pk: 41188515
              pk: 2640545287
            - amount: '-124.63'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 1204
              - 2204
              - 1242
              description: 'CHECKCARD 0827 LIBERTY PAPER SUPPLIES # 633 COURT ST [...]'
              page_doc_pk: 215629263
              txn_date: 08/27/2020
              page_idx: 1
              uploaded_doc_pk: 41188515
              pk: 2640545283
            - amount: '-354.14'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 1121
              - 2208
              - 1163
              description: CHECKCARD 0827 TUNA MED FOOD BROOKLYN NY [... ]
              page_doc_pk: 215629263
              txn_date: 08/27/2020
              page_idx: 1
              uploaded_doc_pk: 41188515
              pk: 2640545284
            - amount: '-147.0'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 1367
              - 2208
              - 1417
              description: 'CHECKCARD 0828 NGUYEN COFFEE SUPPLY # 341 KNICKERBOCKER AVE [... ]'
              page_doc_pk: 215629263
              txn_date: 08/28/2020
              page_idx: 1
              uploaded_doc_pk: 41188515
              pk: 2640545281
            - amount: '-150.0'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 1288
              - 2204
              - 1333
              description: 'BKOFAMERICA ATM 08/28 # 000032145 WITHDRWL 1608 AVE M BROOKLYN NY'
              page_doc_pk: 215629263
              txn_date: 08/28/2020
              page_idx: 1
              uploaded_doc_pk: 41188515
              pk: 2640545282
            - amount: '-274.25'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 1450
              - 2204
              - 1496
              description: CHECKCARD 0829 TUNA MED FOOD BROOKLYN NY [... ]
              page_doc_pk: 215629263
              txn_date: 08/29/2020
              page_idx: 1
              uploaded_doc_pk: 41188515
              pk: 2640545280
            - amount: '-119.75'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 1704
              - 2204
              - 1742
              description: CHECKCARD 0901 CHARTER COMMUNICATIONS BROOKLYN NY [... ]
              page_doc_pk: 215629263
              txn_date: 09/01/2020
              page_idx: 1
              uploaded_doc_pk: 41188515
              pk: 2640545276
            - amount: '-225.99'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 1871
              - 2208
              - 1917
              description: 'CHECKCARD 0902 RENT - A - CENTER # 100 MANHATTAN AVE BROOKLYN NY [... ]'
              page_doc_pk: 215629263
              txn_date: 09/02/2020
              page_idx: 1
              uploaded_doc_pk: 41188515
              pk: 2640545273
            - amount: '-36.0'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 2038
              - 2204
              - 2075
              description: 'CHECKCARD 0903 AQUA SPIRIT # 475 BALTIC ST BROOKLYN NY [... ]'
              page_doc_pk: 215629263
              txn_date: 09/03/2020
              page_idx: 1
              uploaded_doc_pk: 41188515
              pk: 2640545271
            - amount: '-3250.0'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 2367
              - 2208
              - 2413
              description: 'CHECKCARD 0905 BROOKLYN HEIGHTS REAL ESTATE # 158 MONTAGUE [...]'
              page_doc_pk: 215629263
              txn_date: 09/05/2020
              page_idx: 1
              uploaded_doc_pk: 41188515
              pk: 2640545267
            - amount: '-256.99'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 2283
              - 2204
              - 2329
              description: CHECKCARD 0905 PC RICHARD BROOKLYN NY [... ]
              page_doc_pk: 215629263
              txn_date: 09/05/2020
              page_idx: 1
              uploaded_doc_pk: 41188515
              pk: 2640545268
            - amount: '-80.0'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 2204
              - 2204
              - 2242
              description: 'AMERICAN EXPRES DES: PAYMENT ID: V7434 INDN: VERIZON [...]'
              page_doc_pk: 215629263
              txn_date: 09/05/2020
              page_idx: 1
              uploaded_doc_pk: 41188515
              pk: 2640545269
            - amount: '-681.26'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 2617
              - 2204
              - 2663
              description: CHECKCARD 0906 TUNA MED FOOD BROOKLYN NY [... ]
              page_doc_pk: 215629263
              txn_date: 09/07/2020
              page_idx: 1
              uploaded_doc_pk: 41188515
              pk: 2640545264
            - amount: '-1076.88'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 2538
              - 2204
              - 2579
              description: 'PAYROLL DES: PAYROLL ID: 10519315 INDN: JILL S COFFEE CO [... ]'
              page_doc_pk: 215629263
              txn_date: 09/07/2020
              page_idx: 1
              uploaded_doc_pk: 41188515
              pk: 2640545265
            - amount: '-147.17'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 2788
              - 2196
              - 2829
              description: 'CHECKCARD 0909 LIBERTY PAPER SUPPLIES # 633 COURT ST [... ]'
              page_doc_pk: 215629263
              txn_date: 09/09/2020
              page_idx: 1
              uploaded_doc_pk: 41188515
              pk: 2640545262
            - amount: '-525.35'
              bank_account_pk: 9662788
              bbox:
              - 146
              - 3058
              - 2196
              - 3100
              description: CHECKCARD 0910 TUNA MED FOOD BROOKLYN NY [... ]
              page_doc_pk: 215629635
              txn_date: 09/10/2020
              page_idx: 0
              uploaded_doc_pk: 41188521
              pk: 2640548402
            - amount: '-299.35'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 2971
              - 2208
              - 3021
              description: 'AMERICAN EXPRES DES: PAYMENT ID: 38945835INDN: CONSOLIDATED [... ]'
              page_doc_pk: 215629635
              txn_date: 09/10/2020
              page_idx: 0
              uploaded_doc_pk: 41188521
              pk: 2640548403
            - amount: '-325.0'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 3225
              - 2208
              - 3271
              description: 'CHECKCARD 0911 NGUYEN COFFEE SUPPLY # 341 KNICKERBOCKER AVE [... ]'
              page_doc_pk: 215629635
              txn_date: 09/11/2020
              page_idx: 0
              uploaded_doc_pk: 41188521
              pk: 2640548400
            - amount: '-992.14'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 3142
              - 2204
              - 3179
              description: 'CHECKCARD 0911 LIBERTY PAPER SUPPLIES # 633 COURT ST [...]'
              page_doc_pk: 215629635
              txn_date: 09/11/2020
              page_idx: 0
              uploaded_doc_pk: 41188521
              pk: 2640548401
            - amount: '-1076.88'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 788
              - 2204
              - 829
              description: 'PAYROLL DES: PAYROLL ID: 10535241 INDN: JILL S COFFEE CO [... ]'
              page_doc_pk: 215629636
              txn_date: 09/14/2020
              page_idx: 1
              uploaded_doc_pk: 41188521
              pk: 2640548434
            - amount: '-1234.54'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 954
              - 2204
              - 996
              description: CHECKCARD 0915 TUNA MED FOOD BROOKLYN NY [... ]
              page_doc_pk: 215629636
              txn_date: 09/15/2020
              page_idx: 1
              uploaded_doc_pk: 41188521
              pk: 2640548432
            - amount: '-221.45'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 1367
              - 2208
              - 1417
              description: 'CHECKCARD 0920 NGUYEN COFFEE SUPPLY # 341 KNICKERBOCKER AVE [... ]'
              page_doc_pk: 215629636
              txn_date: 09/20/2020
              page_idx: 1
              uploaded_doc_pk: 41188521
              pk: 2640548427
            - amount: '-184.37'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 1621
              - 2208
              - 1663
              description: CHECKCARD 0921 TUNA MED FOOD BROOKLYN NY [... ]
              page_doc_pk: 215629636
              txn_date: 09/21/2020
              page_idx: 1
              uploaded_doc_pk: 41188521
              pk: 2640548425
            - amount: '-1076.88'
              bank_account_pk: 9662788
              bbox:
              - 142
              - 1454
              - 2204
              - 1492
              description: 'PAYROLL DES: PAYROLL ID: 10537541 INDN: JILL S COFFEE CO [... ]'
              page_doc_pk: 215629636
              txn_date: 09/21/2020
              page_idx: 1
              uploaded_doc_pk: 41188521
              pk: 2640548426
[...]
