openapi: 3.0.0
info:
  title: Account Level Webhooks Book Commands File Uploads API
  version: 1.0.0
servers:
- url: https://api.ocrolus.com
security:
- oauth: []
tags:
- name: File Uploads
paths:
  /v1/book/upload:
    post:
      summary: Upload PDF to Book
      operationId: upload-pdf-to-book
      description: "Upload a PDF file to a <<glossary:Book>> for processing.\n\n---\nYou can upload a file to this endpoint as a `multipart/form-data` encoded payload. Visit [our guide](https://docs.ocrolus.com/reference/multipartform-data-payloads) for more information.   \n> \U0001F4D8 \n>  - The maximum file size for upload is 200 MB.\n\n\nFor all Documents *except* bank statements, the optional `form_type` parameter can be used to specify the type of <<glossary:Document>>.   \n\nYou can see form types we support in our [forms directory](https://docs.ocrolus.com/docs/all-supported-documents). For more information, please contact your Account Executive or Customer Success Executive to discuss other options for your organization."
      tags:
      - File Uploads
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - upload
              properties:
                upload:
                  type: string
                  description: The PDF file to upload.
                  format: binary
                book_uuid:
                  type: string
                  description: The unique identifier of the <<glossary:Book>> that the uploaded <<glossary:Document>> will be saved to. Mutually exclusive with `pk`.
                pk:
                  type: string
                  description: The <<glossary:PK>> of the <<glossary:Book>> that the uploaded <<glossary:Document>> will be saved to. Mutually exclusive with `book_uuid`.
                form_type:
                  type: string
                  description: The code identifying the type of <<glossary:Document>> that you're uploading.
                doc_name:
                  type: string
                  description: The name of the <<glossary:Document>> that will be created from the imported file. Defaults to the name of the file if not given.
              example:
                pk: 30219565
                book_uuid: 19aab921-25a5-4beb-a59e-ac72320061d6
                form_type: PAYSTUB
                doc_name: example_document
      x-readme:
        headers:
        - key: content-type
          value: multipart/form-data
        samples-languages:
        - curl
        - python
        explorer-enabled: false
        code-samples:
        - language: curl
          name: Sample cURL Code
          code: "curl --request POST 'https://api.ocrolus.com/v1/book/upload' \\\n    --header 'Accept: application/json' \\\n    --header 'Authorization: Bearer <BEARER_TOKEN>' \\\n    --form 'book_uuid=19aab921-25a5-4beb-a59e-ac72320061d6' \\\n    --form 'form_type=W2' \\\n    --form 'doc_name=ExampleDocument' \\\n    --form 'upload=@/path/to/example-w2.pdf'"
        - language: python
          name: Sample Python Code
          code: "import requests\nresponse = requests.post(\n  url = 'https://api.ocrolus.com/v1/book/upload',\n\n  headers = {\n    'Accept': 'application/json',\n    'Authorization': 'Bearer <BEARER_TOKEN>',\n  },\n\n  data = {\n    'book_uuid': '19aab921-25a5-4beb-a59e-ac72320061d6', # The book's primary uuid\n    'form_type': 'W2', # The form type of the document.\n    'doc_name': 'ExampleDocument', # The name of document that will be created.\n  },\n\n  files = {\n    'upload': open('/path/to/example-w2.pdf','rb'),\n  },\n)\nprint(response.json())"
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Successful Upload:
                  value:
                    status: 200
                    response:
                      uploaded_docs:
                      - pk: 51542103
                        uuid: 05afcf59-cd34-44a6-a8e3-efaa6de24512
                        name: bank-statement.pdf
                        page_count: 4
                        checksum: 716a9e2119b197fc8fed9e2ca3e56cae
                        created_ts: '2023-02-09T10:47:40Z'
                        id: 51542103
                    message: OK
                Invalid PDF:
                  value:
                    status: 200
                    response:
                      status: 400
                      message: 'document.pdf is not a valid pdf

                        '
                      original_existing_doc_pks: []
                      original_existing_doc_uuids: []
                      uploaded_docs: []
                    message: OK
                Document Already Exists:
                  value:
                    status: 200
                    response:
                      status: 400
                      message: 'bank_statement.pdf already exists

                        '
                      original_existing_doc_pks:
                      - 51431111
                      original_existing_doc_uuids:
                      - 05afcf59-cd34-44a6-a8e3-efaa6de24512
                      uploaded_docs: []
                    message: OK
              schema:
                oneOf:
                - title: Successful Upload
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 200
                      description: A numerical code that indicates the status of the request.
                    response:
                      type: object
                      description: An object received from the server that potentially contains data.
                      properties:
                        uploaded_docs:
                          type: array
                          description: Lists the details of the uploaded <<glossary:Document>>
                          items:
                            type: object
                            properties:
                              pk:
                                type: integer
                                example: 1
                                description: Unique primary key of the uploaded <<glossary:Document>>.
                              uuid:
                                type: string
                                example: 8dc88eed-2b6f-414a-82f2-a99bd181cf6e
                                description: Universally unique identifier (uuid) of the uploaded <<glossary:Document>>.
                              name:
                                type: string
                                example: bank-statement.pdf
                                description: Name of the uploaded <<glossary:Document>>.
                              page_count:
                                type: integer
                                example: 16
                                description: Total number of pages in the uploaded <<glossary:Document>>.
                              checksum:
                                type: string
                                example: 50a62f72f4b5b80b18f75fbed690dc47
                                description: Small data block to check error in the uploaded <<glossary:Document>>.
                              created_ts:
                                type: string
                                example: '2018-06-20T19:47:12Z'
                                description: A timestamp of when the <<glossary:Document>> was created.
                              id:
                                type: integer
                                example: 1
                                description: Unique primary key of the uploaded <<glossary:Document>>.
                    message:
                      type: string
                      example: OK
                      description: A textual description that indicates details about this response's status.
                - title: Error
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 200
                      description: A numerical code that indicates the status of the request.
                    response:
                      type: object
                      description: An object received from the server that potentially contains data.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        message:
                          type: string
                          example: document.pdf is not a valid PDF
                          description: A textual description that indicates details about this response's status.
                        original_existing_doc_pks:
                          type: array
                          description: Tbe unique primary keys of the uploaded <<glossary:Document>>s that match the provided file.
                        original_existing_doc_uuids:
                          type: array
                          description: An array of universal unique identifiers of the uploaded <<glossary:Document>> that match the provided file.
                        uploaded_docs:
                          type: array
                          description: An array of <<glossary:Document>>s uploaded to the specified <<glossary:Book>>.
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                example: bank-statement.pdf
                                description: Name of the uploaded <<glossary:Document>>.
                              status:
                                type: string
                                description: Processing status of the uploaded <<glossary:Document>>.
                              pages:
                                type: integer
                                example: 16
                                description: Total number of pages in the uploaded <<glossary:Document>>.
                              pk:
                                type: integer
                                example: 1
                                description: Unique primary key of the uploaded <<glossary:Document>>.
                              uuid:
                                type: string
                                example: 8dc88eed-2b6f-414a-82f2-a99bd181cf6e
                                description: Universally unique identifier (uuid) of the uploaded <<glossary:Document>>.
                    message:
                      type: string
                      example: OK
                      description: A textual description that indicates details about this response's status.
        '400':
          description: Client Errors
          content:
            application/json:
              examples:
                Invalid form type:
                  value:
                    status: 400
                    message: Form Type Not Found
                    code: 6001
                    meta:
                      status: 400
                      msg: Form Type Not Found
                      code: 6001
                    response: null
                Book not found:
                  value:
                    status: 400
                    code: 1401
                    response: null
                    message: Book not found
                    meta:
                      status: 400
                      msg: Book not found
                      code: 1401
                Missing Required Parameters:
                  value:
                    status: 400
                    code: 1103
                    response: null
                    message: Required pk or book uuid
                    meta:
                      status: 400
                      msg: Required pk or book uuid
                      code: 1103
                No Permission:
                  value:
                    status: 400
                    code: 2102
                    response: null
                    message: No permission to access this book
                    meta:
                      status: 400
                      msg: No permission to access this book
                      code: 2102
              schema:
                properties:
                  status:
                    type: integer
                    description: A numerical code that indicates the status of the request.
                    example: 400
                  code:
                    type: integer
                    description: A numerical code that indicates the nature of an error.
                    example: 1401
                  response:
                    type: object
                    description: An object received from the server that potentially contains data.
                  message:
                    type: string
                    description: A textual description that indicates details about this response's status.
                    example: Book not found
                  meta:
                    type: object
                    description: An object received from the server that potentially contains data.
                    properties:
                      status:
                        type: integer
                        example: 400
                        description: A numerical code that indicates the status of the request.
                      message:
                        type: string
                        example: Book not found
                        description: A textual description that indicates details about this response's status.
                      code:
                        type: integer
                        example: 1401
                        description: A numerical code that indicates the nature of an error.
  /v1/book/upload/mixed:
    post:
      summary: Upload Mixed Document PDF to Book
      operationId: upload-mixed-document
      description: 'Upload a PDF file containing more than one <<glossary:Document>> to a <<glossary:Book>>.


        ---

        You can upload a file to this endpoint as a `multipart/form-data` encoded payload. Visit [our guide](https://docs.ocrolus.com/reference/multipartform-data-payloads) for more information.


        > 📘

        >  - The maximum file size for upload is 200 MB.

        '
      tags:
      - File Uploads
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - upload
              properties:
                upload:
                  type: string
                  description: The PDF file to upload.
                  format: binary
                book_uuid:
                  type: string
                  description: The unique identifier of the <<glossary:Book>> that the uploaded <<glossary:Document>>s will be saved to. Mutually exclusive with `pk`.
                pk:
                  type: string
                  description: The <<glossary:PK>> of the <<glossary:Book>> that the uploaded <<glossary:Document>>s will be saved to. Mutually exclusive with `book_uuid`.
                doc_name:
                  type: string
                  description: The name of the Mixed <<glossary:Document>> that will be created from the imported file. Defaults to the name of the file if not given.
              example:
                pk: 30219565
                book_uuid: 19aab921-25a5-4beb-a59e-ac72320061d6
                doc_name: example_documents
      x-readme:
        headers:
        - key: content-type
          value: multipart/form-data
        samples-languages:
        - curl
        - python
        explorer-enabled: false
        code-samples:
        - language: curl
          name: Sample cURL Code
          code: "curl --request POST 'https://api.ocrolus.com/v1/book/upload/mixed' \\\n    --header 'Accept: application/json' \\\n    --header 'Authorization: Bearer <BEARER_TOKEN>' \\\n    --form 'book_uuid=19aab921-25a5-4beb-a59e-ac72320061d6' \\\n    --from 'doc_name=ExampleDocName' \\\n    --form 'upload=@/path/to/document.pdf'"
        - language: python
          name: Sample Python Code
          code: "import requests\nresponse = requests.post(\n  url = 'https://api.ocrolus.com/v1/book/upload/mixed',\n\n  headers = {\n    'Accept': 'application/json',\n    'Authorization': 'Bearer <BEARER_TOKEN>'',\n  },\n\n  data = {\n    'book_uuid': '19aab921-25a5-4beb-a59e-ac72320061d6', # The book's primary uuid\n    'doc_name': 'ExampleDocName', # The name of document that will be created.\n  },\n\n  files={\n    'upload': open('/path/to/document.pdf','rb'),\n  },\n)\nprint(response.json())"
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Upload successful:
                  value:
                    status: 200
                    response:
                      mixed_uploaded_docs:
                      - pk: 11585733
                        uuid: e3f2f66a-2792-439e-905f-240c33a84bd1
                        name: documents.pdf
                        page_count: 1
                        checksum: e78045a805517d962fc78289d98b2573
                        created_ts: '2023-06-03T00:40:13Z'
                        id: 11585733
                    message: OK
                Invalid PDF:
                  value:
                    status: 200
                    response:
                      status: 400
                      message: 'document.pdf is not a valid pdf

                        '
                      original_existing_doc_pk: []
                      original_existing_doc_uuid: []
                      mixed_uploaded_docs: []
                    message: OK
                Document Already Exists:
                  value:
                    status: 200
                    response:
                      status: 400
                      message: 'bank_statement.pdf already exists

                        '
                      original_existing_doc_pk:
                      - 51431111
                      original_existing_doc_uuid:
                      - 05afcf59-cd34-44a6-a8e3-efaa6de24512
                      uploaded_docs: []
                    message: OK
              schema:
                oneOf:
                - title: Successful Upload
                  type: object
                  properties:
                    status:
                      type: integer
                      description: A numerical code that indicates the status of the request.
                      example: 200
                      default: 0
                    message:
                      type: string
                      description: A textual description that indicates details about this response's status.
                      example: OK
                    response:
                      type: object
                      description: An object received from the server that potentially contains data.
                      properties:
                        mixed_uploaded_docs:
                          type: array
                          description: An array of Mixed <<glossary:Document>>s uploaded to the <<glossary:Book>>.
                          items:
                            type: object
                            properties:
                              pk:
                                type: integer
                                example: 1
                                description: Unique integer identifier of the Mixed <<glossary:Document>>.
                              uuid:
                                type: string
                                example: 8dc88eed-2b6f-414a-82f2-a99bd181cf6e
                                description: Universally unique identifier (uuid) of the Mixed <<glossary:Document>>.
                              name:
                                type: string
                                example: documents.pdf
                                description: Name of the Mixed <<glossary:Document>>.
                              page_count:
                                type: integer
                                example: 16
                                description: Total number of pages in the Mixed <<glossary:Document>>.
                              checksum:
                                type: string
                                example: e78045a805517d962fc78289d98b2573
                                description: An alphanumerical value used to determine the authenticity of the data.
                              created_ts:
                                type: string
                                example: '2023-06-03T00:40:13Z'
                                description: The timestamp when the Mixed <<glossary:Document>> was created.
                              id:
                                type: integer
                                example: 1
                                description: Unique primary key of the Mixed <<glossary:Document>>.
                - title: Invalid PDF
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 200
                      description: A numerical code that indicates the status of the request.
                    response:
                      type: object
                      description: An object received from the server that potentially contains data.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        message:
                          type: string
                          example: document.pdf is not a valid PDF
                          description: A textual description that indicates details about this response's status.
                        original_existing_doc_pks:
                          type: array
                          description: Tbe unique primary key(s) of the uploaded <<glossary:Document>> that match the provided file.
                        mixed_uploaded_docs:
                          type: array
                          description: An array of Mixed <<glossary:Document>>s uploaded to the specified <<glossary:Book>>.
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: Name of the Mixed <<glossary:Document>>.
                                example: bank-statement.pdf
                              status:
                                type: string
                                description: Processing status of the Mixed <<glossary:Document>>.
                              pages:
                                type: integer
                                example: 16
                                description: Total number of pages in the Mixed <<glossary:Document>>.
                              pk:
                                type: integer
                                example: 1
                                description: Unique primary key of the Mixed <<glossary:Document>>.
                              uuid:
                                type: string
                                example: 8dc88eed-2b6f-414a-82f2-a99bd181cf6e
                                description: Universally unique identifier (uuid) of the Mixed <<glossary:Document>>.
                    message:
                      type: string
                      example: OK
                      description: A textual description that indicates details about this response's status.
                - title: Document Already Exists
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 200
                      description: A numerical code that indicates the status of the request.
                    response:
                      type: object
                      description: An object received from the server that potentially contains data.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        message:
                          type: string
                          example: bank_statement.pdf already exists
                          description: A textual description that indicates details about this response's status.
                        original_existing_doc_pks:
                          type: array
                          description: An array of unique primary key(s) of the uploaded <<glossary:Document>> that match the provided file.
                        original_existing_doc_uuids:
                          type: array
                          description: An array of universal unique identifiers of the uploaded <<glossary:Document>> that match the provided file.
                        uploaded_docs:
                          type: array
                          description: An array of <<glossary:Document>> uploaded to the specified <<glossary:Book>>.
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                example: bank-statement.pdf
                                description: Name of the uploaded <<glossary:Document>>.
                              status:
                                type: string
                                description: Processing status of the uploaded <<glossary:Document>>.
                              pages:
                                type: integer
                                example: 16
                                description: Total number of pages in the uploaded <<glossary:Document>>.
                              pk:
                                type: integer
                                example: 1
                                description: Unique primary key of the uploaded <<glossary:Document>>.
                              uuid:
                                type: string
                                example: 8dc88eed-2b6f-414a-82f2-a99bd181cf6e
                                description: Universally unique identifier (uuid) of the uploaded <<glossary:Document>>.
                    message:
                      type: string
                      example: OK
                      description: A textual description that indicates details about this response's status.
        '400':
          description: Client Errors
          content:
            application/json:
              examples:
                Book not found:
                  value:
                    status: 400
                    code: 1401
                    response: null
                    message: Book not found
                    meta:
                      status: 400
                      msg: Book not found
                      code: 1401
                Missing Required Parameters:
                  value:
                    status: 400
                    code: 1103
                    response: null
                    message: Required pk or book uuid
                    meta:
                      status: 400
                      msg: Required pk or book uuid
                      code: 1103
                No Permission:
                  value:
                    status: 400
                    code: 2102
                    response: null
                    message: No permission to access this book
                    meta:
                      status: 400
                      msg: No permission to access this book
                      code: 2102
              schema:
                oneOf:
                - title: Book not found
                  type: object
                  properties:
                    status:
                      type: integer
                      description: A numerical code that indicates the status of the request.
                      example: 400
                    code:
                      type: integer
                      description: A numerical code that indicates the nature of an error.
                      example: 1401
                    response:
                      type: object
                      description: An object received from the server that potentially contains data.
                      example: null
                    message:
                      type: string
                      default: OK
                      description: A textual description that indicates details about this response's status.
                      example: Book not found
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        message:
                          type: string
                          example: Book not found
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 1401
                          description: A numerical code that indicates the nature of an error.
                - title: Missing Required Parameter
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 400
                      description: A numerical code that indicates the status of the request.
                    code:
                      type: integer
                      example: 1103
                      description: A numerical code that indicates the nature of an error.
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                    message:
                      type: string
                      example: Required pk or book uuid
                      description: A textual description that indicates details about this response's status.
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        msg:
                          type: string
                          example: Required pk or book uuid
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 1103
                          description: A numerical code that indicates the nature of an error.
                - title: No Permission
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 400
                      description: A numerical code that indicates the status of the request.
                    code:
                      type: integer
                      example: 2102
                      description: A numerical code that indicates the nature of an error.
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                    message:
                      type: string
                      example: No permission to access this book
                      description: A textual description that indicates details about this response's status.
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        msg:
                          type: string
                          example: No permission to access this book
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 2102
                          description: A numerical code that indicates the nature of an error.
  /v2/book/{book_uuid}/document/paystub:
    post:
      summary: Upload Pay stub PDF to Book
      operationId: upload-paystub
      description: 'Upload a known <<glossary:Pay stub>> file directly to a specific <<glossary:Book>>.


        ---

        You can upload a file to this endpoint as a `multipart/form-data` encoded payload. Visit [our guide](https://docs.ocrolus.com/reference/multipartform-data-payloads) for more information.


        If successful, the response will return the specific doc_uuid for the uploaded <<glossary:Document>>.

        > 📘

        >  - This endpoint is limited to PDF''s where the form type is expected to be a PAYSTUB.

        >  - The maximum file size allowed for upload is 200 MB.'
      tags:
      - File Uploads
      parameters:
      - name: book_uuid
        in: path
        description: The unique identifier of the <<glossary:Book>> where the uploaded file will be saved.
        required: true
        schema:
          type: string
          example: 19aab921-25a5-4beb-a59e-ac72320061d6
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - upload
              properties:
                upload:
                  type: string
                  description: The PDF file to upload.
                  format: binary
                book_uuid:
                  type: string
                  description: The unique identifier of the Book where the uploaded file will be saved.
              example:
                upload: example-pay-stub.pdf
      x-readme:
        headers:
        - key: content-type
          value: multipart/form-data
        samples-languages:
        - curl
        - python
        explorer-enabled: false
        code-samples:
        - language: curl
          name: Sample cURL Code
          code: "curl --request POST \"https://api.ocrolus.com/v2/book/{book_uuid}/document/paystub\" \\\n    --header \"Accept: application/json\" \\\n    --header \"Authorization: Bearer <BEARER_TOKEN>\" \\\n    --form \"book_uuid=19aab921-25a5-4beb-a59e-ac72320061d6\" \\\n    --form \"upload=@/path/to/paystub.pdf\""
        - language: python
          name: Sample Python Code
          code: "import requests\nresponse = requests.post(\n  url = 'https://api.ocrolus.com/v2/book/{book_uuid}/document/paystub',\n\n  headers = {\n    'Accept': 'application/json',\n    'Authorization': 'Bearer <BEARER_TOKEN>',\n  },\n\n  data = {\n    'book_uuid': '19aab921-25a5-4beb-a59e-ac72320061d6', # The book's primary uuid         \n  },\n\n  files = {\n    'upload': open('/path/to/paystub.pdf','rb'),\n  },\n)\nprint(response.json())"
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Successful Upload:
                  value:
                    status: 200
                    message: OK
                    response:
                      doc_uuid: 03807902-9605-4862-99de-2742f16a76dd
                Invalid PDF:
                  value:
                    status: 200
                    message: OK
                    response:
                      status: 400
                      message: 'bank_statement.pdf is not a valid PDF

                        '
                Document Already Exists:
                  value:
                    status: 200
                    message: OK
                    response:
                      status: 400
                      message: 'pay_stub.pdf already exists

                        '
                      original_existing_doc_uuid: 19aab921-25a5-4beb-a59e-ac72320061d6
              schema:
                oneOf:
                - title: Successful Upload
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 200
                      description: A numerical code that indicates the status of the request.
                    message:
                      type: string
                      example: OK
                      description: A textual description that indicates details about this response's status.
                    response:
                      type: object
                      description: An object received from the server that potentially contains data.
                      properties:
                        doc_uuid:
                          type: string
                          description: Universally unique identifier (uuid) of the uploaded Document.
                - title: Invalid PDF
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 200
                      description: A numerical code that indicates the status of the request.
                    response:
                      type: object
                      description: An object received from the server that potentially contains data.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        message:
                          type: string
                          example: bank_statement.pdf is not a valid PDF
                          description: A text based description that indicates details about this response's status.
                    message:
                      type: string
                      example: OK
                      description: A textual description that indicates details about this response's status.
                - title: Document Already Exists
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 200
                      description: A numerical code that indicates the status of the request.
                    response:
                      type: object
                      description: An object received from the server that potentially contains data.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        message:
                          type: string
                          example: bank_statement.pdf is not a valid PDF
                          description: A textual description that indicates details about this response's status.
                        original_existing_doc_uuid:
                          type: string
                          description: Unique identifers (UUID) of the previously uploaded Document in this book.
                    message:
                      type: string
                      example: OK
                      description: A textual description that indicates details about this response's status.
        '400':
          description: Client Errors
          content:
            application/json:
              examples:
                Book not found:
                  value:
                    status: 400
                    code: 1401
                    response: null
                    message: Book not found
                    meta:
                      status: 400
                      msg: Book not found
                      code: 1401
                No Permission:
                  value:
                    status: 400
                    code: 2102
                    response: null
                    message: No permission to access this book
                    meta:
                      status: 400
                      msg: No permission to access this book
                      code: 2102
              schema:
                oneOf:
                - title: Book not found
                  type: object
                  properties:
                    status:
                      type: integer
                      description: A numerical code that indicates the status of the request.
                      example: 400
                    code:
                      type: integer
                      description: A numerical code that indicates the nature of an error.
                      example: 1401
                    response:
                      type: object
                      description: An object received from the server that potentially contains data.
                      example: null
                    message:
                      type: string
                      default: OK
                      description: A textual description that indicates details about this response's status.
                      example: Book not found
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        message:
                          type: string
                          example: Book not found
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 1401
                          description: A numerical code that indicates the nature of an error.
                - title: No Permission
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 400
                      description: A numerical code that indicates the status of the request.
                    code:
                      type: integer
                      example: 2102
                      description: A numerical code that indicates the nature of an error.
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                    message:
                      type: string
                      example: No permission to access this book
                      description: A textual description that indicates details about this response's status.
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        msg:
                          type: string
                          example: No permission to access this book
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 2102
                          description: A numerical code that indicates the nature of an error.
  /v1/book/upload/image:
    post:
      summary: Upload Image to Book
      operationId: upload-image
      description: "Upload image files to a <<glossary:Book>>.\n\n--- \n\nYou can upload a file to this endpoint as a `multipart/form-data` encoded payload. Visit [our guide](https://docs.ocrolus.com/reference/multipartform-data-payloads) for more information.\n\nWith the capability to classify images, you can upload a single image using this endpoint. To upload multiple images to the same <<glossary:Book>>, call this endpoint once for each image, and then call the [Finalize image group](ref:mark-image-group-complete) endpoint to complete the image group. \n\nWe support uploads of the images in the **JPEG**, **PNG**, **BMP**, and **TIFF** (Single-image files only) formats.   \n\n> \U0001F4D8 \n> The term **image group** refers to a collection of images that may consist of one or more images."
      tags:
      - File Uploads
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - upload
              properties:
                upload:
                  type: string
                  description: The image file that you want to upload. The maximum file size is 200 MB.
                  format: binary
                book_uuid:
                  type: string
                  description: Universally unique identifier (uuid) of the <<glossary:Book>> to which the uploaded images will be saved to. Mutually exlusive with `pk`.
                  example: 19aab921-25a5-4beb-a59e-ac72320061d6
                pk:
                  type: string
                  description: Unique primary key (<<glossary:PK>>) of the <<glossary:Book>> to which the uploaded images will be saved to. Mutually exlusive with `book_uuid`.
                  example: 30219565
                return_image_pk:
                  type: boolean
                  description: Indicates if the response will include the PK of the uploaded image.
                  example: true
              example:
                pk: 30219565
                book_uuid: 19aab921-25a5-4beb-a59e-ac72320061d6
                return_image_pk: true
      x-readme:
        headers:
        - key: content-type
          value: multipart/form-data
        samples-languages:
        - curl
        - python
        explorer-enabled: false
        code-samples:
        - language: curl
          name: Sample cURL Code
          code: "curl --request POST 'https://api.ocrolus.com/v1/book/upload/image' \\\n    --header 'Accept: application/json' \\\n    --header 'Authorization: Bearer <BEARER_TOKEN>' \\\n    --form 'book_uuid=19aab921-25a5-4beb-a59e-ac72320061d6' \\\n    --form 'upload=@/path/to/bank-statement.jpeg'"
        - language: python
          name: Sample Python Code
          code: "import requests\nresponse = requests.post(\n  url = 'https://api.ocrolus.com/v1/book/upload/image',\n\n  headers = {\n    'Accept': 'application/json',\n    'Authorization': 'Bearer <BEARER_TOKEN>',\n  },\n\n  data = {\n    'book_uuid': '19aab921-25a5-4beb-a59e-ac72320061d6', # The book's primary uuid\n  },\n\n  files = {\n    'upload': open('/path/to/bank-statement.jpeg','rb'),\n  },\n)\nprint(response.json())"
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Image successfully uploaded:
                  value:
                    status: 200
                    response:
                      image_group_pk: 87479
                    message: OK
                Image already exists:
                  value:
                    status: 200
                    response:
                      status: 400
                      message: bank_statement.png already exists
                      original_existing_groups_and_image_pks:
                      - existing_image_group_pk: 244316
                        existing_image_pk: 946005
                        existing_image_uuid: a725ceea-22af-4e5a-a11e-7b859c14fd3a
                    message: OK
                Invalid image:
                  value:
                    status: 200
                    response:
                      status: 400
                      message: w2.png is not a valid Image
                      original_existing_groups_and_image_pks:
                      - existing_image_group_pk: 244316
                      - existing_image_pk: 946005
                      - existing_image_uuid: a725ceea-22af-4e5a-a11e-7b859c14fd3a
                    message: OK
              schema:
                oneOf:
                - title: Image successfully uploaded
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 200
                      description: A numerical code that indicates the status of the request.
                    response:
                      description: An object received from the server that potentially contains data.
                      type: object
                      properties:
                        image_group_pk:
                          type: integer
                          description: Unique primary key (PK) of the <<glossary:image group>>.
                          example: 87479
                    message:
                      type: string
                      description: A textual description that indicates details about this response's status.
                      example: Ok
                - title: Image already exists
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 200
                      description: A numerical code that indicates the status of the request.
                    response:
                      type: object
                      description: An object received from the server that potentially contains data.
                      properties:
                        status:
                          type: integer
                          example: 200
                          description: A numerical code that indicates the status of the request.
                        message:
                          type: string
                          description: A textual description that indicates details about this response's status.
                          example: image.png already exists
                        original_existing_groups_and_image_pks:
                          description: An array of details associated with the image group.
                          type: array
                          items:
                            type: object
                            properties:
                              existing_image_group_pk:
                                type: integer
                                example: 244316
                                description: Unique primary key (PK) of the existing <<glossary:image group>>.
                              existing_image_pk:
                                type: integer
                                example: 946005
                                description: Name of the image group.
                              existing_image_uuid:
                                type: integer
                                example: a725ceea-22af-4e5a-a11e-7b859c14fd3a
                                description: Unique unique identifer of the existing <<glossary:image group>>.
                        image_group_pk:
                          type: integer
                          example: 244320
                          description: Unique primary key (PK) of the image group.
                    message:
                      type: string
                      description: A textual description that indicates details about this response's status.
                      example: Ok
                - title: Invalid image
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 200
                      description: A numerical code that indicates the status of the request.
                    response:
                      description: An object received from the server that potentially contains data.
                      type: object
                      properties:
                        status:
                          type: integer
                          example: 200
                          description: A numerical code that indicates the status of the request.
                        message:
                          type: string
                          description: A textual description that indicates details about this response's status.
                          example: image.png is not a valid Image
                        original_existing_groups_and_image_pks:
                          type: array
                          description: An array of details associated with the image group.
                          items:
                            type: object
                            properties:
                              existing_image_group_pk:
                                type: integer
                                example: 244316
                                description: Unique primary key (PK) of the existing <<glossary:image group>>.
                              existing_image_pk:
                                type: integer
                                example: 946005
                                description: Name of the existing image group.
                              existing_image_uuid:
                                type: integer
                                example: a725ceea-22af-4e5a-a11e-7b859c14fd3a
                                description: Unique unique identifer of the existing <<glossary:image group>>.
                        image_group_pk:
                          type: integer
                          example: 244316
                          description: Unique primary key (PK) of the image group.
                    message:
                      type: string
                      description: A textual description that indicates details about this response's status.
                      example: Ok
        '400':
          description: Client Errors
          content:
            application/json:
              examples:
                Book not found:
                  value:
                    status: 400
                    code: 1401
                    response: null
                    message: Book not found
                    meta:
                      status: 400
                      msg: Book not found
                      code: 1401
                Missing Required Parameters:
                  value:
                    status: 400
                    code: 1103
                    response: null
                    message: Required pk or book uuid
                    meta:
                      status: 400
                      msg: Required pk or book uuid
                      code: 1103
                No Permission:
                  value:
                    status: 400
                    code: 2102
                    response: null
                    message: No permission to access this book
                    meta:
                      status: 400
                      msg: No permission to access this book
                      code: 2102
              schema:
                oneOf:
                - title: Book not found
                  type: object
                  properties:
                    status:
                      type: integer
                      description: A numerical code that indicates the status of the request.
                      example: 400
                    code:
                      type: integer
                      description: A numerical code that indicates the nature of an error.
                      example: 1401
                    response:
                      type: object
                      description: An object received from the server that potentially contains data.
                      example: null
                    message:
                      type: string
                      default: OK
                      description: A textual description that indicates details about this response's status.
                      example: Book not found
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        message:
                          type: string
                          example: Book not found
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 1401
                          description: A numerical code that indicates the nature of an error.
                - title: Missing Required Parameter
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 400
                      description: A numerical code that indicates the status of the request.
                    code:
                      type: integer
                      example: 1103
                      description: A numerical code that indicates the nature of an error.
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                    message:
                      type: string
                      example: Required pk or book uuid
                      description: A textual description that indicates details about this response's status.
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        msg:
                          type: string
                          example: Required pk or book uuid
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 1103
                          description: A numerical code that indicates the nature of an error.
                - title: No Permission
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 400
                      description: A numerical code that indicates the status of the request.
                    code:
                      type: integer
                      example: 2102
                      description: A numerical code that indicates the nature of an error.
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                    message:
                      type: string
                      example: No permission to access this book
                      description: A textual description that indicates details about this response's status.
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        msg:
                          type: string
                          example: No permission to access this book
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 2102
                          description: A numerical code that indicates the nature of an error.
  /v1/book/upload/image/done:
    post:
      summary: Finalize Image Group
      operationId: mark-image-group-complete
      description: 'Finalize an image group and construct a <<glossary:Document>> from its images.


        ---


        After you have [uploaded images](ref:upload-image), call this endpoint to finalize an image group and construct a <<glossary:Document>> from its content.


        > 📘

        > The term **image group** refers to a collection of images that may consist of one or more images.



        Here is the list of all the [Additional Supported Form Types](https://docs.ocrolus.com/docs/forms-directory) we support. For more information, please contact your Account Executive or Customer Success Executive to discuss other options for your organization.'
      tags:
      - File Uploads
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                book_uuid:
                  type: string
                  description: The unique identifer of the <<glossary:Book>> that the newly-constructed <<glossary:Document>> will be saved to. Mutually exclusive with `pk`.
                pk:
                  type: string
                  description: The <<glossary:PK>> of the <<glossary:Book>> that the newly-constructed <<glossary:Document>> will be saved to. Mutually exclusive with `book_uuid`.
                form_type:
                  type: string
                  description: The code identifying the type of <<glossary:Document>> that the uploaded images represent.
              example:
                pk: 30219565
                book_uuid: 19aab921-25a5-4beb-a59e-ac72320061d6
                form_type: PAYSTUB
      x-readme:
        samples-languages:
        - curl
        - python
        explorer-enabled: false
        code-samples:
        - language: curl
          name: Sample cURL Code
          code: "curl --request POST 'https://api.ocrolus.com/v1/book/upload/image/done' \\\n    --header 'Accept: application/json' \\\n    --header 'Authorization: Bearer <BEARER_TOKEN>' \\\n    --form 'book_uuid=19aab921-25a5-4beb-a59e-ac72320061d6'"
        - language: python
          name: Sample Python Code
          code: "import requests\nresponse = requests.post(\n  url =  'https://api.ocrolus.com/v1/book/upload/image/done',\n\n  headers={\n    'Accept': 'application/json',\n    'Authorization': 'Bearer <BEARER_TOKEN>'',\n  },\n\n  data={\n    'book_uuid': '19aab921-25a5-4beb-a59e-ac72320061d6', # The numeric book ID generated by Ocrolus.\n  },\n)\nprint(response.json())"
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value:
                    status: 200
                    message: OK
                    response: {}
              schema:
                oneOf:
                - title: Success
                  type: object
                  properties:
                    status:
                      type: integer
                      description: A numerical code that indicates the status of the request.
                      example: 200
                      default: 0
                    message:
                      type: string
                      default: OK
                      description: A textual description that indicates details about this response's status.
                      example: OK
                    response:
                      type: object
                      description: An object received from the server that potentially contains data.
                      example: null
        '400':
          description: Client Errors
          content:
            application/json:
              examples:
                Invalid form type:
                  value:
                    status: 400
                    message: Form Type Not Found
                    code: 6001
                    meta:
                      status: 400
                      msg: Form Type Not Found
                      code: 6001
                    response: null
                No image found:
                  value:
                    status: 400
                    message: No Image Found
                    code: 7002
                    meta:
                      status: 400
                      msg: No Image Found
                      code: 7002
                    response: null
                Book not found:
                  value:
                    status: 400
                    code: 1401
                    response: null
                    message: Book not found
                    meta:
                      status: 400
                      msg: Book not found
                      code: 1401
                Missing Required Parameters:
                  value:
                    status: 400
                    code: 1103
                    response: null
                    message: Required pk or book uuid
                    meta:
                      status: 400
                      msg: Required pk or book uuid
                      code: 1103
                No Permission:
                  value:
                    status: 400
                    code: 2102
                    response: null
                    message: No permission to access this book
                    meta:
                      status: 400
                      msg: No permission to access this book
                      code: 2102
              schema:
                oneOf:
                - title: Invalid form type
                  type: object
                  properties:
                    status:
                      type: integer
                      description: A numerical code that indicates the status of the request.
                      example: 400
                    message:
                      type: string
                      description: A textual description that indicates details about this response's status.
                      example: Form Type Not Found
                    code:
                      type: integer
                      description: A numerical code that indicates the nature of an error.
                      example: 6001
                      default: 0
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          description: A numerical code that indicates the status of the request.
                          example: 400
                          default: 0
                        msg:
                          type: string
                          description: A textual description that indicates details about this response's status.
                          example: Form Type Not Found
                        code:
                          type: integer
                          example: 6001
                          default: 0
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                - title: No image found
                  type: object
                  properties:
                    status:
                      type: integer
                      description: A numerical code that indicates the status of the request.
                      example: 400
                    message:
                      type: string
                      description: A textual description that indicates details about this response's status.
                      example: No Image Found
                    code:
                      type: integer
                      description: A numerical code that indicates the nature of an error.
                      example: 7002
                      default: 0
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          description: A numerical code that indicates the status of the request.
                          example: 400
                          default: 0
                        msg:
                          type: string
                          description: A textual description that indicates details about this response's status.
                          example: No Image Found
                        code:
                          type: integer
                          example: 7002
                          default: 0
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                - title: Book not found
                  type: object
                  properties:
                    status:
                      type: integer
                      description: A numerical code that indicates the status of the request.
                      example: 400
                    code:
                      type: integer
                      description: A numerical code that indicates the nature of an error.
                      example: 1401
                    response:
                      type: object
                      description: An object received from the server that potentially contains data.
                      example: null
                    message:
                      type: string
                      default: OK
                      description: A textual description that indicates details about this response's status.
                      example: Book not found
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        message:
                          type: string
                          example: Book not found
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 1401
                          description: A numerical code that indicates the nature of an error.
                - title: Missing Required Parameter
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 400
                      description: A numerical code that indicates the status of the request.
                    code:
                      type: integer
                      example: 1103
                      description: A numerical code that indicates the nature of an error.
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                    message:
                      type: string
                      example: Required pk or book uuid
                      description: A textual description that indicates details about this response's status.
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        msg:
                          type: string
                          example: Required pk or book uuid
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 1103
                          description: A numerical code that indicates the nature of an error.
                - title: No Permission
                  type: object
                  properties:
                    status:
                      type: integer
                      example: 400
                      description: A numerical code that indicates the status of the request.
                    code:
                      type: integer
                      example: 2102
                      description: A numerical code that indicates the nature of an error.
                    response:
                      type: object
                      example: null
                      description: An object received from the server that potentially contains data.
                    message:
                      type: string
                      example: No permission to access this book
                      description: A textual description that indicates details about this response's status.
                    meta:
                      type: object
                      description: An object received from the server that potentially contains information about the request.
                      properties:
                        status:
                          type: integer
                          example: 400
                          description: A numerical code that indicates the status of the request.
                        msg:
                          type: string
                          example: No permission to access this book
                          description: A textual description that indicates details about this response's status.
                        code:
                          type: integer
                          example: 2102
                          description: A numerical code that indicates the nature of an error.
  /v1/book/upload/json:
    post:
      summary: Upload aggregator JSON to Book
      operationId: upload-json
      description: "This API uploads aggregator-provided JSON data (Plaid or Finicity) to an Ocrolus <<glossary:Book>>. This endpoint supports uploading:\n\n- Plaid Asset Report JSON\n- Plaid Transactions JSON\n- Finicity JSON bundles, including accounts, transactions, customers, and institutions\n\nFor Plaid, this endpoint takes the JSON output from Plaid's [**`/transactions/get`**](https://plaid.com/docs/api/products/#transactionsget) or [**`/asset_report/get`**](https://plaid.com/docs/api/products/#asset_reportget) endpoints. To learn more, see the [Plaid integration](https://docs.ocrolus.com/docs/plaid) guide.\n\nFor Finicity, this endpoint requires a complete and internally consistent JSON bundle. Ocrolus validates references across files (accounts, customers, institutions, transactions) before generating accounts and periods. Partial Finicity uploads are not supported. To learn more, see the [Account aggregator](https://docs.ocrolus.com/docs/aggregator-finicity) guide.\n\n> \U0001F44D Tips \n  > - You can upload multiple JSON files at a time using this endpoint.\n  > - For best results, create a separate Book for each Plaid Asset Report. Do not upload JSON files alongside PDF statements, as the data may not reconcile.   \n  > - When multiple Finicity JSON files are uploaded, they are combined into a single document within the Book.\n  > - This is a shared endpoint for all both Plaid and Finicity JSON uploads. Aggregator-specific behavior is controlled using the **`aggregate_source`** parameter.\n  > - Ensure that all the Finicity JSON files originate from the same Finicity data pull and belong to the same account set.\n  > - Verify that all cross-file identifiers of Finicity (accountId, customerId, institutionId) resolve correctly.\n\n##Plaid and Finicity statement period construction\nPlaid Asset Reports do not provide explicit statement periods. Ocrolus constructs periods based on transaction dates. For example, if transactions span Jan 15 to Apr 4, statement periods are created as:\n- Jan 15 - Jan 31\n- Feb 1 - Feb 28\n- Mar 1 - Mar 31\n- Apr 1 - Apr 4\n\n> ❗️ Having unusual problems?\n  > Do not use older versions of Plaid’s Python or Ruby client libraries to access these endpoints. Users have reported access issues with outdated versions. Upgrade to the latest available client libraries before proceeding. If you believe this behavior is a bug, open a support ticket with Plaid. As a temporary workaround, use a general-purpose HTTP request library.\n"
      tags:
      - File Uploads
      parameters:
      - name: upload_intent
        in: query
        description: "Specifies the intent to process the Plaid JSON files uploaded to a Book. This parameter determines whether the uploaded transactions are simply added to the Book for analytics or actively compared against existing bank statement data to detect mismatches. \n\nThe available options to set intent are:\n- **`add_analytics`**: Adds transactions from the Plaid JSON to the Book without performing mismatch detection. Use this option for ongoing monitoring or when you only need to enrich the dataset with additional Plaid transactions. (Default if no value is specified.)\n- **`docs_to_digital`**: Runs the Docs-to-Digital algorithm. If used, the Plaid transactions are matched against bank statement data available in the Book, and any mismatches are flagged for review. Use this option when you want to perform reconciliation between digital (Plaid) and analog (PDF) sources.\n"
        example: add_analytics
        required: false
        schema:
          type: string
          enum:
          - add_analytics
          - docs_to_digital
      - name: aggregate_source
        in: query
        description: Specifies the data aggregator source used to generate the uploaded JSON. This field is case-sensitive. If no value is provided, the system defaults to `PLAID`.
        required: false
        schema:
          type: string
          enum:
          - FINICITY
          - PLAID
          default: PLAID
        example: PLAID
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - pk
              - uuid
              - upload
              properties:
                pk:
                  type: string
                  description: A unique primary key of the <<glossary:Book>> to which the uploaded JSON files will be added. This value is used interchangeably with a **`uuid`**. You must provide either **`pk`** or **`uuid`**.
                  example: 30219565
                uuid:
                  type: string
                  description: A universally unique identifier of the <<glossary:Book>> to which the uploaded JSON files will be added. This value is used interchangeably with a **`pk`**. You must provide either **`uuid`** or **`pk`**.
                  example: a385be19-2d1a-4846-918c-0d3125a885c8
                upload:
                  type: string
                  format: binary
                  description: The JSON file containing Plaid Asset Report or Transaction data. This should be the direct output from Plaid's API.
                  example: <JSON binary data>
                accounts:
                  type: string
                  format: binary
                  description: "JSON files containing Finicity account data. This file is used to create bank account information associated with the Book. Must be valid JSON. \n\nTo learn more about uploading Finicity JSON file containing account details, see the [Uploading Finicity JSON to Ocrolus](https://docs.ocrolus.com/docs/aggregator-finicity#uploading-finicity-json-to-ocrolus) guide.\n"
                  example: <JSON binary data>
                transactions:
                  type: string
                  format: binary
                  description: 'JSON file containing Finicity transaction data. This file is used to create period and transaction data for the associated bank accounts identified in the accounts JSON. Must be valid JSON.


                    To learn more about uploading Finicity JSON file containing transaction details, see the [Uploading Finicity JSON to Ocrolus](https://docs.ocrolus.com/docs/aggregator-finicity#uploading-finicity-json-to-ocrolus) guide.

                    '
                  example: <JSON binary data>
                customers:
                  type: string
                  format: binary
                  description: 'JSON file containing Finicity customer data. It is used to associate customer information with the uploaded bank accounts and transactions. The account holder name is extracted from this JSON. Must be valid JSON.


                    To learn more about uploading Finicity JSON file containing customer details, see the [Uploading Finicity JSON to Ocrolus](https://docs.ocrolus.com/docs/aggregator-finicity#uploading-finicity-json-to-ocrolus) guide.

                    '
                  example: <JSON binary data>
                institutions:
                  type: string
                  format: binary
                  description: 'JSON files containing Finicity institution data. It is used to map accounts to their respective financial institutions (banks). Must be valid JSON.


                    To learn more about uploading Finicity JSON file containing institution details, see the [Uploading Finicity JSON to Ocrolus](https://docs.ocrolus.com/docs/aggregator-finicity#uploading-finicity-json-to-ocrolus) guide.

                    '
                  example: <JSON binary data>
                doc_name:
                  type: string
                  description: The name of the <<glossary:Document>> created from the uploaded data. If omitted, defaults to **`audit_copy_token`**.
                  example: test doc
      x-readme:
        samples-languages:
        - curl
        - python
        headers:
        - key: content-type
          value: multipart/form-data
        explorer-enabled: false
        code-samples:
        - language: curl
          name: Sample cURL Code
          code: "curl --request POST \"https://api.ocrolus.com/v1/book/upload/json?upload_intent=add_analytics\" \\\n  --header \"Accept: application/json\" \\\n  --header \"Authorization: Bearer <BEARER_TOKEN>\" \\\n  --form \"pk=1234567\" \\\n  --form \"upload=@/path/to/asset-report.json\""
        - language: python
          name: Sample Python Code
          code: "import requests\n\n  url = \"https://api.ocrolus.com/v1/book/upload/json\"\n  params = {\n      \"upload_intent\": \"add_analytics\"\n  }\n  headers = {\n      \"Accept\": \"application/json\",\n      \"Authorization\": \"Bearer <BEARER_TOKEN>\"\n  }\n  files = {\n      \"pk\": (None, \"1234567\"),\n      \"upload\": open(\"/path/to/asset-report.json\", \"rb\")\n  }\n\n  response = requests.post(url, headers=headers, params=params, files=files)\n\n  print(response.status_code)\n  print(response.json())"
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Successful Upload:
                  value:
                    status: 200
                    response:
                      uploaded_docs:
                      - pk: 2203941
                        id: 2203941
                        uuid: a385be19-2d1a-4846-918c-0d3125a885c8
                        name: 745608db-9f24-4c3f-990d-b358f2c4f161
                        checksum: 4fb16336a824c9cf82fdc0cafa749c2e
                        created_ts: '2026-01-21T12:47:34.947097'
                    message: OK
                Invalid JSON:
                  value:
                    status: 200
                    response:
                      status: 400
                      message: plaid-asset-and-txn.json is not a valid JSON
                    message: OK
                Unsupported Format:
                  value:
                    status: 200
                    response:
                      status: 400
                      message: 'plaid-asset.json -- json format is not supported

                        '
                    message: OK
                Document Already Exists:
                  value:
                    status: 200
                    response:
                      status: 400
                      message: 'plaid-asset.json already exists

                        '
                    message: OK
                Multiple Errors:
                  value:
                    status: 200
                    response:
                      status: 400
                      message: "plaid-asset.json already exists\n txn.json is not a valid json\n"
                    message: OK
              schema:
                oneOf:
                - title: Successful Upload
                  type: object
                  properties:
                    status:
                      type: integer
                      description: A numerical code that indicates the status of the request.
                      example: 200
                    response:
                      type: object
                      description: An object received from the server that potentially contains data.
                      properties:
                        uploaded_docs:
                          type: array
                          items:
                            type: object
                            properties:
                              pk:
                                type: integer
                                description: The primary key of the <<glossary:Document>>.
                              uuid:
                                type: string
                                example: 8dc88eed-2b6f-414a-82f2-a99bd181cf6e
                                description: Universally unique identifier (uuid) of the uploaded <<glossary:Document>>.
                              name:
                                type: string
                                description: Name of the <<glossary:Document>>.
                                example: plaid-asset-and-txn.json
                              checksum:
                                type: string
                                description: An alphanumerical value used to determine the authenticity of the data.
                                example: 50a62f72f4b5b80b18f75fbed690dc47
                              created_ts:
                                type: string
                                description: The timestamp at which the <<glossary:Document>> was created.
                                example: '2023-05-25T17:23:45Z'
                              id:
                                type: integer
                                description: Unique primary key of the uploaded <<glossary:Document>>.
                                default: 0
                    message:
                      type: string
                      description: A textual description that indicates details about this response's status.
                      example: OK
                - title: Error
                  type: object
                  properties:
                    status:
                      type: integer
                      default: 200
                      description: A numerical code that indicates the status of the request.
                      example: 200
                    response:
                      type: object
                      description: An object received from the server that potentially contains data.
                      properties:
                        status:
                          type: integer
                          description: A numerical code that indicates the status of the request.
                          example: 400
                        message:
                          type: string
                          description: A textual description that indicates details about this response's status.
                          example: plaid-asset.json is not a valid json.
                    message:
                      type: string
                      description: A textual description that indicates details about this response's status.
                      example: OK
        '400':
          description: Client Errors
          content:
            application/json:
              examples:
                Book not found:
                  value:
                    status: 400
                    msg: Book not found
                Missing Required Parameters:
                  value:
                    status: 400
                    msg: Required pk or book uuid
                No Permission:
                  value:
                    status: 400
                    msg: No permission to access this book
                Invalid Book Identifier:
                  value:
                    status: 400
                    msg: Either `pk` or `uuid` must be provided
                Invalid aggregate_source response:
                  value:
                    status: 400
                    msg: 'Invalid aggregate_source. Allowed values: PLAID, FINICITY'
                Missing accounts param response:
                  value:
                    status: 400
                    msg: Accounts is required for Finicity uploads
                Missing transactions param response:
                  value:
                    status: 400
                    msg: Transactions is required for Finicity uploads
                Missing customers param response:
                  value:
                    status: 400
                    msg: Customers is required for Finicity uploads
                Missing institutions param response:
                  value:
                    status: 400
                    msg: Institutions is required for Finicity uploads
              schema:
                properties:
                  status:
                    type: integer
                    description: A numerical code that indicates the status of the request.
                  message:
                    type: string
                    description: A textual description that indicates details about this response's status.
  /v1/book/import/plaid/asset:
    post:
      summary: Import Plaid Asset Report
      operationId: import-plaid-asset-report
      description: "Import an Asset Report directly from Plaid and construct a <<glossary:Document>> from it.\n\n---\n\n\nWith fully automated workflows in mind, Ocrolus and [Plaid](https://plaid.com) offer the ability to directly import the Asset Report of any customer who has provided Bank Account details via Plaid - without you having to explicitly download and handle the JSON report.\n\nTo achieve this, Plaid will ask you to [share an Audit Copy](https://plaid.com/docs/#4-share-an-audit-copy) of the Asset Report directly with Ocrolus.\n\nNext, Ocrolus will use the provided `audit_copy_token` to extract the associated Audit Report from Plaid. This _must_ be a production token, as Ocrolus does not support sandbox tokens.\n\nThen, Ocrolus will import the Audit Report into the specified <<glossary:Book>>. \n> \U0001F4D8 \n> Creating an Audit Copy Token\n> - You can create an **Audit Copy Token** with Plaid using our auditor_id of `ocrolus`. Use this value when invoking the `createAuditCopy` function on the Plaid client object.\n\n> \U0001F6A7 \n> Due to masking of account numbers in Plaid data, we are unable to reconcile bank accounts across Plaid data and PDF bank statements. Mixing such uploads within the same book may result in duplicate bank accounts, periods and transactions."
      tags:
      - File Uploads
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - pk
              - audit_copy_token
              properties:
                pk:
                  type: integer
                  description: The <<glossary:PK>> of the <<glossary:Book>> that the constructed <<glossary:Document>> will be saved to.
                  example: 30219565
                audit_copy_token:
                  type: string
                  description: Asset Report copy token provided by Plaid.
                  example: 12345
                form_type:
                  type: string
                  description: The code identifying the type of <<glossary:Document>> that you're uploading.
                  example: PAYSTUB
                doc_name:
                  type: string
                  description: The name of the <<glossary:Document>> that will be created from the imported data. Defaults to `audit_copy_token` if not given.
              example:
                pk: 30219565
                form_type: PAYSTUB
                doc_name: example_document
      x-readme:
        samples-languages:
        - curl
        - python
        explorer-enabled: false
        code-samples:
        - language: curl
          name: Sample cURL Code
          code: "curl --request POST \"https://api.ocrolus.com/v1/book/import/plaid/asset\" \\\n    --header \"Accept: application/json\" \\\n    --header \"Authorization: Bearer <BEARER_TOKEN>\" \\\n    --form \"pk=30219565\" \\\n    --form \"audit_copy_token=123-ABC-456\" \\\n    --form \"doc_name=ExampleStatement\""
        - language: python
          name: Sample Python Code
          code: "import requests\nresponse = requests.post(\n  url = 'https://api.ocrolus.com/v1/book/import/plaid/asset',\n\n  headers = {\n    'Accept': 'application/json',\n    'Authorization': 'Bearer <BEARER_TOKEN>',\n  },\n\n  data = {\n    'pk': '30219565', # The book's primary key\n    'audit_copy_token': '12345',\n    'doc_name': 'ExampleStatement', # The name of document that will be created.\n  },\n)\nprint(response.json())"
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Import succeeded:
                  value:
                    status: 200
                    message: OK
                    response:
                      uploaded_docs:
                      - created_ts: '2023-05-25T17:23:45Z'
                        name: 78467b0b5f0bb818a30a6d7c361385
                        checksum: 50a62f72f4b5b80b18f75fbed690dc47
                        pk: 12345
                        uuid: 8dc88eed-2b6f-414a-82f2-a99bd181cf6e
                Import failed:
                  value:
                    status: 200
                    message: OK
                    response:
                      status: 400
                      message: Plaid pull failed.
              schema:
                oneOf:
                - title: Import succeeded
                  type: object
                  properties:
                    status:
                      type: integer
                      description: A numerical code that indicates the status of the request.
                      example: 200
                      default: 0
                    message:
                      type: string
                      default: OK
                      description: A textual description that indicates details about this response's status.
                      example: OK
                    response:
                      type: object
                      description: An object received from the server that potentially contains data.
                      properties:
                        uploaded_docs:
                          type: array
                          items:
                            type: object
                            properties:
                              created_ts:
                                type: string
                                description: A timestamp of when the <<glossary:Document>> was created.
[...]
