{"openapi":"3.0.0","info":{"title":"Book Queries","version":"1.0.0"},"servers":[{"url":"https://api.ocrolus.com"}],"security":[{"oauth":[]}],"paths":{"/v2/los-connect/encompass/book":{"get":{"summary":"Book from loan","description":"This API endpoint lets you retrieve the Ocrolus <<glossary:Book>> associated with a specific Encompass loan. You can query it using either the `Encompass loan_id` (GUID) or the `loan_number`, depending on which identifier you have available. \n\n> 📘 Note:\n> The system accepts either `loan_id` or `loan_number` to identify the loan. If both parameters are provided, or if neither is included in the request payload, the API returns a 400 error.\n","operationId":"book-from-loan","deprecated":false,"tags":["Book Queries"],"parameters":[{"name":"loan_id","in":"query","description":"The unique Encompass loan identifier expressed in Globally Unique Identifier (GUID) format.","example":"c3f7e84d-8a91-4b1c-9460-192a746ad3c9","required":false,"schema":{"type":"string"}},{"name":"loan_number","in":"query","description":"The numeric identifier assigned to an Encompass loan.","example":"LN250918342","required":false,"schema":{"type":"string"}}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"properties":{"status":{"type":"integer","example":200,"description":"A numerical code that indicates the status of the request."},"response":{"type":"object","description":"An object received from the server that potentially contains data.","properties":{"loan_number":{"type":"string","description":"The loan number associated with the request.","example":"TEST250918342"},"loan_guid":{"type":"string","description":"GUID of the loan.","example":"c3f7e84d-8a91-4b1c-9460-192a746ad3c9"},"client_instance_id":{"type":"string","description":"Identifier for the client instance.","example":"DEMO99887766"},"client_name":{"type":"string","description":"Name of the client.","example":"Encompass QA Sandbox"},"book_details":{"type":"object","description":"Details of the book associated with the loan.","properties":{"book_pk":{"type":"integer","description":"Primary key of the book.","example":472391},"name":{"type":"string","description":"Name of the book.","example":"Encompass QA Sandbox-c3f7e84d-8a91-4b1c-9460-192a746ad3c9-521"},"book_status":{"type":"string","description":"Status of the book.","example":"ACTIVE"},"created_ts":{"type":"string","format":"date-time","description":"Timestamp when the book was created.","example":"2025-02-12T15:23:47.382194"},"book_uuid":{"type":"string","description":"UUID of the book."}}},"message":{"type":"string","description":"A message describing the result of the request.","example":"OK"}}}}},"examples":{"Success":{"value":{"status":200,"response":{"loan_number":"TEST250918342","loan_guid":"c3f7e84d-8a91-4b1c-9460-192a746ad3c9","client_instance_id":"DEMO99887766","client_name":"Encompass QA Sandbox","book_details":{"book_pk":472391,"name":"Encompass QA Sandbox-c3f7e84d-8a91-4b1c-9460-192a746ad3c9-521","book_status":"ACTIVE","created_ts":"2025-02-12T15:23:47.382194","book_uuid":"7a82f03c-4d7d-4a2e-baf4-63bbccff7b92"}},"message":"OK"}}}}}},"400":{"description":"Client Errors","content":{"application/json":{"schema":{"oneOf":[{"title":"AUTH FAILED","$ref":"#/paths/~1v1~1book~1info/get/responses/400/content/application~1json/schema"},{"title":"BAD REQUEST","$ref":"#/paths/~1v2~1los-connect~1encompass~1book/get/responses/403/content/application~1json/schema"}]},"examples":{"AUTH FAILED":{"value":{"status":400,"code":1200,"message":"Authentication failed","meta":{"status":400,"msg":"Authentication failed","code":1200}}},"BAD REQUEST":{"value":{"status":400,"message":"Exactly one of loan_id or loan_number must be provided"}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"properties":{"status":{"type":"integer","description":"A numerical code that indicates the status of the request."},"message":{"type":"string","description":"A textual description that indicates details about this response's status."}}},"examples":{"Forbidden":{"value":{"status":403,"message":""}}}}}},"404":{"description":"NOT FOUND","content":{"application/json":{"schema":{"$ref":"#/paths/~1v2~1los-connect~1encompass~1book/get/responses/403/content/application~1json/schema"},"examples":{"NOT FOUND":{"value":{"status":404,"message":"Not found"}}}}}},"500":{"description":"INTERNAL SERVER ERROR","content":{"application/json":{"schema":{"$ref":"#/paths/~1v2~1los-connect~1encompass~1book/get/responses/403/content/application~1json/schema"},"examples":{"INTERNAL SERVER ERROR":{"value":{"status":500,"message":"Internal server error"}}}}}}}}},"/v2/los-connect/book/{book_uuid}/loans":{"get":{"summary":"Loan details from Book","description":"This API retrieves the Encompass Loan GUID and related loan metadata using the Ocrolus <<glossary:Book>> UUID. It enables seamless mapping between an Ocrolus Book and its corresponding Encompass Loan, supporting accurate LOS integration, tracking, and synchronization between Ocrolus and Encompass systems.\n","operationId":"loan-from-book","deprecated":false,"tags":["Book Queries"],"parameters":[{"name":"book_uuid","in":"path","description":"The unique identifier of the <<glossary:Book>> from which you want to retrieve loan details. Mutually exclusive with `book_pk`.","example":"19aab921-25a5-4beb-a59e-ac72320061d6","required":true,"schema":{"type":"string","format":"uuid"}}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"properties":{"status":{"type":"integer","example":200,"description":"A numerical code that indicates the status of the request."},"response":{"type":"object","description":"An object received from the server that potentially contains data.","properties":{"loan_details":{"type":"object","description":"Details of the loan associated with the request.","properties":{"loan_id":{"type":"string","description":"Unique identifier (UUID) of the Encompass loan GUID.","example":"c45d08b2-f123-4dff-82b0-11aa3f5c34d9"},"loan_number":{"type":"string","description":"The Encompass loan number.","example":"TEST202512345"},"client_instance_id":{"type":"string","description":"Identifier for the client instance.","example":"TEBE98765432","format":"TEBE or BE"},"created_ts":{"type":"string","format":"date-time","description":"Timestamp when the loan was created.","example":"2025-10-27T17:47:18.955864+00:00"}}},"book_details":{"type":"object","description":"Details of the Book associated with the loan.","properties":{"book_pk":{"type":"integer","description":"Primary key of the Book.","example":764839},"name":{"type":"string","description":"Name of the Book.","example":"Encompass TE Integration Testing-c45d08b2-f123-4dff-82b0-11aa3f5c34d9-001"},"book_status":{"type":"string","description":"Current status of the Book.","example":"ACTIVE"},"created_ts":{"type":"string","format":"date-time","description":"Timestamp when the Book was created.","example":"2025-10-27T17:47:21.129183"},"book_uuid":{"type":"string","description":"A unique identifier of the Book.","example":"abf37196-12e5-47ca-b33c-e12aa3c9de11"}}},"message":{"type":"string","description":"A message describing the result of the request.","example":"OK"}}}}},"examples":{"Success":{"value":{"loan_details":{"loan_id":"c45d08b2-f123-4dff-82b0-11aa3f5c34d9","loan_number":"TEST202512345","client_instance_id":"TEBE98765432","created_ts":"2025-10-27T17:47:18.955864+00:00"},"book_details":{"book_pk":764839,"name":"Encompass TE Integration Testing-c45d08b2-f123-4dff-82b0-11aa3f5c34d9-001","book_status":"ACTIVE","created_ts":"2025-10-27T17:47:21.129183","book_uuid":"abf37196-12e5-47ca-b33c-e12aa3c9de11"}}}}}}},"400":{"description":"Client Errors","content":{"application/json":{"schema":{"oneOf":[{"title":"AUTH FAILED","$ref":"#/paths/~1v1~1book~1info/get/responses/400/content/application~1json/schema"},{"title":"BAD REQUEST","$ref":"#/paths/~1v2~1los-connect~1encompass~1book/get/responses/403/content/application~1json/schema"}]},"examples":{"AUTH FAILED":{"value":{"status":400,"code":1200,"message":"Authentication failed","meta":{"status":400,"msg":"Authentication failed","code":1200}}},"BAD REQUEST":{"value":{"status":400,"message":"Book UUID not provided"}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/paths/~1v2~1los-connect~1encompass~1book/get/responses/403/content/application~1json/schema"},"examples":{"Forbidden":{"value":{"status":403,"message":""}}}}}},"404":{"description":"NOT FOUND","content":{"application/json":{"schema":{"$ref":"#/paths/~1v2~1los-connect~1encompass~1book/get/responses/403/content/application~1json/schema"},"examples":{"NOT FOUND":{"value":{"status":404,"message":"Not found"}}}}}},"500":{"description":"INTERNAL SERVER ERROR","content":{"application/json":{"schema":{"$ref":"#/paths/~1v2~1los-connect~1encompass~1book/get/responses/403/content/application~1json/schema"},"examples":{"INTERNAL SERVER ERROR":{"value":{"status":500,"message":"Internal server error"}}}}}}}}},"/v1/book/info":{"get":{"summary":"Book information","description":"Retrieve details of a <<glossary:Book>>, including uploaded <<glossary:Document>>s, bank account information, and transaction periods.","operationId":"book-info","deprecated":false,"tags":["Book Queries"],"parameters":[{"name":"book_uuid","in":"query","description":"The unique identifier of the <<glossary:Book>> whose information you want to retrieve. Mutually exclusive with `book_pk`.","example":"19aab921-25a5-4beb-a59e-ac72320061d6","schema":{"type":"string","format":"uuid"}},{"name":"pk","in":"query","description":"Unique primary key (pk) of the <<glossary:Book>> whose information you want to retrieve. Mutually exclusive with `book_uuid`.","example":30219565,"schema":{"type":"string"}}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"properties":{"status":{"type":"integer","example":200,"description":"A numerical code that indicates the status of the request."},"response":{"type":"object","description":"An object received from the server that potentially contains data.","properties":{"name":{"type":"integer","description":"Name of the <<glossary:Book>> from which information is retrieved.","example":"Sample bank statement"},"created":{"type":"string","description":"A timestamp of when the <<glossary:Book>> was created.","example":"2023-03-03T04:36:31Z"},"created_ts":{"type":"string","description":"The timestamp at which <<glossary:Book>> was created.","example":"2023-03-03T04:36:31Z"},"pk":{"type":"integer","description":"Unique primary key for the <<glossary:Book>>.","example":133771},"owner_email":{"type":"string","description":"Name of the owner who has created the <<glossary:Book>>.","example":"email@address.com"},"is_public":{"type":"boolean","description":"Indicates if all users in your organization can see and upload <<glossary:Document>>s into this <<glossary:Book>>.\"","example":true},"book_uuid":{"type":"string","description":"Universally unique identifier (UUID) for the <<glossary:Book>>.","example":"19aab921-25a5-4beb-a59e-ac72320061d6"},"id":{"type":"integer","description":"Unique identifier for the <<glossary:Book>>.","example":30219565},"xid":{"type":"string","description":"A free form field that can be used to associate a Book with some identity outside of Ocrolus.","example":"123ABC"},"book_type":{"type":"string","description":"Determines what type of processing the Book will go through. Options include DEFAULT, OPTIMA, or WIDGET.","example":"DEFAULT"},"is_shared_or_public_book":{"type":"boolean","description":"Indicates if this <<glossary:Book>> is a public <<glossary:Book>> and can be shared with other users.","example":true},"docs":{"items":{"type":"array","description":"An array of all the <<glossary:Document>>s uploaded to the <<glossary:Book>>.","properties":{"pk":{"type":"integer","description":"Unique identifier (primary key) for the <<glossary:Document>>.","example":51542103},"status":{"type":"string","description":"Processing status of the <<glossary:Document>>.","example":"REJECTED"},"name":{"type":"string","description":"Name of the <<glossary:Document>>.","example":"Ocrolus Sample PDF"},"pages":{"type":"integer","description":"The total number of pages present in the <<glossary:Document>>.","example":4},"md5":{"type":"string","description":"A cryptographic hash function used to secure the file by producing a fixed-length alphanumeric string as its output. It is commonly used to verify the integrity of a file by comparing the hash value of the original file with the hash value of the downloaded or received file.","example":"716a9e2119b197fc8fed9e2ca3e56cae"},"image_group_pk":{"type":"integer","description":"Unique identifier (primary key) for the image group associated with the <<glossary:Document>>. Image group is a collection of images that consists of one or more images.","example":10423247},"mixed_uploaded_doc_pk":{"type":"integer","description":"Unique identifier (primary key) for the uploaded Mixed Document. A Mixed Document is a single or multipage PDF that contains more than one doc type.","example":10423257}}}},"mixed_docs":{"items":{"type":"array","description":"An array of all the Mixed Documents uploaded to the <<glossary:Book>>. A Mixed Document is a single or multipage PDF that contains more than one doc type. This array is optional and is only returned when the <<glossary:Book>> has Mixed Documents uploaded to it.","properties":{"pk":{"type":"integer","description":"Unique identifier (primary key) for the Mixed Document.","example":51542103},"status":{"type":"string","description":"Processing status of the Mixed Document.","example":"REJECTED"},"name":{"type":"string","description":"Name of the Mixed Document.","example":"Ocrolus Sample PDF"},"pages":{"type":"integer","description":"The total number of pages present in the Mixed Document.","example":4},"md5":{"type":"string","description":"A cryptographic hash function used to secure the file by producing a fixed-length alphanumeric string as its output. It is commonly used to verify the integrity of a file by comparing the hash value of the original file with the hash value of the downloaded or received file.","example":"716a9e2119b197fc8fed9e2ca3e56cae"},"image_group_pk":{"type":"integer","description":"Unique identifier (primary key) for the image group associated with the Mixed Document. Image group is a collection of images that consists of one or more images.","example":10423247},"rejection_reason":{"type":"string","description":"An optional attribute that briefly explains why a Document was rejected.","example":"INVALID DOCUMENT"},"document_class":{"type":"string","description":"The processing type of the Document."}}}},"bank_accounts":{"type":"array","description":"An array of all the bank accounts present in the <<glossary:Book>> where every key is the bank account pk.","items":{"type":"object","properties":{"pk":{"type":"string","description":"A unique integer identifier of the bank account using which the transaction was done.","example":12942296},"book_pk":{"type":"string","description":"A unique integer identifier of the <<glossary:Book>> to which the <<glossary:Document>> is uploaded.","example":28741420},"name":{"type":"integer","description":"Name of the bank account holder.","example":"488083738759 CHASE CHECKING"},"bank_name":{"type":"string","description":"Name of the bank.","example":"CHASE"},"activity_info":{"type":"array","description":"It displays the start and end period in which transactions have occurred for a given bank account.","items":{"type":"object","properties":{"active":{"type":"array","items":{"type":"object","properties":{"start":{"type":"array","description":"It displays the start duration in which transactions have occurred.","items":{"type":"object","properties":{"year":{"type":"integer","description":"It displays the start year in which transactions have occurred.","example":2022},"month":{"type":"integer","description":"It displays the start month in which transactions have occurred.","example":9},"day":{"type":"integer","description":"It displays the start day in which transactions have occurred.","example":10}}}},"end":{"type":"array","description":"It displays the end duration in which transactions have occurred.","items":{"type":"object","properties":{"year":{"type":"integer","description":"It displays the end year in which transactions have occurred.","example":2020},"month":{"type":"integer","description":"It displays the end month in which transactions have occurred.","example":9},"day":{"type":"integer","description":"It displays the end day in which transactions have occurred.","example":10}}}}}}},"missing":{"type":"object","description":"An array of date ranges when the bank account had no transactional data similarly structured to the active object.","example":[]}}}},"account_type":{"type":"string","description":"Type of the account from which transactions are retrieved.","example":"CHECKING"},"account_holder":{"type":"string","description":"Name of the account holder from which transactions are retrieved.","example":"JILL SMITH"},"account_number":{"type":"string","description":"Account number from which transactions are retrieved.","example":488083738759},"holder_zip":{"type":"string","description":"Zip code of the account holder's address.","example":11215},"holder_country":{"type":"string","description":"Country of the account holder.","example":"US"},"holder_state":{"type":"string","description":"State of the account holder.","example":"NY"},"holder_city":{"type":"string","description":"City of the account holder.","example":"New York"},"holder_address_1":{"type":"string","description":"The first line address of the account holder.","example":"74 Prospect Park"},"holder_address_2":{"type":"string","description":"The second line address of the account holder.","example":"West Park Slope"},"account_category":{"type":"string","description":"Category of the account.","example":"PERSONAL ACCOUNT"},"id":{"type":"string","description":"Unique id of the bank.","example":12942296},"periods":{"type":"array","description":"An array of bank account statement periods.","items":{"properties":{"pk":{"type":"string","description":"Unique ID of the period from where transactions are retrieved.","example":37445192},"uuid":{"type":"string","description":"Universally unique identification code (uuid) of the period from where transactions are retrieved.","example":"c283613c-d20a-4aac-b8b3-5dfd608ba111"},"bank_account_pk":{"type":"integer","description":"A unique integer identifier of the bank account that completed the transaction.","example":12942296},"begin_date":{"type":"string","description":"Start of date of the transction.","example":"09/10/2020"},"end_date":{"type":"string","description":"End of date of the transction.","example":"09/10/2022"},"begin_balance":{"type":"string","description":"Starting balance of the transction retrieved.","example":2935.81},"end_balance":{"type":"string","description":"Ending balance of the transction retrieved.","example":3956.07},"primary_recon_error_reason":{"type":"string","description":"Manual verifier flag for suspicious activity after inspection. If the period is not reconciled, the verifiers will add the predefined values like Potential Fraud, Incomplete Information, and Unreconciled Period.","example":"File Tampering Detected"},"secondary_recon_error_reason":{"type":"string","description":"Manual verifier flag for suspicious activity after inspection. If the period is not reconciled, the verifiers will add the predefined values like Incomplete Transaction Data, Invalid Date(s), Photoshopped Data, Missing Period Data, Missing Page(s), Invalid Amount(s) Or Balance(s), and  Reconciliation Error Reason Is Not Identified.","example":"Tampering on pages 1, 3, 4, and 5"},"uploaded_doc_pk":{"type":"string","description":"A unique integer of the <<glossary:Document>> from which the transaction details are retrieved.","example":50867399}}}},"account_holders":{"type":"string","description":"Name of the account holder.","example":"JILL'S COFFEE"},"custom_filters":{"type":"object","description":"Filters applied to finetune results for this <<glossary:Book>>.","example":null},"status_tags":{"type":"object","description":"An object containing the Status Tags associated with this <<glossary:Book>>","properties":{"status_tag":{"type":"object","description":"A Status Tags associated with this <<glossary:Book>>","properties":{"pk":{"type":"integer","description":"The unique identifier (primary key) for the Status Tag.","example":2386480},"created_ts":{"type":"string","description":"The timestamp at which Status Tag was created.","example":"2022-06-28T14:15:18Z"},"tag_name":{"type":"string","description":"The name assigned to the Status Tag.","example":"rev_exclude"},"color":{"type":"string","description":"The color assigned to the Status Tag.","example":"navy"},"text_color":{"type":"string","description":"An optional color of text assigned to the Status Tag.","example":null},"is_status_tag":{"type":"boolean","description":"Defines if the tag is a Status Tag.","example":true},"is_hidden":{"type":"string","description":"Determines if the Status Tag should appear in transaction calculations.","example":false},"org_info_pk":{"type":"string","description":"The unique identifier (primary key) for the Org that the <<glossary:Book>> is associated with.","example":4005},"config_name":{"type":"string","description":"The name of the config associated with the Status Tag.","example":null},"id":{"type":"integer","description":"The unique identifier (primary key) for the Status Tag.","example":2386480}}}}},"book_class":{"type":"string","description":"The processing type of the Book."}}}}}},"message":{"type":"string","description":"A textual description that indicates details about this response's status.","example":"Ok"}}},"examples":{"Success":{"value":{"status":200,"response":{"name":"Example Book","created":"2023-06-07T14:17:49Z","created_ts":"2023-06-07T14:17:49Z","pk":34653848,"owner_email":"support@ocrolus.com","is_public":true,"book_uuid":"ff6f7e9e-c65d-48e1-abb9-60119b3c5852","id":34653848,"xid":null,"book_type":"DEFAULT","is_shared_or_public_book":true,"docs":[{"pk":56253658,"status":"VERIFICATION_COMPLETE","name":"bankstatementexample.pdf","pages":1,"md5":"e78045a805517d962fc78289d98b2573","image_group_pk":null,"mixed_uploaded_doc_pk":null,"document_class":"COMPLETE"},{"pk":56193560,"status":"VERIFICATION_COMPLETE","name":"Alexander-April01-April-15-Account-A.pdf(0)","pages":1,"md5":"418c9f8854e3c391765a65b973a057ba","image_group_pk":null,"mixed_uploaded_doc_pk":11602174,"document_class":"COMPLETE"}],"mixed_docs":[{"pk":11602174,"status":"COMPLETED","name":"Alexander-April01-April-15-Account-A.pdf","pages":1,"md5":"418c9f8854e3c391765a65b973a057ba","image_group_pk":null,"rejection_reason":null,"document_class":"COMPLETE"}],"bank_accounts":{"14359008":{"pk":14359008,"book_pk":34653848,"name":"111234567890 FIRST CITIZENS BANK CHECKING","bank_name":"FIRST CITIZENS BANK","activity_info":{"active":[{"start":{"year":2021,"month":4,"day":1},"end":{"year":2021,"month":4,"day":30}}],"missing":[]},"account_type":"CHECKING","account_holder":"ALEXANDER HAMILTON","account_number":"111234567890","holder_zip":"78521","holder_country":"US","holder_state":"TX","holder_city":"Brownsville","holder_address_1":"2450 COURAGE ST","holder_address_2":"STE 108","account_category":"PERSONAL ACCOUNT","id":14359008,"periods":[{"pk":41907910,"uuid":"cbb0d2c1-99b4-49d8-b276-d050990d160e","bank_account_pk":14359008,"begin_date":"04/01/2021","end_date":"04/15/2021","begin_balance":"10000","end_balance":"10000","primary_recon_error_reason":null,"secondary_recon_error_reason":null,"uploaded_doc_pk":56193560},{"pk":41959742,"uuid":"ad2d6597-ca9b-4230-9ab8-0e59520101f4","bank_account_pk":14359008,"begin_date":"04/16/2021","end_date":"04/30/2021","begin_balance":"10000","end_balance":"10000","primary_recon_error_reason":null,"secondary_recon_error_reason":null,"uploaded_doc_pk":56253658}],"account_holders":["ALEXANDER HAMILTON"]}},"custom_filters":{},"status_tags":{"2386333":{"pk":2386333,"created_ts":"2022-06-27T13:41:34Z","tag_name":"rev_exclude","color":"navy","text_color":null,"is_status_tag":true,"is_hidden":false,"org_info_pk":4005,"config_name":null,"id":2386333},"2386480":{"pk":2386480,"created_ts":"2022-06-28T14:15:18Z","tag_name":"rev_include","color":"navy","text_color":null,"is_status_tag":true,"is_hidden":false,"org_info_pk":4005,"config_name":null,"id":2386480}},"book_class":"COMPLETE"},"message":"OK"}}}}}},"400":{"description":"Client Errors","content":{"application/json":{"schema":{"properties":{"status":{"type":"integer","description":"A numerical code that indicates the status of the request.","example":400},"code":{"type":"integer","description":"A numerical code that indicates the nature of an error.","example":1401},"response":{"type":"object","description":"An object received from the server that potentially contains data."},"message":{"type":"string","description":"A textual description that indicates details about this response's status.","example":"Book not found"},"meta":{"type":"object","description":"An object received from the server that potentially contains data.","properties":{"status":{"type":"integer","example":400,"description":"A numerical code that indicates the status of the request."},"message":{"type":"string","example":"Book not found","description":"A textual description that indicates details about this response's status."},"code":{"type":"integer","example":1401,"description":"A numerical code that indicates the nature of an error."}}}}},"examples":{"Book not found":{"value":{"status":400,"code":1401,"response":null,"message":"Book not found","meta":{"status":400,"msg":"Book not found","code":1401}}},"Missing Required Parameters":{"value":{"status":400,"code":1103,"response":null,"message":"Required pk or book uuid","meta":{"status":400,"msg":"Required pk or book uuid","code":1103}}},"No Permission":{"value":{"status":400,"code":2102,"response":null,"message":"No permission to access this book","meta":{"status":400,"msg":"No permission to access this book","code":2102}}}}}}}}}},"/v1/books":{"get":{"summary":"Book list","description":"Retrieve a list of all <<glossary:Book>>s available to the current user.\n\n---\n\n> 📘\n> - By default results are ordered by <<glossary:Book>> PK in descending order but you can alter how and what books are returned by providing different parameters with your request.\n> - Use the `name` query parameter to find a <<glossary:Book>> by an exact name. This will be faster than `search` which uses approximate string matching algorithm.\n","operationId":"book-list","tags":["Book Queries"],"parameters":[{"name":"limit","in":"query","description":"Sets the number of results to return.","example":10,"schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Sets the starting point of the results list. The list is index-based and starts at integer 0.","example":10,"schema":{"type":"integer"}},{"name":"order","in":"query","description":"By default, results are returned in descending order, which is newest to oldest.","example":"ASC","schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"order_by","in":"query","description":"Determines what field to order the results by.","example":"created","schema":{"type":"string","enum":["created","name","pk"]}},{"name":"name","in":"query","description":"Filter books by name (exact match)","example":"My_Book","schema":{"type":"string"}},{"name":"search","in":"query","description":"Filter books by keyword search on book_name","schema":{"type":"string"}},{"name":"xid","in":"query","description":"Filter books by xid (exact match)","example":"sample-xid","schema":{"type":"string"}}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"properties":{"status":{"type":"number","description":"A numerical code that indicates the status of the request.","example":200},"response":{"type":"array","description":"An array containing objects of <<glossary:Book>>s.","items":{"type":"object","properties":{"name":{"type":"string","description":"The name of the <<glossary:Book>>."},"created":{"type":"string","format":"date-time","description":"The date and time when the <<glossary:Book>> was created."},"created_ts":{"type":"string","format":"date-time","description":"The timestamp at which <<glossary:Book>> was created."},"pk":{"type":"integer","description":"Unique identifier key (primary key) of the <<glossary:Book>>."},"owner_email":{"type":"string","description":"The email address of the <<glossary:Book>> owner."},"is_public":{"type":"boolean","description":"Indicates if the <<glossary:Book>> is public or not."},"book_uuid":{"type":"string","description":"A universally unique identification code (uuid) of the <<glossary:Book>>."},"id":{"type":"number","description":"The unique ID of the <<glossary:Book>>."},"xid":{"type":"string","description":"A free form field that can be used to associate a Book with some identity outside of Ocrolus.","example":"123ABC"},"book_type":{"type":"string","description":"Determines what type of processing the Book will go through. Options include DEFAULT, OPTIMA, or WIDGET.","example":"DEFAULT"}}}},"message":{"type":"string","description":"A textual description that indicates details about this response's status.","example":"Ok"}}},"examples":{"Success":{"value":{"status":200,"response":[{"name":"Example Book 1","created":"2022-11-28T18:24:02Z","created_ts":"2022-11-28T18:24:02Z","pk":26087155,"owner_email":"email@address.com","is_public":true,"book_uuid":"b6e6b2f5-7d14-4580-9beb-5ec9b0d56e32","id":26087155,"xid":null,"book_type":"DEFAULT"},{"name":"Example Book 2","created":"2022-11-10T19:00:45Z","created_ts":"2022-11-10T19:00:45Z","pk":25304702,"owner_email":"email@address.com","is_public":true,"book_uuid":"9b465c7f-45fd-4112-ae7c-972039e778e2","id":25304702,"xid":null,"book_type":"DEFAULT"}],"message":"OK"}}}}}}}}},"/v1/book/status":{"get":{"summary":"Book status","operationId":"book-status","description":"Retrieve the status of a <<glossary:Book>>.\n\n---\nThis endpoint can also be used to keep track of the status of the Documents within the <<glossary:Book>>.\n\nFor more information about the various processing statuses of a <<glossary:Book>> during its life cycle, visit our guide on [Book Statuses](doc:book-status-code).\n\nSimilarly, if you are interested in knowing more about the different stages of Document processing, visit our guide on [Document Statuses](doc:document-status).","tags":["Book Queries"],"parameters":[{"name":"book_uuid","in":"query","description":"The unique identifier of the <<glossary:Book>> whose status you want to retrieve. Mutually exclusive with `book_pk`.","example":"19aab921-25a5-4beb-a59e-ac72320061d6","schema":{"type":"string","format":"uuid"}},{"name":"pk","in":"query","description":"Unique primary key (pk) of the <<glossary:Book>> whose status you want to retrieve. Mutually exclusive with `book_uuid`.","example":30219565,"schema":{"type":"string"}}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"properties":{"status":{"type":"integer","example":200,"description":"A numerical code that indicates the status of the request."},"response":{"description":"An object received from the server that potentially contains data.","type":"object","properties":{"name":{"type":"integer","description":"Name of the <<glossary:Book>> whose status is retrieved.","example":"Sample bank statement"},"created":{"type":"string","description":"A timestamp of when the <<glossary:Book>> was created.","example":"2023-03-03T04:36:31Z"},"created_ts":{"type":"string","description":"The timestamp at which <<glossary:Book>> was created.","example":"2023-03-03T04:36:31Z"},"pk":{"type":"integer","description":"Unique identifier (primary key) for the <<glossary:Book>>.","example":null},"owner_email":{"type":"string","description":"Name of the owner who has created the <<glossary:Book>>.","example":"email@address.com"},"is_public":{"type":"boolean","description":"Indicates if all users in your organization can see and upload <<glossary:Document>>s into this <<glossary:Book>>.\"","example":true},"uuid":{"type":"string","description":"Universally unique identifier (UUID) for the <<glossary:Book>>.","example":"19aab921-25a5-4beb-a59e-ac72320061d6"},"id":{"type":"integer","description":"Unique identifier for the <<glossary:Book>>.","example":30219565},"is_shared_or_public_book":{"type":"boolean","description":"Indicates if this <<glossary:Book>> is a public <<glossary:Book>> and can be shared with other users.","example":true},"docs":{"description":"An array of all the documents uploaded to the <<glossary:Book>>.","items":{"type":"array","properties":{"pk":{"type":"integer","description":"Unique identifier (primary key) for the document.","example":51542103},"name":{"type":"string","description":"Name of the document.","example":"Ocrolus Sample PDF"},"uuid":{"type":"string","description":"Universally unique identifier (UUID) for the document.","example":"4ad17d9e-1963-44c3-b709-2c5c80b9d667"},"pages":{"type":"integer","description":"The total number of pages present in the document.","example":4},"md5":{"type":"string","description":"A cryptographic hash function used to secure the file by producing a fixed-length alphanumeric string as its output. It is commonly used to verify the integrity of a file by comparing the hash value of the original file with the hash value of the downloaded or received file.","example":"716a9e2119b197fc8fed9e2ca3e56cae"},"status":{"type":"string","description":"Processing status of the document.","example":"REJECTED"},"image_group_pk":{"type":"integer","description":"Unique identifier (primary key) for the image group associated with the document. Image group is a collection of images that consists of one or more images.","example":10423247},"mixed_uploaded_doc_pk":{"type":"integer","description":"Unique identifier (primary key) for the uploaded Mixed Document. A Mixed Document is a single or multipage PDF that contains more than one doc type.","example":10423257}}}},"mixed_docs":{"description":"An array of all the Mixed Documents uploaded to the <<glossary:Book>>. A Mixed Document is a single or multipage PDF that contains more than one doc type. This array is optional and is only returned when the <<glossary:Book>> has Mixed Documents uploaded to it.","items":{"type":"array","properties":{"pk":{"type":"integer","description":"Unique identifier (primary key) for the Mixed Document.","example":51542103},"name":{"type":"string","description":"Name of the Mixed Document.","example":"Ocrolus Sample PDF"},"uuid":{"type":"string","description":"Universally unique identifier (UUID) for the Mixed Document.","example":"c31cebea-3b1c-4ca1-a812-9c1305021bc2"},"id":{"type":"integer","description":"Unique identifier for the Mixed Document.","example":51542103},"pages":{"type":"integer","description":"The total number of pages present in the Mixed Document.","example":4},"md5":{"type":"string","description":"A cryptographic hash function used to secure the file by producing a fixed-length alphanumeric string as its output. It is commonly used to verify the integrity of a file by comparing the hash value of the original file with the hash value of the downloaded or received file.","example":"716a9e2119b197fc8fed9e2ca3e56cae"},"status":{"type":"string","description":"Processing status of the Mixed Document.","example":"REJECTED"},"image_group_pk":{"type":"integer","description":"Unique identifier (primary key) for the image group associated with the Mixed Document. Image group is a collection of images that consists of one or more images.","example":10423247},"rejection_reason":{"type":"string","description":"An optional attribute that briefly explains why a Document was rejected.","example":"INVALID DOCUMENT"}}}},"book_status":{"type":"string","description":"Status of the <<glossary:Book>>.","example":"VERIFIED"},"book_class":{"type":"string","description":"The processing type of the book. Can be either 'COMPLETE' or 'INSTANT'."}}},"message":{"type":"string","description":"A textual description that indicates details about this response's status.","example":"Ok"}}},"examples":{"Success":{"value":{"status":200,"response":{"name":"Example Book","created":"2023-05-30T16:15:14Z","created_ts":"2023-05-30T16:15:13Z","pk":34251191,"owner_email":"email@address.com","is_public":true,"uuid":"9ef345ab-33fe-4f0d-ad63-27c47f6419b3","id":34251191,"is_shared_or_public_book":true,"docs":[{"pk":55877634,"name":"paystubexample.pdf(0)","uuid":"de548ffc-5df5-4bb4-b14a-42eb27c34364","pages":1,"md5":"88e004f15a4ca3dc057a0baf8dcd8774","status":"VERIFICATION_COMPLETE","image_group_pk":null,"mixed_uploaded_doc_pk":11565050},{"pk":55877318,"name":"bankstatementexample.pdf(0)","uuid":"d0e386de-45f6-434a-a954-c66f6e30a5d4","pages":1,"md5":"e78045a805517d962fc78289d98b2573","status":"REJECTED","image_group_pk":null,"mixed_uploaded_doc_pk":11564993,"rejection_reason":"INVALID DOCUMENT"}],"mixed_docs":[{"pk":11565050,"name":"paystubexample.pdf","uuid":"a27ffbf5-7137-4a71-b1a9-65e256838cfb","id":11565050,"pages":1,"md5":"88e004f15a4ca3dc057a0baf8dcd8774","status":"COMPLETED","image_group_pk":null,"rejection_reason":null},{"pk":11564993,"name":"bankstatementexample.pdf","uuid":"e2deaa15-ad6a-4d09-83af-9395bc77fb96","id":11564993,"pages":1,"md5":"e78045a805517d962fc78289d98b2573","status":"COMPLETED","image_group_pk":null,"rejection_reason":null}],"book_status":"VERIFIED","book_class":"COMPLETE"},"message":"OK"}}}}}},"400":{"description":"Client Errors","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1book~1info/get/responses/400/content/application~1json/schema"},"examples":{"Book not found":{"value":{"status":400,"code":1401,"response":null,"message":"Book not found","meta":{"status":400,"msg":"Book not found","code":1401}}},"Missing Required Parameters":{"value":{"status":400,"code":1103,"response":null,"message":"Required pk or book uuid","meta":{"status":400,"msg":"Required pk or book uuid","code":1103}}},"No Permission":{"value":{"status":400,"code":2102,"response":null,"message":"No permission to access this book","meta":{"status":400,"msg":"No permission to access this book","code":2102}}}}}}}}}}},"components":{"securitySchemes":{"oauth":{"type":"oauth2","description":"OAuth 2.0 support via client credentials flow. See [here](doc:using-api-credentials) for usage information.\n","flows":{"clientCredentials":{"tokenUrl":"https://auth.ocrolus.com/oauth/token","scopes":{}}}}}}}