{"openapi":"3.0.0","info":{"title":"Income","version":"1.0.0"},"servers":[{"url":"https://api.ocrolus.com"}],"security":[{"oauth":[]}],"paths":{"/v2/book/{book_uuid}/income/summary":{"get":{"summary":"Income summary","operationId":"income-summary","tags":["Income"],"description":"Retrieve a summarized view of income data for a specific <<glossary:Book>> in Ocrolus.","parameters":[{"name":"book_uuid","in":"path","required":true,"description":"The unique identifier of the <<glossary:Book>> from which the income summary is retrieved.","schema":{"type":"string","format":"uuid"},"example":"13e6d579-4699-43e2-a419-8a29bcb5f922"},{"name":"guideline","in":"query","required":false,"description":"The guideline to be used for retrieving the income summary. Supported values include FANNIE_MAE, FREDDIE_MAC, FHA, VA, and USDA.\n","schema":{"type":"string","example":"FANNIE_MAE","default":"FANNIE_MAE","enum":["FANNIE_MAE","FREDDIE_MAC","FHA","VA","USDA"]}}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"Success","type":"object","properties":{"response":{"type":"object","properties":{"book_uuid":{"type":"string","format":"uuid","example":"13e6d579-4699-43e2-a419-8a29bcb5f922","description":"Unique identification code of a <<glossary:Book>>."},"income_summary_data":{"type":"array","items":{"type":"object","properties":{"borrower_uuid":{"type":"string","format":"uuid","example":"8e52e9b6-6254-45a7-b008-1cebb825cfed","description":"Unique identification code of the borrower."},"borrower_name":{"type":"string","example":"JILL SMITH","description":"Name of the borrower."},"wage_earner_income":{"type":"object","properties":{"is_income_calculated":{"type":"boolean","example":true,"description":"Indicates if the wage earner income is calculated."},"is_empty":{"type":"boolean","example":true,"description":"Indicates if the wage earner income is empty."},"total_income":{"type":"number","format":"float","example":0,"description":"Total wage earner income."},"alerts":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","example":"Choose the default income type on wage earner tab to see the correct total income for JOHN SAMPLE.","description":"Alert message."},"severity":{"type":"string","example":"HIGH.","description":"Severity of the alert."}}},"example":"Choose the default income type on wage earner tab to see the correct total income for JOHN SAMPLE.","description":"List of alerts related to wage earner income."}}},"self_employed_income":{"type":"object","properties":{"is_income_calculated":{"type":"boolean","example":true,"description":"Indicates if the self-employed income is calculated."},"is_empty":{"type":"boolean","example":false,"description":"Indicates if the self-employed income is empty."},"total_income":{"type":"number","format":"float","example":9374.429166666667,"description":"Total self-employed income."},"alerts":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","example":"Choose the default income type on self employed income tab to see the correct total income for JOHN SAMPLE.","description":"Alert message."},"severity":{"type":"string","example":"HIGH.","description":"Severity of the alert."}}},"example":[],"description":"List of alerts related to self-employed income."}}},"rental_income":{"type":"object","properties":{"is_income_calculated":{"type":"boolean","example":true,"description":"Indicates if the rental income is calculated."},"is_empty":{"type":"boolean","example":false,"description":"Indicates if the rental income is empty."},"total_income":{"type":"number","format":"float","example":359.9583333333333,"description":"Total rental income."},"alerts":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","example":"Choose the default income type on rental income tab to see the correct total income for JOHN SAMPLE.","description":"Alert message."},"severity":{"type":"string","example":"HIGH.","description":"Severity of the alert."}}},"example":[],"description":"List of alerts related to rental income."}}},"other_income":{"type":"object","properties":{"is_income_calculated":{"type":"boolean","example":true,"description":"Indicates if the other income is calculated."},"is_empty":{"type":"boolean","example":false,"description":"Indicates if the other income is empty."},"total_income":{"type":"number","format":"float","example":2078.2166666666667,"description":"Total other income."},"alerts":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string","example":"Choose the default income type on other income tab to see the correct total income for JOHN SAMPLE.","description":"Alert message."},"severity":{"type":"string","example":"HIGH.","description":"Severity of the alert."}}},"example":[],"description":"List of alerts related to other income."}}},"total_income":{"type":"number","format":"float","example":11812.604166666668,"description":"Total income of the borrower."}}}},"status":{"type":"string","example":"success","description":"Status of the response."},"message":{"type":"string","example":"Success","description":"A textual description that indicates details about this response's status."},"total":{"type":"number","format":"float","example":18398.12416666667,"description":"Total income across all borrowers."}}}}},"examples":{"Success":{"value":{"book_uuid":"c1c24601-19a8-41fb-b760-f76b538c929b","income_summary_data":[{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","borrower_name":"JOHN SAMPLE","wage_earner_income":{"total_income":1533.59,"alerts":[{"message":"Choose the default income type on wage earner tab to see the correct total income for JOHN SAMPLE.","severity":"HIGH"}],"is_income_calculated":false,"is_empty":false},"self_employed_income":{"is_income_calculated":true,"is_empty":true,"total_income":0,"alerts":[]},"rental_income":{"is_income_calculated":true,"is_empty":true,"total_income":0,"alerts":[]},"other_income":{"is_income_calculated":true,"is_empty":true,"total_income":0,"alerts":[]},"total_income":1533.59}],"status":200,"message":"Success","total":1533.59}}}}}},"400":{"description":"Client Errors","content":{"application/json":{"examples":{"Invalid Auth":{"value":{"status":400,"code":1200,"response":null,"message":"Authentication failed","meta":{"status":400,"msg":"Authentication failed","code":1200}}},"Invalid guideline (400 BAD REQUEST)":{"value":{"validation_error":{"path_params":[{"loc":["book_uuid"],"msg":"value is not a valid uuid","type":"type_error.uuid"}]}}}},"schema":{"properties":{"status":{"type":"integer","description":"A numerical code that indicates the status of the request.","example":400},"code":{"type":"integer","description":"A numerical code that indicates the nature of an error.","example":1401},"response":{"type":"object","description":"An object received from the server that potentially contains data."},"message":{"type":"string","description":"A textual description that indicates details about this response's status.","example":"Book not found"},"meta":{"type":"object","description":"An object received from the server that potentially contains data.","properties":{"status":{"type":"integer","example":400,"description":"A numerical code that indicates the status of the request."},"message":{"type":"string","example":"Book not found","description":"A textual description that indicates details about this response's status."},"code":{"type":"integer","example":1401,"description":"A numerical code that indicates the nature of an error."}}}}}}}},"404":{"description":"Client Errors","content":{"application/json":{"examples":{"Book not found":{"value":{"error":"Book not found"}}},"schema":{"properties":{"status":{"type":"integer","description":"A numerical code that indicates the status of the request."},"message":{"type":"string","description":"A textual description that indicates details about this response's status."}}}}}}}}},"/v2/book/{book_uuid}/income-calculations":{"get":{"summary":"Income calculations","operationId":"income-calculations","tags":["Income"],"description":"This API provides income values based on the specified guidelines for a <<glossary:Book>> type. The supported income types include `wage-earner`, `self-employed`, `rental`, and `other income`. A detailed description of income-related fields found in the `calculated_fields` objects within the totals array can be found in the [income calculation](https://docs.ocrolus.com/docs/income-calculations-api) definition. These fields include attributes like field name, default value, and title/header to identify and interpret each data point.\n  \n> 👍 Tips\n> To retrieve Fannie Mae income calculation data, first call the [Fannie Mae self-employed income calculation](https://docs.ocrolus.com/reference/self-employed-income-calculation-fm) API, and then call the this income calculation API.\n","parameters":[{"name":"book_uuid","in":"path","required":true,"description":"The unique identifier of the <<glossary:Book>> from which the income calculations are retrieved.","schema":{"type":"string","format":"uuid"},"example":"13e6d579-4699-43e2-a419-8a29bcb5f922"},{"name":"guideline","in":"query","required":false,"description":"The guideline to be used for retrieving the income calculations. Supported values include FANNIE_MAE, FREDDIE_MAC, FHA, VA, and USDA.\n","schema":{"type":"string","example":"FANNIE_MAE","default":"FANNIE_MAE","enum":["FANNIE_MAE","FREDDIE_MAC","FHA","VA","USDA"]}}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"Success","type":"object","properties":{"response":{"type":"object","description":"Contains the detailed income calculations and related data.","properties":{"book_uuid":{"type":"string","format":"uuid","description":"Unique identifier for the income calculation <<glossary:Book>>.","example":"13e6d579-4699-43e2-a419-8a29bcb5f922"},"incomes":{"type":"array","description":"List of the borrower's income sources used for calculations.","items":{"type":"object","properties":{"borrower_uuid":{"type":"string","format":"uuid","description":"Unique identifier of the borrower.","example":"8e52e9b6-6254-45a7-b008-1cebb825cfed"},"business_uuid":{"type":"string","format":"uuid","description":"Unique identifier for the business (if applicable).","example":"9857f0f3-991c-433c-ad77-f780b75a98fd"},"income_type":{"type":"string","description":"Type of income. The available income types are -","example":"SELF_EMPLOYED","enum":["OTHER","SELF_EMPLOYED","WAGE_EARNER","RENTAL"]},"year":{"type":"string","description":"Year of the income calculation.","example":"2022"},"forms":{"type":"array","description":"List of forms associated with the income calculation.","items":{"type":"object","properties":{"form_type":{"type":"string","description":"Type of the form.","example":"A_1065_2022"},"form_uuid":{"type":"string","format":"uuid","description":"Unique identifier for the form.","example":"b0d17733-42d9-448c-b7ce-f28c6f555c27"},"mixed_uploaded_doc_pk":{"type":"string","description":"Primary key (PK) of the mixed uploaded document.","example":"14825462"},"uploaded_doc_pk":{"type":"string","description":"Primary key of the uploaded document.","example":"78169748"},"page_doc_pks":{"type":"array","description":"List of page document PKs.","items":{"type":"string","example":"548665097"}}}}},"fields":{"type":"array","description":"List of fields and their values for the income calculation.","items":{"type":"object","properties":{"name":{"type":"string","description":"Name of the field.","example":"depletion"},"value":{"type":"string","description":"Value of the field.","example":"0"},"title":{"type":"string","description":"Title or description of the field.","example":"d. Depletion (Line 17)"},"page_doc_pk":{"type":"string","description":"Primary key of the page document (if applicable).","example":"548665097"}}}},"calculated_fields":{"type":"array","description":"List of calculated fields and their values.","items":{"type":"object","properties":{"name":{"type":"string","description":"Name of the calculated field.","example":"subtotal"},"value":{"type":"string","description":"Value of the calculated field.","example":"2000"},"title":{"type":"string","description":"Title or description of the calculated field.","example":"Subtotal"}}}},"currency":{"type":"string","description":"Currency used for the income calculation.","example":"USD"},"income_by_tax_returns":{"type":"string","description":"IRS tax form used to report the income. The available forms are -","enum":["IRS Form 1040 - Individual Income Tax Return","IRS Form 1065 - Partnership Income","IRS Form 1120 - Regular Corporation","IRS Form 1120S - S Corporation Earnings"],"example":"IRS Form 1065 - Partnership Income"},"xid":{"type":"string","description":"A unique identifier for the borrower/employer pair.","example":"XID-1"},"pay_type":{"type":"string","description":"Pay type available for the wage earner income type. The available pay types are -","example":"Misc Income","enum":["Bonus Income","Commission Income","Hourly Income","Military Income","Misc Income","Overtime Income","Salary Income","Shift Differential Income"]},"other_income_collection":{"type":"string","description":"Additional income sources not listed in standard income types. The available income types are -","enum":["Accessory unit income","Alimony","Automobile allowance","Boarder income","Capital gains","Child support","Defined contribution plan","Disability","Employment related account","Foster care","Housing allowance","Housing choice voucher program","Interest / Dividend","Mortgage credit certificate","Mortgage differential","Non borrower household income","Notes receivable installment","Other","Public assistance","Retirement/Pension/Annuity","Royalty","Separate maintenance","Social security","Temporary leave","Tip income","Trust","Unemployment Income","VA benefits non-educational"],"example":"Tip income"},"hourly_rate":{"type":"string","description":"Hourly rate of the income source.","example":"23.0"},"hours_worked_per_week":{"type":"string","description":"Number of hours worked per week.","example":"16.0"},"monthly_income":{"type":"string","description":"Monthly income of the income source.","example":"0"},"period_earnings":{"type":"string","description":"Earnings for the specified period.","example":"0"},"pay_frequency":{"type":"string","description":"Frequency of pay (e.g., Weekly, Bi-Weekly, Monthly).","example":""},"is_active":{"type":"boolean","description":"Indicates whether this income source is currently active.","example":true},"is_selected":{"type":"boolean","description":"Indicates whether this income source is selected.","example":true}}}},"borrowers":{"type":"array","description":"List of borrowers associated with the income calculations.","items":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid","description":"Unique identifier for the borrower.","example":"f27c4a63-9b1e-427e-8df6-6cc3fac16e58"},"name":{"type":"string","description":"Name of the borrower.","example":"JACK SMITH"}}}},"employers":{"type":"array","description":"List of employers associated with the income calculations.","items":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid","description":"Unique identifier for the employer.","example":"e578b4b1-514e-4570-90fb-38951b6f7bd0"},"name":{"type":"string","description":"Name of the employer.","example":"FINANCE AND INSURANCE COMPANY"}}}},"properties":{"type":"array","description":"List of properties associated with the income calculations.","items":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid","description":"Unique identifier for the property.","example":"9b64690d-7448-41a2-b1a6-f2e9e01ed647"},"address":{"type":"string","description":"Address of the property.","example":"123 MAIN STREET OCROLUS NY 54321"},"address_line1":{"type":"string","description":"First line of the property's address.","example":"4257 W 158TH ST"},"city":{"type":"string","description":"City where the property is located.","example":"CLEVELAND"},"state":{"type":"string","description":"State where the property is located.","example":"OH"},"postal_code":{"type":"string","description":"Postal code of the property's address.","example":"44135"}}}},"alerts":{"type":"array","description":"List of alerts related to the income calculations.","items":{"type":"object","properties":{"message":{"type":"string","description":"Alert message.","example":"Non-recurring income or losses detected on (Lines 5, 6 & 7) in 1065."},"severity":{"type":"string","description":"Severity level of the alert.","example":"MEDIUM"},"income_type":{"type":"string","description":"Type of income associated with the alert.","example":"SELF_EMPLOYED"}}}},"totals":{"type":"array","description":"List of total calculated fields for each borrower's income type and business.","items":{"type":"object","properties":{"borrower_uuid":{"type":"string","format":"uuid","description":"Unique identifier of the borrower.","example":"a1d4c349-f630-4239-b268-ee22c7c23654"},"income_type":{"type":"string","description":"Type of income (e.g., WAGE_EARNER, SELF_EMPLOYED, OTHER).","example":"WAGE_EARNER"},"business_uuid":{"type":"string","format":"uuid","description":"Unique identifier for the business (if applicable).","example":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca"},"calculated_fields":{"type":"array","description":"List of calculated fields and their values for the total.","items":{"type":"object","properties":{"name":{"type":"string","description":"Name of the calculated field.","example":"monthly_bonus"},"value":{"type":"string","description":"Value of the calculated field.","example":"14.58"},"title":{"type":"string","description":"Title of the calculated field.","example":"Bonus Income"}}}}}}}}}}},"examples":{"Success":{"value":{"book_uuid":"c1c24601-19a8-41fb-b760-f76b538c929b","incomes":[{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","business_uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","income_type":"WAGE_EARNER","forms":[{"form_type":"VERIFICATION_OF_EMPLOYMENT","form_uuid":"dd8c7e79-7cf6-45be-ae5b-73e4ab8735e6","mixed_uploaded_doc_pk":"1117893","uploaded_doc_pk":"1960139","page_doc_pks":["14959404"],"page_doc_pk":"14959404"}],"year":"2021","fields":[{"name":"ytd_earnings","value":"300.0","title":"Earnings","page_doc_pk":"14959404"},{"name":"months_elapsed","value":"5.33","title":"# Months","page_doc_pk":"14959404"},{"name":"monthly_income","value":"25.0","title":"Monthly Income","page_doc_pk":"14959404"}],"calculated_fields":[{"name":"ytd_avg","value":"25.0","title":"YTD Avg"},{"name":"key_used","value":"past_year_and_additional_year_avg","title":"Key Used"},{"name":"is_edited","value":"False","title":"is_edited"},{"name":"default_key","value":"past_year_and_additional_year_avg","title":"Default Key"},{"name":"recommended_income","value":"14.58","title":"Recommended Income"},{"name":"past_year_avg","value":"16.67","title":"Past yr Avg"},{"name":"ytd_one_year_avg","value":"20.83","title":"YTD + 1 yr Avg"},{"name":"ytd_two_year_avg","value":"18.06","title":"YTD + 2 yr Avg"},{"name":"past_year_and_additional_year_avg","value":"14.58","title":"Past + 1 yr avg"}],"pay_type":"Bonus Income","is_selected":true},{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","business_uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","income_type":"WAGE_EARNER","forms":[{"form_type":"VERIFICATION_OF_EMPLOYMENT","form_uuid":"dd8c7e79-7cf6-45be-ae5b-73e4ab8735e6","mixed_uploaded_doc_pk":"1117893","uploaded_doc_pk":"1960139","page_doc_pks":["14959404"],"page_doc_pk":"14959404"}],"year":"2020","fields":[{"name":"ytd_earnings","value":"200.0","title":"Earnings","page_doc_pk":"14959404"},{"name":"months_elapsed","value":"12.0","title":"# Months","page_doc_pk":"14959404"},{"name":"monthly_income","value":"16.67","title":"Monthly Income","page_doc_pk":"14959404"}],"calculated_fields":[{"name":"ytd_avg","value":"0","title":"YTD Avg"},{"name":"key_used","title":"Key Used"},{"name":"is_edited","value":"0","title":"is_edited"},{"name":"default_key","title":"Default Key"},{"name":"recommended_income","value":"0","title":"Recommended Income"},{"name":"past_year_avg","value":"0","title":"Past yr Avg"},{"name":"ytd_one_year_avg","value":"0","title":"YTD + 1 yr Avg"},{"name":"ytd_two_year_avg","value":"0","title":"YTD + 2 yr Avg"},{"name":"past_year_and_additional_year_avg","value":"0","title":"Past + 1 yr avg"}],"pay_type":"Bonus Income","is_selected":true},{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","business_uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","income_type":"WAGE_EARNER","forms":[{"form_type":"VERIFICATION_OF_EMPLOYMENT","form_uuid":"dd8c7e79-7cf6-45be-ae5b-73e4ab8735e6","mixed_uploaded_doc_pk":"1117893","uploaded_doc_pk":"1960139","page_doc_pks":["14959404"],"page_doc_pk":"14959404"}],"year":"2019","fields":[{"name":"ytd_earnings","value":"150.0","title":"Earnings","page_doc_pk":"14959404"},{"name":"months_elapsed","value":"12.0","title":"# Months","page_doc_pk":"14959404"},{"name":"monthly_income","value":"12.5","title":"Monthly Income","page_doc_pk":"14959404"}],"calculated_fields":[{"name":"ytd_avg","value":"0","title":"YTD Avg"},{"name":"key_used","title":"Key Used"},{"name":"is_edited","value":"0","title":"is_edited"},{"name":"default_key","title":"Default Key"},{"name":"recommended_income","value":"0","title":"Recommended Income"},{"name":"past_year_avg","value":"0","title":"Past yr Avg"},{"name":"ytd_one_year_avg","value":"0","title":"YTD + 1 yr Avg"},{"name":"ytd_two_year_avg","value":"0","title":"YTD + 2 yr Avg"},{"name":"past_year_and_additional_year_avg","value":"0","title":"Past + 1 yr avg"}],"pay_type":"Bonus Income","is_selected":true},{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","business_uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","income_type":"WAGE_EARNER","forms":[{"form_type":"VERIFICATION_OF_EMPLOYMENT","form_uuid":"dd8c7e79-7cf6-45be-ae5b-73e4ab8735e6","mixed_uploaded_doc_pk":"1117893","uploaded_doc_pk":"1960139","page_doc_pks":["14959404"],"page_doc_pk":"14959404"}],"year":"2021","fields":[{"name":"ytd_earnings","value":"100.0","title":"Earnings","page_doc_pk":"14959404"},{"name":"months_elapsed","value":"5.33","title":"# Months","page_doc_pk":"14959404"},{"name":"monthly_income","value":"18.76","title":"Monthly Income","page_doc_pk":"14959404"}],"calculated_fields":[{"name":"ytd_avg","value":"18.76","title":"YTD Avg"},{"name":"key_used","title":"Key Used"},{"name":"is_edited","value":"False","title":"is_edited"},{"name":"default_key","title":"Default Key"},{"name":"recommended_income","value":"0","title":"Recommended Income"},{"name":"past_year_avg","value":"0","title":"Past yr Avg"},{"name":"ytd_one_year_avg","value":"11.54","title":"YTD + 1 yr Avg"},{"name":"ytd_two_year_avg","value":"0","title":"YTD + 2 yr Avg"},{"name":"past_year_and_additional_year_avg","value":"0","title":"Past + 1 yr avg"}],"pay_type":"Misc Income","is_selected":true},{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","business_uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","income_type":"WAGE_EARNER","forms":[{"form_type":"VERIFICATION_OF_EMPLOYMENT","form_uuid":"dd8c7e79-7cf6-45be-ae5b-73e4ab8735e6","mixed_uploaded_doc_pk":"1117893","uploaded_doc_pk":"1960139","page_doc_pks":["14959404"],"page_doc_pk":"14959404"}],"year":"2020","fields":[{"name":"ytd_earnings","value":"100.0","title":"Earnings","page_doc_pk":"14959404"},{"name":"months_elapsed","value":"12.0","title":"# Months","page_doc_pk":"14959404"},{"name":"monthly_income","value":"8.33","title":"Monthly Income","page_doc_pk":"14959404"}],"calculated_fields":[{"name":"ytd_avg","value":"0","title":"YTD Avg"},{"name":"key_used","title":"Key Used"},{"name":"is_edited","value":"0","title":"is_edited"},{"name":"default_key","title":"Default Key"},{"name":"recommended_income","value":"0","title":"Recommended Income"},{"name":"past_year_avg","value":"0","title":"Past yr Avg"},{"name":"ytd_one_year_avg","value":"0","title":"YTD + 1 yr Avg"},{"name":"ytd_two_year_avg","value":"0","title":"YTD + 2 yr Avg"},{"name":"past_year_and_additional_year_avg","value":"0","title":"Past + 1 yr avg"}],"pay_type":"Misc Income","is_selected":true},{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","business_uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","income_type":"WAGE_EARNER","year":"2019","fields":[{"name":"ytd_earnings","value":"0","title":"Earnings"},{"name":"months_elapsed","value":"0","title":"# Months"},{"name":"monthly_income","value":"0","title":"Monthly Income"}],"calculated_fields":[{"name":"ytd_avg","value":"0","title":"YTD Avg"},{"name":"key_used","title":"Key Used"},{"name":"is_edited","value":"0","title":"is_edited"},{"name":"default_key","title":"Default Key"},{"name":"recommended_income","value":"0","title":"Recommended Income"},{"name":"past_year_avg","value":"0","title":"Past yr Avg"},{"name":"ytd_one_year_avg","value":"0","title":"YTD + 1 yr Avg"},{"name":"ytd_two_year_avg","value":"0","title":"YTD + 2 yr Avg"},{"name":"past_year_and_additional_year_avg","value":"0","title":"Past + 1 yr avg"}],"pay_type":"Misc Income","is_selected":true},{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","business_uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","income_type":"WAGE_EARNER","forms":[{"form_type":"VERIFICATION_OF_EMPLOYMENT","form_uuid":"dd8c7e79-7cf6-45be-ae5b-73e4ab8735e6","mixed_uploaded_doc_pk":"1117893","uploaded_doc_pk":"1960139","page_doc_pks":["14959404"],"page_doc_pk":"14959404"}],"year":"2021","fields":[{"name":"ytd_earnings","value":"8000.0","title":"Earnings","page_doc_pk":"14959404"},{"name":"months_elapsed","value":"5.33","title":"# Months","page_doc_pk":"14959404"},{"name":"monthly_income","value":"1500.94","title":"Monthly Income","page_doc_pk":"14959404"}],"calculated_fields":[{"name":"ytd_avg","value":"1500.94","title":"YTD Avg"},{"name":"key_used","value":"ytd_avg","title":"Key Used"},{"name":"is_edited","value":"False","title":"is_edited"},{"name":"default_key","value":"ytd_avg","title":"Default Key"},{"name":"recommended_income","value":"1500.94","title":"Recommended Income"},{"name":"past_year_avg","value":"0","title":"Past yr Avg"},{"name":"monthly_income","value":"0","title":"Monthly Income"},{"name":"ytd_one_year_avg","value":"0","title":"YTD + 1 yr Avg"},{"name":"ytd_two_year_avg","value":"0","title":"YTD + 2 yr Avg"},{"name":"past_year_and_additional_year_avg","value":"0","title":"Past + 1 yr avg"}],"hourly_rate":"0","hours_worked_per_week":"3","monthly_income":"0","pay_type":"Hourly Income","is_selected":true},{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","business_uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","income_type":"WAGE_EARNER","forms":[{"form_type":"VERIFICATION_OF_EMPLOYMENT","form_uuid":"dd8c7e79-7cf6-45be-ae5b-73e4ab8735e6","mixed_uploaded_doc_pk":"1117893","uploaded_doc_pk":"1960139","page_doc_pks":["14959404"],"page_doc_pk":"14959404"}],"year":"2021","fields":[{"name":"ytd_earnings","value":"300.0","title":"Earnings","page_doc_pk":"14959404"},{"name":"months_elapsed","value":"5.33","title":"# Months","page_doc_pk":"14959404"},{"name":"monthly_income","value":"25.0","title":"Monthly Income","page_doc_pk":"14959404"}],"calculated_fields":[{"name":"ytd_avg","value":"25.0","title":"YTD Avg"},{"name":"key_used","value":"past_year_and_additional_year_avg","title":"Key Used"},{"name":"is_edited","value":"False","title":"is_edited"},{"name":"default_key","value":"past_year_and_additional_year_avg","title":"Default Key"},{"name":"recommended_income","value":"14.58","title":"Recommended Income"},{"name":"past_year_avg","value":"16.67","title":"Past yr Avg"},{"name":"ytd_one_year_avg","value":"20.83","title":"YTD + 1 yr Avg"},{"name":"ytd_two_year_avg","value":"18.06","title":"YTD + 2 yr Avg"},{"name":"past_year_and_additional_year_avg","value":"14.58","title":"Past + 1 yr avg"}],"pay_type":"Shift Differential Income","is_selected":true},{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","business_uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","income_type":"WAGE_EARNER","forms":[{"form_type":"VERIFICATION_OF_EMPLOYMENT","form_uuid":"dd8c7e79-7cf6-45be-ae5b-73e4ab8735e6","mixed_uploaded_doc_pk":"1117893","uploaded_doc_pk":"1960139","page_doc_pks":["14959404"],"page_doc_pk":"14959404"}],"year":"2021","fields":[{"name":"ytd_earnings","value":"8000.0","title":"Earnings","page_doc_pk":"14959404"},{"name":"months_elapsed","value":"5.33","title":"# Months","page_doc_pk":"14959404"},{"name":"monthly_income","value":"1500.94","title":"Monthly Income","page_doc_pk":"14959404"}],"calculated_fields":[{"name":"ytd_avg","value":"1500.94","title":"YTD Avg"},{"name":"key_used","value":"ytd_avg","title":"Key Used"},{"name":"is_edited","value":"False","title":"is_edited"},{"name":"default_key","value":"ytd_avg","title":"Default Key"},{"name":"recommended_income","value":"1500.94","title":"Recommended Income"},{"name":"past_year_avg","value":"0","title":"Past yr Avg"},{"name":"monthly_income","value":"0","title":"Monthly Income"},{"name":"ytd_one_year_avg","value":"0","title":"YTD + 1 yr Avg"},{"name":"ytd_two_year_avg","value":"0","title":"YTD + 2 yr Avg"},{"name":"past_year_and_additional_year_avg","value":"0","title":"Past + 1 yr avg"}],"period_earnings":"0","pay_frequency":"HOURLY","monthly_income":"0","pay_type":"Salary Income","is_selected":true},{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","business_uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","income_type":"WAGE_EARNER","forms":[{"form_type":"VERIFICATION_OF_EMPLOYMENT","form_uuid":"dd8c7e79-7cf6-45be-ae5b-73e4ab8735e6","mixed_uploaded_doc_pk":"1117893","uploaded_doc_pk":"1960139","page_doc_pks":["14959404"],"page_doc_pk":"14959404"}],"year":"2020","fields":[{"name":"ytd_earnings","value":"0","title":"Earnings"},{"name":"months_elapsed","value":"0","title":"# Months"},{"name":"monthly_income","value":"0","title":"Monthly Income"}],"calculated_fields":[{"name":"ytd_avg","value":"0","title":"YTD Avg"},{"name":"key_used","title":"Key Used"},{"name":"is_edited","value":"0","title":"is_edited"},{"name":"default_key","title":"Default Key"},{"name":"recommended_income","value":"0","title":"Recommended Income"},{"name":"past_year_avg","value":"0","title":"Past yr Avg"},{"name":"monthly_income","value":"0","title":"Monthly Income"},{"name":"ytd_one_year_avg","value":"0","title":"YTD + 1 yr Avg"},{"name":"ytd_two_year_avg","value":"0","title":"YTD + 2 yr Avg"},{"name":"past_year_and_additional_year_avg","value":"0","title":"Past + 1 yr avg"}],"period_earnings":"0","pay_frequency":"","monthly_income":"0","pay_type":"Salary Income","is_selected":true},{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","business_uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","income_type":"WAGE_EARNER","forms":[{"form_type":"VERIFICATION_OF_EMPLOYMENT","form_uuid":"dd8c7e79-7cf6-45be-ae5b-73e4ab8735e6","mixed_uploaded_doc_pk":"1117893","uploaded_doc_pk":"1960139","page_doc_pks":["14959404"],"page_doc_pk":"14959404"}],"year":"2019","fields":[{"name":"ytd_earnings","value":"6500.0","title":"Earnings","page_doc_pk":"14959404"},{"name":"months_elapsed","value":"12.0","title":"# Months","page_doc_pk":"14959404"},{"name":"monthly_income","value":"541.67","title":"Monthly Income","page_doc_pk":"14959404"}],"calculated_fields":[{"name":"ytd_avg","value":"0","title":"YTD Avg"},{"name":"key_used","title":"Key Used"},{"name":"is_edited","value":"0","title":"is_edited"},{"name":"default_key","title":"Default Key"},{"name":"recommended_income","value":"0","title":"Recommended Income"},{"name":"past_year_avg","value":"0","title":"Past yr Avg"},{"name":"monthly_income","value":"0","title":"Monthly Income"},{"name":"ytd_one_year_avg","value":"0","title":"YTD + 1 yr Avg"},{"name":"ytd_two_year_avg","value":"0","title":"YTD + 2 yr Avg"},{"name":"past_year_and_additional_year_avg","value":"0","title":"Past + 1 yr avg"}],"period_earnings":"0","pay_frequency":"","monthly_income":"0","pay_type":"Salary Income","is_selected":true},{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","business_uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","income_type":"WAGE_EARNER","forms":[{"form_type":"VERIFICATION_OF_EMPLOYMENT","form_uuid":"dd8c7e79-7cf6-45be-ae5b-73e4ab8735e6","mixed_uploaded_doc_pk":"1117893","uploaded_doc_pk":"1960139","page_doc_pks":["14959404"],"page_doc_pk":"14959404"}],"year":"2021","fields":[{"name":"ytd_earnings","value":"200.0","title":"Earnings","page_doc_pk":"14959404"},{"name":"months_elapsed","value":"5.33","title":"# Months","page_doc_pk":"14959404"},{"name":"monthly_income","value":"37.52","title":"Monthly Income","page_doc_pk":"14959404"}],"calculated_fields":[{"name":"ytd_avg","value":"37.52","title":"YTD Avg"},{"name":"key_used","value":"ytd_two_year_avg","title":"Key Used"},{"name":"is_edited","value":"False","title":"is_edited"},{"name":"default_key","value":"ytd_2_year_avg","title":"Default Key"},{"name":"recommended_income","value":"18.07","title":"Recommended Income"},{"name":"past_year_avg","value":"15.0","title":"Past yr Avg"},{"name":"ytd_one_year_avg","value":"21.93","title":"YTD + 1 yr Avg"},{"name":"ytd_two_year_avg","value":"18.07","title":"YTD + 2 yr Avg"},{"name":"past_year_and_additional_year_avg","value":"13.75","title":"Past + 1 yr avg"}],"pay_type":"Overtime Income","is_selected":true},{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","business_uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","income_type":"WAGE_EARNER","forms":[{"form_type":"VERIFICATION_OF_EMPLOYMENT","form_uuid":"dd8c7e79-7cf6-45be-ae5b-73e4ab8735e6","mixed_uploaded_doc_pk":"1117893","uploaded_doc_pk":"1960139","page_doc_pks":["14959404"],"page_doc_pk":"14959404"}],"year":"2020","fields":[{"name":"ytd_earnings","value":"180.0","title":"Earnings","page_doc_pk":"14959404"},{"name":"months_elapsed","value":"12.0","title":"# Months","page_doc_pk":"14959404"},{"name":"monthly_income","value":"15.0","title":"Monthly Income","page_doc_pk":"14959404"}],"calculated_fields":[{"name":"ytd_avg","value":"0","title":"YTD Avg"},{"name":"key_used","title":"Key Used"},{"name":"is_edited","value":"0","title":"is_edited"},{"name":"default_key","title":"Default Key"},{"name":"recommended_income","value":"0","title":"Recommended Income"},{"name":"past_year_avg","value":"0","title":"Past yr Avg"},{"name":"ytd_one_year_avg","value":"0","title":"YTD + 1 yr Avg"},{"name":"ytd_two_year_avg","value":"0","title":"YTD + 2 yr Avg"},{"name":"past_year_and_additional_year_avg","value":"0","title":"Past + 1 yr avg"}],"pay_type":"Overtime Income","is_selected":true},{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","business_uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","income_type":"WAGE_EARNER","forms":[{"form_type":"VERIFICATION_OF_EMPLOYMENT","form_uuid":"dd8c7e79-7cf6-45be-ae5b-73e4ab8735e6","mixed_uploaded_doc_pk":"1117893","uploaded_doc_pk":"1960139","page_doc_pks":["14959404"],"page_doc_pk":"14959404"}],"year":"2019","fields":[{"name":"ytd_earnings","value":"150.0","title":"Earnings","page_doc_pk":"14959404"},{"name":"months_elapsed","value":"12.0","title":"# Months","page_doc_pk":"14959404"},{"name":"monthly_income","value":"12.5","title":"Monthly Income","page_doc_pk":"14959404"}],"calculated_fields":[{"name":"ytd_avg","value":"0","title":"YTD Avg"},{"name":"key_used","title":"Key Used"},{"name":"is_edited","value":"0","title":"is_edited"},{"name":"default_key","title":"Default Key"},{"name":"recommended_income","value":"0","title":"Recommended Income"},{"name":"past_year_avg","value":"0","title":"Past yr Avg"},{"name":"ytd_one_year_avg","value":"0","title":"YTD + 1 yr Avg"},{"name":"ytd_two_year_avg","value":"0","title":"YTD + 2 yr Avg"},{"name":"past_year_and_additional_year_avg","value":"0","title":"Past + 1 yr avg"}],"pay_type":"Overtime Income","is_selected":true},{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","business_uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","income_type":"WAGE_EARNER","forms":[{"form_type":"VERIFICATION_OF_EMPLOYMENT","form_uuid":"dd8c7e79-7cf6-45be-ae5b-73e4ab8735e6","mixed_uploaded_doc_pk":"1117893","uploaded_doc_pk":"1960139","page_doc_pks":["14959404"],"page_doc_pk":"14959404"}],"year":"2021","fields":[{"name":"ytd_earnings","value":"120.0","title":"Earnings","page_doc_pk":"14959404"},{"name":"months_elapsed","value":"5.33","title":"# Months","page_doc_pk":"14959404"},{"name":"monthly_income","value":"22.51","title":"Monthly Income","page_doc_pk":"14959404"}],"calculated_fields":[{"name":"ytd_avg","value":"22.51","title":"YTD Avg"},{"name":"key_used","title":"Key Used"},{"name":"is_edited","value":"False","title":"is_edited"},{"name":"default_key","title":"Default Key"},{"name":"recommended_income","value":"0","title":"Recommended Income"},{"name":"past_year_avg","value":"0","title":"Past yr Avg"},{"name":"ytd_one_year_avg","value":"0","title":"YTD + 1 yr Avg"},{"name":"ytd_two_year_avg","value":"0","title":"YTD + 2 yr Avg"},{"name":"past_year_and_additional_year_avg","value":"0","title":"Past + 1 yr avg"}],"pay_type":"Commission Income","is_selected":true},{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","business_uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","income_type":"WAGE_EARNER","year":"2020","fields":[{"name":"ytd_earnings","value":"0","title":"Earnings"},{"name":"months_elapsed","value":"0","title":"# Months"},{"name":"monthly_income","value":"0","title":"Monthly Income"}],"calculated_fields":[{"name":"ytd_avg","value":"0","title":"YTD Avg"},{"name":"key_used","title":"Key Used"},{"name":"is_edited","value":"0","title":"is_edited"},{"name":"default_key","title":"Default Key"},{"name":"recommended_income","value":"0","title":"Recommended Income"},{"name":"past_year_avg","value":"0","title":"Past yr Avg"},{"name":"ytd_one_year_avg","value":"0","title":"YTD + 1 yr Avg"},{"name":"ytd_two_year_avg","value":"0","title":"YTD + 2 yr Avg"},{"name":"past_year_and_additional_year_avg","value":"0","title":"Past + 1 yr avg"}],"pay_type":"Commission Income","is_selected":true},{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","business_uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","income_type":"WAGE_EARNER","forms":[{"form_type":"VERIFICATION_OF_EMPLOYMENT","form_uuid":"dd8c7e79-7cf6-45be-ae5b-73e4ab8735e6","mixed_uploaded_doc_pk":"1117893","uploaded_doc_pk":"1960139","page_doc_pks":["14959404"],"page_doc_pk":"14959404"}],"year":"2019","fields":[{"name":"ytd_earnings","value":"100.0","title":"Earnings","page_doc_pk":"14959404"},{"name":"months_elapsed","value":"12.0","title":"# Months","page_doc_pk":"14959404"},{"name":"monthly_income","value":"8.33","title":"Monthly Income","page_doc_pk":"14959404"}],"calculated_fields":[{"name":"ytd_avg","value":"0","title":"YTD Avg"},{"name":"key_used","title":"Key Used"},{"name":"is_edited","value":"0","title":"is_edited"},{"name":"default_key","title":"Default Key"},{"name":"recommended_income","value":"0","title":"Recommended Income"},{"name":"past_year_avg","value":"0","title":"Past yr Avg"},{"name":"ytd_one_year_avg","value":"0","title":"YTD + 1 yr Avg"},{"name":"ytd_two_year_avg","value":"0","title":"YTD + 2 yr Avg"},{"name":"past_year_and_additional_year_avg","value":"0","title":"Past + 1 yr avg"}],"pay_type":"Commission Income","is_selected":true},{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","business_uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","income_type":"WAGE_EARNER","fields":[{"name":"bas_and_bah","value":"0","title":"bas_and_bah"},{"name":"other_allowance","value":"0","title":"Other Allowance"},{"name":"military_base_pay","value":"0","title":"Base Pay"},{"name":"military_prop_pay","value":"0","title":"Prop Pay"},{"name":"rations_allowance","value":"0","title":"Rations Allowance"},{"name":"clothing_allowance","value":"0","title":"clothing_allowance"},{"name":"quarters_allowance","value":"0","title":"Quarters Allowance"},{"name":"military_combat_pay","value":"0","title":"Combat Pay"},{"name":"military_flight_pay","value":"0","title":"Flight Pay"},{"name":"military_hazard_pay","value":"0","title":"Hazard Pay"},{"name":"military_overseas_pay","value":"0","title":"Overseas Pay"},{"name":"variable_housing_allowance","value":"0","title":"Variable Housing Allowance"}],"calculated_fields":[{"name":"base_pay","value":"0","title":"Base Pay"},{"name":"key_used","title":"Key Used"},{"name":"is_edited","value":"False","title":"is_edited"},{"name":"default_key","title":"Default Key"},{"name":"entitlements","value":"0","title":"Entitlements"},{"name":"recommended_income","value":"0","title":"Recommended Income"},{"name":"entitlements_and_base_pay","value":"0","title":"Entitlements + Base Pay"},{"name":"entitlements_grossed_up_fifteen_percent_and_base_pay","value":"0","title":"Grossed up 15% + base pay"},{"name":"entitlements_grossed_up_twenty_five_percent_and_base_pay","value":"0","title":"Grossed up 25% + base pay"}],"pay_type":"Military Income"},{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","business_uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","income_type":"RENTAL","forms":[{"form_type":"A_1040_SCHEDULE_E_2019","form_uuid":"c3964b4a-43a2-49fd-a548-cbfef61077d6","mixed_uploaded_doc_pk":"1042882","uploaded_doc_pk":"1566639","page_doc_pks":["10825500","10825499"],"page_doc_pk":"10825500"}],"year":"2019","address":"APT . 417 1192 EMMERICH ISLE BORERTON SC 09845-7015","property_type":"INVESTMENT","fields":[{"name":"months","value":"12.0","title":"Enter the number of months the property was in service (Step 1 Result)","page_doc_pk":"10825500"},{"name":"total_rent","value":"10.0","title":"Enter total rents received (Line 3)","page_doc_pk":"10825500"},{"name":"tax_expense","value":"10.0","title":"Enter tax expense (Line 16)","page_doc_pk":"10825500"},{"name":"depreciation","value":"10.0","title":"Enter depreciation expense or depletion (Line 18)","page_doc_pk":"10825500"},{"name":"total_expense","value":"10.0","title":"Enter total expenses (Line 20)","page_doc_pk":"10825500"},{"name":"association_dues","value":"10.0","title":"Enter homeowners' association dues. This expense must be specifically identified on Schedule E in order to add it back. (Line 19)","page_doc_pk":"10825500"},{"name":"proposed_pitia2a","value":"10.0","title":"Enter proposed PITIA (for subject property) or existing PITIA (for non-subject property)","page_doc_pk":"10825500"},{"name":"insurance_expense","value":"10.0","title":"Enter insurance expense (Line 9)","page_doc_pk":"10825500"},{"name":"mortgage_interest","value":"10.0","title":"Enter mortgage interest paid (Line 12)","page_doc_pk":"10825500"},{"name":"remaining_accounts","value":"0.0","title":"Multiply gross monthly rent or market rent by 75% (.75).  The remaining 25% accounts for vacancy loss, maintenance, and management expenses."},{"name":"extraordinary_expense","value":"10.0","title":"Enter any one-time extraordinary expense (e.g., casualty loss). There must be evidence of the nature of the one-time extraordinary expense. (Line 19)","page_doc_pk":"10825500"}],"calculated_fields":[{"name":"adjusted_income","value":"60.0","title":"Equals adjusted rental income"},{"name":"qualifying_income","value":"-5.0","title":"Step 2A. Result: Monthly qualifying rental income (or loss):"},{"name":"adjusted_monthly_income","value":"5.0","title":"Equals adjusted monthly rental income"}]},{"borrower_uuid":"6f9285f9-db32-4d95-b023-df82615d1cb3","business_uuid":"dc876b26-e555-453f-8b4b-9e63d94edcc1","income_type":"SELF_EMPLOYED","year":"2020","fields":[{"name":"depletion","value":"10.0","title":"d. Depletion (Line 17)"},{"name":"amortization","value":"10.0","title":"e. Amortization/Casualty (Review Attachment Related to (Line 20, Other deductions**)"},{"name":"depreciation","value":"10.0","title":"c. Depreciation (Line 16c, including 8825 Line 14)"},{"name":"non_recurring_other_income","value":"10.0","title":"b. Nonrecurring Other (Income) or Loss (Lines 5, 6 & 7)"},{"name":"ordinary_income_from_other_partnerships","value":"10.0","title":"a. Ordinary (Income) Loss from Other Partnerships (Line 4)"},{"name":"ordinary_income","value":"10.0","title":"a. Ordinary Income/Loss (Line 1)*Review for Distribution Line 19A"},{"name":"percent_ownership","value":"5.0","title":"Percent Ownership (From Schedule K-1)"},{"name":"guaranteed_payments","value":"10.0","title":"c. Guaranteed Payments to Partner (Line 4c)"},{"name":"net_rental_real_estate","value":"10.0","title":"b. Net Rental Real Estate; Other Net Income (Loss) (Lines 2, 3)*"},{"name":"mortgages_payable","value":"10.0","title":"f. Mortgages or Notes Payable in Less than 1 Year (Schedule L, Line 16d***)"},{"name":"travel_and_entertainment_expenses","value":"10.0","title":"g. Non-deductible Travel and Entertainment Expenses (Schedule M-1, Line 4b)"}],"calculated_fields":[{"name":"subtotal","value":"30.0","title":"Subtotal"},{"name":"total_form1065","value":"1.5","title":"Total Form 1065"},{"name":"total_partnership_income","value":"31.5","title":"Total Partnership Income"}],"currency":"USD","income_by_tax_returns":"IRS Form 1065 - Partnership Income","xid":"XID-1"},{"borrower_uuid":"6f9285f9-db32-4d95-b023-df82615d1cb3","business_uuid":"dc876b26-e555-453f-8b4b-9e63d94edcc1","income_type":"SELF_EMPLOYED","year":"2019","fields":[{"name":"depletion","value":"0.0","title":"f. Depletion (Line 21)"},{"name":"total_tax","value":"0.0","title":"b. Total Tax (Line 31)"},{"name":"amortization","value":"0.0","title":"g. Amortization/Casualty Loss (Review Attachment Related to Line 26, Other deductions*)"},{"name":"depreciation","value":"0.0","title":"e. Depreciation (Line 20)"},{"name":"taxable_income","value":"0.0","title":"a. Taxable Income (Line 30)"},{"name":"net_operating_loss","value":"0.0","title":"h. Net Operating Loss and Special Deductions (Line 29c)"},{"name":"non_recurring_gains","value":"0.0","title":"c. Nonrecurring (Gains) Losses (Lines 8, 9)"},{"name":"non_recurring_other_income","value":"0.0","title":"d. Nonrecurring Other (Income) Loss (Line 10)"},{"name":"dividends","value":"0.0","title":"b. Ordinary Dividends (Line 5)"},{"name":"interest_income","value":"0.0","title":"a. Interest Income (Line 1)"},{"name":"mortgages_payable","value":"0.0","title":"i. Mortgages or Notes Payable in Less than 1 Year (Schedule L, Line 17d**)"},{"name":"travel_and_entertainment_expenses","value":"0.0","title":"j. Non-deductible Travel and Entertainment Expenses (Schedule M-1, Line 5c)"}],"calculated_fields":[{"name":"subtotal","value":"0.0","title":"Subtotal"},{"name":"total_form1120","value":"0.0","title":"Total Form 1120"}],"currency":"USD","income_by_tax_returns":"IRS Form 1120 - Regular Corporation","xid":"XID-1"},{"borrower_uuid":"6f9285f9-db32-4d95-b023-df82615d1cb3","business_uuid":"dc876b26-e555-453f-8b4b-9e63d94edcc1","income_type":"SELF_EMPLOYED","year":"2019","fields":[{"name":"w2_income","value":"0.0","title":"form_w2 - w2_income"},{"name":"dividends","value":"0.0","title":"form1040_schedule_b - dividends"},{"name":"interest_income","value":"0.0","title":"form1040_schedule_b - interest_income"},{"name":"depletion","value":"0.0","title":"c. Depletion (Line 12)"},{"name":"net_profit","value":"0.0","title":"a. Net Profit or Loss (Line 31)"},{"name":"depreciation","value":"0.0","title":"d. Depreciation (Line 13)"},{"name":"business_miles","value":"0.0","title":"Business Miles (Page 2, Part IV, Line 44a OR Related 4562, Line 30)"},{"name":"amortization_loss","value":"0.0","title":"g. Amortization/Casualty Loss (Only add back Amort/CL - Review Schedule C Page 2, Part V*)"},{"name":"depreciation_rate","value":"0.0","title":"X Depreciation Rate"},{"name":"business_use_of_home","value":"0.0","title":"f. Business Use of Home (Line 30, Check applicable guidelines)"},{"name":"non_recurring_other_income","value":"0.0","title":"b. Nonrecurring Other (Income) Loss/Expenses (Line 6)"},{"name":"meals_and_entertainment_expenses","value":"0.0","title":"e. Non-deductible Meals and Entertainment Expenses (Line 24b)"},{"name":"recurring_capital_gains","value":"0.0","title":"form1040_schedule_d - recurring_capital_gains"},{"name":"depletion","value":"0.0","title":"form1040_schedule_e - depletion"},{"name":"royalties","value":"0.0","title":"form1040_schedule_e - royalties"},{"name":"total_expenses","value":"0.0","title":"form1040_schedule_e - total_expenses"},{"name":"amortization","value":"0.0","title":"form1040_schedule_f - amortization"},{"name":"depreciation","value":"0.0","title":"form1040_schedule_f - depreciation"},{"name":"net_farm_profit","value":"0.0","title":"form1040_schedule_f - net_farm_profit"},{"name":"business_use_of_home","value":"0.0","title":"form1040_schedule_f - business_use_of_home"},{"name":"non_tax_coop_payments","value":"0.0","title":"form1040_schedule_f - non_tax_coop_payments"},{"name":"non_recurring_other_income","value":"0.0","title":"form1040_schedule_f - non_recurring_other_income"}],"calculated_fields":[{"name":"subtotal_schedule_c","value":"0.0","title":"Subtotal Schedule C"},{"name":"subtotal_schedule_e","value":"0.0","title":"subtotal_schedule_e"},{"name":"subtotal_schedule_f","value":"0.0","title":"subtotal_schedule_f"},{"name":"total_mileage_depreciation","value":"0.0","title":"= Total Mileage Depreciation"}],"currency":"USD","income_by_tax_returns":"IRS Form 1040 - Individual Income Tax Return","xid":"XID-1"},{"borrower_uuid":"6f9285f9-db32-4d95-b023-df82615d1cb3","business_uuid":"dc876b26-e555-453f-8b4b-9e63d94edcc1","income_type":"SELF_EMPLOYED","year":"2019","fields":[{"name":"depletion","value":"0.0","title":"c. Depletion (Line 15)"},{"name":"amortization","value":"0.0","title":"d. Amortization/Casualty Loss (Review Attachment Related to Line 19, Other deductions**)"},{"name":"depreciation","value":"0.0","title":"b. Depreciation (Line 14, including 8825 Line 14)"},{"name":"non_recurring_other_income","value":"0.0","title":"a. Nonrecurring Other (Income) Loss (Lines 4, 5)"},{"name":"ordinary_income","value":"0.0","title":"a. Ordinary Income (Loss) (Line 1)*Review for Distribution Line 16D"},{"name":"percent_ownership","value":"0.0","title":"Percent Ownership (From Schedule K-1, Line G) % %"},{"name":"net_rental_real_estate","value":"0.0","title":"b. Net Rental Real Estate; Other Net Rental Income (Loss) (Lines 2, 3)*"},{"name":"mortgages_payable","value":"0.0","title":"e. Mortgages or Notes Payable in Less than 1 Year (Schedule L, Line 17d***)"},{"name":"travel_and_entertainment_expenses","value":"0.0","title":"f. Non-deductible Travel and Entertainment Expenses (Schedule M-1, Line 3b) - Subtotal"}],"calculated_fields":[{"name":"subtotal","value":"0.0","title":"Subtotal"},{"name":"total_form1120s","value":"0.0","title":"Total Form 1120S"},{"name":"total_s_corp_income","value":"0.0","title":"Total S-Corp Income"}],"currency":"USD","income_by_tax_returns":"IRS Form 1120S - S Corporation Earnings","xid":"XID-1"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"Tip income monthly amount"}],"is_active":true,"other_income_collection":"Tip income"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"Trust monthly amount"}],"is_active":true,"other_income_collection":"Trust"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"spousal_maintenance","value":"10.0","title":"Alimony monthly amount"}],"is_active":true,"other_income_collection":"Alimony"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"Accessory unit monthly amount"}],"is_active":true,"other_income_collection":"Boarder income"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","year":"2023","fields":[{"name":"depletion","value":"0.0","title":"c. Depletion (Line 18)"},{"name":"royalties","value":"0.0","title":"a. Royalties Received (Line 4)"},{"name":"total_expenses","value":"0.0","title":"b. Total Expenses (Line 20)"}],"calculated_fields":[{"name":"months","value":"12","title":"Months"},{"name":"one_year_average","value":"0.0","title":"One year average"},{"name":"two_year_average","value":"0.42","title":"Two year average"},{"name":"subtotal_schedule_e","value":"0.0","title":"Subtotal schedule E"}],"is_active":true,"other_income_collection":"Royalty"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","year":"2024","fields":[{"name":"depletion","value":"10.0","title":"c. Depletion (Line 18)"},{"name":"royalties","value":"10.0","title":"a. Royalties Received (Line 4)"},{"name":"total_expenses","value":"10.0","title":"b. Total Expenses (Line 20)"}],"calculated_fields":[{"name":"months","value":"12","title":"Months"},{"name":"one_year_average","value":"0.83","title":"One year average"},{"name":"two_year_average","value":"0.42","title":"Two year average"},{"name":"subtotal_schedule_e","value":"10.0","title":"Subtotal schedule E"}],"is_active":true,"other_income_collection":"Royalty"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"amount_details"}],"is_active":true,"other_income_collection":"Disability"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"Other type monthly amount"}],"is_active":true,"other_income_collection":"Other"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"payer_name","value":"Retirement income","title":"payer_name"},{"name":"amount_details","value":"10.0","title":"Retirement Income monthly amount"}],"is_active":true,"other_income_collection":"Retirement/Pension/Annuity"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"Foster care monthly amount"}],"is_active":true,"other_income_collection":"Foster care"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","year":"2023","fields":[{"name":"recurring_capital_gains","value":"10.0","title":"a. Recurring Capital Gains (from Self-Employment) "}],"calculated_fields":[{"name":"months","value":"12","title":"Months"},{"name":"one_year_average","value":"0.83","title":"One year average"},{"name":"two_year_average","value":"0.83","title":"Two year average"},{"name":"three_year_average","value":"0.0","title":"Three year average"},{"name":"subtotal_schedule_d","value":"10.0","title":"Subtotal schedule D"}],"is_active":true,"other_income_collection":"Capital gains"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","year":"2024","fields":[{"name":"recurring_capital_gains","value":"10.0","title":"a. Recurring Capital Gains (from Self-Employment) "}],"calculated_fields":[{"name":"months","value":"12","title":"Months"},{"name":"one_year_average","value":"0.83","title":"One year average"},{"name":"two_year_average","value":"0.83","title":"Two year average"},{"name":"three_year_average","value":"0.0","title":"Three year average"},{"name":"subtotal_schedule_d","value":"10.0","title":"Subtotal schedule D"}],"is_active":true,"other_income_collection":"Capital gains"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"child_support","value":"10.0","title":"Child support"}],"is_active":true,"other_income_collection":"Child support"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"Accessory unit monthly amount"}],"is_active":true,"other_income_collection":"Accessory unit income"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"Social security monthly amount"},{"name":"gross_percentage","value":"5.0","title":"Gross up % applied"},{"name":"non_taxable_portion","value":"0.0","title":"Non-taxable portion of total social security amount"}],"is_active":true,"other_income_collection":"Social security"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"Temporary leave monthly amount"}],"is_active":true,"other_income_collection":"Temporary leave"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"Housing allowance monthly amount"}],"is_active":true,"other_income_collection":"Housing allowance"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"Public assistance monthly amount"}],"is_active":true,"other_income_collection":"Public assistance"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","forms":[{"form_type":"A_1099_G","form_uuid":"6effbba0-e7ff-495e-8e51-0c6c1d574a4e","mixed_uploaded_doc_pk":"1121609","uploaded_doc_pk":"1964803","page_doc_pks":["15023414"],"page_doc_pk":"15023414"}],"year":"2020","fields":[{"name":"unemployment_compensation","value":"16040.0","title":"Unemployment compensation (box1)","page_doc_pk":"15023414"}],"calculated_fields":[{"name":"months","value":"12","title":"Months"},{"name":"one_year_average","value":"1336.6666666666667","title":"One year average"},{"name":"two_year_average","value":"0.0","title":"Two year average"}],"is_active":true,"other_income_collection":"Unemployment Income"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","forms":[{"form_type":"A_1099_G","form_uuid":"e30b3912-13a6-400a-909f-464cd78f7904","mixed_uploaded_doc_pk":"1121608","uploaded_doc_pk":"1964802","page_doc_pks":["15023413"],"page_doc_pk":"15023413"}],"year":"2021","fields":[{"name":"unemployment_compensation","value":"16080.0","title":"Unemployment compensation (box1)","page_doc_pk":"15023413"}],"calculated_fields":[{"name":"months","value":"12","title":"Months"},{"name":"one_year_average","value":"1340.0","title":"One year average"},{"name":"two_year_average","value":"1338.3333333333333","title":"Two year average"}],"is_active":true,"other_income_collection":"Unemployment Income"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"Accessory unit monthly amount"}],"is_active":true,"other_income_collection":"Automobile allowance"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"Separate maintenance monthly amount"}],"is_active":true,"other_income_collection":"Separate maintenance"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"Mortgage differential monthly amount"}],"is_active":true,"other_income_collection":"Mortgage differential"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","year":"2023","fields":[{"name":"dividends","value":"0.0","title":"b. Dividends from Self-Employment (Line 5)"},{"name":"interest_income","value":"0.0","title":"a. Interest Income from Self-Employment (Line 1)"}],"calculated_fields":[{"name":"months","value":"12","title":"Months"},{"name":"one_year_average","value":"0.0","title":"One year average"},{"name":"two_year_average","value":"0.83","title":"Two year average"},{"name":"subtotal_schedule_b","value":"0.0","title":"Subtotal schedule B"}],"is_active":true,"other_income_collection":"Interest / Dividend"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","year":"2024","fields":[{"name":"dividends","value":"10.0","title":"b. Dividends from Self-Employment (Line 5)"},{"name":"interest_income","value":"10.0","title":"a. Interest Income from Self-Employment (Line 1)"}],"calculated_fields":[{"name":"months","value":"12","title":"Months"},{"name":"one_year_average","value":"1.67","title":"One year average"},{"name":"two_year_average","value":"0.83","title":"Two year average"},{"name":"subtotal_schedule_b","value":"20.0","title":"Subtotal schedule B"}],"is_active":true,"other_income_collection":"Interest / Dividend"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"Non borrower household monthly amount"}],"is_active":true,"other_income_collection":"Non borrower household income"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"Defined contribution plan monthly amount"}],"is_active":true,"other_income_collection":"Defined contribution plan"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"Employment related account monthly amount"}],"is_active":true,"other_income_collection":"Employment related account"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"Mortgage credit certificate monthly amount"}],"is_active":true,"other_income_collection":"Mortgage credit certificate"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"VA benefits non-educational monthly amount"},{"name":"gross_percentage","value":"25.0","title":"Gross up % applied"},{"name":"non_taxable_portion","value":"5.0","title":"Non-taxable portion of total VA benefits non-educational amount"}],"is_active":true,"other_income_collection":"VA benefits non-educational"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"Notes receivable installment monthly amount"}],"is_active":true,"other_income_collection":"Notes receivable installment"},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","fields":[{"name":"amount_details","value":"10.0","title":"Housing choice voucher program monthly amount"}],"is_active":true,"other_income_collection":"Housing choice voucher program"}],"borrowers":[{"uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","name":"JOHN SAMPLE"}],"employers":[{"uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","name":"ABC INC."}],"properties":[{"uuid":"d8b23fa4-1e65-4c2e-8f7c-3c2a1b45a8e9","address":"1234 W 123TH ST FAKE STREET OH 12345","city":"FAKE CITY","postal_code":"12345","address_line1":"1234 W 123TH ST FAKE STREET","state":"OH"}],"alerts":[{"message":"Borrower received Commission income in 2019 and YTD, but not in 2020. Review if income can be used.","severity":"HIGH","income_type":"WAGE_EARNER"},{"message":"Commission income not calculated, because there are no Paystubs or WVOE information from year 2020.","severity":"HIGH","income_type":"WAGE_EARNER"},{"message":"Commission income was calculated but not used because two years of data are missing.","severity":"HIGH","income_type":"WAGE_EARNER"},{"message":"Other income was calculated but not used because two years of data are missing.","severity":"HIGH","income_type":"WAGE_EARNER"}],"totals":[{"borrower_uuid":"a1d4c349-f630-4239-b268-ee22c7c23654","income_type":"WAGE_EARNER","business_uuid":"9ebe8d61-c2e2-4b04-8421-c24b5e841aca","calculated_fields":[{"name":"monthly_bonus","value":"14.58","title":"Bonus Income"},{"name":"recommended_income","value":"1533.59","title":"Recommended Income"},{"name":"monthly_salary","value":"1500.94","title":"Salary Income"},{"name":"monthly_overtime","value":"18.07","title":"Overtime Income"}]},{"borrower_uuid":"c5798b3f-f1f9-4b81-8258-0c33dbbcf312","income_type":"OTHER","calculated_fields":[{"name":"tip","value":"10.0","title":"Tip"},{"name":"recommended_income","value":"1581.6633333333332","title":"Recommended Income"},{"name":"trust","value":"10.0","title":"Trust"},{"name":"alimony","value":"10.0","title":"Alimony"},{"name":"boarder","value":"10.0","title":"Boarder"},{"name":"royalty","value":"0.42","title":"Royalty"},{"name":"disability","value":"10.0","title":"Disability"},{"name":"other_type","value":"10.0","title":"Other"},{"name":"retirement","value":"10.0","title":"Retirement/Pension/Annuity"},{"name":"foster_care","value":"10.0","title":"Foster Care"},{"name":"capital_gains","value":"0.83","title":"Capital Gains"},{"name":"child_support","value":"10.0","title":"Child Support"},{"name":"accessory_unit","value":"10.0","title":"Accessory Unit"},{"name":"social_security","value":"10.0","title":"Social Security"},{"name":"temporary_leave","value":"10.0","title":"Temporary Leave"},{"name":"housing_allowance","value":"10.0","title":"Housing Allowance"},{"name":"public_assistance","value":"10.0","title":"Public Assistance"},{"name":"unemployment_yearly","value":"1338.3333333333333","title":"Unemployment"},{"name":"automobile_allowance","value":"10.0","title":"Automobile Allowance"},{"name":"separate_maintenance","value":"10.0","title":"Separate Maintenance"},{"name":"mortgage_differential","value":"10.0","title":"Mortgage Differential"},{"name":"interest_and_dividends","value":"0.83","title":"Interest / Dividend"},{"name":"non_borrower_household","value":"10.0","title":"Non Borrower Household"},{"name":"defined_contribution_plan","value":"10.0","title":"Defined Contribution Plan"},{"name":"employment_related_account","value":"10.0","title":"Employment Related Account"},{"name":"mortgage_credit_certificate","value":"10.0","title":"Mortgage Credit Certificate"},{"name":"va_benefits_non_educational","value":"11.25","title":"VA Benefits Non-Educational"},{"name":"notes_receivable_installment","value":"10.0","title":"Notes Receivable Installment"},{"name":"housing_choice_voucher_program","value":"10.0","title":"Housing Choice Voucher Program"}]},{"borrower_uuid":"6f9285f9-db32-4d95-b023-df82615d1cb3","income_type":"SELF_EMPLOYED","business_uuid":"dc876b26-e555-453f-8b4b-9e63d94edcc1","calculated_fields":[{"name":"recommended_income","value":"-4894.46","title":"Recommended Income"},{"name":"schedule_c","value":"12.5","title":"Schedule C"},{"name":"schedule_f","value":"5.0","title":"Schedule F"},{"name":"s_corp_income","value":"-4915.42","title":"S Corporation Income"},{"name":"partnership_income","value":"2.63","title":"Partnership Income"}]},{"borrower_uuid":"f9ffe36f-874f-43a4-bf14-f90182bd5dba","income_type":"RENTAL","calculated_fields":[{"name":"20 MARTY RUE NORTH THERONFURT NV 42512-1171","value":"939.6694214876034","title":"20 MARTY RUE NORTH THERONFURT NV 42512-1171"},{"name":"APT . 111 8300 TREUTEL SKYWAY LENNYMOUTH IL 15550","value":"577.9824561403509","title":"APT . 111 8300 TREUTEL SKYWAY LENNYMOUTH IL 15550"},{"name":"recommended_income","value":"1517.6518776279543","title":"Recommended Income"}]},{"borrower_uuid":"fce7cb5f-f049-417c-849c-68fbbe8bc9bf","income_type":"RENTAL","calculated_fields":[{"name":"189 MARTY RUE NORTH THERONFURT NV 42512-1171","value":"949.5867768595042","title":"189 MARTY RUE NORTH THERONFURT NV 42512-1171"},{"name":"APT . 169 8300 TREUTEL SKYWAY LENNYMOUTH IL 15550","value":"581.4912280701755","title":"APT . 169 8300 TREUTEL SKYWAY LENNYMOUTH IL 15550"},{"name":"APT . 417 1192 EMMERICH ISLE BORERTON SC 09845-7015","value":"5.0","title":"APT . 417 1192 EMMERICH ISLE BORERTON SC 09845-7015"},{"name":"recommended_income","value":"1506.0780049296795","title":"Recommended Income"}]}]}}}}}},"400":{"description":"Client Errors","content":{"application/json":{"examples":{"Invalid Auth":{"value":{"status":400,"code":1200,"response":null,"message":"Authentication failed","meta":{"status":400,"msg":"Authentication failed","code":1200}}},"Invalid guideline (400 BAD REQUEST)":{"value":{"validation_error":{"path_params":[{"loc":["book_uuid"],"msg":"value is not a valid uuid","type":"type_error.uuid"}]}}}},"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1income~1summary/get/responses/400/content/application~1json/schema"}}}},"404":{"description":"Client Errors","content":{"application/json":{"examples":{"Book not found":{"value":{"error":"Book not found"}}},"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1income~1summary/get/responses/404/content/application~1json/schema"}}}}}}},"/v2/book/{uuid}/income/entity_config":{"post":{"summary":"Configure income entity","operationId":"income-entity-config","tags":["Income"],"description":"This API allows you to **update the employment start date** for a borrower–employer pair linked to a specific Ocrolus <<glossary:Book>>. You can optionally include identifiers such as the employer’s **EIN** (Employer Identification Number) and the borrower’s **last four SSN digits (Social Security Number)** for more accurate matching. If the borrower–employer pair exists, the record is updated; otherwise, a new one is created. When provided, the **employment start date** is also used in income calculation to ensure the precise and consistent results across the platform.\n> 📘 Note\n> - If the borrower–employer pair already exists, the system updates the existing record with the new start date.\n> - If the pair does not exist, a new configuration entry is created automatically.\n> - Optional identifiers (**`ein, last_four_ssn_digits`**, and **`income_type`**) help ensure accurate borrower–employer matching.\n","parameters":[{"name":"uuid","in":"path","required":true,"description":"The unique identifier of the Ocrolus <<glossary:Book>> for which borrower–employer data should be configured.","schema":{"type":"string","format":"uuid"},"example":"13e6d579-4699-43e2-a419-8a29bcb5f922"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["entity_details","borrower_details"],"properties":{"entity_details":{"type":"object","description":"Details about the employer entity.","required":["name"],"properties":{"name":{"type":"string","description":"Full legal name of the employer.","example":"ACME MANUFACTURING INC"},"ein":{"type":"string","description":"Employer's Identification Number (EIN).","example":"112233445"}}},"borrower_details":{"type":"object","description":"Details about the borrower.","required":["name"],"properties":{"name":{"type":"string","description":"Full name of the borrower.","example":"JOHN A DOE"},"last_four_ssn_digits":{"type":"string","description":"Last four digits of the borrower's SSN.","example":"6789"}}},"xid":{"type":"string","description":"A unique identifier for the borrower/employer pair. If you are using `xid` to match or update an existing income record, it is recommended to also provide the corresponding `income_type`. If `income_type` is not included, the system may not match the existing record.","example":"Xid-1"},"employment_start_date":{"type":"string","format":"date","description":"Employment start date in the `YYYY-MM-DD` format.","example":"2023-09-15"},"income_type":{"type":"string","description":"Type of income of the borrower.\n> 👍 Tip\n> Providing `income_type` along with `xid` is recommended for accurate matching of existing records. If `income_type` is not provided, the system may not recognize the existing record.\n","enum":["WAGE_EARNER","SELF_EMPLOYED"],"example":"WAGE_EARNER"}}}}}},"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"Success","type":"object","properties":{"response":{"type":"object","description":"Response object containing income entity details.","properties":{"data":{"type":"object","description":"Contains the details of the income entity.","properties":{"uuid":{"type":"string","format":"uuid","description":"Unique identifier for the borrower–employer configuration.","example":"84b2e33c-94e0-4bb7-bb16-7125d553aa52"},"book_uuid":{"type":"string","format":"uuid","description":"Unique identifier of the Ocrolus Book.","example":"3fa85f64-5717-4562-b3fc-2c963f66afa6"},"borrower_details":{"type":"object","description":"Object containing borrower information.","properties":{"name":{"type":"string","description":"Name of the borrower.","example":"JOHN A DOE"},"last_four_ssn_digits":{"type":"string","description":"Last four digits of the borrower's SSN.","example":"6789"}}},"entity_details":{"type":"object","description":"Object containing employer details.","properties":{"name":{"type":"string","description":"Name of the entity.","example":"ACME MANUFACTURING INC"},"ein":{"type":"string","description":"Employer Identification Number (EIN) of the entity.","example":"112233445"}}},"income_type":{"type":"string","description":"Type of income.","example":"WAGE_EARNER","enum":["SELF_EMPLOYED","WAGE_EARNER"]},"employment_start_date":{"type":"string","format":"date","description":"Employment start date.","example":"2023-09-15"},"created_ts":{"type":"string","format":"date-time","description":"Timestamp when the configuration was created.","example":"2025-10-15T13:44:42.367040"},"updated_ts":{"type":"string","format":"date-time","description":"Timestamp when the configuration was updated.","example":"2025-09-15T13:44:42.367040"},"xid":{"type":"string","description":"A unique identifier for the borrower/employer pair.","example":"XID-1"}}},"success":{"type":"boolean","description":"Indicates if the request was successful.","example":true},"code":{"type":"integer","description":"HTTP status code of the response.","example":201}}}}},"examples":{"Success":{"value":{"data":{"uuid":"84b2e33c-94e0-4bb7-bb16-7125d553aa52","book_uuid":"3fa85f64-5717-4562-b3fc-2c963f66afa6","borrower_details":{"name":"JOHN A DOE","last_four_ssn_digits":"6789"},"entity_details":{"name":"ACME MANUFACTURING INC","ein":"112233445"},"income_type":"WAGE_EARNER","employment_start_date":"2023-09-15","created_ts":"2025-10-15T13:44:42.367040","updated_ts":"2025-09-15T13:44:42.367040","xid":"XID-1"},"success":true,"code":201}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1income~1summary/get/responses/404/content/application~1json/schema"},"examples":{"Bad Request":{"value":{"status":400,"message":"Missing required field: employment_start_date"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1income~1summary/get/responses/404/content/application~1json/schema"},"examples":{"Unauthorized":{"value":{"status":401,"message":"Authentication failed"}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1income~1summary/get/responses/404/content/application~1json/schema"},"examples":{"Forbidden":{"value":{"status":403,"message":"Access denied"}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1income~1summary/get/responses/404/content/application~1json/schema"},"examples":{"Not Found":{"value":{"status":404,"message":"Book not found"}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1income~1summary/get/responses/404/content/application~1json/schema"},"examples":{"Internal Server Error":{"value":{"status":500,"message":"Internal Server Error"}}}}}}}}},"/v2/book/{book_uuid}/income-guideline":{"put":{"summary":"Save income guideline","operationId":"save-income-guideline","tags":["Income"],"description":"This API lets you set or update the loan program or Government-Sponsored Enterprise (GSE) guideline for an Ocrolus <<glossary:Book>>. It ensures income calculations use the correct guideline (for example, Fannie Mae, Freddie Mac, FHA, VA, or USDA) and that the results are accurately reflected in the Ocrolus Dashboard for underwriting review. The most recent guideline is always used for income calculations by default.\n\nYou can use this API to:\n- Set the income guideline immediately after the Book is created.\n- Update the income guideline with a different guideline value later if the loan program changes. \n\n> 📘 Notes\n> - A valid `book_uuid` is required.\n> - Updated income calculations are reflected after processing is complete.\n","parameters":[{"name":"book_uuid","in":"path","required":true,"description":"The unique identifier of the Ocrolus <<glossary:Book>> for which the loan program or GSE guideline should be created or updated.","schema":{"type":"string","format":"uuid"},"example":"13e6d579-4699-43e2-a419-8a29bcb5f922"},{"name":"guideline","in":"query","required":true,"description":"The guideline to be used for retrieving the income calculations. Supported values include `FANNIE_MAE`, `FREDDIE_MAC`, `FHA, `VA`, `USDA`, `CONVENTIONAL`.\n \n > 📘 The `CONVENTIONAL` guideline translates to the Fannie Mae income guideline.\n","schema":{"type":"string","example":"FANNIE_MAE","enum":["FANNIE_MAE","FREDDIE_MAC","FHA","VA","USDA","CONVENTIONAL"]}}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"Success","type":"object","properties":{"response":{"type":"object","description":"Response object containing income guideline details.","properties":{"book_uuid":{"type":"string","format":"uuid","description":"Unique identifier of Book for which the loan program or GSE guideline created or updated.","example":"13e6d579-4699-43e2-a419-8a29bcb5f922"},"income_guideline":{"type":"string","description":"Applied income guideline.","example":"FANNIE_MAE","enum":["FANNIE_MAE","FREDDIE_MAC","FHA","VA","USDA","CONVENTIONAL"]},"staus":{"type":"string","description":"Indicates whether the income guideline was newly created for the Book or updated from a previous value.","example":"created"}}}}},"examples":{"Success":{"value":{"book_uuid":"996fbaeb-b723-47b4-896a-3cf64785b126","income_guideline":"FANNIE_MAE","status":"created"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1income~1summary/get/responses/404/content/application~1json/schema"},"examples":{"Bad Request":{"value":{"status":400,"message":"Invalid or unsupported guideline value"}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1income~1summary/get/responses/404/content/application~1json/schema"},"examples":{"Forbidden":{"value":{"status":403,"message":"Access denied"}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1income~1summary/get/responses/404/content/application~1json/schema"},"examples":{"Not Found":{"value":{"status":404,"message":"Book not found"}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1income~1summary/get/responses/404/content/application~1json/schema"},"examples":{"Internal Server Error":{"value":{"status":500,"message":"Internal Server Error"}}}}}}}}},"/v2/book/{book_uuid}/income/self-employed/calculate":{"post":{"summary":"Calculate Fannie Mae self-employed income","operationId":"self-employed-income-calculation-fm","tags":["Income"],"description":"This API calculates Fannie Mae self-employed income for a borrower–business pair in a Book. Send only the fields you want to update. The API merges these fields with the existing income record and recalculates the income.\nIf a field is missing or empty, the system may apply [organization-level default values](#organization-level-defaults) based on the income type and guideline. These defaults act as fallback values and never override fields explicitly provided in the request.\n\n> 👍 Tips\n> After calling this API, call the [Income calculations](https://docs.ocrolus.com/reference/income-calculations) API to retrieve the updated income data.\n\n## Merge behavior\nThe API performs a deep merge of the provided `meta_info` into the existing income record (common or tax-return specific).\n\n| Category | Merge behavior |\n|---|---|\n| Top-level meta fields such as `employment_start_date` | Provided values overwrite existing values. Fields not included in the request are preserved. |\n| Common `yearwise_details` | Merged by `year`. Only the fields provided for a given year are updated. |\n| Per-type `yearwise_details` such as `s_corporation_earnings.yearwise_details` | Merged by `year`. Existing fields are preserved unless explicitly overridden. |\n\n## Organization-level defaults\n\nOrganizations can configure default values for self-employed income fields by `org_uuid`, `income_type`, and `income_guideline`.\n\nDefaults act as fallback values during income updates. They are applied only when a supported field is missing or empty in the request. Explicit values, including `false`, `0`, and `None`, are never overridden.\n\n### Default application rules\n\n| Category | Field location | Fallback condition |\n|---|---|---|\n| Common scalar | `meta_info.field` | Applied when the value is `null` or an empty list `[]` |\n| Common yearwise | `meta_info.yearwise_details[].field` | Applied per year when the field value is `null` or `\"\"` |\n| Per-type yearwise | `meta_info.<type>.yearwise_details[].field` | Applied to each active tax year when the field value is `null` or `\"\"` |\n\n### Supported default fields\n| Category                      | Supported Fields                                                                                                                                                                                                                                                                                                                                       |\n| ----------------------------- | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ |\n| **Common defaults**           | `employment_start_date`, `employment_history_consistent_indicator`, `du_case_file_id`, `extraordinary_one_time_expense`, `non_deductible_meal`                                                                                                                                                                                                         |\n| **Per-type defaults**         | Supported under `s_corporation_earnings`, `partnership_income`, `regular_corporation`, and `individual_tax_return`.                                                                                                                                                                                                                                    |\n| **Per-type supported fields** | `adequate_business_liquidity`, `amortization`, `amortization_selection_type`, `is_final_return_override`, `is_borrower_trust_guaranter`, `compensation_of_officers_included_as_income`, `mortgages_notes_and_bonds_payable_less_than1_year`, `mortgages_notes_and_bonds_payable_less_than1_year_amount`, `guaranteed_payments_to_partners_alternative` |\n\nPer-type defaults are stored as flat key-value pairs in org config and are replicated into each active tax year's `yearwise_details` during update.\n","parameters":[{"name":"book_uuid","in":"path","required":true,"description":"The unique identifier of the Ocrolus <<glossary:Book>> for which self-employed income should be calculated.","schema":{"type":"string","format":"uuid"},"example":"13e6d579-4699-43e2-a419-8a29bcb5f922"}],"requestBody":{"description":"Example of body to be sent to calculate self-employed income.","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"borrower_uuid":{"type":"string","format":"uuid","description":"The unique identifier of the borrower for whom self-employed income is being calculated.","example":"123e4567-e89b-12d3-a456-426614174000"},"business_uuid":{"type":"string","format":"uuid","description":"The unique identifier of the business associated with the borrower for which self-employed income is being calculated.","example":"987e6543-e21b-12d3-a456-426614174999"},"income_guideline":{"type":"string","description":"The guideline to be used for calculating the self-employed income. Supported values include FANNIE_MAE and FANNIE_MAE_RECOMMENDED.","example":"FANNIE_MAE","default":"FANNIE_MAE","enum":["FANNIE_MAE","FANNIE_MAE_RECOMMENDED"]},"meta_info":{"type":"object","description":"Contains metadata fields used during income recalculation. Provided fields are merged with the existing income record before recalculation. If a field is missing or empty, organization-level defaults may be applied. Defaults act as fallback values and do not override explicitly provided values.\n\nIt can include:\n- **Common fields** applied across all tax return types.\n- **Per tax return-specific fields** applied to individual tax return types. The following objects contain fields specific to each tax return type:\n  - `s_corporation_earnings`\n  - `partnership_income`\n  - `regular_corporation`\n  -  `individual_tax_return`\n \n","properties":{"employment_start_date":{"type":"string","nullable":true,"description":"Employment start date in ISO format, for example, `2020-01-15`."},"employment_history_consistent_indicator":{"type":"boolean","description":"Indicates whether employment history is consistent."},"du_case_file_id":{"type":"string","nullable":true,"description":"DU case file identifier."},"yearwise_details":{"type":"array","description":"Per-year common details.","items":{"type":"object","additionalProperties":false,"required":["year","is_selected"],"properties":{"year":{"type":"integer","description":"Tax year, for example, `2023`."},"is_selected":{"type":"boolean","description":"Indicates whether this year is selected for calculation."},"extraordinary_one_time_expense":{"type":"number","nullable":true,"description":"Extraordinary one-time expense amount."},"non_deductible_meal":{"type":"number","nullable":true,"description":"Non-deductible meal expense amount."}}}},"s_corporation_earnings":{"type":"object","additionalProperties":false,"description":"Per-tax-return-type meta fields for S-Corporation earnings.","properties":{"yearwise_details":{"type":"array","items":{"type":"object","additionalProperties":false,"required":["year"],"properties":{"year":{"type":"integer","description":"Tax year."},"is_selected":{"type":"boolean","description":"Indicates whether this year is selected."},"adequate_business_liquidity":{"type":"boolean","nullable":true,"description":"Indicates whether the business has adequate liquidity."},"compensation_of_officers_included_as_income":{"type":"boolean","nullable":true,"description":"Indicates whether officer compensation is included as income."},"mortgages_notes_and_bonds_payable_less_than1_year":{"type":"string","nullable":true,"description":"Mortgages, notes, and bonds payable in less than 1 year.","enum":["All","None","Some"]},"mortgages_notes_and_bonds_payable_less_than1_year_amount":{"type":"number","nullable":true,"description":"Amount when `Some` is selected."},"is_borrower_trust_guaranter":{"type":"string","nullable":true,"description":"Indicates whether the borrower is a trust guarantor. Allowed values are - `1` = Yes, `2` = No, `3` = None.","enum":["1","2","3"]},"amortization":{"type":"number","nullable":true,"description":"Amortization amount."},"amortization_selection_type":{"type":"string","description":"Amortization selection type. Allowed values are - `1` = Yes, `2` = No, `3` = None.","default":"3","enum":["1","2","3"]},"is_final_return_override":{"type":"boolean","nullable":true,"description":"Indicates whether final return override is applied."}}}}}},"partnership_income":{"type":"object","additionalProperties":false,"description":"Per-tax-return-type meta fields for partnership income.","properties":{"yearwise_details":{"type":"array","items":{"type":"object","additionalProperties":false,"required":["year"],"properties":{"year":{"type":"integer","description":"Tax year."},"is_selected":{"type":"boolean","description":"Indicates whether this year is selected."},"adequate_business_liquidity":{"type":"boolean","nullable":true,"description":"Indicates whether the business has adequate liquidity."},"mortgages_notes_and_bonds_payable_less_than1_year":{"type":"string","nullable":true,"description":"Mortgages, notes, and bonds payable in less than 1 year.","enum":["All","None","Some"]},"mortgages_notes_and_bonds_payable_less_than1_year_amount":{"type":"number","nullable":true,"description":"Amount when `Some` is selected."},"is_borrower_trust_guaranter":{"type":"string","nullable":true,"description":"Indicates whether the borrower is a trust guarantor. Allowed values are - `1` = Yes, `2` = No, `3` = None.","enum":["1","2","3"]},"amortization":{"type":"number","nullable":true,"description":"Amortization amount."},"amortization_selection_type":{"type":"string","description":"Amortization selection type. Allowed values - `1` = Yes, `2` = No, `3` = None.","default":"3","enum":["1","2","3"]},"is_final_return_override":{"type":"boolean","nullable":true,"description":"Indicates whether final return override is applied."},"guaranteed_payments_to_partners_alternative":{"type":"boolean","nullable":true,"description":"Indicates whether the guaranteed payments to partners alternative applies."}}}}}},"regular_corporation":{"type":"object","additionalProperties":false,"description":"Per-tax-return-type meta fields for regular corporation.","properties":{"yearwise_details":{"type":"array","items":{"type":"object","additionalProperties":false,"required":["year"],"properties":{"year":{"type":"integer","description":"Tax year."},"is_selected":{"type":"boolean","description":"Indicates whether this year is selected."},"column_a_officers_count":{"type":"integer","nullable":true,"description":"Number of Column A officers."},"borrower_ownership_more_than25_pct":{"type":"boolean","nullable":true,"description":"Indicates whether the borrower owns more than 25%."},"all_officers_of_column_a_are_borrowers":{"type":"integer","nullable":true,"description":"Indicates whether all Column A officers are borrowers."},"form1125e_included":{"type":"boolean","nullable":true,"description":"Indicates whether Form 1125-E is included."},"compensation_of_officers_included_as_income":{"type":"boolean","nullable":true,"description":"Indicates whether officer compensation is included as income."},"amortization":{"type":"number","nullable":true,"description":"Amortization amount."},"amortization_selection_type":{"type":"string","description":"Amortization selection type. Allowed values are - `1` = Yes, `2` = No, `3` = None.","default":"3","enum":["1","2","3"]},"is_final_return_override":{"type":"boolean","nullable":true,"description":"Indicates whether final return override is applied."}}}}}},"individual_tax_return":{"type":"object","additionalProperties":false,"description":"Per-tax-return-type meta fields for individual tax return.","properties":{"yearwise_details":{"type":"array","items":{"type":"object","additionalProperties":false,"required":["year"],"properties":{"year":{"type":"integer","description":"Tax year."},"is_selected":{"type":"boolean","description":"Indicates whether this year is selected."},"non_deductible_meal":{"type":"number","nullable":true,"description":"Non-deductible meal amount for this year."}}}}}}}}},"example":{"borrower_uuid":"11111111-1111-1111-1111-111111111111","business_uuid":"22222222-2222-2222-2222-222222222222","income_guideline":"FANNIE_MAE_RECOMMENDED","meta_info":{"employment_start_date":"2020-01-15","employment_history_consistent_indicator":true,"du_case_file_id":"DU-12345","yearwise_details":[{"year":2023,"is_selected":true,"extraordinary_one_time_expense":1000,"non_deductible_meal":200},{"year":2022,"is_selected":false,"extraordinary_one_time_expense":null,"non_deductible_meal":150}],"s_corporation_earnings":{"yearwise_details":[{"year":2023,"is_selected":true,"adequate_business_liquidity":true,"compensation_of_officers_included_as_income":false,"mortgages_notes_and_bonds_payable_less_than1_year":"Some","mortgages_notes_and_bonds_payable_less_than1_year_amount":15000,"is_borrower_trust_guaranter":"2","amortization":500,"amortization_selection_type":"1","is_final_return_override":false},{"year":2022,"is_selected":false,"adequate_business_liquidity":null,"compensation_of_officers_included_as_income":true,"mortgages_notes_and_bonds_payable_less_than1_year":"None","mortgages_notes_and_bonds_payable_less_than1_year_amount":null,"is_borrower_trust_guaranter":"3","amortization":null,"amortization_selection_type":"3","is_final_return_override":null}]},"partnership_income":{"yearwise_details":[{"year":2023,"is_selected":true,"adequate_business_liquidity":false,"mortgages_notes_and_bonds_payable_less_than1_year":"All","mortgages_notes_and_bonds_payable_less_than1_year_amount":null,"is_borrower_trust_guaranter":"1","amortization":300,"amortization_selection_type":"2","is_final_return_override":true,"guaranteed_payments_to_partners_alternative":true},{"year":2022,"is_selected":false,"adequate_business_liquidity":true,"mortgages_notes_and_bonds_payable_less_than1_year":"Some","mortgages_notes_and_bonds_payable_less_than1_year_amount":8000,"is_borrower_trust_guaranter":"2","amortization":200,"amortization_selection_type":"1","is_final_return_override":false,"guaranteed_payments_to_partners_alternative":null}]},"regular_corporation":{"yearwise_details":[{"year":2023,"is_selected":true,"column_a_officers_count":3,"borrower_ownership_more_than25_pct":true,"all_officers_of_column_a_are_borrowers":1,"form1125e_included":true,"compensation_of_officers_included_as_income":false,"amortization":1200,"amortization_selection_type":"1","is_final_return_override":false},{"year":2022,"is_selected":false,"column_a_officers_count":null,"borrower_ownership_more_than25_pct":false,"all_officers_of_column_a_are_borrowers":0,"form1125e_included":false,"compensation_of_officers_included_as_income":true,"amortization":null,"amortization_selection_type":"3","is_final_return_override":null}]},"individual_tax_return":{"yearwise_details":[{"year":2023,"is_selected":true,"non_deductible_meal":250},{"year":2022,"is_selected":false,"non_deductible_meal":null}]}}}}}}},"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"Success","type":"object","properties":{"response":{"type":"object","description":"Contains the detailed of recalculated self-employed income.","properties":{"book_uuid":{"type":"string","format":"uuid","description":"Unique identifier for the income Book from the income is calculated.","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"borrower_uuid":{"type":"string","format":"uuid","description":"Unique identifier of the borrower for whom self-employed income is calculated.","example":"b2c3d4e5-f6a7-8901-bcde-f12345678901"},"business_uuid":{"type":"string","format":"uuid","description":"Unique identifier of the business for whom self-employed income is calculated.","example":"c3d4e5f6-a7b8-9012-cdef-123456789012"},"income_guideline":{"type":"string","description":"Income calculation guideline that was used to calculate income.","example":"FANNIE_MAE_RECOMMENDED"},"status":{"type":"string","description":"Status of the income calculation.","example":"success"}}}}},"examples":{"Success":{"value":{"book_uuid":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","borrower_uuid":"b2c3d4e5-f6a7-8901-bcde-f12345678901","business_uuid":"c3d4e5f6-a7b8-9012-cdef-123456789012","income_guideline":"FANNIE_MAE_RECOMMENDED","status":"success"}}}}}},"400":{"description":"Missing request body, identifiers, meta_info or invalid Auth and income guideline","content":{"application/json":{"schema":{"oneOf":[{"title":"Invalid auth","type":"object","properties":{"status":{"type":"integer","description":"A numerical code that indicates the status of the request.","example":400},"code":{"type":"integer","description":"A numerical code that indicates the nature of an error.","example":1401},"response":{"type":"object","description":"An object received from the server that potentially contains data."},"message":{"type":"string","description":"A textual description that indicates details about this response's status.","example":"Book not found"},"meta":{"type":"object","description":"An object received from the server that potentially contains data.","properties":{"status":{"type":"integer","example":400,"description":"A numerical code that indicates the status of the request."},"message":{"type":"string","example":"Book not found","description":"A textual description that indicates details about this response's status."},"code":{"type":"integer","example":1401,"description":"A numerical code that indicates the nature of an error."}}}}},{"title":"Missing request body","type":"object","properties":{"error":{"type":"string","description":"Error message indicating missing request body.","example":"Request body is required"}}},{"title":"Missing identifiers","type":"object","properties":{"error":{"type":"string","description":"Error message indicating missing identifiers such as borrower_uuid and business_uuid.","example":"borrower_uuid and business_uuid are required"}}},{"title":"Invalid income guideline","type":"object","properties":{"error":{"type":"string","description":"Error message indicating invalid income guideline value such as `FANNIE_MAE' or 'FANNIE_MAE_RECOMMENDED`.","example":"income_guideline is required and must be one of: ['FANNIE_MAE', 'FANNIE_MAE_RECOMMENDED']"}}},{"title":"Missing meta_info","type":"object","properties":{"error":{"type":"string","description":"Error message indicating missing meta_info.","example":"meta_info is required"}}}]},"examples":{"Invalid Auth":{"value":{"status":400,"code":1200,"message":"Authentication failed","meta":{"status":400,"msg":"Authentication failed","code":1200}}},"Missing Request Body":{"value":{"error":"Request body is required"}},"Missing Identifiers":{"value":{"error":"borrower_uuid and business_uuid are required"}},"Invalid Income Guideline":{"value":{"error":"income_guideline is required and must be one of: ['FANNIE_MAE', 'FANNIE_MAE_RECOMMENDED']"}},"Missing Meta Info":{"value":{"error":"meta_info is required"}}}}}},"404":{"description":"No existing income","content":{"application/json":{"schema":{"title":"No existing income","type":"object","properties":{"error":{"type":"string","description":"Error message indicating that no existing self-employed income was found for the specified borrower-business combination.","example":"No existing self-employed income found for this borrower-business combination"}}},"examples":{"Request body unavailable":{"value":{"error":"No existing self-employed income found for this borrower-business combination"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1income~1summary/get/responses/404/content/application~1json/schema"},"examples":{"Internal Server Error":{"value":{"status":500,"message":"Internal Server Error."}}}}}}}}}},"components":{"securitySchemes":{"oauth":{"type":"oauth2","description":"OAuth 2.0 support via client credentials flow. See [here](doc:using-api-credentials) for usage information.\n","flows":{"c
[...]
