{"openapi":"3.0.0","info":{"title":"Business History","version":"1.0.0"},"servers":[{"url":"https://api.ocrolus.com"}],"security":[{"oauth":[]}],"paths":{"/v2/book/{book_uuid}/business":{"get":{"summary":"Business identifier","operationId":"business-identifier","tags":["Business history"],"description":"This API retrieves the business associated with a given `book_uuid`. It returns the business ID and display name, which can be used with business-level endpoints to access aggregated data across multiple <<glossary:Book>>s. \nA single business can have multiple Books. All books associated with the same business within your organization return the same business ID.\n","parameters":[{"name":"book_uuid","in":"path","description":"A universally unique identifier (UUID) of the Book used to retrieve its associated business.","required":true,"schema":{"type":"string","format":"uuid","example":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"properties":{"id":{"type":"string","description":"Universally Unique Identifier (UUID) of the business entity. This is a stable identifier that is used with all business endpoints.","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"name":{"type":"string","description":"Display name of the business. The name is determined in the following order: user-defined display name, org-specific name, then global entity name.\n","example":"Acme Corp"}}},"examples":{"Success":{"value":{"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","name":"Acme Corp"}}}}}},"400":{"description":"Invalid Auth/Book UUID format","content":{"application/json":{"schema":{"oneOf":[{"title":"Invalid authentication","$ref":"#/paths/~1v1~1businesses~1%7Bbusiness_id%7D/get/responses/400/content/application~1json/schema/oneOf/0"},{"title":"Invalid Book UUID Format","$ref":"#/paths/~1v1~1businesses~1%7Bbusiness_id%7D/get/responses/403/content/application~1json/schema"}]},"examples":{"Invalid Auth":{"$ref":"#/components/examples/InvalidAuthError"},"Invalid Book UUID Format":{"$ref":"#/components/examples/InvalidBookUUIDFormatError"}}}}},"403":{"description":"Book not associated with requesting organization","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1businesses~1%7Bbusiness_id%7D/get/responses/403/content/application~1json/schema"},"examples":{"Book not associated with requesting organization":{"$ref":"#/components/examples/BookNotBelongToOrganizationError"}}}}},"404":{"description":"Business Identity Not Associated With Book","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1businesses~1%7Bbusiness_id%7D/get/responses/403/content/application~1json/schema"},"examples":{"Business Identity Not Associated With Book":{"$ref":"#/components/examples/BusinessIdentityNotAssociatedWithBookError"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1businesses~1%7Bbusiness_id%7D/get/responses/403/content/application~1json/schema"},"examples":{"Internal Server Error":{"$ref":"#/components/examples/InternalServerError"}}}}}}}},"/v1/businesses/{business_id}":{"get":{"summary":"Business overview","operationId":"business-overview","tags":["Business history"],"description":"This API retrieves the full metadata profile for a business entity, including industry classification, loan inquiry history, and addresses derived from bank account holder information.\n","parameters":[{"name":"business_id","in":"path","description":"A universally unique identifier (UUID) of the business entity for which you want to retrieve overview information.","required":true,"schema":{"type":"string","format":"uuid","example":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"properties":{"id":{"type":"string","description":"UUID of the business entity for which overview information is retrieved.","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"name":{"type":"string","description":"Display name of the business. The name is determined in the following order: user-defined display name, org-specific name, then global entity name.\n","example":"Acme Corp"},"state":{"type":"string","description":"Current operational state of the business entity.","enum":["ACTIVE","INACTIVE","CLOSED"],"example":"ACTIVE"},"industry":{"type":"object","description":"Industry classification information for the business.","properties":{"naics4_code":{"type":"integer","description":"A 4-digit North American Industry Classification System (NAICS) code that represents the industry of the Book.","example":7225},"naics_description":{"type":"string","description":"\nThe description of the 4-digit NAICS code, indicating the industry classification of the Book category.\n\n  > 📘 In Books with multiple businesses or fragmented merchant activity, system may show the following statuses as applicable:\n  > - **`Pending - Industry Data`** — Classification is in progress.  \n  > - **`Unable to find a unique SMB merchant`** — The system is not able to find a unique merchant mapped to the documents in the Book.  \n  > - **`Not Available`** — The system has found a unique merchant, but this merchant does not have industry classification data.\n","example":"Restaurants and Other Eating Places"},"naics6_code":{"type":"integer","description":"A six-digit NAICS code that provides a more granular industry classification for the merchant. This code refines the broader NAICS category and is commonly used for detailed industry analysis, peer comparisons, and benchmarking.","example":7225},"naics6_description":{"type":"string","description":"A human-readable description of the six-digit NAICS code that specifies the merchant’s exact industry segment within the broader NAICS classification.","example":"Snack and Nonalcoholic Beverage Bars"},"naics_override":{"type":"boolean","description":"Shows if the 4-digit NAICSA code was overriden by the lender.","example":true},"mcc_code":{"type":"integer","description":"A four-digit code assigned by payment networks that classifies a merchant based on the primary type of goods or services they provide. Merchant Category Code (MCC) are commonly derived from card transaction data and are used for transaction categorization, risk assessment, and analytics.","example":7225},"mcc_description_":{"type":"string","description":"A human-readable description of the MCC that explains the merchant’s primary business activity as defined by the card network.","example":"Snack and Nonalcoholic Beverage Bars"},"sic_code":{"type":"integer","description":"A four-digit Standard Industrial Classification (SIC) code that identifies the merchant’s primary business activity using the legacy SIC system. SIC codes are derived from bank statement data and are used for industry classification, regulatory reporting, and analytics.","example":172},"sic_description_":{"type":"string","description":"A human-readable description of the SIC code that explains the merchant’s primary industry classification under the SIC system.","example":"GRAPES"},"active_override":{"type":"boolean","description":"Shows if the industry classification has been manually overridden.","example":false}}},"loan_inquiries":{"type":"object","description":"Loan inquiry history and velocity metrics aggregated across all applications.","properties":{"total_applications":{"type":"integer","description":"Total number of loan applications across all organisations that have been made for this business entity.","example":5},"application_history":{"type":"array","description":"Timestamps (ISO 8601) for each application.\n  > 📘 Note\n  > This is cross-org data. It includes application timestamps but does not identify which organization submitted each application.\n","items":{"type":"string","format":"date-time"},"example":["2025-01-15T12:00:00Z"]},"velocity":{"type":"object","description":"Application velocity counts in rolling time windows.","properties":{"day_count_30":{"type":"integer","description":"Number of applications in the last 30 days.","example":1},"day_count_60":{"type":"integer","description":"Number of applications in the last 60 days.","example":1},"day_count_90":{"type":"integer","description":"Number of applications in the last 90 days.","example":2},"day_count_180":{"type":"integer","description":"Number of applications in the last 180 days.","example":3},"day_count_270":{"type":"integer","description":"Number of applications in the last 270 days.","example":4},"day_count_365":{"type":"integer","description":"Number of applications in the last 365 days.","example":5}}}}},"addresses":{"type":"array","description":"Deduplicated addresses derived from bank account holder information, sorted by frequency with the most common address first.","items":{"type":"object","properties":{"holder_address_1":{"type":"string","description":"The primary line of the address, typically including the street number and name.","example":"123 MAIN STREET"},"holder_address_2":{"type":"string","nullable":true,"description":"The secondary line of the address, which may include apartment, suite, unit, building, or floor.","example":"SUITE 200"},"holder_city":{"type":"string","description":"The city associated with the address.","example":"NEW YORK"},"holder_state":{"type":"string","description":"The state or province associated with the address.","example":"NY"},"holder_zip":{"type":"string","description":"The postal or ZIP code associated with the address.","example":"10001"},"holder_country":{"type":"string","description":"The country associated with the address.","example":"US"},"frequency":{"type":"integer","example":4,"description":"Number of bank accounts sharing this address. Higher frequency indicates higher confidence."}}}}}},"examples":{"Success":{"value":{"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","name":"Acme Corp","state":"ACTIVE","industry":{"naics4_code":"5411","naics_description":"Legal Services","active_override":false,"naics6_code":"541110","naics6_description":"Offices of Lawyers","mcc_code":"8111","mcc_description":"Legal Services","sic_code":"8111","sic_description":"Legal Services"},"loan_inquiries":{"total_applications":5,"application_history":["2025-01-15T12:00:00Z","2025-04-20T09:30:00Z","2025-07-10T14:15:00Z","2025-10-05T11:00:00Z","2026-01-22T16:45:00Z"],"velocity":{"day_count_30":1,"day_count_60":1,"day_count_90":2,"day_count_180":3,"day_count_270":4,"day_count_365":5}},"addresses":[{"holder_address_1":"123 MAIN STREET","holder_address_2":"SUITE 200","holder_city":"NEW YORK","holder_state":"NY","holder_zip":"10001","holder_country":"US","frequency":4},{"holder_address_1":"PO BOX 456","holder_address_2":null,"holder_city":"NEW YORK","holder_state":"NY","holder_zip":"10002","holder_country":"US","frequency":1}]}}}}}},"400":{"description":"Invalid Auth/Business ID format","content":{"application/json":{"schema":{"oneOf":[{"title":"Invalid authentication","properties":{"status":{"type":"integer","description":"A numerical code that indicates the status of the request.","example":400},"code":{"type":"integer","description":"A numerical code that indicates the nature of an error.","example":1401},"response":{"type":"object","description":"An object received from the server that potentially contains data."},"message":{"type":"string","description":"A textual description that indicates details about this response's status.","example":"Book not found"},"meta":{"type":"object","description":"An object received from the server that potentially contains data.","properties":{"status":{"type":"integer","example":400,"description":"A numerical code that indicates the status of the request."},"message":{"type":"string","example":"Book not found","description":"A textual description that indicates details about this response's status."},"code":{"type":"integer","example":1401,"description":"A numerical code that indicates the nature of an error."}}}}},{"title":"Invalid Business ID Format","$ref":"#/paths/~1v1~1businesses~1%7Bbusiness_id%7D/get/responses/403/content/application~1json/schema"}]},"examples":{"Invalid Auth":{"$ref":"#/components/examples/InvalidAuthError"},"Invalid Business ID Format":{"$ref":"#/components/examples/InvalidBusinessIDFormatError"}}}}},"403":{"description":"Business not associated with requesting organization","content":{"application/json":{"schema":{"properties":{"status":{"type":"integer","description":"A numerical code that indicates the status of the request."},"message":{"type":"string","description":"A textual description that indicates details about this response's status."}}},"examples":{"Business not associated with requesting organization":{"$ref":"#/components/examples/BusinessNotBelongToOrganizationError"}}}}},"404":{"description":"Business Identity Not Associated With Book","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1businesses~1%7Bbusiness_id%7D/get/responses/403/content/application~1json/schema"},"examples":{"Business Identity Not Associated With Book":{"$ref":"#/components/examples/BusinessIdentityNotAssociatedWithBookError"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1businesses~1%7Bbusiness_id%7D/get/responses/403/content/application~1json/schema"},"examples":{"Internal Server Error":{"$ref":"#/components/examples/InternalServerError"}}}}}}}},"/v1/businesses/{business_id}/transactions":{"get":{"summary":"Business transactions","operationId":"business-transactions","tags":["Business history"],"description":"This API retrieves the paginated, deduplicated enriched transactions across all of the requesting org's <<glossary:Book>>s for a given business. Transactions are structurally compatible with the existing book-level enriched transactions API.\n\n  > 👍 Tips\n  > `start_date` and `end_date` filter transactions based on when they occurred at the bank, while `updated_since` filters based on when transactions were ingested into the system. Use `updated_since` to retrieve newly added data, even if the transaction dates are earlier.\n","parameters":[{"name":"business_id","in":"path","description":"A universally unique identifier (UUID) of the business entity for which you want to retrieve transction details.","required":true,"schema":{"type":"string","format":"uuid","example":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}},{"name":"offset","in":"query","description":"Number of transactions to skip for pagination.","required":false,"schema":{"type":"integer","minimum":0}},{"name":"limit","in":"query","description":"Maximum number of records to return per page, starting from the specified **offset**.","required":false,"schema":{"type":"integer","minimum":1}},{"name":"start_date","in":"query","description":"Start date in `YYYY-MM-DD` format from which you want to filter transactions. The system includes only transactions with a `txn_date` on or after the specified date.","required":false,"schema":{"type":"string","format":"date","example":"2023-01-01"}},{"name":"end_date","in":"query","description":"End date in `YYYY-MM-DD` format from which you want to filter transactions. The system includes only transactions with a `txn_date` on or before the specified date.","required":false,"schema":{"type":"string","format":"date","example":"2023-12-31"}},{"name":"updated_since","in":"query","description":"Timestamp (ISO 8601) for filtering transactions ingested into the system after this time. The system uses `txn_created_ts` to determine the ingestion time. Use this for incremental retrieval to fetch only newly ingested transactions since your last request.","required":false,"schema":{"type":"string","format":"date-time","example":"2023-01-01T00:00:00Z"}}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"properties":{"id":{"description":"Unique identifier of the business entity for which transaction details are retrieved.","type":"string","format":"uuid","example":"caaa57ba-8909-4a05-9dcc-e7cc057e3c48"},"total":{"type":"integer","description":"The total number of deduplicated transactions for this business retrieved based on the specified query parameteres.","example":50},"filtered_total":{"type":"integer","description":"The total number of transactions retrieved based on the provided `start_date`, `end_date`, and `updated_since` filters.","example":50},"offset":{"type":"integer","description":"The starting index for paginated transactions result.","example":1},"limit":{"type":"integer","description":"The maximum number of transactions returned per page starting from the specified `offset` value.","example":50},"transactions":{"type":"array","items":{"type":"object","properties":{"txn_pk":{"type":"integer","example":[2640590368],"description":"Unique identifier of the transaction."},"txn_date":{"type":"number","example":"2021-01-09","description":"Date of the transaction in ISO 8601-compliant YYYY-MM-DD format."},"description":{"type":"string","example":"CHECKCARD 0109 LIBERTY PAPER SUPPLIES","description":"A brief description of the transaction."},"bank_account_pk":{"type":"integer","example":123246,"description":"The primary key of the bank account associated with the transaction."},"uploaded_doc_uuid":{"type":"string","example":123246,"description":"The UUID of the uploaded <<glossary:Document>> containing transaction details."},"uploaded_doc_name":{"type":"string","example":"december_bank_statement","description":"The name of the uploaded <<glossary:Document>> containing transaction details."},"amount":{"type":"number","format":"float","example":-50,"description":"Transaction amount. Positive values represent credits, and negative values represent debits.\nThis amount includes dollars and cents; to avoid floating-point precision errors, consider parsing this field with a decimal data type, as opposed to a native `float` or `double`.\n"},"counterparty":{"type":"string","description":"Standardized identifier of the transaction counterparty.","example":"ACME Corp"},"comment":{"type":"string","description":"User provided notes or remarks about the transaction.","example":"Payment for office supplies"},"is_noteworthy":{"type":"boolean","description":"Indicates whether the transaction is considered noteworthy based on internal business rules and risk factors. A value of `true` highlights transactions that may require additional attention or review."},"page_idx":{"type":"number","description":"The page number in the source document where this transaction was recorded."},"book_uuid":{"type":"string","description":"UUID of the book entity from which transaction details are retrieved.","example":"book-uuid-456","format":"uuid"},"deposits":{"type":"boolean","example":true,"description":"Creadited amount greater than zero."},"withdrawals":{"type":"boolean","example":true,"description":"Debited amount less than zero."},"revenue":{"type":"boolean","example":true,"description":"Deposits that have been included in revenue."},"nsf":{"type":"boolean","example":true,"description":"Non-sufficient funds transactions and fees."},"expense":{"type":"boolean","example":true,"description":"Withdrawals that have been included as expense."},"overdraft":{"type":"boolean","example":true,"description":"Fees associated with overdraft events"},"atm":{"type":"boolean","example":true,"description":"Transaction at physical ATM locations."},"bank":{"type":"boolean","nullable":true,"description":"Transaction associated with a traditional bank/depository institution."},"bank_branch":{"type":"boolean","nullable":true,"description":"Transaction with a physical bank branch."},"bank_cash_advance":{"type":"boolean","nullable":true,"description":"Cash advance transaction with a traditional bank."},"bank_loan":{"type":"boolean","nullable":true,"description":"Loan transaction with a traditional bank."},"benefits":{"type":"boolean","nullable":true,"description":"Transaction associated with government benefits."},"card_rewards":{"type":"boolean","nullable":true,"description":"Transaction associated with credit card rewards."},"checks":{"type":"boolean","example":true,"description":"Transaction associated with check payments, including check payments that have cleared, as well as check payments that have not cleared but are present in the bank statement data."},"credit_builder":{"type":"boolean","example":false,"description":"Transaction associated with credit builder products offered by fintech companies to help businesses build credit history."},"credit_card":{"type":"boolean","example":true,"description":"Transaction associated with credit cards, including purchases, payments, fees, and interest charges."},"crypto":{"type":"boolean","example":true,"description":"Transaction associated with cryptocurrency and related companies."},"debit_card":{"type":"boolean","example":true,"description":"Debit card transaction."},"debt_consolidator":{"type":"boolean","example":true,"description":"Transaction associated with debt refinancing and consolidation companies that offer services to help businesses manage and consolidate existing debts."},"equipment_lease":{"type":"boolean","example":true,"description":"Transaction associated with equipment leasing companies."},"factoring":{"type":"boolean","example":true,"description":"Transaction associated with factoring companies."},"federal_tax":{"type":"boolean","example":true,"description":"Transaction associated with federal tax payments or refunds."},"fintech_loan":{"type":"boolean","example":true,"description":"Loan transaction with a fintech company that does not fit into `bank_loan` category."},"fintech_loan_source":{"type":"string","example":true,"description":"The source of a loan transaction with a fintech company."},"fintech_mca":{"type":"string","example":true,"description":"Merchant cash advance transaction with a fintech company."},"fintech_mca_source":{"type":"boolean","example":true,"description":"The source of a merchant cash advance transaction with a fintech company."},"fintech":{"type":"boolean","example":true,"description":"Transaction associated with a fintech company."},"gambling":{"type":"boolean","example":true,"description":"Transaction associated with gambling like casino and lottery."},"insurance":{"type":"boolean","example":true,"description":"Transaction associated with insurance premiums or payouts."},"internal_transfer":{"type":"boolean","example":true,"description":"Transfer between accounts with the same owner."},"investment":{"type":"boolean","example":true,"description":"Transaction associated with investment and brokerage companies."},"large_deposits":{"type":"boolean","example":true,"description":"Large amount of deposite in the account."},"merchant_service_transfer":{"type":"boolean","example":true,"description":"Transfer to/from a merchant service company."},"merchant_service":{"type":"boolean","example":true,"description":"Transaction associated with payment processing companies."},"nsf_paid_or_negative_balance":{"type":"boolean","example":true,"description":"Indicates a paid transaction despite insufficient funds (NSF) or an account with a negative balance."},"nsf_returned_or_not_paid":{"type":"boolean","example":true,"description":"Indicates a transaction that was returned or declined due to non-sufficient funds (NSF) and was not successfully paid."},"other_loan":{"type":"boolean","example":true,"description":"Loan transaction that does not fit into `fintech_loan` or `bank_loan`."},"other_transfer":{"type":"boolean","example":true,"description":"Transfer that does not fit into other categories."},"outside_source_deposits":{"type":"boolean","example":true,"description":"Deposits that are not `internal_transfer` or `other_transfer`."},"paypal":{"type":"boolean","example":true,"description":"Transaction with PayPal, including PayPal payments, fees, and refunds."},"payroll_tax":{"type":"boolean","example":true,"description":"Transaction associated with payroll tax payments or refunds."},"payroll":{"type":"boolean","example":true,"description":"Transaction associated with payroll activities and companies."},"probable_recurring_txns":{"type":"boolean","example":true,"description":"Transaction that is likely to be recurring based on internal business rules and transaction patterns."},"remote":{"type":"boolean","example":true,"description":"Transaction initiated without the physical presence of a card, such as online or phone transactions."},"returned_item":{"type":"boolean","example":true,"description":"Transaction associated with returned items, including returns of purchases and returned checks."},"revenue_deduction_other":{"type":"boolean","example":true,"description":"Transaction that had been removed from revenue but does not fit into other categories."},"revenue_deduction":{"type":"boolean","example":true,"description":"Transaction that has been removed from revenue, including refunds, returns, and other revenue adjustments."},"reversed":{"type":"boolean","example":true,"description":"Transaction that has been reversed, meaning the original transaction was negated by a subsequent transaction, such as a refund or reversal entry."},"sba":{"type":"boolean","example":true,"description":"Transaction associated with the Small Business Administration."},"state_tax":{"type":"boolean","example":true,"description":"Transaction associated with state tax payments or refunds."},"tolls":{"type":"boolean","example":true,"description":"Transaction associated with transportation tolls (bridges, highways, etc.)."},"truck_stop":{"type":"boolean","example":true,"description":"Transaction associated with truck stops, including fuel purchases, rest fees, and other services at truck stop locations."},"txn_five_zeros":{"type":"boolean","example":true,"description":"Amount is multiple of $1000.00."},"txn_four_zeros":{"type":"boolean","example":true,"description":"Amount is multiple of $100.00."},"venmo_zelle_cashapp":{"type":"boolean","example":true,"description":"Transaction with popular peer-to-peer payment platforms like Venmo, Zelle, and Cash App."},"wire_transfer":{"type":"boolean","example":true,"description":"Transaction associated with wire transfers, including both domestic and international wires."},"custom_tag":{"type":"boolean","description":"Custom tag that can be applied to transactions based on user-defined criteria or business rules."}}}}}},"examples":{"Success":{"value":{"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","total":5234,"filtered_total":1200,"offset":0,"limit":50,"transactions":[{"txn_pk":202,"txn_date":"2025-01-15","description":"ACME PAYMENT","bank_account_pk":42,"uploaded_doc_uuid":"doc-uuid-123","uploaded_doc_name":"jan_statement.pdf","amount":-50,"counterparty":"ACME Corp","comment":null,"is_noteworthy":false,"page_idx":2,"book_uuid":"book-uuid-456","deposits":false,"withdrawals":true,"revenue":false,"expense":true,"nsf":false,"overdraft":false,"atm":false,"bank":false,"bank_branch":false,"bank_cash_advance":false,"bank_loan":false,"benefits":false,"card_rewards":false,"checks":false,"credit_builder":false,"credit_card":false,"crypto":false,"debit_card":true,"debt_consolidator":false,"equipment_lease":false,"factoring":false,"federal_tax":false,"fintech":false,"fintech_loan":false,"fintech_loan_source":null,"fintech_mca":false,"fintech_mca_source":null,"gambling":false,"insurance":false,"internal_transfer":false,"investment":false,"large_deposits":false,"merchant_service":false,"merchant_service_transfer":false,"nsf_paid_or_negative_balance":false,"nsf_returned_or_not_paid":false,"other_loan":false,"other_transfer":false,"outside_source_deposits":false,"paypal":false,"payroll":false,"payroll_tax":false,"probable_recurring_txns":false,"remote":false,"returned_item":false,"revenue_deduction":false,"revenue_deduction_other":false,"reversed":false,"sba":false,"state_tax":false,"tolls":false,"truck_stop":false,"txn_five_zeros":false,"txn_four_zeros":false,"venmo_zelle_cashapp":false,"wire_transfer":false}]}}}}}},"400":{"description":"Invalid Auth/Business ID format","content":{"application/json":{"schema":{"oneOf":[{"title":"Invalid authentication","$ref":"#/paths/~1v1~1businesses~1%7Bbusiness_id%7D/get/responses/400/content/application~1json/schema/oneOf/0"},{"title":"Invalid Business ID Format","$ref":"#/paths/~1v1~1businesses~1%7Bbusiness_id%7D/get/responses/403/content/application~1json/schema"}]},"examples":{"Invalid Auth":{"$ref":"#/components/examples/InvalidAuthError"},"Invalid Business ID Format":{"$ref":"#/components/examples/InvalidBusinessIDFormatError"}}}}},"403":{"description":"Business not associated with requesting organization","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1businesses~1%7Bbusiness_id%7D/get/responses/403/content/application~1json/schema"},"examples":{"Business not associated with requesting organization":{"$ref":"#/components/examples/BusinessNotBelongToOrganizationError"}}}}},"404":{"description":"Business Identity Not Found","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1businesses~1%7Bbusiness_id%7D/get/responses/403/content/application~1json/schema"},"examples":{"Business Identity Not Found":{"$ref":"#/components/examples/BusinessNotFoundError"}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/paths/~1v1~1businesses~1%7Bbusiness_id%7D/get/responses/403/content/application~1json/schema"},"examples":{"Internal Server Error":{"$ref":"#/components/examples/InternalServerError"}}}}}}}},"/v1/businesses/{business_id}/summary":{"get":{"summary":"Business summary","operationId":"business-summary","tags":["Business history"],"description":"This API retrieves the chronological financial summary for a business entity, calculated from deduplicated and organization-enriched transactions across all <<glossary:Book>> belonging to the requesting organization.\n","parameters":[{"name":"business_id","in":"path","description":"A universally unique identifier (UUID) of the business entity for which you want to retrieve summary.","required":true,"schema":{"type":"string","format":"uuid","example":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}},{"name":"begin_date","in":"query","description":"The start date in `YYYY-MM-DD` format for the financial summary period.","required":false,"schema":{"type":"string","format":"date","example":"2023-01-01"}},{"name":"end_date","in":"query","description":"The end date in `YYYY-MM-DD` format for the financial summary period.","required":false,"schema":{"type":"string","format":"date","example":"2023-10-01"}},{"name":"updated_since","in":"query","description":"The date from which to retrieve updated business summaries.","required":false,"schema":{"type":"string","format":"date","example":"2023-10-01"}}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"properties":{"id":{"type":"string","format":"uuid","description":"Unique identifier of the business entity.","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"name":{"type":"string","description":"Name of the business entity.","example":"Acme Corp"},"naics4_code":{"type":"string","description":"A 4-digit North American Industry Classification System (NAICS) code that represents the industry of the business.","example":"5411"},"naics_description":{"type":"string","description":"The description of the 4-digit NAICS code, indicating the industry classification of the business category.","example":"Legal Services"},"naics6_code":{"type":"string","description":"6-digit NAICS code for the business industry classification.","example":"541110"},"books":{"type":"array","description":"List of books associated with the business.","items":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid","description":"Unique identifier of the Book.","example":"book-uuid-1"},"name":{"type":"string","description":"Name of the Book.","example":"Q1 2025 Application"},"created_ts":{"type":"string","format":"date-time","description":"ISO 8601 timestamp of when the Book was created.","example":"2025-01-10T08:00:00Z"},"uploaded_docs":{"type":"array","description":"List of documents uploaded to the Book.","items":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid","description":"Unique identifier of the uploaded document.","example":"doc-uuid-1"},"name":{"type":"string","description":"Name of the uploaded document.","example":"jan_statement.pdf"},"status":{"type":"string","description":"Status of the uploaded document.","example":"VERIFIED"}}}}}}},"book_count":{"type":"integer","description":"Total number of Books associated with the business.","example":3},"txn_count":{"type":"integer","description":"Total number of deduplicated transactions for the business.","example":5234},"bank_accounts":{"type":"array","description":"List of bank accounts associated with the business.","items":{"type":"object","properties":{"bank_account_pks":{"type":"array","items":{"type":"string"},"description":"List of primary keys from different Books that map to this physical account.","example":[42,87,153]},"txn_count":{"type":"integer","description":"Number of deduplicated transactions for these accounts.","example":3200},"bank_name":{"type":"string","description":"Name of the bank.","example":"Chase"},"account_type":{"type":"string","description":"Type of the bank account.","example":"CHECKING"},"account_number":{"type":"string","description":"Masked account number, with all but the last 4 digits obfuscated for security.","example":"****1234"},"account_holder_name":{"type":"string","description":"Name of the account holder.","example":"ACME CORP"},"account_category":{"type":"string","description":"Category of the account.","example":"BUSINESS"},"holder_address_1":{"type":"string","description":"Primary address line of the account holder.","example":"123 MAIN STREET"},"holder_address_2":{"type":"string","description":"Secondary address line of the account holder.","example":"APT 4B"},"holder_city":{"type":"string","description":"City of the account holder's address.","example":"NEW YORK"},"holder_state":{"type":"string","description":"State of the account holder's address.","example":"NY"},"holder_zip":{"type":"string","description":"ZIP code of the account holder's address.","example":"10001"},"daily_balances":{"type":"object","description":"Daily balances for the account keyed by date in YYYY-MM-DD format.","additionalProperties":{"type":"string"},"example":{"2025-01-01":15000.5}},"daily_cash_flows":{"type":"object","description":"Daily cash flow values keyed by date in YYYY-MM-DD format.","additionalProperties":{"type":"string"}},"average_daily_balance":{"type":"string","description":"Average daily balance across the full analysis period."},"average_daily_cash_flow":{"type":"string","description":"Average daily cash flow across the full analysis period."},"average_daily_balance_weekday":{"type":"string","description":"Average daily balance calculated for weekdays only."},"total_days":{"type":"integer","description":"Total number of days included in the analysis period."},"net_cash_flows_by_month":{"type":"object","description":"Net cash flow values grouped by month, keyed by YYYY-MM.","additionalProperties":{"type":"string"}},"minimum_balance_by_month":{"type":"object","description":"Minimum balance for each month, keyed by YYYY-MM.","additionalProperties":{"type":"string"}},"maximum_balance_by_month":{"type":"object","description":"Maximum balance for each month, keyed by YYYY-MM.","additionalProperties":{"type":"string"}},"average_daily_balance_by_month":{"type":"object","description":"Average daily balance for each month, keyed by YYYY-MM.","additionalProperties":{"type":"string"}},"average_daily_balance_weekday_by_month":{"type":"object","description":"Average weekday daily balance for each month, keyed by YYYY-MM.","additionalProperties":{"type":"string"}},"negative_balances_by_month":{"type":"object","description":"Negative balance values for each month, keyed by YYYY-MM.","additionalProperties":{"type":"array","items":{"type":"string"}}},"negative_balances_count_by_month":{"type":"object","description":"Count of negative balance occurrences for each month, keyed by YYYY-MM.","additionalProperties":{"type":"string"}},"negative_balances_weekday_by_month":{"type":"object","description":"Negative balance values on weekdays for each month, keyed by YYYY-MM.","additionalProperties":{"type":"array","items":{"type":"string"}}},"negative_balances_weekday_count_by_month":{"type":"object","description":"Count of weekday negative balance occurrences for each month, keyed by YYYY-MM.","additionalProperties":{"type":"string"}},"nsf_fee_count_by_month":{"type":"object","description":"Count of NSF fee occurrences for each month, keyed by YYYY-MM.","additionalProperties":{"type":"integer"}},"nsf_raw_fee_count_by_month":{"type":"object","description":"Count of raw NSF fee occurrences for each month, keyed by YYYY-MM.","additionalProperties":{"type":"integer"}},"overdraft_fee_count_by_month":{"type":"object","description":"Count of overdraft fee occurrences for each month, keyed by YYYY-MM.","additionalProperties":{"type":"integer"}},"overdraft_raw_fee_count_by_month":{"type":"object","description":"Count of raw overdraft fee occurrences for each month, keyed by YYYY-MM.","additionalProperties":{"type":"integer"}},"periods":{"type":"array","description":"List of analyzed account periods with balance, transaction, cash flow, deposit, withdrawal, revenue, expense, and reconciliation metrics.","items":{"type":"object","properties":{"begin_date":{"type":"string","format":"date","description":"Start date of the period.","example":"2016-01-01"},"end_date":{"type":"string","format":"date","description":"End date of the period.","example":"2016-01-29"},"begin_balance":{"type":"integer","description":"Beginning balance for the period.","example":1614},"end_balance":{"type":"integer","description":"Ending balance for the period.","example":-783},"txn_count":{"type":"integer","description":"Number of transactions in the period.","example":0},"uploaded_doc_uuid":{"type":"string","format":"uuid","description":"UUID of the uploaded document associated with the period, if available."},"missing_period_data":{"type":"boolean","description":"Indicates whether period data is missing.","example":false},"average_amount":{"type":"string","description":"Average transaction amount for the period."},"average_daily_balance":{"type":"string","description":"Average daily balance for the period."},"average_daily_balance_weekday":{"type":"string","description":"Average daily balance on weekdays for the period."},"average_daily_cash_flow":{"type":"string","description":"Average daily cash flow for the period."},"average_deposit":{"type":"string","description":"Average deposit amount for the period."},"deposit_sum":{"type":"string","description":"Total deposit amount for the period."},"deposit_count":{"type":"string","description":"Number of deposits in the period."},"max_deposit":{"type":"string","description":"Maximum deposit amount in the period."},"average_withdrawal":{"type":"string","description":"Average withdrawal amount for the period."},"withdrawal_sum":{"type":"string","description":"Total withdrawal amount for the period."},"withdrawal_count":{"type":"string","description":"Number of withdrawals in the period."},"max_withdrawal":{"type":"string","description":"Maximum withdrawal amount in the period."},"revenue":{"type":"string","description":"Revenue amount for the period."},"revenue_count":{"type":"string","description":"Number of revenue transactions in the period."},"revenue_deduction":{"type":"string","description":"Revenue deduction amount for the period."},"expense":{"type":"string","description":"Expense amount for the period."},"expense_count":{"type":"string","description":"Number of expense transactions in the period."},"large_deposits":{"type":"string","description":"Total amount of large deposits in the period."},"negative_balances":{"type":"array","description":"List of negative balance values observed in the period.","items":{"type":"string"}},"negative_balances_weekday":{"type":"array","description":"List of weekday negative balance values observed in the period.","items":{"type":"string"}},"nsf_days_count":{"type":"string","description":"Number of days with NSF events in the period."},"nsf_fee_sum":{"type":"string","description":"Total NSF fees in the period."},"nsf_fee_count":{"type":"string","description":"Count of NSF fee events in the period."},"nsf_raw_fee_count":{"type":"string","description":"Count of raw NSF fee events in the period."},"nsf_divisor":{"type":"string","description":"Divisor used for NSF-related calculations."},"overdraft_days_count":{"type":"string","description":"Number of overdraft days in the period."},"overdraft_fee_sum":{"type":"string","description":"Total overdraft fees in the period."},"overdraft_fee_count":{"type":"string","description":"Count of overdraft fee events in the period."},"overdraft_raw_fee_count":{"type":"string","description":"Count of raw overdraft fee events in the period."},"overdraft_divisor":{"type":"string","description":"Divisor used for overdraft-related calculations."},"nsf_or_overdraft_days_count":{"type":"string","description":"Number of days with either NSF or overdraft events in the period."},"returned_item_deposit_count":{"type":"string","description":"Number of returned deposit items in the period."},"returned_item_withdrawal_count":{"type":"string","description":"Number of returned withdrawal items in the period."},"has_weekend_txn":{"type":"boolean","description":"Indicates whether the period contains weekend transactions."},"calculated_end_balance":{"type":"string","description":"Calculated ending balance for reconciliation."},"calculated_diff":{"type":"string","description":"Difference between reported and calculated ending balance."},"primary_recon_error_reason":{"type":"string","description":"Primary reconciliation error reason, if any."},"secondary_recon_error_reason":{"type":"string","description":"Secondary reconciliation error reason, if any."}}}},"expense_by_month":{"type":"object","description":"Expense amounts grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":-14404.21,"2025-02":-38898.7}},"withdrawals_by_month":{"type":"object","description":"Withdrawal amounts grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":-14404.21,"2025-02":-38898.7}},"revenue_by_month":{"type":"object","description":"Revenue amounts grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":11116.01,"2025-02":23734.38}},"revenue_deduction_by_month":{"type":"object","description":"Revenue deduction amounts grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":478.67,"2025-02":22631.99}},"deposits_by_month":{"type":"object","description":"Deposit amounts grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":11594.68,"2025-02":46366.37}},"outside_source_deposits_by_month":{"type":"object","description":"Deposits from outside sources grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":5000}},"large_deposits_by_month":{"type":"object","description":"Large deposits grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":25000}},"debt_consolidator_inflows_by_month":{"type":"object","description":"Debt consolidator inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"debt_consolidator_outflows_by_month":{"type":"object","description":"Debt consolidator outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"factoring_inflows_by_month":{"type":"object","description":"Factoring inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"factoring_outflows_by_month":{"type":"object","description":"Factoring outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"payroll_inflows_by_month":{"type":"object","description":"Payroll inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"payroll_outflows_by_month":{"type":"object","description":"Payroll outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"insurance_inflows_by_month":{"type":"object","description":"Insurance inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"insurance_outflows_by_month":{"type":"object","description":"Insurance outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"venmo_zelle_cashapp_inflows_by_month":{"type":"object","description":"Venmo, Zelle, and Cash App inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"venmo_zelle_cashapp_outflows_by_month":{"type":"object","description":"Venmo, Zelle, and Cash App outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"atm_inflows_by_month":{"type":"object","description":"ATM inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"atm_outflows_by_month":{"type":"object","description":"ATM outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"tolls_inflows_by_month":{"type":"object","description":"Tolls inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"tolls_outflows_by_month":{"type":"object","description":"Tolls outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"paypal_inflows_by_month":{"type":"object","description":"PayPal inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"paypal_outflows_by_month":{"type":"object","description":"PayPal outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"equipment_lease_inflows_by_month":{"type":"object","description":"Equipment lease inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"equipment_lease_outflows_by_month":{"type":"object","description":"Equipment lease outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"checks_inflows_by_month":{"type":"object","description":"Check inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"checks_outflows_by_month":{"type":"object","description":"Check outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"txn_four_zeros_inflows_by_month":{"type":"object","description":"Transactions with four zeros inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"txn_four_zeros_outflows_by_month":{"type":"object","description":"Transactions with four zeros outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"txn_five_zeros_inflows_by_month":{"type":"object","description":"Transactions with five zeros inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"txn_five_zeros_outflows_by_month":{"type":"object","description":"Transactions with five zeros outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"probable_recurring_txns_inflows_by_month":{"type":"object","description":"Probable recurring transaction inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"probable_recurring_txns_outflows_by_month":{"type":"object","description":"Probable recurring transaction outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"fintech_loan_inflows_by_month":{"type":"object","description":"Fintech loan inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"fintech_loan_outflows_by_month":{"type":"object","description":"Fintech loan outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"bank_loan_inflows_by_month":{"type":"object","description":"Bank loan inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"bank_loan_outflows_by_month":{"type":"object","description":"Bank loan outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"other_loan_inflows_by_month":{"type":"object","description":"Other loan inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"other_loan_outflows_by_month":{"type":"object","description":"Other loan outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"fintech_mca_inflows_by_month":{"type":"object","description":"Fintech MCA inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"fintech_mca_outflows_by_month":{"type":"object","description":"Fintech MCA outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"bank_cash_advance_inflows_by_month":{"type":"object","description":"Bank cash advance inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"bank_cash_advance_outflows_by_month":{"type":"object","description":"Bank cash advance outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"debit_card_inflows_by_month":{"type":"object","description":"Debit card inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"debit_card_outflows_by_month":{"type":"object","description":"Debit card outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"credit_card_inflows_by_month":{"type":"object","description":"Credit card inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"credit_card_outflows_by_month":{"type":"object","description":"Credit card outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"merchant_service_inflows_by_month":{"type":"object","description":"Merchant service inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"merchant_service_outflows_by_month":{"type":"object","description":"Merchant service outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"sba_inflows_by_month":{"type":"object","description":"SBA inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"sba_outflows_by_month":{"type":"object","description":"SBA outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"remote_inflows_by_month":{"type":"object","description":"Remote inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"remote_outflows_by_month":{"type":"object","description":"Remote outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"benefits_inflows_by_month":{"type":"object","description":"Benefits inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"benefits_outflows_by_month":{"type":"object","description":"Benefits outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"card_rewards_inflows_by_month":{"type":"object","description":"Card rewards inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"card_rewards_outflows_by_month":{"type":"object","description":"Card rewards outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"crypto_inflows_by_month":{"type":"object","description":"Crypto inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"crypto_outflows_by_month":{"type":"object","description":"Crypto outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"gambling_inflows_by_month":{"type":"object","description":"Gambling inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"gambling_outflows_by_month":{"type":"object","description":"Gambling outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"investment_inflows_by_month":{"type":"object","description":"Investment inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"investment_outflows_by_month":{"type":"object","description":"Investment outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"reversed_inflows_by_month":{"type":"object","description":"Reversed inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"reversed_outflows_by_month":{"type":"object","description":"Reversed outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"state_tax_inflows_by_month":{"type":"object","description":"State tax inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"state_tax_outflows_by_month":{"type":"object","description":"State tax outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"payroll_tax_inflows_by_month":{"type":"object","description":"Payroll tax inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"payroll_tax_outflows_by_month":{"type":"object","description":"Payroll tax outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"internal_transfer_inflows_by_month":{"type":"object","description":"Internal transfer inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"internal_transfer_outflows_by_month":{"type":"object","description":"Internal transfer outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"merchant_service_transfer_inflows_by_month":{"type":"object","description":"Merchant service transfer inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"merchant_service_transfer_outflows_by_month":{"type":"object","description":"Merchant service transfer outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"wire_transfer_inflows_by_month":{"type":"object","description":"Wire transfer inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"wire_transfer_outflows_by_month":{"type":"object","description":"Wire transfer outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"other_transfer_inflows_by_month":{"type":"object","description":"Other transfer inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"other_transfer_outflows_by_month":{"type":"object","description":"Other transfer outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"truck_stop_inflows_by_month":{"type":"object","description":"Truck stop inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"truck_stop_outflows_by_month":{"type":"object","description":"Truck stop outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"federal_tax_inflows_by_month":{"type":"object","description":"Federal tax inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"federal_tax_outflows_by_month":{"type":"object","description":"Federal tax outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"bank_branch_inflows_by_month":{"type":"object","description":"Bank branch inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"bank_branch_outflows_by_month":{"type":"object","description":"Bank branch outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"credit_builder_inflows_by_month":{"type":"object","description":"Credit builder inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"credit_builder_outflows_by_month":{"type":"object","description":"Credit builder outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"custom_test_tag_by_month":{"type":"object","description":"Test tag transactions grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"expense_count_by_month":{"type":"object","description":"Count of expense transactions grouped by month in YYYY-MM format.","additionalProperties":{"type":"integer"}},"withdrawals_count_by_month":{"type":"object","description":"Count of withdrawal transactions grouped by month in YYYY-MM format.","additionalProperties":{"type":"integer"}},"revenue_count_by_month":{"type":"object","description":"Count of revenue transactions grouped by month in YYYY-MM format.","additionalProperties":{"type":"integer"}},"deposits_count_by_month":{"type":"object","description":"Count of deposit transactions grouped by month in YYYY-MM format.","additionalProperties":{"type":"integer"}}}}},"daily_balances":{"type":"object","description":"Daily balances keyed by date in YYYY-MM-DD format.","additionalProperties":{"type":"string","format":"float"},"example":{"2025-01-01":15000.5,"2025-01-02":14850.25}},"daily_cash_flows":{"type":"object","description":"Daily cash flows keyed by date in YYYY-MM-DD format.","additionalProperties":{"type":"string"},"example":{"2025-01-01":-150.25,"2025-01-02":500}},"average_daily_balance":{"type":"string","description":"Average daily balance across the period.","example":12500.75},"average_daily_cash_flow":{"type":"string","description":"Average daily cash flow across the period.","example":125.3},"average_daily_balance_weekday":{"type":"string","description":"Average daily balance on weekdays across the period.","example":12750},"total_days":{"type":"integer","description":"Total number of days in the period.","example":365},"net_cash_flows_by_month":{"type":"object","description":"Net cash flows keyed by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":3200,"2025-02":-1500}},"minimum_balance_by_month":{"type":"object","description":"Minimum balances keyed by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":8000,"2025-02":6500}},"maximum_balance_by_month":{"type":"object","description":"Maximum balances keyed by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":22000,"2025-02":19000}},"average_daily_balance_by_month":{"type":"object","description":"Average daily balances keyed by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":14000,"2025-02":12000}},"average_daily_balance_weekday_by_month":{"type":"object","description":"Average daily balances on weekdays keyed by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":14200,"2025-02":12300}},"negative_balances_by_month":{"type":"object","description":"Dates of negative balances keyed by month in YYYY-MM format.","additionalProperties":{"type":"array","items":{"type":"string","format":"date"}},"example":{"2025-03":["2025-03-15","2025-03-16"]}},"negative_balances_count_by_month":{"type":"object","description":"Count of negative balances grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-03":2}},"negative_balances_weekday_by_month":{"type":"object","description":"Dates of negative balances on weekdays keyed by month in YYYY-MM format.","additionalProperties":{"type":"array","items":{"type":"string","format":"date"}},"example":{"2025-03":["2025-03-15"]}},"negative_balances_weekday_count_by_month":{"type":"object","description":"Count of negative balances on weekdays keyed by month in YYYY-MM format.","additionalProperties":{"type":"integer"},"example":{"2025-03":1}},"nsf_fee_count_by_month":{"type":"object","description":"Count of NSF fees keyed by month in YYYY-MM format.","additionalProperties":{"type":"integer"},"example":{"2025-03":1}},"nsf_raw_fee_count_by_month":{"type":"object","description":"Count of raw NSF fees keyed by month in YYYY-MM format.","additionalProperties":{"type":"integer"},"example":{"2025-03":1}},"overdraft_fee_count_by_month":{"type":"object","description":"Count of overdraft fees keyed by month in YYYY-MM format.","additionalProperties":{"type":"integer"},"example":{"2025-01":0}},"overdraft_raw_fee_count_by_month":{"type":"object","description":"Count of raw (pre-dedup) overdraft fees keyed by month in YYYY-MM format.","additionalProperties":{"type":"integer"},"example":{"2025-01":0}},"returned_item_deposit_count_by_month":{"type":"object","description":"Count of returned item deposits keyed by month in YYYY-MM format.","additionalProperties":{"type":"integer"},"example":{"2025-01":0}},"returned_item_withdrawal_count_by_month":{"type":"object","description":"Count of returned item withdrawals keyed by month in YYYY-MM format.","additionalProperties":{"type":"integer"},"example":{"2025-01":0}},"average_txn_size_by_month":{"type":"object","description":"Average transaction size keyed by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":450}},"average_deposits_by_month":{"type":"object","description":"Average deposits keyed by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":2500}},"fintech_loan_sources":{"type":"array","description":"List of identified fintech loan providers with deposit/payment breakdowns and frequencies.","items":{"type":"object","properties":{"source":{"type":"string","description":"Name of the fintech loan source.","example":"Kabbage"},"deposit_sum":{"type":"string","description":"Sum of deposits from this source.","example":50000},"deposit_count":{"type":"integer","description":"Count of deposits from this source.","example":2},"deposits":{"type":"object","description":"Deposits keyed by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":25000,"2025-04":25000}},"pmt_sum":{"type":"string","description":"Sum of payments from this source.","example":12000},"pmt_count":{"type":"integer","description":"Count of payments from this source.","example":12},"pmt_frequency_days":{"type":"integer","description":"Frequency of payments in days.","example":30},"pmts":{"type":"object","description":"Payments keyed by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-02":2000}},"events":{"type":"array","description":"List of events associated with this fintech loan source.","items":{"type":"object"}}}}},"fintech_mca_sources":{"type":"array","description":"List of identified Merchant Cash Advance (MCA) providers with deposit/payment breakdowns.","items":{"type":"object"}},"num_fintech_loan_sources":{"type":"integer","description":"Number of identified fintech loan providers.","example":1},"num_fintech_mca_sources":{"type":"integer","description":"Number of identified MCA providers.","example":0},"counterparties":{"type":"array","description":"List of counterparties categorized by type.","items":{"type":"object","properties":{"category":{"type":"string","description":"Category of the counterparties.","example":"revenue"},"distribution":{"type":"array","description":"Distribution of amounts by counterparty.","items":{"type":"object","properties":{"counterparty":{"type":"string","description":"Name of the counterparty.","example":"BigCorp Inc"},"rank":{"type":"integer","description":"Rank of the counterparty.","example":1},"proportion":{"type":"string","description":"Proportion of the total for this counterparty.","example":0.45},"amount":{"type":"string","description":"Total amount for this counterparty.","example":120000}}}},"average_per_counterparty":{"type":"string","description":"Average amount per counterparty in this category.","example":26666.67},"num_counterparties":{"type":"integer","description":"Number of counterparties in this category.","example":10}}}},"cash_flow_at_a_glance":{"type":"object","description":"Summary of cash flow metrics.","properties":{"average_deposit_count":{"type":"integer","description":"Average count of deposits across all months.","example":45},"total_revenue":{"type":"string","description":"Total revenue across all months.","example":267000},"average_monthly_revenue":{"type":"string","description":"Average monthly revenue.","example":22250},"total_expense":{"type":"string","description":"Total expense across all months.","example":198000},"average_monthly_expense":{"type":"string","format":"float","description":"Average monthly expense.","example":16500},"total_loan_proceeds":{"type":"string","format":"float","description":"Total loan proceeds received.","example":50000},"total_loan_payments":{"type":"string","description":"Total loan payments made.","example":12000},"debt_coverage_ratio":{"type":"string","description":"Debt coverage ratio (revenue/loan payments).","example":1.35},"total_nsf_fee_count":{"type":"integer","description":"Total count of NSF fees across all months.","example":3}}},"naics6_description":{"type":"string","description":"The description of the 6-digit NAICS code, indicating the specific industry classification of the business.","example":"Dry Pea and Bean Farming"},"mcc_code":{"type":"string","description":"Merchant Category Code (MCC) that classifies the business by the type of goods or services offered.","example":"1520"},"mcc_description":{"type":"string","description":"Description of the Merchant Category Code.","example":"General Contractors-Residential and Commercial"},"sic_code":{"type":"string","description":"Standard Industrial Classification (SIC) code for the business.","example":"2095"},"sic_description":{"type":"string","description":"Description of the Standard Industrial Classification code.","example":"ROASTED COFFEE"},"active_override":{"type":"boolean","description":"Indicates whether an active override has been applied to the business entity.","example":false},"expense_by_month":{"type":"object","description":"Expense amounts grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2016-01":0}},"withdrawals_by_month":{"type":"object","description":"Withdrawal amounts grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":-14404.21,"2025-02":-38898.7}},"revenue_by_month":{"type":"object","description":"Revenue amounts grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":11116.01,"2025-02":23734.38}},"revenue_deduction_by_month":{"type":"object","description":"Revenue deduction amounts grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":478.67,"2025-02":22631.99}},"deposits_by_month":{"type":"object","description":"Deposit amounts grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":11594.68,"2025-02":46366.37}},"outside_source_deposits_by_month":{"type":"object","description":"Deposits from outside sources grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":5000}},"large_deposits_by_month":{"type":"object","description":"Large deposits grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"},"example":{"2025-01":25000}},"debt_consolidator_inflows_by_month":{"type":"object","description":"Debt consolidator inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"debt_consolidator_outflows_by_month":{"type":"object","description":"Debt consolidator outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"factoring_inflows_by_month":{"type":"object","description":"Factoring inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"factoring_outflows_by_month":{"type":"object","description":"Factoring outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"payroll_inflows_by_month":{"type":"object","description":"Payroll inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"payroll_outflows_by_month":{"type":"object","description":"Payroll outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"insurance_inflows_by_month":{"type":"object","description":"Insurance inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"insurance_outflows_by_month":{"type":"object","description":"Insurance outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"venmo_zelle_cashapp_inflows_by_month":{"type":"object","description":"Venmo, Zelle, and Cash App inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"venmo_zelle_cashapp_outflows_by_month":{"type":"object","description":"Venmo, Zelle, and Cash App outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"atm_inflows_by_month":{"type":"object","description":"ATM inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"atm_outflows_by_month":{"type":"object","description":"ATM outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"tolls_inflows_by_month":{"type":"object","description":"Tolls inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"tolls_outflows_by_month":{"type":"object","description":"Tolls outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"paypal_inflows_by_month":{"type":"object","description":"PayPal inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"paypal_outflows_by_month":{"type":"object","description":"PayPal outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"equipment_lease_inflows_by_month":{"type":"object","description":"Equipment lease inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"equipment_lease_outflows_by_month":{"type":"object","description":"Equipment lease outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"checks_inflows_by_month":{"type":"object","description":"Check inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"checks_outflows_by_month":{"type":"object","description":"Check outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"txn_four_zeros_inflows_by_month":{"type":"object","description":"Transactions with four zeros inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"txn_four_zeros_outflows_by_month":{"type":"object","description":"Transactions with four zeros outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"txn_five_zeros_inflows_by_month":{"type":"object","description":"Transactions with five zeros inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"txn_five_zeros_outflows_by_month":{"type":"object","description":"Transactions with five zeros outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"probable_recurring_txns_inflows_by_month":{"type":"object","description":"Probable recurring transaction inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"probable_recurring_txns_outflows_by_month":{"type":"object","description":"Probable recurring transaction outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"fintech_loan_inflows_by_month":{"type":"object","description":"Fintech loan inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"fintech_loan_outflows_by_month":{"type":"object","description":"Fintech loan outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"bank_loan_inflows_by_month":{"type":"object","description":"Bank loan inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"bank_loan_outflows_by_month":{"type":"object","description":"Bank loan outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"other_loan_inflows_by_month":{"type":"object","description":"Other loan inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"other_loan_outflows_by_month":{"type":"object","description":"Other loan outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"fintech_mca_inflows_by_month":{"type":"object","description":"Fintech MCA inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"fintech_mca_outflows_by_month":{"type":"object","description":"Fintech MCA outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"bank_cash_advance_inflows_by_month":{"type":"object","description":"Bank cash advance inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"bank_cash_advance_outflows_by_month":{"type":"object","description":"Bank cash advance outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"debit_card_inflows_by_month":{"type":"object","description":"Debit card inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"debit_card_outflows_by_month":{"type":"object","description":"Debit card outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"credit_card_inflows_by_month":{"type":"object","description":"Credit card inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"credit_card_outflows_by_month":{"type":"object","description":"Credit card outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"merchant_service_inflows_by_month":{"type":"object","description":"Merchant service inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"merchant_service_outflows_by_month":{"type":"object","description":"Merchant service outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"sba_inflows_by_month":{"type":"object","description":"SBA inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"sba_outflows_by_month":{"type":"object","description":"SBA outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"remote_inflows_by_month":{"type":"object","description":"Remote inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"remote_outflows_by_month":{"type":"object","description":"Remote outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"benefits_inflows_by_month":{"type":"object","description":"Benefits inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"benefits_outflows_by_month":{"type":"object","description":"Benefits outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"card_rewards_inflows_by_month":{"type":"object","description":"Card rewards inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"card_rewards_outflows_by_month":{"type":"object","description":"Card rewards outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"crypto_inflows_by_month":{"type":"object","description":"Crypto inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"crypto_outflows_by_month":{"type":"object","description":"Crypto outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"gambling_inflows_by_month":{"type":"object","description":"Gambling inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"gambling_outflows_by_month":{"type":"object","description":"Gambling outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"investment_inflows_by_month":{"type":"object","description":"Investment inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"investment_outflows_by_month":{"type":"object","description":"Investment outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"reversed_inflows_by_month":{"type":"object","description":"Reversed inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"reversed_outflows_by_month":{"type":"object","description":"Reversed outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"state_tax_inflows_by_month":{"type":"object","description":"State tax inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"state_tax_outflows_by_month":{"type":"object","description":"State tax outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"payroll_tax_inflows_by_month":{"type":"object","description":"Payroll tax inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"payroll_tax_outflows_by_month":{"type":"object","description":"Payroll tax outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"internal_transfer_inflows_by_month":{"type":"object","description":"Internal transfer inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"internal_transfer_outflows_by_month":{"type":"object","description":"Internal transfer outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"merchant_service_transfer_inflows_by_month":{"type":"object","description":"Merchant service transfer inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"merchant_service_transfer_outflows_by_month":{"type":"object","description":"Merchant service transfer outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"wire_transfer_inflows_by_month":{"type":"object","description":"Wire transfer inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"wire_transfer_outflows_by_month":{"type":"object","description":"Wire transfer outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"other_transfer_inflows_by_month":{"type":"object","description":"Other transfer inflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"other_transfer_outflows_by_month":{"type":"object","description":"Other transfer outflows grouped by month in YYYY-MM format.","additionalProperties":{"type":"string"}},"truck_stop_inflows_by_month":{"type":"object","description":"Monthly truck stop inflows.","additionalProperties":{"type":"string"},"example":{"2016-01":"0.0"}},"truck_stop_outflows_by_month":{"type":"object","description":"Monthly truck stop outflows.","additionalProperties":{"type":"string"},"example":{"2016-01":"0.0"}},"federal_tax_inflows_by_month":{"type":"object","description":"Monthly federal tax inflows.","additionalProperties":{"type":"string"},"example":{"2016-01":"0.0"}},"federal_tax_outflows_by_month":{"type":"object","description":"Monthly federal tax outflows.","additionalProperties":{"type":"string"},"example":{"2016-01":"0.0"}},"bank_branch_inflows_by_month":{"type":"object","description":"Monthly bank branch inflows.","additionalProperties":{"type":"string"},"example":{"2019-06":"0.13"}},"bank_branch_outflows_by_month":{"type":"object","description":"Monthly bank branch outflows.","additionalProperties":{"type":"string"},"example":{"2016-01":"0.0"}},"credit_builder_inflows_by_month":{"type":"object","description":"Monthly credit builder inflows.","additionalProperties":{"type":"string"},"example":{"2016-01":"0.0"}},"credit_builder_outflows_by_month":{"type":"object","description":"Monthly credit builder outflows.","additionalProperties":{"type":"string"},"example":{"2019-06":"-29.04"}},"custom_tag_by_month":{"type":"object","description":"Monthly values for this custom tag category.","additionalProperties":{"type":"string"},"example":{"2016-01":"0.0"}},"expense_count_by_month":{"type":"object","description":"Monthly expense transaction counts.","additionalProperties":{"type":"string"},"example":{"2019-07":"61"}},"withdrawals_count_by_month":{"type":"object","description":"Monthly withdrawal transaction counts.","additionalProperties":{"type":"string"},"example":{"2019-07":"61"}},"revenue_count_by_month":{"type":"object","description":"Monthly revenue transaction counts.","additionalProperties":{"type":"string"},"example":{"2019-07":"20"}},"deposits_count_by_month":{"type":"object","description":"Monthly deposit transaction counts.","additionalProperties":{"type":"string"},"example":{"2019-07":"22"}}}},"examples":{"Success":{"value":{"id":"911a5f12-a736-43cc-8acf-7d86c2d74d3d","name":"Acme Corp","naics4_code":"1111","naics_description":"Oilseed and Grain Farming","naics6_code":"111130","books":[{"uuid":"911a5f12-a736-43cc-8acf-7d86c2d74d3d","name":"Entity book 1","created_ts":"2026-04-15T00:00:00","uploaded_docs":[{"uuid":"3273ebe3-e13c-4507-868a-ab1a2a89f9ee","name":"jan.pdf","status":"VERIFICATION_COMPLETE"},{"uuid":"f4d0fef6-61ca-4559-9d8f-a23ac360161f","name":"feb.pdf","status":"VERIFICATION_COMPLETE"}]},{"uuid":"9ddefa81-dfe6-453a-9ed4-72c709b50b3e","name":"Entity book 2","created_ts":"2026-04-16T13:37:07.403758","uploaded_docs":[{"uuid":"f47f6102-1d8c-4795-b3a0-50f3fd8a2b25","name":"mar.pdf","status":"VERIFICATION_COMPLETE"}]},{"uuid":"77fd868f-a8f8-43f2-b237-2872409e81c3","name":"Entity book 3","created_ts":"2026-04-17T10:45:00.265513","uploaded_docs":[{"uuid":"51f154be-1e1c-48a1-aad5-d5d7b09e3728","name":"mar.pdf","status":"VERIFICATION_COMPLETE"}]},{"uuid":"ca25f557-cefa-4de6-8b5a-e81c8fe5c82d","name":"Entity Book 4","created_ts":"2026-04-17T13:17:54.943475","uploaded_docs":[{"uuid":"13bcada8-d32b-4a91-8f02-4718496ddedd","name":"nov.pdf","status":"VERIFICATION_COMPLETE"}]},{"uuid":"802606eb-51b2-4579-a2f9-d3e5a9996d9e","name":"Entity Book 5","created_ts":"2026-04-17T13:59:26.887271","uploaded_docs":[{"uuid":"25e4ef58-0d5b-4f92-bec7-37a8001d7f1c","name":"Copy of Sample 1 - PII Redacted.pdf","status":"VERIFICATION_COMPLETE"},{"uuid":"9c631993-3eea-419a-a1ba-1d1bad9a0c28","name":"Copy of Sample 5.pdf","status":"VERIFICATION_COMPLETE"}]},{"uuid":"5ea3579b-591d-43cb-98cc-c2454afae150","name":"Entity Book 6","created_ts":"2026-04-20T10:42:37.010063","uploaded_docs":[{"uuid":"5b6665d9-8c90-424a-aa03-54dbe1ecb78d","name":"jan-feb.json","status":"VERIFICATION_COMPLETE"}]},{"uuid":"d670a5fd-dae6-4244-8332-684e86a14288","name":"Entity Book 7","created_ts":"2026-04-20T10:51:56.829503","uploaded_docs":[{"uuid":"f62704d0-47d0-4dc2-b664-3b9d208777aa","name":"haflfeb-mar.json","status":"VERIFICATION_COMPLETE"}]}],"book_count":7,"txn_count":227,"bank_accounts":[{"bank_account_pks":[425752,425974,425986,425990,425999,426346,426349],"txn_count":227,"bank_name":"THE BANK OF OCROLUS CHECKING THE BANK OF OCROLUS CHECKING 0208 (p9kUU7HLU5)","account_type":"CHECKING","account_number":"0208","account_holder_name":"JOHN DOE","account_category":"BUSINESS ACCOUNT","holder_address_1":"101 GREENWICH ST SUITE 23","holder_address_2":"","holder_city":"NEW YORK","holder_state":"NY","holder_zip":"10001","holder_country":"US","daily_balances":{"2016-01-01":1614.1,"2016-01-02":1614.1,"2016-01-03":1614.1,"2016-01-04":1614.1,"2016-01-05":1614.1,"2016-01-06":1614.1,"2016-01-07":1614.1,"2016-01-08":1614.1,"2016-01-09":1614.1,"2016-01-10":1614.1,"2016-01-11":1614.1,"2016-01-12":1614.1,"2016-01-13":1614.1,"2016-01-14":1614.1,"2016-01-15":1614.1,"2016-01-16":1614.1,"2016-01-17":1614.1,"2016-01-18":1614.1,"2016-01-19":1614.1,"2016-01-20":1614.1,"2016-01-21":1614.1,"2016-01-22":1614.1,"2016-01-23":1614.1,"2016-01-24":1614.1,"2016-01-25":1614.1,"2016-01-26":1614.1,"2016-01-27":1614.1,"2016-01-28":1614.1,"2016-01-29":1614.1,"2019-06-22":11.79,"2019-06-23":11.79,"2019-06-24":2.07,"2019-06-25":2.13,"2019-06-26":2.13,"2019-06-27":2.13,"2019-06-28":184.82,"2019-06-29":184.82,"2019-06-30":184.82,"2019-07-01":61.67,"2019-07-02":2.67,"2019-07-03":11.67,"2019-07-04":11.67,"2019-07-05":2.31,"2019-07-06":2.31,"2019-07-07":2.31,"2019-07-08":2.31,"2019-07-09":16.31,"2019-07-10":32.72,"2019-07-11":10.4,"2019-07-12":320.37,"2019-07-13":320.37,"2019-07-14":320.37,"2019-07-15":142.29,"2019-07-16":93.79,"2019-07-17":108.79,"2019-07-18":38.41,"2019-07-19":27.57,"2019-07-20":27.57,"2019-07-21":27.57,"2019-07-22":23.61,"2019-07-23":18.01,"2019-07-24":7.73,"2019-09-13":5,"2019-09-14":5,"2019-09-15":5,"2019-09-16":5,"2019-09-17":5,"2019-09-18":5,"2019-09-19":5,"2019-09-20":5,"2019-09-21":5,"2019-09-22":5,"2019-09-23":5,"2019-09-24":5,"2019-09-25":5,"2019-09-26":5,"2019-09-27":5,"2019-09-28":5,"2019-09-29":5,"2019-09-30":5,"2019-10-01":5,"2019-10-02":5,"2019-10-03":5,"2019-10-04":5,"2019-10-05":5,"2019-10-06":5,"2019-10-07":5,"2019-10-08":5,"2019-10-09":5,"2019-10-10":5,"2019-10-11":5,"2019-10-12":5,"2020-07-01":1126.11,"2020-07-02":18246.11,"2020-07-03":18246.11,"2020-07-04":18246.11,"2020-07-05":18246.11,"2020-07-06":18246.11,"2020-07-07":18246.11,"2020-07-08":16549.06,"2020-07-09":41159.06,"2020-07-10":41159.06,"2020-07-11":29271.06,"2020-07-12":29271.06,"2020-07-13":29271.06,"2020-07-14":39223.07,"2020-07-15":40572.07,"2020-07-16":40572.07,"2020-07-17":40572.07,"2020-07-18":40572.07,"2020-07-19":40572.07,"2020-07-20":40572.07,"2020-07-21":48692.07,"2020-07-22":48692.07,"2020-07-23":81830.07,"2020-07-24":81830.07,"2020-07-25":78725.39,"2020-07-26":78725.39,"2020-07-27":78725.39,"2020-07-28":96839.39,"2020-07-29":96839.39,"2020-07-30":108815.02,"2020-07-31":108815.02,"2025-01-01":106243.68,"2025-01-02":104676.42,"2025-01-03":104676.42,"2025-01-04":104676.42,"2025-01-05":100671.57,"2025-01-06":100671.57,"2025-01-07":101294.79,"2025-01-08":99472.33,"2025-01-09":98564.65,"2025-01-10":95965.38,"2025-01-11":95965.38,"2025-01-12":95536.88,"2025-01-13":95536.88,"2025-01-14":96015.55,"2025-01-15":95249.04,"2025-01-16":95249.04,"2025-01-17":95249.04,"2025-01-18":95249.04,"2025-01-19":95859.07,"2025-01-20":95859.07,"2025-01-21":95859.07,"2025-01-22":97339.6,"2025-01-23":97339.6,"2025-01-24":97339.6,"2025-01-25":97339.6,"2025-01-26":97339.6,"2025-01-27":100812.01,"2025-01-28":100115.35,"2025-01-29":100115.35,"2025-01-30":100115.35,"2025-01-31":100115.35,"2025-02-01":102671.23,"2025-02-02":100908.2,"2025-02-03":102195.02,"2025-02-04":101432.8,"2025-02-05":103545.48,"2025-02-06":106823.35,"2025-02-07":109119.77,"2025-02-08":108571.83,"2025-02-09":114172.83,"2025-02-10":114643.03,"2025-02-11":114721.11,"2025-02-12":115646.66,"2025-02-13":114746.74,"2025-02-14":113662.1,"2025-02-15":110273.01,"2025-02-16":114273.69,"2025-02-17":116049.2,"2025-02-18":114675.88,"2025-02-19":111914.95,"2025-02-20":108383.72,"2025-02-21":112209.47,"2025-02-22":110955.28,"2025-02-23":107923.8,"2025-02-24":110478.01,"2025-02-25":107712.26,"2025-02-26":107898.15,"2025-02-27":109915.86,"2025-02-28":107583.02,"2025-03-01":14240.73,"2025-03-02":14240.73,"2025-03-03":14930.28,"2025-03-04":15800.91,"2025-03-05":15800.91,"2025-03-06":15800.91,"2025-03-07":15800.91,"2025-03-08":17439.37,"2025-03-09":16734.13,"2025-03-10":15046.82,"2025-03-11":16455.51,"2025-03-12":14271.34,"2025-03-13":17142.87,"2025-03-14":22792.22,"2025-03-15":24636.32,"2025-03-16":25007.06,"2025-03-17":25007.06,"2025-03-18":28285.35,"2025-03-19":28285.35,"2025-03-20":28285.35,"2025-03-21":25884.84,"2025-03-22":25884.84,"2025-03-23":23968.38,"2025-03-24":21944.32,"2025-03-25":21944.32,"2025-03-26":21944.32,"2025-03-27":21944.32,"2025-03-28":20611.68,"2025-03-29":20611.68,"2025-03-30":20611.68,"2025-03-31":20611.68,"2025-11-01":78071.58,"2025-11-02":78651.7,"2025-11-03":78651.7,"2025-11-04":78651.7,"2025-11-05":75969.94,"2025-11-06":75969.94,"2025-11-07":75969.94,"2025-11-08":79418.18,"2025-11-09":76645.32,"2025-11-10":77863.58,"2025-11-11":77863.58,"2025-11-12":73866.59,"2025-11-13":76304.3,"2025-11-14":76304.3,"2025-11-15":76304.3,"2025-11-16":76304.3,"2025-11-17":76304.3,"2025-11-18":76304.3,"2025-11-19":76304.3,"2025-11-20":78322.01,"2025-11-21":77998.85,"2025-11-22":77998.85,"2025-11-23":77998.85,"2025-11-24":76884.03,"2025-11-25":76884.03,"2025-11-26":76884.03,"2025-11-27":76884.03,"2025-11-28":77641.26,"2025-11-29":77641.26,"2025-11-30":77641.26},"daily_cash_flows":{"2016-01-01":0,"2016-01-02":0,"2016-01-03":0,"2016-01-04":0,"2016-01-05":0,"2016-01-06":0,"2016-01-07":0,"2016-01-08":0,"2016-01-09":0,"2016-01-10":0,"2016-01-11":0,"2016-01-12":0,"2016-01-13":0,"2016-01-14":0,"2016-01-15":0,"2016-01-16":0,"2016-01-17":0,"2016-01-18":0,"2016-01-19":0,"2016-01-20":0,"2016-01-21":0,"2016-01-22":0,"2016-01-23":0,"2016-01-24":0,"2016-01-25":0,"2016-01-26":0,"2016-01-27":0,"2016-01-28":0,"2016-01-29":0,"2019-06-22":0,"2019-06-23":0,"2019-06-24":-9.72,"2019-06-25":0.06,"2019-06-26":0,"2019-06-27":0,"2019-06-28":182.69,"2019-06-29":0,"2019-06-30":0,"2019-07-01":-123.15,"2019-07-02":-59,"2019-07-03":9,"2019-07-04":0,"2019-07-05":-9.36,"2019-07-06":0,"2019-07-07":0,"2019-07-08":0,"2019-07-09":14,"2019-07-10":16.41,"2019-07-11":-22.32,"2019-07-12":309.97,"2019-07-13":0,"2019-07-14":0,"2019-07-15":-178.08,"2019-07-16":-48.5,"2019-07-17":15,"2019-07-18":-70.38,"2019-07-19":-10.84,"2019-07-20":0,"2019-07-21":0,"2019-07-22":-3.96,"2019-07-23":-5.6,"2019-07-24":-10.28,"2019-09-13":0,"2019-09-14":0,"2019-09-15":0,"2019-09-16":0,"2019-09-17":0,"2019-09-18":0,"2019-09-19":0,"2019-09-20":0,"2019-09-21":0,"2019-09-22":0,"2019-09-23":0,"2019-09-24":0,"2019-09-25":0,"2019-09-26":0,"2019-09-27":0,"2019-09-28":0,"2019-09-29":0,"2019-09-30":0,"2019-10-01":0,"2019-10-02":0,"2019-10-03":0,"2019-10-04":0,"2019-10-05":0,"2019-10-06":0,"2019-10-07":0,"2019-10-08":0,"2019-10-09":0,"2019-10-10":0,"2019-10-11":0,"2019-10-12":0,"2020-07-01":0,"2020-07-02":17120,"2020-07-03":0,"2020-07-04":0,"2020-07-05":0,"2020-07-06":0,"2020-07-07":0,"2020-07-08":-1697.05,"2020-07-09":24610,"2020-07-10":0,"2020-07-11":-11888,"2020-07-12":0,"2020-07-13":0,"2020-07-14":9952.01,"2020-07-15":1349,"2020-07-16":0,"2020-07-17":0,"2020-07-18":0,"2020-07-19":0,"2020-07-20":0,"2020-07-21":8120,"2020-07-22":0,"2020-07-23":33138,"2020-07-24":0,"2020-07-25":-3104.68,"2020-07-26":0,"2020-07-27":0,"2020-07-28":18114,"2020-07-29":0,"2020-07-30":11975.63,"2020-07-31":0,"2025-01-01":3318.8,"2025-01-02":-1567.26,"2025-01-03":0,"2025-01-04":0,"2025-01-05":-4004.85,"2025-01-06":0,"2025-01-07":623.22,"2025-01-08":-1822.46,"2025-01-09":-907.68,"2025-01-10":-2599.27,"2025-01-11":0,"2025-01-12":-428.5,"2025-01-13":0,"2025-01-14":478.67,"2025-01-15":-766.51,"2025-01-16":0,"2025-01-17":0,"2025-01-18":0,"2025-01-19":610.03,"2025-01-20":0,"2025-01-21":0,"2025-01-22":1480.53,"2025-01-23":0,"2025-01-24":0,"2025-01-25":0,"2025-01-26":0,"2025-01-27":3472.41,"2025-01-28":-696.66,"2025-01-29":0,"2025-01-30":0,"2025-01-31":0,"2025-02-01":2555.88,"2025-02-02":-1763.03,"2025-02-03":1286.82,"2025-02-04":-762.22,"2025-02-05":2112.68,"2025-02-06":3277.87,"2025-02-07":2296.42,"2025-02-08":-547.94,"2025-02-09":5601,"2025-02-10":470.2,"2025-02-11":78.08,"2025-02-12":925.55,"2025-02-13":-899.92,"2025-02-14":-1084.64,"2025-02-15":-3389.09,"2025-02-16":4000.68,"2025-02-17":1775.51,"2025-02-18":-1373.32,"2025-02-19":-2760.93,"2025-02-20":-3531.23,"2025-02-21":3825.75,"2025-02-22":-1254.19,"2025-02-23":-3031.48,"2025-02-24":2554.21,"2025-02-25":-2765.75,"2025-02-26":185.89,"2025-02-27":2017.71,"2025-02-28":-2332.84,"2025-03-01":0,"2025-03-02":0,"2025-03-03":689.55,"2025-03-04":870.63,"2025-03-05":0,"2025-03-06":0,"2025-03-07":0,"2025-03-08":1638.46,"2025-03-09":-705.24,"2025-03-10":-1687.31,"2025-03-11":1408.69,"2025-03-12":-2184.17,"2025-03-13":2871.53,"2025-03-14":5649.35,"2025-03-15":1844.1,"2025-03-16":370.74,"2025-03-17":0,"2025-03-18":3278.29,"2025-03-19":0,"2025-03-20":0,"2025-03-21":-2400.51,"2025-03-22":0,"2025-03-23":-1916.46,"2025-03-24":-2024.06,"2025-03-25":0,"2025-03-26":0,"2025-03-27":0,"2025-03-28":-1332.64,"2025-03-29":0,"2025-03-30":0,"2025-03-31":0,"2025-11-01":789.23,"2025-11-02":580.12,"2025-11-03":0,"2025-11-04":0,"2025-11-05":-2681.76,"2025-11-06":0,"2025-11-07":0,"2025-11-08":3448.24,"2025-11-09":-2772.86,"2025-11-10":1218.26,"2025-11-11":0,"2025-11-12":-3996.99,"2025-11-13":2437.71,"2025-11-14":0,"2025-11-15":0,"2025-11-16":0,"2025-11-17":0,"2025-11-18":0,"2025-11-19":0,"2025-11-20":2017.71,"2025-11-21":-323.16,"2025-11-22":0,"2025-11-23":0,"2025-11-24":-1114.82,"2025-11-25":0,"2025-11-26":0,"2025-11-27":0,"2025-11-28":757.23,"2025-11-29":0,"2025-11-30":0},"average_daily_balance":43677.92,"average_daily_cash_flow":490.01,"average_daily_balance_weekday":43798.95,"total_days":243,"net_cash_flows_by_month":{"2016-01":0,"2019-06":173.03,"2019-07":-177.09,"2019-09":0,"2019-10":0,"2020-07":107688.91,"2025-01":-2809.53,"2025-02":7467.67,"2025-03":6370.95,"2025-11":358.91},"minimum_balance_by_month":{"2016-01":1614.1,"2019-06":2.07,"2019-07":2.31,"2019-09":5,"2019-10":5,"2020-07":1126.11,"2025-01":95249.04,"2025-02":100908.2,"2025-03":14240.73,"2025-11":73866.59},"maximum_balance_by_month":{"2016-01":1614.1,"2019-06":184.82,"2019-07":320.37,"2019-09":5,"2019-10":5,"2020-07":108815.02,"2025-01":106243.68,"2025-02":116049.2,"2025-03":28285.35,"2025-11":79418.18},"average_daily_balance_by_month":{"2016-01":1614.1,"2019-06":65.17,"2019-07":68.03,"2019-09":5,"2019-10":5,"2020-07":48015.09,"2025-01":98597.18,"2025-02":109753.8,"2025-03":20386.01,"2025-11":77150.08},"average_daily_balance_weekday_by_month":{"2016-01":1614.1,"2019-06":38.66,"2019-07":54.15,"2019-09":5,"2019-10":5,"2020-07":51663.3,"2025-01":98655.83,"2025-02":109858.28,"2025-03":20409.11,"2025-11":76837.73},"negative_balances_by_month":{"2016-01":[],"2019-06":[],"2019-07":[],"2019-09":[],"2019-10":[],"2020-07":[],"2025-01":[],"2025-02":[],"2025-03":[],"2025-11":[]},"negative_balances_count_by_month":{"2016-01":0,"2019-06":0,"2019-07":0,"2019-09":0,"2019-10":0,"2020-07":0,"2025-01":0,"2025-02":0,"2025-03":0,"2025-11":0},"negative_balances_weekday_by_month":{"2016-01":[],"2019-06":[],"2019-07":[],"2019-09":[],"2019-10":[],"2020-07":[],"2025-01":[],"2025-02":[],"2025-03":[],"2025-11":[]},"negative_balances_weekday_count_by_month":{"2016-01":0,"2019-06":0,"2019-07":0,"2019-09":0,"2019-10":0,"2020-07":0,"2025-01":0,"2025-02":0,"2025-03":0,"2025-11":0},"nsf_fee_count_by_month":{"2016-01":0,"2019-06":0,"2019-07":0,"2019-09":0,"2019-10":0,"2020-07":1,"2025-01":0,"2025-02":0,"2025-03":0,"2025-11":0},"nsf_raw_fee_count_by_month":{"2016-01":0,"2019-06":0,"2019-07":0,"2019-09":0,"2019-10":0,"2020-07":1,"2025-01":0,"2025-02":0,"2025-03":0,"2025-11":0},"overdraft_fee_count_by_month":{"2016-01":0,"2019-06":0,"2019-07":0,"2019-09":0,"2019-10":0,"2020-07":0,"2025-01":0,"2025-02":0,"2025-03":0,"2025-11":0},"overdraft_raw_fee_count_by_month":{"2016-01":0,"2019-06":0,"2019-07":0,"2019-09":0,"2019-10":0,"2020-07":0,"2025-01":0,"2025-02":0,"2025-03":0,"2025-11":0},"periods":[{"begin_date":"2016-01-01","end_date":"2016-01-29","begin_balance":1614.1,"end_balance":-783,"txn_count":0,"uploaded_doc_uuid":null,"missing_period_data":false,"average_amount":null,"average_daily_balance":null,"average_daily_balance_weekday":null,"average_daily_cash_flow":null,"average_deposit":null,"deposit_sum":null,"deposit_count":null,"max_deposit":null,"average_withdrawal":null,"withdrawal_sum":null,"withdrawal_count":null,"max_withdrawal":null,"revenue":null,"revenue_count":null,"revenue_deduction":null,"expense":null,"expense_count":null,"large_deposits":null,"negative_balances":null,"negative_balances_weekday":null,"nsf_days_count":null,"nsf_fee_sum":null,"nsf_fee_count":null,"nsf_raw_fee_count":null,"nsf_divisor":null,"overdraft_days_count":null,"overdraft_fee_sum":null,"overdraft_fee_count":null,"overdraft_raw_fee_count":null,"overdraft_divisor":null,"nsf_or_overdraft_days_count":null,"returned_item_deposit_count":null,"returned_item_withdrawal_count":null,"has_weekend_txn":null,"calculated_end_balance":null,"calculated_diff":null,"primary_recon_error_reason":null,"secondary_recon_error_reason":null},{"begin_date":"2019-06-22","end_date":"2019-07-24","begin_balance":11.79,"end_balance":7.73,"txn_count":97,"uploaded_doc_uuid":"25e4ef58-0d5b-4f92-bec7-37a8001d7f1c","missing_period_data":false,"average_amount":37.06,"average_daily_balance":67.25,"average_daily_balance_weekday":50.63,"average_daily_cash_flow":-0.12,"average_deposit":66.5,"deposit_sum":1795.62,"deposit_count":27,"max_deposit":612.69,"average_withdrawal":-25.71,"withdrawal_sum":-1799.68,"withdrawal_count":70,"max_withdrawal":-360,"revenue":400.53,"revenue_count":23,"revenue_deduction":1395.09,"expense":-1799.68,"expense_count":70,"large_deposits":0,"negative_balances":[],"negative_balances_weekday":[],"nsf_days_count":0,"nsf_fee_sum":0,"nsf_fee_count":0,"nsf_raw_fee_count":0,"nsf_divisor":33,"overdraft_days_count":0,"overdraft_fee_sum":0,"overdraft_fee_count":0,"overdraft_raw_fee_count":0,"overdraft_divisor":null,"nsf_or_overdraft_days_count":0,"returned_item_deposit_count":0,"returned_item_withdrawal_count":0,"has_weekend_txn":false,"calculated_end_balance":7.73,"calculated_diff":0,"primary_recon_error_reason":null,"secondary_recon_error_reason":null},{"begin_date":"2019-09-13","end_date":"2019-10-12","begin_balance":5,"end_balance":5,"txn_count":0,"uploaded_doc_uuid":null,"missing_period_data":false,"average_amount":null,"average_daily_balance":null,"average_daily_balance_weekday":null,"average_daily_cash_flow":null,"average_deposit":null,"deposit_sum":null,"deposit_count":null,"max_deposit":null,"average_withdrawal":null,"withdrawal_sum":null,"withdrawal_count":null,"max_withdrawal":null,"revenue":null,"revenue_count":null,"revenue_deduction":null,"expense":null,"expense_count":null,"large_deposits":null,"negative_balances":null,"negative_balances_weekday":null,"nsf_days_count":null,"nsf_fee_sum":null,"nsf_fee_count":null,"nsf_raw_fee_count":null,"nsf_divisor":null,"overdraft_days_count":null,"overdraft_fee_sum":null,"overdraft_fee_count":null,"overdraft_raw_fee_count":null,"overdraft_divisor":null,"nsf_or_overdraft_days_count":null,"returned_item_deposit_count":null,"returned_item_withdrawal_count":null,"has_weekend_txn":null,"calculated_end_balance":null,"calculated_diff":null,"primary_recon_error_reason":null,"secondary_recon_error_reason":null},{"begin_date":"2020-07-01","end_date":"2020-07-31","begin_balance":1126.11,"end_balance":14857.11,"txn_count":0,"uploaded_doc_uuid":null,"missing_period_data":false,"average_amount":null,"average_daily_balance":null,"average_daily_balance_weekday":null,"average_daily_cash_flow":null,"average_deposit":null,"deposit_sum":null,"deposit_count":null,"max_deposit":null,"average_withdrawal":null,"withdrawal_sum":null,"withdrawal_count":null,"max_withdrawal":null,"revenue":null,"revenue_count":null,"revenue_deduction":null,"expense":null,"expense_count":null,"large_deposits":null,"negative_balances":null,"negative_balances_weekday":null,"nsf_days_count":null,"nsf_fee_sum":null,"nsf_fee_count":null,"nsf_raw_fee_count":null,"nsf_divisor":null,"overdraft_days_count":null,"overdraft_fee_sum":null,"overdraft_fee_count":null,"o
[...]
