{"openapi":"3.0.0","info":{"title":"Capture","version":"1.0.0"},"servers":[{"url":"https://api.ocrolus.com"}],"security":[{"oauth":[]}],"paths":{"/v1/book/forms":{"get":{"summary":"Book form data","operationId":"book-form-data","description":"Retrieve data for all forms uploaded to a <<glossary:Book>>.\n\n---\n\nA detailed description of the response can be found on the [form data](https://docs.ocrolus.com/docs/form-data) data type definition.","tags":["Capture"],"parameters":[{"name":"book_uuid","in":"query","description":"The unique identifier of the <<glossary:Book>> that contains the form data. Mutually exclusive with `pk`.","example":"19aab921-25a5-4beb-a59e-ac72320061d6","schema":{"type":"string"}},{"name":"pk","in":"query","description":"The <<glossary:PK>> of the <<glossary:Book>> that contains the form data. Mutually exclusive with `book_uuid`.","example":"30219565","schema":{"type":"string"}}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"properties":{"status":{"type":"integer","description":"A numerical code that indicates the status of the request.","example":200},"response":{"type":"object","description":"An object received from the server that potentially contains data.","properties":{"pk":{"type":"integer","description":"Unique primary key for the <<glossary:Book>>.","example":133771},"uuid":{"type":"string","description":"Universally unique identifier (UUID) for the <<glossary:Book>>.","example":"988a30fe-d25e-40b4-9724-f4c06bacbab5"},"name":{"type":"string","description":"Name of the <<glossary:Book>> from which information is retrieved.","example":"Example Book"},"created":{"type":"string","description":"A timestamp of when the <<glossary:Book>> was created.","example":"2023-03-29T18:45:04Z"},"created_ts":{"type":"string","description":"A timestamp of when the <<glossary:Book>> was created.","example":"2023-03-29T18:45:04Z"},"verified_pages_count":{"type":"integer","description":"The total number of pages that have completed verficiation in this <<glossary:Book>>x.","example":6},"book_status":{"type":"string","description":"The verification status of the <<glossary:Book>>.","example":"ACTIVE"},"id":{"type":"integer","description":"Unique primary key for the <<glossary:Book>>.","example":133771},"forms":{"type":"array","description":"An array of forms that have been uploaded to this <<glossary:Book>>.","items":{"type":"object","properties":{"pk":{"type":"integer","description":"Unique primary key for the form.","example":12304},"uuid":{"type":"string","description":"Universally unique identifier (UUID) for the form.","example":"e6d7d3c7-444c-4cf3-99c7-65bdabb309f9"},"uploaded_doc_pk":{"type":"integer","description":"A unique integer of the <<glossary:Document>> that the form is associated with.","example":1555125},"form_type":{"type":"string","description":"The Document type of the form.","example":"ACCOUNT_SUMMARY"},"raw_fields":{"type":"object","description":"An object containing data related to the data captured from the form. This may vary amongst different form types.","properties":{"examplefield:field_name":{"type":"object","description":"Information recorded from the uploaded Document.","properties":{"value":{"type":"string","description":"The recorded value found in the field.","example":"1379.82"},"is_empty":{"type":"boolean","description":"Describes if the field contains information.","example":false},"alias_used":{"type":"string","description":"Alias used for the field.","example":null},"source_filename":{"type":"string","description":"The source of the information recorded in the field.","example":"simple_bank_statement.pdf"},"subfields":{"type":"object","description":"An optional object that contains information in nested fields.","properties":{"value":{"type":"string","description":"The recorded value found in the field.","example":"1379.82"},"is_empty":{"type":"boolean","description":"Describes if the field contains information.","example":false},"alias_used":{"type":"string","description":"Alias used for the field.","example":null},"source_filename":{"type":"string","description":"The source of the information recorded in the field.","example":"simple_bank_statement.pdf"},"confidence":{"type":"number","description":"The confidence score associated with this field."}}}}}}},"form_config_pk":{"type":"integer","description":"Unique primary key for the form config.","example":1013},"tables":{"type":"array","description":"An array of tables associated with the form.","example":[]},"attribute_data":{"type":"object","description":"Additional data related to the form.","properties":{"period_pk":{"type":"integer","description":"Unique primary key for a transaction period.","example":101948}}}}}},"book_is_complete":{"type":"boolean","description":"Determines if all Documents in the <<glossary:Book>> have completed verification.","example":true}}},"message":{"type":"string","description":"A textual description that indicates details about this response's status.","example":"OK"}}},"examples":{"Success":{"value":{"status":200,"response":{"pk":33050664,"uuid":"9940d6b3-808b-47f2-936c-e05a8b767f00","name":"Example Book","created":"2023-05-03T16:09:46Z","created_ts":"2023-05-03T16:09:46Z","verified_pages_count":1,"book_status":"ACTIVE","id":33050664,"forms":[{"pk":46420211,"uuid":"cd26e2a3-8744-474a-a759-f42c025674e2","uploaded_doc_pk":54857464,"form_type":"DRIVERS_LICENSE","raw_fields":{"drivers_license-General:dob":{"value":"01/06/1958","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:zip":{"value":"99999-1234","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:city":{"value":"YOUR CITY","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:state":{"value":"WA","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:suffix":{"value":"","is_empty":true,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:idNumber":{"value":"WDLABCD456DG","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:lastName":{"value":"SAMPLE","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:firstName":{"value":"ALEXANDER","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:issueDate":{"value":"01/06/2015","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:middleName":{"value":"HAMILTON","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:countryName":{"value":"UNITED STATES","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:addressLine1":{"value":"123 STREET ADDRESS","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:addressLine2":{"value":"","is_empty":true,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:issuingState":{"value":"WA","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:expirationDate":{"value":"08/12/2020","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1}},"form_config_pk":216696,"tables":[],"attribute_data":null}],"book_is_complete":true},"message":"OK"}}}}}},"400":{"description":"Client Errors","content":{"application/json":{"examples":{"Book not found":{"value":{"status":400,"code":1401,"response":null,"message":"Book not found","meta":{"status":400,"msg":"Book not found","code":1401}}},"Missing Required Parameters":{"value":{"status":400,"code":1103,"response":null,"message":"Required pk or book uuid","meta":{"status":400,"msg":"Required pk or book uuid","code":1103}}},"No Permission":{"value":{"status":400,"code":2102,"response":null,"message":"No permission to access this book","meta":{"status":400,"msg":"No permission to access this book","code":2102}}}},"schema":{"$ref":"#/paths/~1v1~1form/get/responses/400/content/application~1json/schema"}}}}}}},"/v2/book/{book_uuid}/paystub":{"get":{"summary":"Book pay stub data","operationId":"book-paystub-data","description":"Retrieve pay stub data for a given <<glossary:Book>>.\n\n---\n\nA detailed description of the response can be found on the [pay stub](https://docs.ocrolus.com/docs/pay-stub) data type definition.","tags":["Capture"],"parameters":[{"name":"book_uuid","in":"path","required":true,"description":"The unique identifier of a <<glossary:Book>> that contains the pay stub data.","example":"95573c48-93da-472d-ac86-c7e9b58bd53d","schema":{"type":"string"}}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"properties":{"status":{"type":"integer","description":"A numerical code that indicates the status of the request.","example":200},"message":{"type":"string","description":"A textual description that indicates details about this response's status.","example":"OK"},"response":{"type":"object","description":"An object received from the server that potentially contains data.","properties":{"uuid":{"type":"string","example":"ce3585b5-44a0-4273-8ca9-c885a353bd87","description":"Universally unique identifier (UUID) for the pay stub."},"book_uuid":{"type":"string","description":"Universally unique identifier (UUID) for the <<glossary:Book>>.","example":"95573c48-93da-472d-ac86-c7e9b58bd53d"},"doc_uuid":{"type":"string","description":"Universally unique identifier (UUID) for the <<glossary:Document>>.","example":"32765c32-1a15-477a-8a2d-fe8cbe89ac9c"},"status":{"type":"string","description":"Verification status of the pay stub <<glossary:Document>>.","example":"COMPLETED"},"doc_page_numbers":{"type":"array","description":"An array of numbers that indicate the number of pages in each Document uploaded to the <<glossary:Book>>.","items":{"type":"integer"}},"rejection_reason":{"type":"string","description":"An optional attribute that briefly explains why a Document was rejected.","example":null},"uploaded_image_bucket_uuid":{"type":"string","description":"Universally unique identifier (UUID) for the image bucket.","example":null},"net_pay":{"type":"object","description":"The net pay recorded in the pay stub.","properties":{"distribution_details":{"type":"array","description":"Details related to the distribution of the net pay.","items":{"type":"object","properties":{"description":{"type":"string","description":"A description related to the net pay.","example":"FEDERAL CREDIT UNION CHECKING 3328"},"bank_name":{"type":"string","description":"The bank name recorded in the net pay.","example":"FEDERAL CREDIT UNION"},"account_number":{"type":"string","description":"The account number recorded in the net pay.","example":"3328"},"bank_account_type":{"type":"string","description":"The bank account type recorded in the net pay.","example":"CHECKING"},"current_pay":{"type":"object","description":"The current pay amount recorded in the net pay.","properties":{"amount":{"type":"string","description":"The the numerical value of the current pay.","example":"863.60"},"currency":{"type":"string","description":"The currency that the current pay was delivered in.","example":"USD"}}}}}},"totals":{"type":"object","description":"Totals recorded in the pay stub.","properties":{"description":{"type":"string","description":"A description realted to the total.","example":"NET PAY"},"canonical_description":{"type":"string","description":"A canonical description realted to the total.","example":null},"current_pay":{"type":"object","description":"The current pay amount recorded in the net pay.","properties":{"amount":{"type":"string","description":"The the numerical value of the current pay.","example":"863.60"},"currency":{"type":"string","description":"The currency that the current pay was delivered in.","example":"USD"}}},"ytd_pay":{"type":"object","description":"The year to date pay amount recorded in the net pay.","properties":{"amount":{"type":"string","description":"The the numerical value of the year to date pay.","example":"8952.65"},"currency":{"type":"string","description":"The currency that the year to date pay was delivered in.","example":"USD"}}}}}}},"earnings":{"type":"object","description":"Earnings recorded in the pay stub.","properties":{"subtotals":{"type":"array","description":"Subtotals related to the earnings.","items":{"type":"object","properties":{"description":{"type":"string","description":"A description of a subtotal.","example":"ANNUAL BONUS"},"canonical_description":{"type":"string","description":"A canonical description of a subtotal.","example":"BONUS"},"current_pay":{"type":"object","description":"The current pay amount recorded in the subtotal.","properties":{"amount":{"type":"string","description":"The the numerical value of the current pay.","example":"863.60"},"currency":{"type":"string","description":"The currency that the current pay was delivered in."}}},"ytd_pay":{"type":"object","description":"The year to date pay amount recorded in the subtotal.","properties":{"amount":{"type":"string","description":"The the numerical value of the year to date pay.","example":"8952.65"},"currency":{"type":"string","description":"The currency that the year to date pay was delivered in.","example":"USD"}}},"current_hours":{"type":"string","description":"The current hours recorded related to the subtotal.","example":null},"current_rate":{"type":"string","description":"The current rate recorded related to the subtotal.","example":null}}}},"totals":{"type":"array","description":"Totals related to the earnings.","items":{"type":"object","properties":{"description":{"type":"string","example":"GROSS PAY"},"canonical_description":{"type":"string","description":"A canonical description of a total.","example":"BONUS"},"current_pay":{"type":"object","description":"The current pay amount recorded in the total.","properties":{"amount":{"type":"string","description":"The the numerical value of the current pay.","example":"863.60"},"currency":{"type":"string","description":"The currency that the current pay was delivered in."}}},"ytd_pay":{"type":"object","description":"The year to date pay amount recorded in the total.","properties":{"amount":{"type":"string","description":"The the numerical value of the year to date pay.","example":"8952.65"},"currency":{"type":"string","description":"The currency that the year to date pay was delivered in.","example":"USD"}}},"current_hours":{"type":"string","description":"The current hours recorded related to the total.","example":null}}}}}},"deductions":{"type":"object","description":"Deductions recorded in the paystub.","properties":{"subtotals":{"type":"array","description":"Subtotals related to the deductions.","items":{"type":"object","properties":{"description":{"type":"string","description":"A description of a subtotal.","example":"STATE TAX"},"canonical_description":{"type":"string","description":"A canonical description of a subtotal.","example":"STATE TAX"},"current_pay":{"type":"object","description":"The current pay amount recorded in the total.","properties":{"amount":{"type":"string","description":"The the numerical value of the current pay.","example":"863.60"},"currency":{"type":"string","description":"The currency that the current pay was delivered in."}}},"ytd_pay":{"type":"object","description":"The year to date pay amount recorded in the subtotal.","properties":{"amount":{"type":"string","description":"The the numerical value of the year to date pay.","example":"8952.65"},"currency":{"type":"string","description":"The currency that the year to date pay was delivered in.","example":"USD"}}}}}},"totals":{"type":"array","description":"Totals related to the deductions.","items":{"type":"object","properties":{"description":{"type":"string","description":"A description of a total.","example":"STATE TAX"},"canonical_description":{"type":"string","description":"A canonical description of a total.","example":"STATE TAX"},"current_pay":{"type":"object","description":"The current pay amount recorded in the total.","properties":{"amount":{"type":"string","description":"The the numerical value of the current pay.","example":"863.60"},"currency":{"type":"string","description":"The currency that the current pay was delivered in."}}},"ytd_pay":{"type":"object","description":"The year to date pay amount recorded in the total.","properties":{"amount":{"type":"string","description":"The the numerical value of the year to date pay.","example":"8952.65"},"currency":{"type":"string","description":"The currency that the year to date pay was delivered in.","example":"USD"}}}}}}}},"employer":{"type":"object","description":"The employer recorded in the pay stub.","properties":{"name":{"type":"string","example":"INSTANT CARD NATIONAL","description":"The name of the employer."},"address":{"type":"object","description":"The address of the employer.","properties":{"line1":{"type":"string","description":"Line 1 of the employer's address.","example":"2712 WHITE RIVER AVE."},"line2":{"type":"string","description":"Line 2 of the employer's address.","example":null},"city":{"type":"string","description":"City of the employer's address.","example":"OAKLAND"},"state_code":{"type":"string","description":"State code of the employer's address.","example":"CA"},"postal_code":{"type":"string","description":"Postal code of the employer's address.","example":"94621"}}}}},"employee":{"type":"object","description":"The employee recorded in the pay stub.","properties":{"name":{"type":"string","example":"TAMIKA S. NOTE","description":"The name of the employer."},"address":{"type":"object","description":"The address of the employee.","properties":{"line1":{"type":"string","description":"Line 1 of the employee's address.","example":"4654 SYCAMORE ST."},"line2":{"type":"string","description":"Line 2 of the employee's address.","example":null},"city":{"type":"string","description":"City of the employee's address.","example":"SAN JOSE"},"state_code":{"type":"string","description":"State code of the employee's address.","example":"CA"},"postal_code":{"type":"string","description":"Postal code of the employee's address.","example":"95113"}}},"marital_status":{"type":"string","description":"Indicates if the employee is married.","example":"SINGLE"},"taxpayer_id":{"type":"object","description":"The taxpayer ID of the employee.","properties":{"id_type":{"type":"string","description":"The type of ID used to identify the employee.","example":"SSN"},"last_4_digits":{"type":"string","description":"The last four digits of the employee's taxpayer ID.","example":"2323"}}}}},"paystub_details":{"type":"object","description":"Details of the paystub.","properties":{"pay_period_start_date":{"type":"string","description":"The start date of the pay period recorded in the pay stub.","example":"2022-03-04T00:00:00.000Z"},"pay_period_end_date":{"type":"string","description":"The end date of the pay period recorded in the pay stub.","example":"2022-03-17T00:00:00.000Z"},"pay_date":{"type":"string","description":"The date of the pay period recorded in the pay stub.","example":"2022-03-18T00:00:00.000Z"},"paystub_provider":{"type":"string","description":"The provider of the pay stub.","example":null},"pay_frequency":{"type":"string","description":"How often the pay stub is delivered.","example":"BI_WEEKLY"},"pay_frequency_captured":{"type":"string","description":"Indicates if the pay frequency is recorded in the pay stub.","example":"NOT LISTED"}}},"employment_details":{"type":"object","description":"Details related to the employment.","properties":{"hire_date":{"type":"string","description":"The date when the employee was hired.","example":null},"annual_salary":{"type":"object","description":"The annual salary of the employee.","properties":{"amount":{"type":"string","description":"The total value of the salary.","example":null},"currency":{"type":"string","description":"The currency the salary will be paid in.","example":null}}}}},"confidence_scores":{"type":"array","description":"An array containing information about the confidence scores associated with fields in this book.","items":{"type":"object","properties":{"confidence":{"type":"integer","description":"A number representing the confidence score."},"key":{"type":"string","description":"The value that this confidence score is attributed to."}}}}}}}},"examples":{"Success":{"value":{"status":200,"response":[{"uuid":"913766b3-26ed-4052-80fc-ab1a63c0c596","book_uuid":"f4bf4ca1-aa28-4044-b4ec-29089781eb05","doc_uuid":"b2293831-f1f9-4595-8fc7-5af25ddf4df3","status":"COMPLETED","doc_page_numbers":[1],"rejection_reason":null,"uploaded_image_bucket_uuid":null,"net_pay":{"distribution_details":[{"description":"CHKG 648","bank_name":null,"account_number":"648","bank_account_type":"CHKG","current_pay":{"amount":"2295.81","currency":"USD"}}],"totals":{"description":"NET EARNINGS","canonical_description":null,"current_pay":{"amount":"2295.81","currency":"USD"},"ytd_pay":{"amount":"17901.46","currency":"USD"}}},"earnings":{"subtotals":[{"description":"REGULAR","canonical_description":"REGULAR PAY","current_pay":{"amount":"2576.92","currency":"USD"},"ytd_pay":{"amount":"5153.84","currency":"USD"},"current_hours":"80.00","current_rate":"32.21"},{"description":"REGULAR","canonical_description":"REGULAR PAY","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"13494.14","currency":"USD"},"current_hours":null,"current_rate":null},{"description":"PAID TIME OFF","canonical_description":"PAID TIME OFF","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"238.48","currency":"USD"},"current_hours":null,"current_rate":null},{"description":"OVERTIME","canonical_description":"OVERTIME","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"1923.90","currency":"USD"},"current_hours":null,"current_rate":null},{"description":"OVERTIME","canonical_description":"OVERTIME","current_pay":{"amount":"663.88","currency":"USD"},"ytd_pay":{"amount":"1163.00","currency":"USD"},"current_hours":"13.74","current_rate":"48.32"},{"description":"HOLIDAY","canonical_description":"HOLIDAY PAY","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"692.40","currency":"USD"},"current_hours":null,"current_rate":null},{"description":"COMMISSION","canonical_description":"COMMISSION","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"2310.00","currency":"USD"},"current_hours":null,"current_rate":null},{"description":"GROUP TERM LIFE","canonical_description":null,"current_pay":{"amount":"4.54","currency":"USD"},"ytd_pay":{"amount":"32.92","currency":"USD"},"current_hours":null,"current_rate":null}],"totals":[{"description":"EARNINGS","canonical_description":null,"current_pay":{"amount":"3245.34","currency":"USD"},"ytd_pay":{"amount":"25008.68","currency":"USD"},"current_hours":"93.74"}]},"deductions":{"subtotals":[{"description":"VOLUNTARY LIFE","canonical_description":"LIFE INSURANCE","current_pay":{"amount":"1.48","currency":"USD"},"ytd_pay":{"amount":"11.84","currency":"USD"}},{"description":"VISION PRE-TAX","canonical_description":"VISION","current_pay":{"amount":"3.95","currency":"USD"},"ytd_pay":{"amount":"31.60","currency":"USD"}},{"description":"SHORT  TERM  DISABILITY  POST-TAX","canonical_description":"SHORT TERM DISABILITY","current_pay":{"amount":"20.19","currency":"USD"},"ytd_pay":{"amount":"150.06","currency":"USD"}},{"description":"MEDICAL PRE-TAX","canonical_description":"MEDICAL","current_pay":{"amount":"76.94","currency":"USD"},"ytd_pay":{"amount":"615.52","currency":"USD"}},{"description":"EMPLOYER  PAID  GROUP  TERM LIFE","canonical_description":"LIFE INSURANCE","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"0.00","currency":"USD"}},{"description":"DENTAL PRE-TAX","canonical_description":"DENTAL","current_pay":{"amount":"14.49","currency":"USD"},"ytd_pay":{"amount":"115.92","currency":"USD"}},{"description":"401K %","canonical_description":"401K","current_pay":{"amount":"97.22","currency":"USD"},"ytd_pay":{"amount":"749.26","currency":"USD"}},{"description":"SC STATE","canonical_description":"STATE TAX","current_pay":{"amount":"195.58","currency":"USD"},"ytd_pay":{"amount":"1453.35","currency":"USD"}},{"description":"FED INCOME TAX","canonical_description":"FEDERAL WITHHOLDINGS","current_pay":{"amount":"294.17","currency":"USD"},"ytd_pay":{"amount":"2091.96","currency":"USD"}},{"description":"FED MEDICARE","canonical_description":"EMPLOYEE MEDICARE","current_pay":{"amount":"45.67","currency":"USD"},"ytd_pay":{"amount":"351.56","currency":"USD"}},{"description":"FED SOC SEC","canonical_description":"SOCIAL SECURITY EMPLOYEE TAX","current_pay":{"amount":"195.30","currency":"USD"},"ytd_pay":{"amount":"1503.23","currency":"USD"}}],"totals":[]},"employee":{"name":"ALEXANDER HAMILTON","address":{"line1":"123 MAIN ST","line2":null,"city":"LEXINGTON","state_code":"SC","postal_code":"12041"},"marital_status":"MARRIED","taxpayer_id":{"id_type":"SSN","last_4_digits":"5555"}},"employer":{"name":"BANK OF PHILADELPHIA","address":{"line1":"PO BOX 75","line2":null,"city":"LEXINGTON","state_code":"SC","postal_code":"12041-0064"}},"paystub_details":{"pay_period_start_date":"2021-04-05","pay_period_end_date":"2021-04-18","pay_date":"2021-04-23","paystub_provider":null,"pay_frequency":"BI_WEEKLY","pay_frequency_captured":"NOT LISTED"},"employment_details":{"hire_date":null,"annual_salary":{"amount":null,"currency":null},"pay_basis":null,"hourly_rate":{"amount":null,"currency":null}},"confidence_scores":null},{"uuid":"ae1cd66b-d366-4483-a938-4b7871dcaeaf","book_uuid":"f4bf4ca1-aa28-4044-b4ec-29089781eb05","doc_uuid":"83f6c264-1099-4113-9675-8c6a0c9651f2","status":"COMPLETED","doc_page_numbers":[1],"rejection_reason":null,"uploaded_image_bucket_uuid":null,"net_pay":{"distribution_details":[{"description":"CHKG 648","bank_name":null,"account_number":"648","bank_account_type":"CHKG","current_pay":{"amount":"2367.08","currency":"USD"}}],"totals":{"description":"NET EARNINGS","canonical_description":null,"current_pay":{"amount":"2367.08","currency":"USD"},"ytd_pay":{"amount":"20268.54","currency":"USD"}}},"earnings":{"subtotals":[{"description":"REGULAR","canonical_description":"REGULAR PAY","current_pay":{"amount":"2576.92","currency":"USD"},"ytd_pay":{"amount":"7730.76","currency":"USD"},"current_hours":"80.00","current_rate":"32.21"},{"description":"REGULAR","canonical_description":"REGULAR PAY","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"13494.14","currency":"USD"},"current_hours":null,"current_rate":null},{"description":"PAID TIME OFF","canonical_description":"PAID TIME OFF","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"238.48","currency":"USD"},"current_hours":null,"current_rate":null},{"description":"OVERTIME","canonical_description":"OVERTIME","current_pay":{"amount":"764.38","currency":"USD"},"ytd_pay":{"amount":"1927.38","currency":"USD"},"current_hours":"15.82","current_rate":"48.32"},{"description":"HOLIDAY","canonical_description":"HOLIDAY PAY","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"692.40","currency":"USD"},"current_hours":null,"current_rate":null},{"description":"OVERTIME","canonical_description":"OVERTIME","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"1923.90","currency":"USD"},"current_hours":null,"current_rate":null},{"description":"GROUP TERM LIFE","canonical_description":null,"current_pay":{"amount":"4.54","currency":"USD"},"ytd_pay":{"amount":"37.46","currency":"USD"},"current_hours":null,"current_rate":null},{"description":"COMMISSION","canonical_description":"COMMISSION","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"2310.00","currency":"USD"},"current_hours":null,"current_rate":null}],"totals":[{"description":"EARNINGS","canonical_description":null,"current_pay":{"amount":"3345.84","currency":"USD"},"ytd_pay":{"amount":"28354.52","currency":"USD"},"current_hours":"95.82"}]},"deductions":{"subtotals":[{"description":"VOLUNTARY LIFE","canonical_description":"LIFE INSURANCE","current_pay":{"amount":"1.48","currency":"USD"},"ytd_pay":{"amount":"13.32","currency":"USD"}},{"description":"VISION PRE-TAX","canonical_description":"VISION","current_pay":{"amount":"3.95","currency":"USD"},"ytd_pay":{"amount":"35.55","currency":"USD"}},{"description":"SHORT TERM  DISABILITY POST-TAX","canonical_description":null,"current_pay":{"amount":"20.19","currency":"USD"},"ytd_pay":{"amount":"170.25","currency":"USD"}},{"description":"MEDICAL PRE-TAX","canonical_description":"MEDICAL","current_pay":{"amount":"76.94","currency":"USD"},"ytd_pay":{"amount":"692.46","currency":"USD"}},{"description":"EMPLOYER PAID GROUP  TERM LIFE","canonical_description":null,"current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"0.00","currency":"USD"}},{"description":"DENTAL PRE-TAX","canonical_description":"DENTAL","current_pay":{"amount":"14.49","currency":"USD"},"ytd_pay":{"amount":"130.41","currency":"USD"}},{"description":"401K %","canonical_description":"401K","current_pay":{"amount":"100.24","currency":"USD"},"ytd_pay":{"amount":"849.50","currency":"USD"}},{"description":"SC STATE","canonical_description":"STATE TAX","current_pay":{"amount":"202.40","currency":"USD"},"ytd_pay":{"amount":"1655.75","currency":"USD"}},{"description":"FED SOC SEC","canonical_description":"SOCIAL SECURITY EMPLOYEE TAX","current_pay":{"amount":"201.53","currency":"USD"},"ytd_pay":{"amount":"1704.76","currency":"USD"}},{"description":"FED MEDICARE","canonical_description":"EMPLOYEE MEDICARE","current_pay":{"amount":"47.13","currency":"USD"},"ytd_pay":{"amount":"398.69","currency":"USD"}},{"description":"FED INCOME TAX","canonical_description":"FEDERAL WITHHOLDINGS","current_pay":{"amount":"305.87","currency":"USD"},"ytd_pay":{"amount":"2397.83","currency":"USD"}}],"totals":[]},"employee":{"name":"ALEXANDER HAMILTON","address":{"line1":"123 MAIN ST","line2":null,"city":"LEXINGTON","state_code":"SC","postal_code":"12041"},"marital_status":"MARRIED","taxpayer_id":{"id_type":"SSN","last_4_digits":"5555"}},"employer":{"name":"BANK OF PHILADELPHIA","address":{"line1":"PO BOX 75","line2":null,"city":"LEXINGTON","state_code":"SC","postal_code":"12041-0064"}},"paystub_details":{"pay_period_start_date":"2021-04-19","pay_period_end_date":"2021-05-02","pay_date":"2021-05-07","paystub_provider":null,"pay_frequency":"BI_WEEKLY","pay_frequency_captured":"NOT LISTED"},"employment_details":{"hire_date":null,"annual_salary":{"amount":null,"currency":null},"pay_basis":"HOURLY","hourly_rate":{"amount":null,"currency":null}},"confidence_scores":null}],"message":"OK"}}}}}},"400":{"description":"Client Errors","content":{"application/json":{"examples":{"Book not found":{"value":{"status":400,"code":1401,"response":null,"message":"Book not found","meta":{"status":400,"msg":"Book not found","code":1401}}},"Missing Required Parameters":{"value":{"status":400,"code":1103,"response":null,"message":"Required pk or book uuid","meta":{"status":400,"msg":"Required pk or book uuid","code":1103}}},"No Permission":{"value":{"status":400,"code":2102,"response":null,"message":"No permission to access this book","meta":{"status":400,"msg":"No permission to access this book","code":2102}}}},"schema":{"$ref":"#/paths/~1v1~1form/get/responses/400/content/application~1json/schema"}}}}}}},"/v1/document/forms/fields":{"get":{"summary":"Doc form data","operationId":"doc-form-data","description":"Get field data for all <<glossary:Form>>s captured in a <<glossary:Document>>.\n\n---\n\nA detailed description of the response can be found on the [form data](https://docs.ocrolus.com/docs/form-data) data type definition. ","tags":["Capture"],"parameters":[{"name":"doc_uuid","in":"query","description":"The unique identifier of the <<glossary:Document>> that contains the form data. Mutually exclusive with `pk`.","example":"32765c32-1a15-477a-8a2d-fe8cbe89ac9c","schema":{"type":"string"}},{"name":"pk","in":"query","description":"The <<glossary:PK>> of the <<glossary:Document>> that contains the form data. Mutually exclusive with `doc_uuid`.","example":655324,"schema":{"type":"string"}}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"properties":{"status":{"type":"integer","description":"A numerical code that indicates the status of the request.","example":200},"response":{"type":"object","description":"An object received from the server that potentially contains data.","properties":{"pk":{"type":"integer","description":"Unique primary key for the <<glossary:Book>>.","example":133771},"uuid":{"type":"string","description":"Universally unique identifier (UUID) for the <<glossary:Book>>.","example":"988a30fe-d25e-40b4-9724-f4c06bacbab5"},"forms":{"type":"array","description":"An array of forms that have been found in this <<glossary:Document>>.","items":{"type":"object","properties":{"pk":{"type":"integer","description":"Unique primary key for the form.","example":12304},"uuid":{"type":"string","description":"Universally unique identifier (UUID) for the form.","example":"e6d7d3c7-444c-4cf3-99c7-65bdabb309f9"},"form_type":{"type":"string","description":"The Document type of the form.","example":"ACCOUNT_SUMMARY"},"form_config_pk":{"type":"integer","description":"Unique primary key for the form config.","example":1013},"tables":{"type":"array","description":"An array of tables associated with the form.","example":[]},"raw_fields":{"type":"object","description":"An object containing data related to the data captured from the form. This may vary amongst different form types.","properties":{"examplefield:field_name":{"type":"object","description":"Information recorded from the uploaded Document.","properties":{"value":{"type":"string","description":"The recorded value found in the field.","example":"1379.82"},"is_empty":{"type":"boolean","description":"Describes if the field contains information.","example":false},"alias_used":{"type":"string","description":"Alias used for the field.","example":null},"source_filename":{"type":"string","description":"The source of the information recorded in the field.","example":"simple_bank_statement.pdf"},"confidence":{"type":"number","description":"The confidence score associated with this field."}}}}}}}}}},"message":{"type":"string","description":"A textual description that indicates details about this response's status.","example":"OK"}}},"examples":{"Success":{"value":{"status":200,"response":{"pk":54425689,"uuid":"5e253b1d-d6eb-4f42-b6f1-c5daa1ae29a2","forms":[{"pk":46115051,"uuid":"d79541a9-d049-45c2-bf93-6258fd1e0043","form_type":"VOIDED_CHECK","form_config_pk":216942,"tables":[],"raw_fields":{"voided_check-Part1:nameOfBank":{"value":"FIRST BANK OF EXAMPLES","is_empty":false,"alias_used":null,"source_filename":"Ocrolus Sample PDF - Voided Check.pdf","confidence":1},"voided_check-Part2:accountNumber":{"value":"40123456789","is_empty":false,"alias_used":null,"source_filename":"Ocrolus Sample PDF - Voided Check.pdf","confidence":1},"voided_check-Part2:routingNumber":{"value":"101112131","is_empty":false,"alias_used":null,"source_filename":"Ocrolus Sample PDF - Voided Check.pdf","confidence":1},"voided_check-Part1:nameOfBusiness":{"value":"OCROLUS INC.","is_empty":false,"alias_used":null,"source_filename":"Ocrolus Sample PDF - Voided Check.pdf","confidence":1},"voided_check-Part1:businessAddress:zip":{"value":"11111","is_empty":false,"alias_used":null,"source_filename":"Ocrolus Sample PDF - Voided Check.pdf","confidence":1},"voided_check-Part1:businessPhoneNumber":{"value":"","is_empty":true,"alias_used":null,"source_filename":"Ocrolus Sample PDF - Voided Check.pdf","confidence":1},"voided_check-Part1:businessAddress:city":{"value":"NEW YORK","is_empty":false,"alias_used":null,"source_filename":"Ocrolus Sample PDF - Voided Check.pdf","confidence":1},"voided_check-Part1:businessAddress:state":{"value":"NY","is_empty":false,"alias_used":null,"source_filename":"Ocrolus Sample PDF - Voided Check.pdf","confidence":1},"voided_check-Part2:checkNumber(TopOfCheck)":{"value":"1025","is_empty":false,"alias_used":null,"source_filename":"Ocrolus Sample PDF - Voided Check.pdf","confidence":1},"voided_check-Part2:checkNumber(BottomOfCheck)":{"value":"001025","is_empty":false,"alias_used":null,"source_filename":"Ocrolus Sample PDF - Voided Check.pdf","confidence":1},"voided_check-Part1:businessAddress:addressLine1":{"value":"123 EXAMPLE DR","is_empty":false,"alias_used":null,"source_filename":"Ocrolus Sample PDF - Voided Check.pdf","confidence":1},"voided_check-Part1:businessAddress:addressLine2":{"value":"","is_empty":true,"alias_used":null,"source_filename":"Ocrolus Sample PDF - Voided Check.pdf","confidence":1}}}]},"message":"OK"}}}}}},"400":{"description":"Client Errors","content":{"application/json":{"examples":{"Document Not Found":{"value":{"status":400,"code":1501,"response":null,"message":"Document not found","meta":{"status":400,"msg":"Document not found","code":1501}}},"Missing Required Paramater":{"value":{"status":400,"code":1103,"response":null,"message":"Required pk or doc_uuid","meta":{"status":400,"msg":"Required pk or doc_uuid","code":1103}}},"No Permission":{"value":{"status":400,"code":2104,"response":null,"message":"No permission to access this doc","meta":{"status":400,"msg":"No permission to access this doc","code":2104}}}},"schema":{"$ref":"#/paths/~1v1~1form/get/responses/400/content/application~1json/schema"}}}}}}},"/v2/document/{doc_uuid}/paystub":{"get":{"summary":"Doc pay stub data","operationId":"doc-paystub-data","description":"Retrieve pay stub data for a given <<glossary:Document>>.\n\n---\n\nA detailed description of the response can be found on the [Pay stub](https://docs.ocrolus.com/docs/pay-stub) data type definition","tags":["Capture"],"parameters":[{"name":"doc_uuid","in":"path","required":true,"description":"The unique identifier of the <<glossary:Document>> that contains the pay stub data.","example":"32765c32-1a15-477a-8a2d-fe8cbe89ac9c","schema":{"type":"string"}}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"properties":{"status":{"type":"integer","description":"A numerical code that indicates the status of the request.","example":200},"message":{"type":"string","description":"A textual description that indicates details about this response's status.","example":"OK"},"response":{"type":"object","description":"An object received from the server that potentially contains data.","properties":{"uuid":{"type":"string","example":"ce3585b5-44a0-4273-8ca9-c885a353bd87","description":"Universally unique identifier (UUID) for the pay stub."},"book_uuid":{"type":"string","description":"Universally unique identifier (UUID) for the <<glossary:Book>>.","example":"95573c48-93da-472d-ac86-c7e9b58bd53d"},"doc_uuid":{"type":"string","description":"Universally unique identifier (UUID) for the <<glossary:Document>>.","example":"32765c32-1a15-477a-8a2d-fe8cbe89ac9c"},"status":{"type":"string","description":"Verification status of the pay stub <<glossary:Document>>.","example":"COMPLETED"},"doc_page_numbers":{"type":"array","description":"An array of numbers that indicate the number of pages in each Document uploaded to the <<glossary:Book>>.","items":{"type":"integer"}},"rejection_reason":{"type":"string","description":"An optional attribute that briefly explains why a Document was rejected.","example":null},"uploaded_image_bucket_uuid":{"type":"string","description":"Universally unique identifier (UUID) for the image bucket.","example":null},"net_pay":{"type":"object","description":"The net pay recorded in the pay stub.","properties":{"distribution_details":{"type":"array","description":"Details related to the distribution of the net pay.","items":{"type":"object","properties":{"description":{"type":"string","description":"A description related to the net pay.","example":"FEDERAL CREDIT UNION CHECKING 3328"},"bank_name":{"type":"string","description":"The bank name recorded in the net pay.","example":"FEDERAL CREDIT UNION"},"account_number":{"type":"string","description":"The account number recorded in the net pay.","example":"3328"},"bank_account_type":{"type":"string","description":"The bank account type recorded in the net pay.","example":"CHECKING"},"current_pay":{"type":"object","description":"The current pay amount recorded in the net pay.","properties":{"amount":{"type":"string","description":"The the numerical value of the current pay.","example":"863.60"},"currency":{"type":"string","description":"The currency that the current pay was delivered in.","example":"USD"}}}}}},"totals":{"type":"object","description":"Totals recorded in the pay stub.","properties":{"description":{"type":"string","description":"A description realted to the total.","example":"NET PAY"},"canonical_description":{"type":"string","description":"A canonical description realted to the total.","example":null},"current_pay":{"type":"object","description":"The current pay amount recorded in the net pay.","properties":{"amount":{"type":"string","description":"The the numerical value of the current pay.","example":"863.60"},"currency":{"type":"string","description":"The currency that the current pay was delivered in.","example":"USD"}}},"ytd_pay":{"type":"object","description":"The year to date pay amount recorded in the net pay.","properties":{"amount":{"type":"string","description":"The the numerical value of the year to date pay.","example":"8952.65"},"currency":{"type":"string","description":"The currency that the year to date pay was delivered in.","example":"USD"}}}}}}},"earnings":{"type":"object","description":"Earnings recorded in the pay stub.","properties":{"subtotals":{"type":"array","description":"Subtotals related to the earnings.","items":{"type":"object","properties":{"description":{"type":"string","description":"A description of a subtotal.","example":"ANNUAL BONUS"},"canonical_description":{"type":"string","description":"A canonical description of a subtotal.","example":"BONUS"},"current_pay":{"type":"object","description":"The current pay amount recorded in the subtotal.","properties":{"amount":{"type":"string","description":"The the numerical value of the current pay.","example":"863.60"},"currency":{"type":"string","description":"The currency that the current pay was delivered in."}}},"ytd_pay":{"type":"object","description":"The year to date pay amount recorded in the subtotal.","properties":{"amount":{"type":"string","description":"The the numerical value of the year to date pay.","example":"8952.65"},"currency":{"type":"string","description":"The currency that the year to date pay was delivered in.","example":"USD"}}},"current_hours":{"type":"string","description":"The current hours recorded related to the subtotal.","example":null},"current_rate":{"type":"string","description":"The current rate recorded related to the subtotal.","example":null}}}},"totals":{"type":"array","description":"Totals related to the earnings.","items":{"type":"object","properties":{"description":{"type":"string","example":"GROSS PAY"},"canonical_description":{"type":"string","description":"A canonical description of a total.","example":"BONUS"},"current_pay":{"type":"object","description":"The current pay amount recorded in the total.","properties":{"amount":{"type":"string","description":"The the numerical value of the current pay.","example":"863.60"},"currency":{"type":"string","description":"The currency that the current pay was delivered in."}}},"ytd_pay":{"type":"object","description":"The year to date pay amount recorded in the total.","properties":{"amount":{"type":"string","description":"The the numerical value of the year to date pay.","example":"8952.65"},"currency":{"type":"string","description":"The currency that the year to date pay was delivered in.","example":"USD"}}},"current_hours":{"type":"string","description":"The current hours recorded related to the total.","example":null}}}}}},"deductions":{"type":"object","description":"Deductions recorded in the paystub.","properties":{"subtotals":{"type":"array","description":"Subtotals related to the deductions.","items":{"type":"object","properties":{"description":{"type":"string","description":"A description of a subtotal.","example":"STATE TAX"},"canonical_description":{"type":"string","description":"A canonical description of a subtotal.","example":"STATE TAX"},"current_pay":{"type":"object","description":"The current pay amount recorded in the total.","properties":{"amount":{"type":"string","description":"The the numerical value of the current pay.","example":"863.60"},"currency":{"type":"string","description":"The currency that the current pay was delivered in."}}},"ytd_pay":{"type":"object","description":"The year to date pay amount recorded in the subtotal.","properties":{"amount":{"type":"string","description":"The the numerical value of the year to date pay.","example":"8952.65"},"currency":{"type":"string","description":"The currency that the year to date pay was delivered in.","example":"USD"}}}}}},"totals":{"type":"array","description":"Totals related to the deductions.","items":{"type":"object","properties":{"description":{"type":"string","description":"A description of a total.","example":"STATE TAX"},"canonical_description":{"type":"string","description":"A canonical description of a total.","example":"STATE TAX"},"current_pay":{"type":"object","description":"The current pay amount recorded in the total.","properties":{"amount":{"type":"string","description":"The the numerical value of the current pay.","example":"863.60"},"currency":{"type":"string","description":"The currency that the current pay was delivered in."}}},"ytd_pay":{"type":"object","description":"The year to date pay amount recorded in the total.","properties":{"amount":{"type":"string","description":"The the numerical value of the year to date pay.","example":"8952.65"},"currency":{"type":"string","description":"The currency that the year to date pay was delivered in.","example":"USD"}}}}}}}},"employer":{"type":"object","description":"The employer recorded in the pay stub.","properties":{"name":{"type":"string","example":"INSTANT CARD NATIONAL","description":"The name of the employer."},"address":{"type":"object","description":"The address of the employer.","properties":{"line1":{"type":"string","description":"Line 1 of the employer's address.","example":"2712 WHITE RIVER AVE."},"line2":{"type":"string","description":"Line 2 of the employer's address.","example":null},"city":{"type":"string","description":"City of the employer's address.","example":"OAKLAND"},"state_code":{"type":"string","description":"State code of the employer's address.","example":"CA"},"postal_code":{"type":"string","description":"Postal code of the employer's address.","example":"94621"}}}}},"employee":{"type":"object","description":"The employee recorded in the pay stub.","properties":{"name":{"type":"string","example":"TAMIKA S. NOTE","description":"The name of the employer."},"address":{"type":"object","description":"The address of the employee.","properties":{"line1":{"type":"string","description":"Line 1 of the employee's address.","example":"4654 SYCAMORE ST."},"line2":{"type":"string","description":"Line 2 of the employee's address.","example":null},"city":{"type":"string","description":"City of the employee's address.","example":"SAN JOSE"},"state_code":{"type":"string","description":"State code of the employee's address.","example":"CA"},"postal_code":{"type":"string","description":"Postal code of the employee's address.","example":"95113"}}},"marital_status":{"type":"string","description":"Indicates if the employee is married.","example":"SINGLE"},"taxpayer_id":{"type":"object","description":"The taxpayer ID of the employee.","properties":{"id_type":{"type":"string","description":"The type of ID used to identify the employee.","example":"SSN"},"last_4_digits":{"type":"string","description":"The last four digits of the employee's taxpayer ID.","example":"2323"}}}}},"paystub_details":{"type":"object","description":"Details of the paystub.","properties":{"pay_period_start_date":{"type":"string","description":"The start date of the pay period recorded in the pay stub.","example":"2022-03-04T00:00:00.000Z"},"pay_period_end_date":{"type":"string","description":"The end date of the pay period recorded in the pay stub.","example":"2022-03-17T00:00:00.000Z"},"pay_date":{"type":"string","description":"The date of the pay period recorded in the pay stub.","example":"2022-03-18T00:00:00.000Z"},"paystub_provider":{"type":"string","description":"The provider of the pay stub.","example":null},"pay_frequency":{"type":"string","description":"How often the pay stub is delivered.","example":"BI_WEEKLY"},"pay_frequency_captured":{"type":"string","description":"Indicates if the pay frequency is recorded in the pay stub.","example":"NOT LISTED"}}},"employment_details":{"type":"object","description":"Details related to the employment.","properties":{"hire_date":{"type":"string","description":"The date when the employee was hired.","example":null},"annual_salary":{"type":"object","description":"The annual salary of the employee.","properties":{"amount":{"type":"string","description":"The total value of the salary.","example":null},"currency":{"type":"string","description":"The currency the salary will be paid in.","example":null}}}}},"confidence_scores":{"type":"array","description":"An array containing information about the confidence scores associated with fields in this document.","items":{"type":"object","properties":{"confidence":{"type":"integer","description":"A number representing the confidence score."},"key":{"type":"string","description":"The value that this confidence score is attributed to."}}}}}}}},"examples":{"Success":{"value":{"status":200,"response":[{"uuid":"ae1cd66b-d366-4483-a938-4b7871dcaeaf","book_uuid":"f4bf4ca1-aa28-4044-b4ec-29089781eb05","doc_uuid":"83f6c264-1099-4113-9675-8c6a0c9651f2","status":"COMPLETED","doc_page_numbers":[1],"rejection_reason":null,"uploaded_image_bucket_uuid":null,"net_pay":{"distribution_details":[{"description":"CHKG 648","bank_name":null,"account_number":"648","bank_account_type":"CHKG","current_pay":{"amount":"2367.08","currency":"USD"}}],"totals":{"description":"NET EARNINGS","canonical_description":null,"current_pay":{"amount":"2367.08","currency":"USD"},"ytd_pay":{"amount":"20268.54","currency":"USD"}}},"earnings":{"subtotals":[{"description":"REGULAR","canonical_description":"REGULAR PAY","current_pay":{"amount":"2576.92","currency":"USD"},"ytd_pay":{"amount":"7730.76","currency":"USD"},"current_hours":"80.00","current_rate":"32.21"},{"description":"REGULAR","canonical_description":"REGULAR PAY","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"13494.14","currency":"USD"},"current_hours":null,"current_rate":null},{"description":"PAID TIME OFF","canonical_description":"PAID TIME OFF","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"238.48","currency":"USD"},"current_hours":null,"current_rate":null},{"description":"OVERTIME","canonical_description":"OVERTIME","current_pay":{"amount":"764.38","currency":"USD"},"ytd_pay":{"amount":"1927.38","currency":"USD"},"current_hours":"15.82","current_rate":"48.32"},{"description":"HOLIDAY","canonical_description":"HOLIDAY PAY","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"692.40","currency":"USD"},"current_hours":null,"current_rate":null},{"description":"OVERTIME","canonical_description":"OVERTIME","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"1923.90","currency":"USD"},"current_hours":null,"current_rate":null},{"description":"GROUP TERM LIFE","canonical_description":null,"current_pay":{"amount":"4.54","currency":"USD"},"ytd_pay":{"amount":"37.46","currency":"USD"},"current_hours":null,"current_rate":null},{"description":"COMMISSION","canonical_description":"COMMISSION","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"2310.00","currency":"USD"},"current_hours":null,"current_rate":null}],"totals":[{"description":"EARNINGS","canonical_description":null,"current_pay":{"amount":"3345.84","currency":"USD"},"ytd_pay":{"amount":"28354.52","currency":"USD"},"current_hours":"95.82"}]},"deductions":{"subtotals":[{"description":"VOLUNTARY LIFE","canonical_description":"LIFE INSURANCE","current_pay":{"amount":"1.48","currency":"USD"},"ytd_pay":{"amount":"13.32","currency":"USD"}},{"description":"VISION PRE-TAX","canonical_description":"VISION","current_pay":{"amount":"3.95","currency":"USD"},"ytd_pay":{"amount":"35.55","currency":"USD"}},{"description":"SHORT TERM  DISABILITY POST-TAX","canonical_description":null,"current_pay":{"amount":"20.19","currency":"USD"},"ytd_pay":{"amount":"170.25","currency":"USD"}},{"description":"MEDICAL PRE-TAX","canonical_description":"MEDICAL","current_pay":{"amount":"76.94","currency":"USD"},"ytd_pay":{"amount":"692.46","currency":"USD"}},{"description":"EMPLOYER PAID GROUP  TERM LIFE","canonical_description":null,"current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"0.00","currency":"USD"}},{"description":"DENTAL PRE-TAX","canonical_description":"DENTAL","current_pay":{"amount":"14.49","currency":"USD"},"ytd_pay":{"amount":"130.41","currency":"USD"}},{"description":"401K %","canonical_description":"401K","current_pay":{"amount":"100.24","currency":"USD"},"ytd_pay":{"amount":"849.50","currency":"USD"}},{"description":"SC STATE","canonical_description":"STATE TAX","current_pay":{"amount":"202.40","currency":"USD"},"ytd_pay":{"amount":"1655.75","currency":"USD"}},{"description":"FED SOC SEC","canonical_description":"SOCIAL SECURITY EMPLOYEE TAX","current_pay":{"amount":"201.53","currency":"USD"},"ytd_pay":{"amount":"1704.76","currency":"USD"}},{"description":"FED MEDICARE","canonical_description":"EMPLOYEE MEDICARE","current_pay":{"amount":"47.13","currency":"USD"},"ytd_pay":{"amount":"398.69","currency":"USD"}},{"description":"FED INCOME TAX","canonical_description":"FEDERAL WITHHOLDINGS","current_pay":{"amount":"305.87","currency":"USD"},"ytd_pay":{"amount":"2397.83","currency":"USD"}}],"totals":[]},"employee":{"name":"ALEXANDER HAMILTON","address":{"line1":"123 MAIN ST","line2":null,"city":"LEXINGTON","state_code":"SC","postal_code":"12041"},"marital_status":"MARRIED","taxpayer_id":{"id_type":"SSN","last_4_digits":"5555"}},"employer":{"name":"BANK OF PHILADELPHIA","address":{"line1":"PO BOX 75","line2":null,"city":"LEXINGTON","state_code":"SC","postal_code":"12041-0064"}},"paystub_details":{"pay_period_start_date":"2021-04-19","pay_period_end_date":"2021-05-02","pay_date":"2021-05-07","paystub_provider":null,"pay_frequency":"BI_WEEKLY","pay_frequency_captured":"NOT LISTED"},"employment_details":{"hire_date":null,"annual_salary":{"amount":null,"currency":null},"pay_basis":"HOURLY","hourly_rate":{"amount":null,"currency":null}},"confidence_scores":null}],"message":"OK"}}}}}},"400":{"description":"Client Errors","content":{"application/json":{"examples":{"Document Not Found":{"value":{"status":400,"code":1501,"response":null,"message":"Document not found","meta":{"status":400,"msg":"Document not found","code":1501}}},"Missing Required Paramater":{"value":{"status":400,"code":1103,"response":null,"message":"Required pay stub uuid","meta":{"status":400,"msg":"Required pay stub uuid","code":1103}}},"No Permission":{"value":{"status":400,"code":2104,"response":null,"message":"No permission to access this doc","meta":{"status":400,"msg":"No permission to access this doc","code":2104}}}},"schema":{"$ref":"#/paths/~1v1~1form/get/responses/400/content/application~1json/schema"}}}}}}},"/v1/form":{"get":{"summary":"Form data","operationId":"form-field-data","description":"Retrieve field data for a <<glossary:Form>>.\n\n---\n\nA detailed description of the response can be found on the [Form data](https://docs.ocrolus.com/docs/form-data) data type definition.","tags":["Capture"],"parameters":[{"name":"uuid","in":"query","description":"The unique identifier of a <<glossary:Form>>.","example":"cd26e2a3-8744-474a-a759-f42c025674e2","schema":{"type":"string"}},{"name":"pk","in":"query","description":"The unique primary key of a <<glossary:Form>>.","example":123456,"schema":{"type":"string"}}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"properties":{"status":{"type":"integer","description":"A numerical code that indicates the status of the request.","example":200},"response":{"type":"object","description":"An object received from the server that potentially contains data.","properties":{"pk":{"type":"integer","description":"Unique primary key for the <<glossary:Book>>.","example":133771},"uuid":{"type":"string","description":"Universally unique identifier (UUID) for the <<glossary:Book>>.","example":"988a30fe-d25e-40b4-9724-f4c06bacbab5"},"forms":{"type":"array","description":"An array of forms that have been found in this <<glossary:Document>>.","items":{"type":"object","properties":{"pk":{"type":"integer","description":"Unique primary key for the form.","example":12304},"uuid":{"type":"string","description":"Universally unique identifier (UUID) for the form.","example":"e6d7d3c7-444c-4cf3-99c7-65bdabb309f9"},"form_type":{"type":"string","description":"The Document type of the form.","example":"ACCOUNT_SUMMARY"},"form_config_pk":{"type":"integer","description":"Unique primary key for the form config.","example":1013},"tables":{"type":"array","description":"An array of tables associated with the form.","example":[]},"raw_fields":{"type":"object","description":"An object containing data related to the data captured from the form. This may vary amongst different form types.","properties":{"examplefield:field_name":{"type":"object","description":"Information recorded from the uploaded Document.","properties":{"value":{"type":"string","description":"The recorded value found in the field.","example":"1379.82"},"is_empty":{"type":"boolean","description":"Describes if the field contains information.","example":false},"alias_used":{"type":"string","description":"Alias used for the field.","example":null},"source_filename":{"type":"string","description":"The source of the information recorded in the field.","example":"simple_bank_statement.pdf"},"confidence":{"type":"number","description":"The confidence score associated with this field."}}}}}}}}}},"message":{"type":"string","description":"A textual description that indicates details about this response's status.","example":"OK"}}},"examples":{"Success":{"value":{"status":200,"response":{"pk":46420211,"uuid":"cd26e2a3-8744-474a-a759-f42c025674e2","form_type":"DRIVERS_LICENSE","raw_fields":{"drivers_license-General:dob":{"value":"01/06/1958","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:zip":{"value":"99999-1234","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:city":{"value":"YOUR CITY","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:state":{"value":"WA","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:suffix":{"value":"","is_empty":true,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:idNumber":{"value":"WDLABCD456DG","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:lastName":{"value":"SAMPLE","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:firstName":{"value":"ALEXANDER","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:issueDate":{"value":"01/06/2015","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:middleName":{"value":"HAMILTON","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:countryName":{"value":"UNITED STATES","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:addressLine1":{"value":"123 STREET ADDRESS","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:addressLine2":{"value":"","is_empty":true,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:issuingState":{"value":"WA","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1},"drivers_license-General:expirationDate":{"value":"08/12/2020","is_empty":false,"alias_used":null,"source_filename":"DRIVING-LICENSE.pdf","confidence":1}},"other_frauds":[],"id":46420211},"message":"OK"}}}}}},"400":{"description":"Client Errors","content":{"application/json":{"examples":{"Document Not Found":{"value":{"status":400,"code":2301,"response":null,"message":"DB Object Not Found","meta":{"status":400,"msg":"DB Object Not Found","code":2301}}},"Missing Required Paramater":{"value":{"status":400,"code":1103,"response":null,"message":"Required parameter not found","meta":{"status":400,"msg":"Required parameter not found","code":1103}}},"No Permission":{"value":{"status":400,"code":2107,"response":null,"message":"No permission to access this form","meta":{"status":400,"msg":"No permission to access this form","code":2107}}}},"schema":{"properties":{"status":{"type":"integer","description":"A numerical code that indicates the status of the request.","example":400},"code":{"type":"integer","description":"A numerical code that indicates the nature of an error.","example":1401},"response":{"type":"object","description":"An object received from the server that potentially contains data."},"message":{"type":"string","description":"A textual description that indicates details about this response's status.","example":"Book not found"},"meta":{"type":"object","description":"An object received from the server that potentially contains data.","properties":{"status":{"type":"integer","example":400,"description":"A numerical code that indicates the status of the request."},"message":{"type":"string","example":"Book not found","description":"A textual description that indicates details about this response's status."},"code":{"type":"integer","example":1401,"description":"A numerical code that indicates the nature of an error."}}}}}}}}}}},"/v2/paystub/{paystub_uuid}":{"get":{"summary":"Pay stub data","operationId":"paystub-data","description":"Retrieve pay stub data for a given <<glossary:Pay stub>>.\n\n---\n\nA detailed description of the response can be found on the [pay stub](https://docs.ocrolus.com/docs/pay-stub) data type definition.","tags":["Capture"],"parameters":[{"name":"paystub_uuid","in":"path","required":true,"description":"The unique identifier of a pay stub.","example":"ce3585b5-44a0-4273-8ca9-c885a353bd87","schema":{"type":"string"}}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"properties":{"status":{"type":"integer","description":"A numerical code that indicates the status of the request.","example":200},"message":{"type":"string","description":"A textual description that indicates details about this response's status.","example":"OK"},"response":{"type":"object","description":"An object received from the server that potentially contains data.","properties":{"uuid":{"type":"string","example":"ce3585b5-44a0-4273-8ca9-c885a353bd87","description":"Universally unique identifier (UUID) for the pay stub."},"book_uuid":{"type":"string","description":"Universally unique identifier (UUID) for the <<glossary:Book>>.","example":"95573c48-93da-472d-ac86-c7e9b58bd53d"},"doc_uuid":{"type":"string","description":"Universally unique identifier (UUID) for the <<glossary:Document>>.","example":"32765c32-1a15-477a-8a2d-fe8cbe89ac9c"},"status":{"type":"string","description":"Verification status of the pay stub <<glossary:Document>>.","example":"COMPLETED"},"doc_page_numbers":{"type":"array","description":"An array of numbers that indicate the number of pages in each Document uploaded to the <<glossary:Book>>.","items":{"type":"integer"}},"rejection_reason":{"type":"string","description":"An optional attribute that briefly explains why a Document was rejected.","example":null},"uploaded_image_bucket_uuid":{"type":"string","description":"Universally unique identifier (UUID) for the image bucket.","example":null},"net_pay":{"type":"object","description":"The net pay recorded in the pay stub.","properties":{"distribution_details":{"type":"array","description":"Details related to the distribution of the net pay.","items":{"type":"object","properties":{"description":{"type":"string","description":"A description related to the net pay.","example":"FEDERAL CREDIT UNION CHECKING 3328"},"bank_name":{"type":"string","description":"The bank name recorded in the net pay.","example":"FEDERAL CREDIT UNION"},"account_number":{"type":"string","description":"The account number recorded in the net pay.","example":"3328"},"bank_account_type":{"type":"string","description":"The bank account type recorded in the net pay.","example":"CHECKING"},"current_pay":{"type":"object","description":"The current pay amount recorded in the net pay.","properties":{"amount":{"type":"string","description":"The the numerical value of the current pay.","example":"863.60"},"currency":{"type":"string","description":"The currency that the current pay was delivered in.","example":"USD"}}}}}},"totals":{"type":"object","description":"Totals recorded in the pay stub.","properties":{"description":{"type":"string","description":"A description realted to the total.","example":"NET PAY"},"canonical_description":{"type":"string","description":"A canonical description realted to the total.","example":null},"current_pay":{"type":"object","description":"The current pay amount recorded in the net pay.","properties":{"amount":{"type":"string","description":"The the numerical value of the current pay.","example":"863.60"},"currency":{"type":"string","description":"The currency that the current pay was delivered in.","example":"USD"}}},"ytd_pay":{"type":"object","description":"The year to date pay amount recorded in the net pay.","properties":{"amount":{"type":"string","description":"The the numerical value of the year to date pay.","example":"8952.65"},"currency":{"type":"string","description":"The currency that the year to date pay was delivered in.","example":"USD"}}}}}}},"earnings":{"type":"object","description":"Earnings recorded in the pay stub.","properties":{"subtotals":{"type":"array","description":"Subtotals related to the earnings.","items":{"type":"object","properties":{"description":{"type":"string","description":"A description of a subtotal.","example":"ANNUAL BONUS"},"canonical_description":{"type":"string","description":"A canonical description of a subtotal.","example":"BONUS"},"current_pay":{"type":"object","description":"The current pay amount recorded in the subtotal.","properties":{"amount":{"type":"string","description":"The the numerical value of the current pay.","example":"863.60"},"currency":{"type":"string","description":"The currency that the current pay was delivered in."}}},"ytd_pay":{"type":"object","description":"The year to date pay amount recorded in the subtotal.","properties":{"amount":{"type":"string","description":"The the numerical value of the year to date pay.","example":"8952.65"},"currency":{"type":"string","description":"The currency that the year to date pay was delivered in.","example":"USD"}}},"current_hours":{"type":"string","description":"The current hours recorded related to the subtotal.","example":null},"current_rate":{"type":"string","description":"The current rate recorded related to the subtotal.","example":null}}}},"totals":{"type":"array","description":"Totals related to the earnings.","items":{"type":"object","properties":{"description":{"type":"string","example":"GROSS PAY"},"canonical_description":{"type":"string","description":"A canonical description of a total.","example":"BONUS"},"current_pay":{"type":"object","description":"The current pay amount recorded in the total.","properties":{"amount":{"type":"string","description":"The the numerical value of the current pay.","example":"863.60"},"currency":{"type":"string","description":"The currency that the current pay was delivered in."}}},"ytd_pay":{"type":"object","description":"The year to date pay amount recorded in the total.","properties":{"amount":{"type":"string","description":"The the numerical value of the year to date pay.","example":"8952.65"},"currency":{"type":"string","description":"The currency that the year to date pay was delivered in.","example":"USD"}}},"current_hours":{"type":"string","description":"The current hours recorded related to the total.","example":null}}}}}},"deductions":{"type":"object","description":"Deductions recorded in the paystub.","properties":{"subtotals":{"type":"array","description":"Subtotals related to the deductions.","items":{"type":"object","properties":{"description":{"type":"string","description":"A description of a subtotal.","example":"STATE TAX"},"canonical_description":{"type":"string","description":"A canonical description of a subtotal.","example":"STATE TAX"},"current_pay":{"type":"object","description":"The current pay amount recorded in the total.","properties":{"amount":{"type":"string","description":"The the numerical value of the current pay.","example":"863.60"},"currency":{"type":"string","description":"The currency that the current pay was delivered in."}}},"ytd_pay":{"type":"object","description":"The year to date pay amount recorded in the subtotal.","properties":{"amount":{"type":"string","description":"The the numerical value of the year to date pay.","example":"8952.65"},"currency":{"type":"string","description":"The currency that the year to date pay was delivered in.","example":"USD"}}}}}},"totals":{"type":"array","description":"Totals related to the deductions.","items":{"type":"object","properties":{"description":{"type":"string","description":"A description of a total.","example":"STATE TAX"},"canonical_description":{"type":"string","description":"A canonical description of a total.","example":"STATE TAX"},"current_pay":{"type":"object","description":"The current pay amount recorded in the total.","properties":{"amount":{"type":"string","description":"The the numerical value of the current pay.","example":"863.60"},"currency":{"type":"string","description":"The currency that the current pay was delivered in."}}},"ytd_pay":{"type":"object","description":"The year to date pay amount recorded in the total.","properties":{"amount":{"type":"string","description":"The the numerical value of the year to date pay.","example":"8952.65"},"currency":{"type":"string","description":"The currency that the year to date pay was delivered in.","example":"USD"}}}}}}}},"employer":{"type":"object","description":"The employer recorded in the pay stub.","properties":{"name":{"type":"string","example":"INSTANT CARD NATIONAL","description":"The name of the employer."},"address":{"type":"object","description":"The address of the employer.","properties":{"line1":{"type":"string","description":"Line 1 of the employer's address.","example":"2712 WHITE RIVER AVE."},"line2":{"type":"string","description":"Line 2 of the employer's address.","example":null},"city":{"type":"string","description":"City of the employer's address.","example":"OAKLAND"},"state_code":{"type":"string","description":"State code of the employer's address.","example":"CA"},"postal_code":{"type":"string","description":"Postal code of the employer's address.","example":"94621"}}}}},"employee":{"type":"object","description":"The employee recorded in the pay stub.","properties":{"name":{"type":"string","example":"TAMIKA S. NOTE","description":"The name of the employer."},"address":{"type":"object","description":"The address of the employee.","properties":{"line1":{"type":"string","description":"Line 1 of the employee's address.","example":"4654 SYCAMORE ST."},"line2":{"type":"string","description":"Line 2 of the employee's address.","example":null},"city":{"type":"string","description":"City of the employee's address.","example":"SAN JOSE"},"state_code":{"type":"string","description":"State code of the employee's address.","example":"CA"},"postal_code":{"type":"string","description":"Postal code of the employee's address.","example":"95113"}}},"marital_status":{"type":"string","description":"Indicates if the employee is married.","example":"SINGLE"},"taxpayer_id":{"type":"object","description":"The taxpayer ID of the employee.","properties":{"id_type":{"type":"string","description":"The type of ID used to identify the employee.","example":"SSN"},"last_4_digits":{"type":"string","description":"The last four digits of the employee's taxpayer ID.","example":"2323"}}}}},"paystub_details":{"type":"object","description":"Details of the paystub.","properties":{"pay_period_start_date":{"type":"string","description":"The start date of the pay period recorded in the pay stub.","example":"2022-03-04T00:00:00.000Z"},"pay_period_end_date":{"type":"string","description":"The end date of the pay period recorded in the pay stub.","example":"2022-03-17T00:00:00.000Z"},"pay_date":{"type":"string","description":"The date of the pay period recorded in the pay stub.","example":"2022-03-18T00:00:00.000Z"},"paystub_provider":{"type":"string","description":"The provider of the pay stub.","example":null},"pay_frequency":{"type":"string","description":"How often the pay stub is delivered.","example":"BI_WEEKLY"},"pay_frequency_captured":{"type":"string","description":"Indicates if the pay frequency is recorded in the pay stub.","example":"NOT LISTED"}}},"employment_details":{"type":"object","description":"Details related to the employment.","properties":{"hire_date":{"type":"string","description":"The date when the employee was hired.","example":null},"annual_salary":{"type":"object","description":"The annual salary of the employee.","properties":{"amount":{"type":"string","description":"The total value of the salary.","example":null},"currency":{"type":"string","description":"The currency the salary will be paid in.","example":null}}}}},"confidence_scores":{"type":"array","description":"An array containing information about the confidence scores associated with fields in this document.","items":{"type":"object","properties":{"confidence":{"type":"integer","description":"A number representing the confidence score."},"key":{"type":"string","description":"The value that this confidence score is attributed to."}}}}}}}},"examples":{"Success":{"value":{"status":200,"response":[{"uuid":"ae1cd66b-d366-4483-a938-4b7871dcaeaf","book_uuid":"f4bf4ca1-aa28-4044-b4ec-29089781eb05","doc_uuid":"83f6c264-1099-4113-9675-8c6a0c9651f2","status":"COMPLETED","doc_page_numbers":[1],"rejection_reason":null,"uploaded_image_bucket_uuid":null,"net_pay":{"distribution_details":[{"description":"CHKG 648","bank_name":null,"account_number":"648","bank_account_type":"CHKG","current_pay":{"amount":"2367.08","currency":"USD"}}],"totals":{"description":"NET EARNINGS","canonical_description":null,"current_pay":{"amount":"2367.08","currency":"USD"},"ytd_pay":{"amount":"20268.54","currency":"USD"}}},"earnings":{"subtotals":[{"description":"REGULAR","canonical_description":"REGULAR PAY","current_pay":{"amount":"2576.92","currency":"USD"},"ytd_pay":{"amount":"7730.76","currency":"USD"},"current_hours":"80.00","current_rate":"32.21"},{"description":"REGULAR","canonical_description":"REGULAR PAY","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"13494.14","currency":"USD"},"current_hours":null,"current_rate":null},{"description":"PAID TIME OFF","canonical_description":"PAID TIME OFF","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"238.48","currency":"USD"},"current_hours":null,"current_rate":null},{"description":"OVERTIME","canonical_description":"OVERTIME","current_pay":{"amount":"764.38","currency":"USD"},"ytd_pay":{"amount":"1927.38","currency":"USD"},"current_hours":"15.82","current_rate":"48.32"},{"description":"HOLIDAY","canonical_description":"HOLIDAY PAY","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"692.40","currency":"USD"},"current_hours":null,"current_rate":null},{"description":"OVERTIME","canonical_description":"OVERTIME","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"1923.90","currency":"USD"},"current_hours":null,"current_rate":null},{"description":"GROUP TERM LIFE","canonical_description":null,"current_pay":{"amount":"4.54","currency":"USD"},"ytd_pay":{"amount":"37.46","currency":"USD"},"current_hours":null,"current_rate":null},{"description":"COMMISSION","canonical_description":"COMMISSION","current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"2310.00","currency":"USD"},"current_hours":null,"current_rate":null}],"totals":[{"description":"EARNINGS","canonical_description":null,"current_pay":{"amount":"3345.84","currency":"USD"},"ytd_pay":{"amount":"28354.52","currency":"USD"},"current_hours":"95.82"}]},"deductions":{"subtotals":[{"description":"VOLUNTARY LIFE","canonical_description":"LIFE INSURANCE","current_pay":{"amount":"1.48","currency":"USD"},"ytd_pay":{"amount":"13.32","currency":"USD"}},{"description":"VISION PRE-TAX","canonical_description":"VISION","current_pay":{"amount":"3.95","currency":"USD"},"ytd_pay":{"amount":"35.55","currency":"USD"}},{"description":"SHORT TERM  DISABILITY POST-TAX","canonical_description":null,"current_pay":{"amount":"20.19","currency":"USD"},"ytd_pay":{"amount":"170.25","currency":"USD"}},{"description":"MEDICAL PRE-TAX","canonical_description":"MEDICAL","current_pay":{"amount":"76.94","currency":"USD"},"ytd_pay":{"amount":"692.46","currency":"USD"}},{"description":"EMPLOYER PAID GROUP  TERM LIFE","canonical_description":null,"current_pay":{"amount":"0.00","currency":"USD"},"ytd_pay":{"amount":"0.00","currency":"USD"}},{"description":"DENTAL PRE-TAX","canonical_description":"DENTAL","current_pay":{"amount":"14.49","currency":"USD"},"ytd_pay":{"amount":"130.41","currency":"USD"}},{"description":"401K %","canonical_description":"401K","current_pay":{"amount":"100.24","currency":"USD"},"ytd_pay":{"amount":"849.50","currency":"USD"}},{"description":"SC STATE","canonical_description":"STATE TAX","current_pay":{"amount":"202.40","currency":"USD"},"ytd_pay":{"amount":"1655.75","currency":"USD"}},{"description":"FED SOC SEC","canonical_description":"SOCIAL SECURITY EMPLOYEE TAX","current_pay":{"amount":"201.53","currency":"USD"},"ytd_pay":{"amount":"1704.76","currency":"USD"}},{"description":"FED MEDICARE","canonical_description":"EMPLOYEE MEDICARE","current_pay":{"amount":"47.13","currency":"USD"},"ytd_pay":{"amount":"398.69","currency":"USD"}},{"description":"FED INCOME TAX","canonical_description":"FEDERAL WITHHOLDINGS","current_pay":{"amount":"305.87","currency":"USD"},"ytd_pay":{"amount":"2397.83","currency":"USD"}}],"totals":[]},"employee":{"name":"ALEXANDER HAMILTON","address":{"line1":"123 MAIN ST","line2":null,"city":"LEXINGTON","state_code":"SC","postal_code":"12041"},"marital_status":"MARRIED","taxpayer_id":{"id_type":"SSN","last_4_digits":"5555"}},"employer":{"name":"BANK OF PHILADELPHIA","address":{"line1":"PO BOX 75","line2":null,"city":"LEXINGTON","state_code":"SC","postal_code":"12041-0064"}},"paystub_details":{"pay_period_start_date":"2021-04-19","pay_period_end_date":"2021-05-02","pay_date":"2021-05-07","paystub_provider":null,"pay_frequency":"BI_WEEKLY","pay_frequency_captured":"NOT LISTED"},"employment_details":{"hire_date":null,"annual_salary":{"amount":null,"currency":null},"pay_basis":"HOURLY","hourly_rate":{"amount":null,"currency":null}},"confidence_scores":null}],"message":"OK"}}}}}},"400":{"description":"Client Errors","content":{"application/json":{"examples":{"Document Not Found":{"value":{"status":400,"code":1501,"response":null,"message":"Document not found","meta":{"status":400,"msg":"Document not found","code":1501}}},"Missing Required Paramater":{"value":{"status":400,"code":1103,"response":null,"message":"Required pay stub uuid","meta":{"status":400,"msg":"Required pay stub uuid","code":1103}}},"No Permission":{"value":{"status":400,"code":2104,"response":null,"message":"No permission to access this doc","meta":{"status":400,"msg":"No permission to access this doc","code":2104}}}},"schema":{"$ref":"#/paths/~1v1~1form/get/responses/400/content/application~1json/schema"}}}}}}},"/v1/transaction":{"get":{"summary":"Transactions","operationId":"transactions","description":"Retrieve transactions from all Documents uploaded to a <<glossary:Book>>.\n\n---\n> 🚧 \n> The Transactions endpoint provides raw transactions output. If you are looking for enriched transactions complete with a list of categories, transaction tagging, and improved revenue, expense, and transfer logic, please visit the [Enriched transactions page](ref:enriched-transactions)\n\n> 📘\n> If `uploaded_doc_pk` or `uploaded_doc_uuid` are not provided in the request, transactions from all Documents in the Book will be provided.","tags":["Capture"],"parameters":[{"name":"book_uuid","in":"query","description":"The unique identifier of a <<glossary:Book>>. Mutually exclusive with `book_pk`.","example":"19aab921-25a5-4beb-a59e-ac72320061d6","schema":{"type":"string","format":"uuid"}},{"name":"book_pk","in":"query","description":"The unique primary key of a <<glossary:Book>>. Mutually exclusive with `book_uuid`.","example":5244323,"schema":{"type":"string","format":"uuid"}},{"name":"uploaded_doc_uuid","in":"query","description":"The unique identifier of a <<glossary:Document>>. Mutually exclusive with `uploaded_doc_pk`.","example":"4ad17d9e-1963-44c3-b709-2c5c80b9d667","schema":{"type":"string"}},{"name":"uploaded_doc_pk","in":"query","description":"The unique primary key of a <<glossary:Document>>. Mutually exclusive with `uploaded_doc_uuid`.","example":52386256,"schema":{"type":"string"}}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"Success","type":"object","properties":{"status":{"type":"integer","example":200,"description":"A numerical code that indicates the status of the request."},"response":{"type":"object","description":"An object received from the server that potentially contains data.","properties":{"txns":{"type":"array","description":"Transaction(s) and their atributes details.","items":{"type":"object","properties":{"page_idx":{"type":"integer","description":"The specific page number within a Document from which transaction details are retrieved.","example":0},"bank_account_pk":{"type":"integer","description":"A unique integer identifier of the bank account using which the transaction was done.","example":12942296},"amount":{"type":"string","description":"The amount recorded in the transaction.","example":650},"bbox":{"type":"array","description":"The bounding box (bbox) coordinates are the pixel units that enclose the text data on a page. They're given in left, top, bottom, and right order, with (0, 0) as the top-left corner of the page.","example":[142,2804,2196,2854]},"txn_date":{"type":"string","description":"Date at which the transaction was done.","example":"09/10/2020"},"page_doc_pk":{"type":"string","description":"Unique ID of the specific page within a Document from which transaction details are retrieved.","example":304060599},"pk":{"type":"string","description":"A unique identifier of the transaction.","example":3573037070},"uploaded_doc_pk":{"type":"string","description":"A unique integer of the Document from which the transaction details are retrieved.","example":50867399},"description":{"type":"string","description":"Phrasal description of the transaction.","example":"BKOFAMERICA ATM 09/10"},"txn_pk_duplicate_of":{"type":"string","description":"When a transaction is a duplicate of another, it displays the primary key of the original transaction.","example":null},"comment":{"type":"string","description":"Comments regarding the transaction provided by the customer using the web application.","example":null},"explanation":{"type":"string","description":"Explanation regarding the transaction configured by the customer using the web application.","example":null},"has_probable_transfers":{"type":"boolean","description":"Indicates if the Document has probable transfers.","example":null},"tags":{"type":"array","description":"Tags given to this transaction.","example":null},"period_pk":{"type":"string","description":"Unique ID of the period from which transactions are retrieved.","example":37445192}}}},"uploaded_docs":{"type":"object","description":"Documents from the Book where transaction(s) are retrieved from.","properties":{"uploaded_doc_pk":{"type":"object","description":"An object containing information on a Document.","properties":{"name":{"type":"string","description":"Name of the Document from which transaction details are retrieved.","example":"july.pdf(0,1,2,3)"},"status":{"type":"string","description":"Verification status of the Document from which transaction details are retrieved.","example":"VERIFICATION_COMPLETE"},"pages":{"type":"integer","description":"Number of pages in the <<glossary:Document>>.","example":4},"pk":{"type":"string","description":"A unique integer of the Document from which the transaction details are retrieved.","example":50867394},"uuid":{"type":"string","description":"A unique identification code (uuid) of the Document from which the transaction details are retrieved.","example":"30021344a56d4037a6f3d453444edae2"},"rejection_reason":{"type":"string","description":"An optional attribute that briefly explains why a Document was rejected."},"uploaded_doc_type":{"type":"string","description":"The type of the uploaded document."},"sub_doc_type":{"type":"string","description":"The sub type of the uploaded document."},"sub_doc_type_details":{"type":"string","description":"Additional details that pertain to the sub type of the Document."},"mixed_uploaded_doc_pk":{"type":"string","description":"A unique integer of the Mixed Document from which the transaction details are retrieved. A Mixed Document is a Document that contains information in various formats, such as text and images, and can be a single-page or multi-page <<glossary:Document>>."},"mixed_uploaded_doc_uuid":{"type":"string","description":"A unique identification code (uuid) of the Mixed Document from which the transaction details are retrieved.","example":"428110d2-ed77-44de-88bb-18003cfc10e6"}}}}},"bank_accounts":{"type":"object","description":"Details of the bank accounts from which the transaction(s) is retrieved.","properties":{"bank_account_pk":{"type":"object","description":"An object containing information on a bank account.","properties":{"pk":{"type":"string","description":"A unique integer identifier of the bank account using which the transaction was done.","example":12942296},"book_pk":{"type":"string","description":"A unique integer identifier of the Book to which the Document is uploaded. Transactions are retrieved using this <<glossary:Book>> .","example":28741420},"name":{"type":"integer","description":"Name of the bank account holder.","example":"488083738759 CHASE CHECKING"},"bank_name":{"type":"string","description":"Name of the bank.","example":"CHASE"},"activity_info":{"type":"array","description":"It displays the start and end period in which transactions have occurred for a given bank account.","items":{"type":"object","properties":{"start":{"type":"array","description":"It displays the start duration in which transactions have occurred.","items":{"type":"object","properties":{"year":{"type":"integer","description":"It displays the start year in which transactions have occurred.","example":2022},"month":{"type":"integer","description":"It displays the start month in which transactions have occurred.","example":9},"day":{"type":"integer","description":"It displays the start day in which transactions have occurred.","example":10}}}},"end":{"type":"array","description":"It displays the end duration in which transactions have occurred.","items":{"type":"object","properties":{"year":{"type":"integer","description":"It displays the end year in which transactions have occurred.","example":2020},"month":{"type":"integer","description":"It displays the end month in which transactions have occurred.","example":9},"day":{"type":"integer","description":"It displays the end day in which transactions have occurred.","example":10}}}},"missing":{"type":"array","description":"Missing transaction details.","example":null}}}},"account_type":{"type":"string","description":"Type of the account from which transactions are retrieved.","example":"CHECKING"},"account_holder":{"type":"string","description":"Name of the account holder from which transactions are retrieved.","example":"JILL S COFFEE"},"account_number":{"type":"string","description":"Account number from which transactions are retrieved.","example":488083738759},"holder_zip":{"type":"string","description":"Zip code of the account holder's address.","example":11215},"holder_country":{"type":"string","description":"Country of the account holder.","example":"US"},"holder_state":{"type":"string","description":"State of the account holder.","example":"NY"},"holder_city":{"type":"string","description":"City of the account holder.","example":"New York"},"holder_address_1":{"type":"string","description":"The first line address of the account holder.","example":"74 Prospect Park"},"holder_address_2":{"type":"string","description":"The second line address of the account holder.","example":"West Park Slope"},"account_category":{"type":"string","description":"Category of the account.","example":"PERSONAL ACCOUNT"},"member_id":{"type":"string","description":"The credit union member ID of the account holder, as available in the bank statement.","example":4906},"account_source":{"type":"string","description":"The source from which the bank account data was obtained. The default value is null.","default":null,"example":"STANDARD_STATEMENT","enum":["STANDARD_STATEMENT","TRANSACTION_SUMMARY","CREDIT_UNION","VOA_PLAID","VOA_BLEND","VOA_FINICITY","VOA_ACCOUNTCHEK","VOA_OTHERS","OTHERS"]},"id":{"type":"string","description":"Unique id of the bank.","example":12942296},"book_uuid":{"type":"string","description":"A unique identification code (uuid) of the Book from which the transaction details are retrieved.","example":"ffb922fb88f14702a4d36a4d64a18013"},"periods":{"type":"array","description":"An array of bank account statement periods.","items":{"properties":{"pk":{"type":"string","description":"Unique ID of the period from where transactions are retrieved.","example":37445192},"uuid":{"type":"string","description":"Universally unique identification code of the period from where transactions are retrieved.","example":"c283613c-d20a-4aac-b8b3-5dfd608ba111"},"bank_account_pk":{"type":"integer","description":"A unique integer identifier of the bank account using which the transaction was done.","example":12942296},"begin_date":{"type":"string","description":"Start of date of the transaction.","example":"09/10/2020"},"end_date":{"type":"string","description":"End of date of the transaction.","example":"09/10/2022"},"begin_balance":{"type":"string","description":"Starting balance of the transaction retrieved.","example":2935.81},"end_balance":{"type":"string","description":"Ending balance of the transaction retrieved.","example":3956.07},"primary_recon_error_reason":{"type":"string","description":"Manual verifier flag for suspicious activity after inspection. If the period is not reconciled, the verifiers will add the predefined values like Potential Fraud, Incomplete Information, and Unreconciled Period.","example":"Tampering detected"},"secondary_recon_error_reason":{"type":"string","description":"Manual verifier flag for suspicious activity after inspection. If the period is not reconciled, the verifiers will add the predefined values like Incomplete Transaction Data, Invalid Date(s), Photoshopped Data, Missing Period Data, Missing Page(s), Invalid Amount(s) Or Balance(s), and  Reconciliation Error Reason Is Not Identified.","example":"Tampering on pages 1, 3, 4, and 5"},"absolute_recon_error":{"type":"string","description":"Represents the total monetary impact of the reconciliation error. This value reflects the amount associated with the issue identified, based on the inspection outcomes from `primary_recon_error_reason` and `secondary_recon_error_reason`."},"uploaded_doc_pk":{"type":"string","description":"A unique integer of the Document from which the transaction details are retrieved.","example":50867399}}}},"account_holders":{"type":"array","description":"Name(s) of the account holder(s).","items":{"type":"string"}}}}}},"bank_checks":{"type":"array","description":"List of images within the bank statement that have been processed by the system for check detection.","items":{"type":"object","properties":{"uuid":{"type":"string","description":"Unique identifier for the check entry.","example":"520dc1b8-3475-4da3-8fa0-f2880b9ae2c3"},"bank_account_pk":{"type":"integer","description":"Primary key of the associated bank account.","example":290879},"amount":{"type":"number","description":"Amount associated with the check.","example":100},"pay_to":{"type":"string","description":"Name of the check recipient.","example":"Fake"},"txn_date":{"type":"string","description":"Date the check was issued or processed (MM/DD/YYYY).","example":"01/01/2000"},"check_number":{"type":"string","description":"Check number.","example":34434},"memo_number":{"type":"string","description":"Reference number.","example":""}}}},"tags":{"type":"string","description":"Tags given to the transaction.","example":null}}},"message":{"type":"string","description":"A textual description that indicates details about this response's status.","example":"OK"}}},"examples":{"Success":{"value":{"status":200,"response":{"txns":[{"page_idx":0,"bank_account_pk":12942296,"amount":"-299.35","bbox":[142,2971,2208,3021],"txn_date":"09/10/2020","page_doc_pk":304060599,"pk":3573037068,"uploaded_doc_pk":50867399,"description":"AMERICAN EXPRES DES: PAYMENT ID: 38945835INDN: CONSOLIDATED [... ]","txn_pk_duplicate_of":null,"comment":"","explanation":"","has_probable_transfers":false,"tags":{},"period_pk":37445192},{"page_idx":1,"bank_account_pk":12942296,"amount":"1853.14","bbox":[142,704,2196,742],"txn_date":"09/13/2020","page_doc_pk":304060600,"pk":3573037062,"uploaded_doc_pk":50867399,"description":"ACH WEB - SINGLE PAYMENT VENMO 4675294668","txn_pk_duplicate_of":null,"comment":"","explanation":"","has_probable_transfers":false,"tags":{},"period_pk":37445192},{"page_idx":2,"bank_account_pk":12942296,"amount":"-3250.00","bbox":[158,1013,2204,1075],"txn_date":"10/05/2020","page_doc_pk":304060598,"pk":3573037076,"uploaded_doc_pk":50867399,"description":" CHECKCARD  BROOKLYN HEIGHTS REAL ESTATE #  MONTAGUE [... ]  ","txn_pk_duplicate_of":null,"comment":"","explanation":"","has_probable_transfers":false,"tags":{},"period_pk":37445192}],"uploaded_docs":{"50867394":{"name":"july.pdf(0,1,2,3)","status":"VERIFICATION_COMPLETE","pages":4,"pk":50867394,"uuid":"30021344a56d4037a6f3d453444edae2","rejection_reason":null,"uploaded_doc_type":"BANK_STATEMENT","sub_doc_type":null,"sub_doc_type_details":null,"mixed_uploaded_doc_pk":10891054,"mixed_uploaded_doc_uuid":"428110d2-ed77-44de-88bb-18003cfc10e6"},"50867397":{"name":"aug.pdf(0,1,2)","status":"VERIFICATION_COMPLETE","pages":3,"pk":50867397,"uuid":"d3f07a7914da43cd80ba6c8db870c4e9","rejection_reason":null,"uploaded_doc_type":"BANK_STATEMENT","sub_doc_type":null,"sub_doc_type_details":null,"mixed_uploaded_doc_pk":10891055,"mixed_uploaded_doc_uuid":"be431968-c6f3-4153-be1c-a7141f1321f4"},"50867399":{"name":"sept.pdf(0,1,2,3)","status":"VERIFICATION_COMPLETE","pages":4,"pk":50867399,"uuid":"3ea6c08016c941de967317e6aadb90c2","rejection_reason":null,"uploaded_doc_type":"BANK_STATEMENT","sub_doc_type":null,"sub_doc_type_details":null,"mixed_uploaded_doc_pk":10891056,"mixed_uploaded_doc_uuid":"6110bb35-07bf-469b-ac18-8401b5e850d4"}},"bank_accounts":{"12942296":{"pk":12942296,"book_pk":28741420,"name":"488083738759 CHASE CHECKING","bank_name":"CHASE","activity_info":{"active":[{"start":{"year":2020,"month":9,"day":10},"end":{"year":2020,"month":10,"day":9}}],"missing":[]},"account_type":"CHECKING","account_holder":"JILL S COFFEE","account_number":"488083738759","holder_zip":"11215","holder_country":"US","holder_state":"NY","holder_city":"New York","holder_address_1":"74 Prospect Park West Park Slope","holder_address_2":null,"account_category":"PERSONAL ACCOUNT","member_id":"MEMBER","account_source":"VOA_PLAID","id":12942296,"book_uuid":"ffb922fb88f14702a4d36a4d64a18013","periods":[{"pk":37445192,"uuid":"c283613c-d20a-4aac-b8b3-5dfd608ba111","bank_account_pk":12942296,"begin_date":"09/10/2020","end_date":"10/09/2020","begin_balance":"2935.81","end_balance":"3956.07","primary_recon_error_reason":null,"secondary_recon_error_reason":null,"absolute_recon_error":"25445.86","uploaded_doc_pk":50867399}],"account_holders":["JILL S COFFEE"]},"12942297":{"pk":12942297,"book_pk":28741420,"name":"381053654285 CHASE SAVINGS","bank_name":"CHASE","activity_info":{"active":[{"start":{"year":2020,"month":7,"day":10},"end":{"year":2020,"month":9,"day":9}}],"missing":[]},"account_type":"SAVINGS","account_holder":"JILL SMITH","account_number":"381053654285","holder_zip":"11215","holder_country":"US","holder_state":"NY","holder_city":"New York","holder_address_1":"307 8TH AVENUE PARK SLOPE","holder_address_2":"APARTMENT 3B","account_category":"PERSONAL ACCOUNT","member_id":"MEMBER","account_source":"VOA_FINICITY","id":12942297,"book_uuid":"ffb922fb88f14702a4d36a4d64a18013","periods":[{"pk":37445187,"uuid":"fd063f12-609d-44e0-b82c-8bd09f30bf83","bank_account_pk":12942297,"begin_date":"07/10/2020","end_date":"08/09/2020","begin_balance":"17340.41","end_balance":"23601.79","primary_recon_error_reason":"Potential Fraud","secondary_recon_error_reason":"Invalid Amount(s) Or Balance(s)","absolute_recon_error":"25445.86","uploaded_doc_pk":50867394},{"pk":37445191,"uuid":"7c389cb4-1107-4a58-acbc-ca2e4ec1070f","bank_account_pk":12942297,"begin_date":"08/10/2020","end_date":"09/09/2020","begin_balance":"23601.41","end_balance":"20965.12","primary_recon_error_reason":"Potential Fraud","secondary_recon_error_reason":"Invalid Amount(s) Or Balance(s)","absolute_recon_error":"25445.86","uploaded_doc_pk":50867397}],"acco
[...]
