{"openapi":"3.0.0","info":{"title":"Analyze","version":"1.0.0"},"servers":[{"url":"https://api.ocrolus.com"}],"security":[{"oauth":[]}],"tags":[{"name":"Cash Flow Analytics"},{"name":"Legacy Cash Flow Analytics"}],"x-regexes":{"money":"^[+-]?\\d+(\\.\\d{1,2})?$","month":"^\\d{2}/\\d{4}$","date":"^\\d{2}/\\d{2}/\\d{4}$"},"paths":{"/v2/book/{book_uuid}/income/bank-statement-v2":{"get":{"summary":"Bank statement income calculator","operationId":"bsic","tags":["Cash Flow Analytics"],"description":"This API retrieves the bank statement income calculator output in JSON format.  You can also access this through the Dashboard. To learn more, see [Bank Statement Income Calculator](https://docs.ocrolus.com/docs/bank-statement-income-calculator).\n","parameters":[{"name":"book_uuid","in":"path","required":true,"description":"The unique identifier of the <<glossary:Book>> that contains the bank statements you'd like to have analyzed.\n","schema":{"type":"string","format":"uuid"},"example":"3927d5b7-ca34-4882-b23f-0ce40d40027c"}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"Success","properties":{"book_uuid":{"type":"string","format":"uuid","description":"Unique identifier for the book.","example":"ef199503-ef03-4fc1-a05f-2ad14416821d"},"calculated_at":{"type":"string","format":"date-time","description":"Timestamp indicating when the income calculation was performed.","example":"2026-06-30T06:22:04.791742-04:00"},"bank_statement_income":{"type":"array","description":"List of income calculation results, one entry per account.","items":{"type":"object","properties":{"account":{"type":"object","description":"Details of the bank account associated with the income calculation.","properties":{"pk":{"type":"integer","description":"Primary key of the account.","example":435388},"account_number":{"type":"string","description":"The account number.","example":"381007628285"},"holder_name":{"type":"string","description":"Name of the account holder.","example":"ZOHEB SAIT"}}},"deposits":{"type":"array","description":"List of deposit transactions identified in the bank statement.","items":{"type":"object","properties":{"pk":{"type":"integer","description":"Primary key of the deposit transaction.","example":2255891820},"date":{"type":"string","format":"date","description":"Date of the deposit.","example":"2017-03-24"},"description":{"type":"string","description":"Description or memo of the deposit transaction.","example":"INTEREST EARNED"},"amount":{"type":"number","description":"Deposit amount.","example":0.01},"page_doc_pk":{"type":"integer","description":"Primary key of the page document the transaction was extracted from.","example":18034747},"period_pk":{"type":"integer","description":"Primary key of the period this transaction belongs to.","example":1034191},"period_uuid":{"type":"string","format":"uuid","description":"UUID of the period this transaction belongs to.","example":"12d358a4-dac9-4f11-ade4-09d03ed23e79"},"exclude":{"type":"boolean","description":"Indicates whether this deposit is excluded from the income calculation.","example":true},"is_large":{"type":"boolean","description":"Indicates whether this deposit is flagged as a large deposit.","example":false},"is_payroll":{"type":"boolean","description":"Indicates whether this deposit is identified as payroll income.","example":false},"is_internal_transfer":{"type":"boolean","description":"Indicates whether this deposit is an internal transfer between accounts.","example":false},"is_recurring":{"type":"boolean","description":"Indicates whether this deposit is a recurring transaction.","example":false}}}},"expenses":{"type":"array","description":"List of expense transactions identified in the bank statement.","items":{"type":"object"}},"nsf_transactions":{"type":"array","description":"List of non-sufficient funds (NSF) transactions.","items":{"type":"object"}},"calculations":{"type":"object","description":"Aggregated income calculation results for the account.","properties":{"nsf_count":{"type":"integer","description":"Total number of NSF transactions.","example":0},"statement_summary":{"type":"array","description":"Month-by-month summary of statement activity.","items":{"type":"object","properties":{"begin_date":{"type":"string","format":"date","description":"Start date of the statement period.","example":"2017-03-01"},"end_date":{"type":"string","format":"date","description":"End date of the statement period.","example":"2017-03-24"},"total_deposits":{"type":"number","description":"Total qualifying deposits for this period.","example":0},"total_nsf_count":{"type":"integer","description":"Number of NSF transactions in this period.","example":0},"beginning_balance":{"type":"number","description":"Account balance at the start of the period.","example":1354.81},"ending_balance":{"type":"number","description":"Account balance at the end of the period.","example":1379.82},"statement_status":{"type":"boolean","description":"Indicates whether the statement period is valid and complete.","example":true},"period_pk":{"type":"integer","nullable":true,"description":"Primary key of the period, if applicable.","example":null}}}},"large_deposit_summary":{"type":"object","description":"Summary of large deposit detection and thresholds.","properties":{"average_deposit":{"type":"number","description":"Average deposit amount across all transactions.","example":12.51},"percentage_amount":{"type":"number","description":"Percentage threshold used to determine large deposits.","example":50},"deposit_threshold":{"type":"number","description":"Calculated dollar threshold above which a deposit is flagged as large.","example":18.76},"threshold_base":{"type":"string","description":"The basis used to calculate the large deposit threshold.","example":"AVERAGE_DEPOSIT"},"large_deposit_count":{"type":"integer","description":"Number of deposits flagged as large.","example":3},"large_deposit_amount":{"type":"number","description":"Total dollar amount of all large deposits.","example":75},"large_deposit_txn_pks":{"type":"array","description":"List of primary keys for transactions flagged as large deposits.","items":{"type":"integer"},"example":[2255891823,2255891822,2255891821]}}},"total_deposit_summary":{"type":"object","description":"Breakdown of total, included, and excluded deposit amounts.","properties":{"deposits":{"type":"number","description":"Total deposit amount across all transactions.","example":75.03},"included_deposits":{"type":"number","description":"Total deposit amount included in the income calculation.","example":0},"excluded_deposits":{"type":"number","description":"Total deposit amount excluded from the income calculation.","example":75.03}}},"total_included_months":{"type":"integer","description":"Number of months included in the income calculation.","example":4},"qualifying_income_average":{"type":"number","description":"Average monthly qualifying income based on included deposits.","example":0}}},"recurring_counterparty_depositors":{"type":"array","description":"List of recurring counterparties identified as depositors.","items":{"type":"object"}},"recurring_counterparty_expensers":{"type":"array","description":"List of recurring counterparties identified as expensers.","items":{"type":"object"}},"recurring_transactions":{"type":"array","description":"List of transactions identified as recurring.","items":{"type":"object","properties":{"pk":{"type":"integer","description":"Primary key of the recurring transaction.","example":2255891823},"date":{"type":"string","format":"date","description":"Date of the recurring transaction.","example":"2017-03-01"},"description":{"type":"string","description":"Description or memo of the recurring transaction.","example":"ONLINE SCHEDULED TRANSFER FROM CHK 4172 CONFIRMATION"},"amount":{"type":"number","description":"Amount of the recurring transaction.","example":25}}}},"total_withdrawls":{"type":"number","description":"Total withdrawal amount across all transactions.","example":0},"total_expense_summary":{"type":"object","description":"Breakdown of total, included, and excluded expense amounts.","properties":{"expenses":{"type":"number","description":"Total expense amount across all transactions.","example":0},"included_expenses":{"type":"number","description":"Total expense amount included in the income calculation.","example":0},"excluded_expenses":{"type":"number","description":"Total expense amount excluded from the income calculation.","example":0}}},"overdraft_transactions":{"type":"array","description":"List of overdraft transactions identified in the bank statement.","items":{"type":"object"}},"monthly_statement_summary":{"type":"object","nullable":true,"description":"Monthly aggregated statement summary, if available.","example":null},"negative_balance_day_summary":{"type":"object","description":"Summary of days the account carried a negative balance.","properties":{"total_negative_balance_days":{"type":"integer","description":"Total number of days the account balance was negative.","example":0},"monthly_breakdown":{"type":"array","description":"Month-by-month breakdown of negative balance days.","items":{"type":"object"}}}}}}}}},"examples":{"Success":{"value":{"book_uuid":"ef199503-ef03-4fc1-a05f-2ad14416821d","calculated_at":"2026-06-30T06:22:04.791742-04:00","bank_statement_income":[{"account":{"pk":435388,"account_number":"381007628285","holder_name":"ZOHEB SAIT"},"deposits":[{"pk":2255891820,"date":"2017-03-24","description":"INTEREST EARNED","amount":0.01,"page_doc_pk":18034747,"period_pk":1034191,"period_uuid":"12d358a4-dac9-4f11-ade4-09d03ed23e79","exclude":true,"is_large":false,"is_payroll":false,"is_internal_transfer":false,"is_recurring":false},{"pk":2255891823,"date":"2017-03-01","description":"ONLINE SCHEDULED TRANSFER FROM CHK 4172 CONFIRMATION","amount":25,"page_doc_pk":18034747,"period_pk":1034191,"period_uuid":"12d358a4-dac9-4f11-ade4-09d03ed23e79","exclude":true,"is_large":true,"is_payroll":false,"is_internal_transfer":true,"is_recurring":false},{"pk":2255891819,"date":"2017-02-21","description":"INTEREST EARNED","amount":0.01,"page_doc_pk":18034747,"period_pk":1034191,"period_uuid":"12d358a4-dac9-4f11-ade4-09d03ed23e79","exclude":true,"is_large":false,"is_payroll":false,"is_internal_transfer":false,"is_recurring":false},{"pk":2255891822,"date":"2017-02-01","description":"ONLINE SCHEDULED TRANSFER FROM CHK 4172 CONFIRMATION","amount":25,"page_doc_pk":18034747,"period_pk":1034191,"period_uuid":"12d358a4-dac9-4f11-ade4-09d03ed23e79","exclude":true,"is_large":true,"is_payroll":false,"is_internal_transfer":true,"is_recurring":false},{"pk":2255891818,"date":"2017-01-24","description":"INTEREST EARNED","amount":0.01,"page_doc_pk":18034747,"period_pk":1034191,"period_uuid":"12d358a4-dac9-4f11-ade4-09d03ed23e79","exclude":true,"is_large":false,"is_payroll":false,"is_internal_transfer":false,"is_recurring":false},{"pk":2255891821,"date":"2017-01-03","description":"ONLINE SCHEDULED TRANSFER FROM CHK 4172 CONFIRMATION","amount":25,"page_doc_pk":18034747,"period_pk":1034191,"period_uuid":"12d358a4-dac9-4f11-ade4-09d03ed23e79","exclude":true,"is_large":true,"is_payroll":false,"is_internal_transfer":true,"is_recurring":false}],"expenses":[],"nsf_transactions":[],"calculations":{"nsf_count":0,"statement_summary":[{"begin_date":"2017-03-01","end_date":"2017-03-24","total_deposits":0,"total_nsf_count":0,"beginning_balance":1354.81,"ending_balance":1379.82,"statement_status":true,"period_pk":null},{"begin_date":"2017-02-01","end_date":"2017-02-28","total_deposits":0,"total_nsf_count":0,"beginning_balance":1329.8,"ending_balance":1354.81,"statement_status":true,"period_pk":null},{"begin_date":"2017-01-01","end_date":"2017-01-31","total_deposits":0,"total_nsf_count":0,"beginning_balance":1304.79,"ending_balance":1329.8,"statement_status":true,"period_pk":null},{"begin_date":"2016-12-23","end_date":"2016-12-31","total_deposits":0,"total_nsf_count":0,"beginning_balance":1304.79,"ending_balance":1304.79,"statement_status":true,"period_pk":null}],"large_deposit_summary":{"average_deposit":12.51,"percentage_amount":50,"deposit_threshold":18.76,"threshold_base":"AVERAGE_DEPOSIT","large_deposit_count":3,"large_deposit_amount":75,"large_deposit_txn_pks":[2255891823,2255891822,2255891821]},"total_deposit_summary":{"deposits":75.03,"included_deposits":0,"excluded_deposits":75.03},"total_included_months":4,"qualifying_income_average":0},"recurring_counterparty_depositors":[],"recurring_counterparty_expensers":[],"recurring_transactions":[{"pk":2255891823,"date":"2017-03-01","description":"ONLINE SCHEDULED TRANSFER FROM CHK 4172 CONFIRMATION","amount":25},{"pk":2255891822,"date":"2017-02-01","description":"ONLINE SCHEDULED TRANSFER FROM CHK 4172 CONFIRMATION","amount":25},{"pk":2255891821,"date":"2017-01-03","description":"ONLINE SCHEDULED TRANSFER FROM CHK 4172 CONFIRMATION","amount":25}],"total_withdrawls":0,"total_expense_summary":{"expenses":0,"included_expenses":0,"excluded_expenses":0},"overdraft_transactions":[],"monthly_statement_summary":null,"negative_balance_day_summary":{"total_negative_balance_days":0,"monthly_breakdown":[]}}]}}}}}},"400":{"description":"Txn Limit Exceeded","content":{"application/json":{"examples":{"Txn Limit Exceed":{"$ref":"#/components/examples/TxnLimitExceeded"}},"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1summary/get/responses/400/content/application~1json/schema"}}}},"403":{"description":"Permission Error","content":{"application/json":{"examples":{"No Permission":{"$ref":"#/components/examples/BookPermissionError"}},"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1summary/get/responses/400/content/application~1json/schema"}}}},"404":{"description":"Book Not Found Error","content":{"application/json":{"examples":{"Book not found":{"$ref":"#/components/examples/BookNotFoundError"}},"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1summary/get/responses/400/content/application~1json/schema"}}}},"425":{"description":"Analytics Still Processing","content":{"application/json":{"examples":{"Book not found":{"$ref":"#/components/examples/TxnTagsProcessingError"}},"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1summary/get/responses/400/content/application~1json/schema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/paths/~1v2~1analytics~1jobs~1%7Bjob_id%7D/get/responses/500/content/application~1json/schema"},"examples":{"internal_server_error":{"$ref":"#/paths/~1v2~1analytics~1jobs~1%7Bjob_id%7D/get/responses/500/content/application~1json/examples/internal_server_error"}}}}}}}},"/v2/book/{book_uuid}/income/bank-statement-v2/xlsx":{"get":{"summary":"Bank statement income calculator (Excel)","operationId":"bsic-excel","tags":["Cash Flow Analytics"],"description":"This API retrieves the bank statement income calculator in an Excel format.\n\n---\n\nVisit our [guide](https://docs.ocrolus.com/docs/bank-statement-income-calculator) for more information.\n\nThe output of this endpoint is intended for manual review, as opposed to automated consumption by your application.\n> 🚧\n> The response will have a MIME type of `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet`, hence there is no JSON response schema. See [here](https://docs.google.com/spreadsheets/d/1IeElDLJWQ-YZRmR_zO0OD6ltFnyOPIOQ/edit?usp=sharing&ouid=108945757603422712879&rtpof=true&sd=true) for an example output.\n","parameters":[{"name":"book_uuid","in":"path","required":true,"description":"The unique identifier of the <<glossary:Book>> that contains the bank statements you'd like to have analyzed.\n","schema":{"type":"string","format":"uuid"},"example":"3927d5b7-ca34-4882-b23f-0ce40d40027c"}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{"examples":{"ExampleSpreadsheet":{"summary":"Success","externalValue":"https://docs.google.com/spreadsheets/d/1IeElDLJWQ-YZRmR_zO0OD6ltFnyOPIOQ/edit?usp=sharing&ouid=108945757603422712879&rtpof=true&sd=true"}}}}},"400":{"description":"Txn Limit Exceeded","content":{"application/json":{"examples":{"Txn Limit Exceed":{"$ref":"#/components/examples/TxnLimitExceeded"}},"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1summary/get/responses/400/content/application~1json/schema"}}}},"403":{"description":"Permission Error","content":{"application/json":{"examples":{"No Permission":{"$ref":"#/components/examples/BookPermissionError"}},"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1summary/get/responses/400/content/application~1json/schema"}}}},"404":{"description":"Book Not Found Error","content":{"application/json":{"examples":{"Book not found":{"$ref":"#/components/examples/BookNotFoundError"}},"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1summary/get/responses/400/content/application~1json/schema"}}}},"425":{"description":"Analytics Still Processing","content":{"application/json":{"examples":{"Book not found":{"$ref":"#/components/examples/TxnTagsProcessingError"}},"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1summary/get/responses/400/content/application~1json/schema"}}}}}}},"/v2/book/{book_uuid}/summary":{"get":{"summary":"Book summary","operationId":"Book-summary","tags":["Cash Flow Analytics"],"description":"\nThis API retrieves the Cash Flow Analytics summary of a Book in JSON format. It provides daily balances, bank account PII, and time series for all transaction categories at the <<glossary:Book>> and bank account level. \n\nIt offers quicker analytics generation, more granular and accurate transaction categories (including improved revenue and expense calculations), and a more concise structure.\n\n---\n\n### Async processing \n\nThis API supports asynchronous processing. To get the asynchronous result, add `async=true` in the query parameter to run the request as a background job and receive a `job_id` immediately instead of waiting for the full response inline. When `async=true`, the endpoint returns `202 Accepted` with a `job_id` instead of the analytics payload.\n\nAsync mode is required for Books with more than 100,000 transactions. Books exceeding 1,000,000 transactions are rejected with `422` (error code `1100`). Once submitted, poll\n[Async job status](https://docs.ocrolus.com/reference/async-job-status) API to retrieve the result when the job is complete.\n","parameters":[{"name":"book_uuid","in":"path","required":true,"description":"The unique identifier of the <<glossary:Book>> that contains the bank statements you'd like to have analyzed.\n","schema":{"type":"string","format":"uuid"},"example":"3927d5b7-ca34-4882-b23f-0ce40d40027c"},{"name":"exclude_bank_account_pks","in":"query","required":false,"description":"Bank account primary key(s) to exclude from analytics calculations in the book summary. The underlying data remains in the system and is not deleted.\n> 📘 This parameter is in beta. If you encounter any bug, please reach out to [support@ocrolus.com](mailto:support@ocrolus.com).\n","schema":{"type":"string"},"example":"9662788"},{"name":"exclude_months","in":"query","required":false,"description":"Months (in YYYY-MM format) of transaction to exclude from analytics calculations in the book summary. The underlying data remains in the system and is not deleted.\n> 📘 This parameter is in beta. If you encounter any bug, please reach out to [support@ocrolus.com](mailto:support@ocrolus.com).\n","schema":{"type":"string"},"example":"2025-01"},{"$ref":"#/components/parameters/AsyncParameter"}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":false},"responses":{"200":{"description":"Success","content":{"application/json":{"examples":{"Success":{"value":{"book_pk":18843681,"book_name":"Jill's Coffee (v.3)","txn_count":324,"naics4_code":7225,"naics_description":"Restaurants and Other Eating Places","naics6_code":"722515","naics6_description":"Snack and Nonalcoholic Beverage Bars","naics_override":"True","mcc_code":"5812","mcc_description":"Eating Places, Restaurants","sic_code":"0172","sic_description":"GRAPES","loan_inquiries":{"smb_entity_name":"Green Valley Landscaping","total_applications":3,"application_history":[{"created_ts":"2025-10-10T12:00:00Z"},{"created_ts":"2025-09-25T09:30:00Z"},{"created_ts":"2025-08-01T14:15:00Z"}],"velocity":{"30_day_count":2,"60_day_count":2,"90_day_count":3,"180_day_count":3,"270_day_count":3,"365_day_count":3}},"book_mismatch_severity":"high","daily_balances":{"2020-07-10":16314.96,"2020-07-11":16314.96,"2020-07-12":16831.65,"2020-07-13":23010.11,"2020-07-14":23363.61,"2020-07-15":23021.28,"2020-07-16":23138.94,"2020-07-17":23438.94,"2020-07-18":23688.94,"2020-07-19":24075.05,"2020-07-20":24107.32,"2020-07-21":24377.66,"2020-07-22":24539.43,"2020-07-23":24507.66,"2020-07-24":24496.91,"2020-07-25":24259.49,"2020-07-26":24294.39,"2020-07-27":24286.73,"2020-07-28":24836.73,"2020-07-29":25048.2,"2020-07-30":24566.47,"2020-07-31":24916.47,"2020-08-01":24796.72,"2020-08-02":25494.21,"2020-08-03":25458.21,"2020-08-04":25958.21,"2020-08-05":22448.27,"2020-08-06":22374.08,"2020-08-07":22250.84,"2020-08-08":22550.84,"2020-08-09":23614.24,"2020-08-10":24051.41,"2020-08-11":24051.41,"2020-08-12":24602.06,"2020-08-13":23456.59,"2020-08-14":23456.59,"2020-08-15":23779.45,"2020-08-16":24672.89,"2020-08-17":25116.75,"2020-08-18":25116.75,"2020-08-19":24614.02,"2020-08-20":24380.88,"2020-08-21":24370.13,"2020-08-22":24920.13,"2020-08-23":25525.58,"2020-08-24":25925.58,"2020-08-25":25267.95,"2020-08-26":25387.19,"2020-08-27":25558.42,"2020-08-28":25249,"2020-08-29":24974.75,"2020-08-30":26143.22,"2020-08-31":26143.22,"2020-09-01":26023.47,"2020-09-02":26597.48,"2020-09-03":26784.96,"2020-09-04":26813.96,"2020-09-05":24126.97,"2020-09-06":25059.45,"2020-09-07":23268.31,"2020-09-08":24055.17,"2020-09-09":23908,"2020-09-10":4126.11,"2020-09-11":2808.97,"2020-09-12":3608.97,"2020-09-13":5462.11,"2020-09-14":4385.23,"2020-09-15":4100.69,"2020-09-16":4100.69,"2020-09-17":4721.83,"2020-09-18":4721.83,"2020-09-19":4721.83,"2020-09-20":5450.75,"2020-09-21":4065.1,"2020-09-22":4815.1,"2020-09-23":4815.1,"2020-09-24":5515.1,"2020-09-25":5799.34,"2020-09-26":6455.57,"2020-09-27":7013.26,"2020-09-28":5936.38,"2020-09-29":6336.38,"2020-09-30":5914.24,"2020-10-01":6094.49,"2020-10-02":5927.65,"2020-10-03":6091.65,"2020-10-04":7066.02,"2020-10-05":3109.14,"2020-10-06":3109.14,"2020-10-07":3195.56,"2020-10-08":3195.56,"2020-10-09":3956.07,"2020-10-10":3645.07,"2020-10-11":5599.72,"2020-10-12":-62.3,"2020-10-13":137.7,"2020-10-14":137.7,"2020-10-15":437.7,"2020-10-16":1283.84,"2020-10-17":1283.84,"2020-10-18":2340.13,"2020-10-19":1155.25,"2020-10-20":1155.25,"2020-10-21":1355.25,"2020-10-22":1290.89,"2020-10-23":2438.84,"2020-10-24":2841.44,"2020-10-25":4051.07,"2020-10-26":2828.71,"2020-10-27":2828.71,"2020-10-28":3528.71,"2020-10-29":3528.71,"2020-10-30":5654.85,"2020-10-31":5418.68,"2020-11-01":5939.07,"2020-11-02":4636.2,"2020-11-03":4600.2,"2020-11-04":5400.2,"2020-11-05":1855.95,"2020-11-06":3255.63,"2020-11-07":2919.63,"2020-11-08":4893.63,"2020-11-09":3448.75,"2020-11-10":3137.75,"2020-11-11":2263.06,"2020-11-12":2263.06,"2020-11-13":4023.47,"2020-11-14":3687.47,"2020-11-15":34358.82,"2020-11-16":32516.28,"2020-11-17":32516.28,"2020-11-18":33016.28,"2020-11-19":33316.28,"2020-11-20":33467.45,"2020-11-21":33131.45,"2020-11-22":32626.9,"2020-11-23":31800.02,"2020-11-24":31800.02,"2020-11-25":32350.02,"2020-11-26":32350.02,"2020-11-27":33839.57,"2020-11-28":31076.57,"2020-11-29":33212.57,"2020-11-30":30672.38,"2020-12-01":30552.63,"2020-12-02":26939.35,"2020-12-03":26903.35,"2020-12-04":27098.35,"2020-12-05":18320.43,"2020-12-06":19907.89,"2020-12-07":18193.32,"2020-12-08":17943.32,"2020-12-09":18884.57,"2020-12-10":18884.57,"2020-12-11":17773.88,"2020-12-12":17773.88,"2020-12-13":18248.16,"2020-12-14":17611.69,"2020-12-15":16054.24,"2020-12-16":15896.32,"2020-12-17":14030.18,"2020-12-18":10679.2,"2020-12-19":11029.2,"2020-12-20":9176.42,"2020-12-21":9526.42,"2020-12-22":9526.42,"2020-12-23":9829.42,"2020-12-24":9829.42,"2020-12-25":10979.42,"2020-12-26":10979.42,"2020-12-27":12579.42,"2020-12-28":11563.67,"2020-12-29":11009.53,"2020-12-30":13834.3,"2020-12-31":13834.3,"2021-01-01":13714.55,"2021-01-02":14114.55,"2021-01-03":11686.79,"2021-01-04":11053.83,"2021-01-05":4990.35,"2021-01-06":5481.02,"2021-01-07":5481.02,"2021-01-08":6631.02,"2021-01-09":6503.03},"daily_cash_flows":{"2020-07-10":-1025.45,"2020-07-11":0,"2020-07-12":516.69,"2020-07-13":6178.46,"2020-07-14":353.5,"2020-07-15":-342.33,"2020-07-16":117.66,"2020-07-17":300,"2020-07-18":250,"2020-07-19":386.11,"2020-07-20":32.27,"2020-07-21":270.34,"2020-07-22":161.77,"2020-07-23":-31.77,"2020-07-24":-10.75,"2020-07-25":-237.42,"2020-07-26":34.9,"2020-07-27":-7.66,"2020-07-28":550,"2020-07-29":211.47,"2020-07-30":-481.73,"2020-07-31":350,"2020-08-01":-119.75,"2020-08-02":697.49,"2020-08-03":-36,"2020-08-04":500,"2020-08-05":-3509.94,"2020-08-06":-74.19,"2020-08-07":-123.24,"2020-08-08":300,"2020-08-09":1063.4,"2020-08-10":450,"2020-08-11":0,"2020-08-12":550.65,"2020-08-13":-1145.47,"2020-08-14":0,"2020-08-15":322.86,"2020-08-16":893.44,"2020-08-17":443.86,"2020-08-18":0,"2020-08-19":-502.73,"2020-08-20":-233.14,"2020-08-21":-10.75,"2020-08-22":550,"2020-08-23":605.45,"2020-08-24":400,"2020-08-25":-657.63,"2020-08-26":119.24,"2020-08-27":171.23,"2020-08-28":-309.42,"2020-08-29":-274.25,"2020-08-30":1168.47,"2020-08-31":0,"2020-09-01":-119.75,"2020-09-02":574.01,"2020-09-03":187.48,"2020-09-04":29,"2020-09-05":-2686.99,"2020-09-06":932.48,"2020-09-07":-1791.14,"2020-09-08":786.86,"2020-09-09":-147.17,"2020-09-10":1190.3,"2020-09-11":-1317.14,"2020-09-12":800,"2020-09-13":1853.14,"2020-09-14":-1076.88,"2020-09-15":-284.54,"2020-09-16":0,"2020-09-17":621.14,"2020-09-18":0,"2020-09-19":0,"2020-09-20":728.92,"2020-09-21":-1385.65,"2020-09-22":750,"2020-09-23":0,"2020-09-24":700,"2020-09-25":284.24,"2020-09-26":656.23,"2020-09-27":557.69,"2020-09-28":-1076.88,"2020-09-29":400,"2020-09-30":-422.14,"2020-10-01":180.25,"2020-10-02":-166.84,"2020-10-03":164,"2020-10-04":974.37,"2020-10-05":-3956.88,"2020-10-06":0,"2020-10-07":86.42,"2020-10-08":0,"2020-10-09":760.51,"2020-10-10":-311,"2020-10-11":1954.65,"2020-10-12":-5662.02,"2020-10-13":200,"2020-10-14":0,"2020-10-15":300,"2020-10-16":846.14,"2020-10-17":0,"2020-10-18":1056.29,"2020-10-19":-1184.88,"2020-10-20":0,"2020-10-21":200,"2020-10-22":-64.36,"2020-10-23":1147.95,"2020-10-24":402.6,"2020-10-25":1209.63,"2020-10-26":-1222.36,"2020-10-27":0,"2020-10-28":700,"2020-10-29":0,"2020-10-30":2126.14,"2020-10-31":-236.17,"2020-11-01":520.39,"2020-11-02":-1302.87,"2020-11-03":-36,"2020-11-04":800,"2020-11-05":-3544.25,"2020-11-06":1399.68,"2020-11-07":-336,"2020-11-08":1974,"2020-11-09":-1444.88,"2020-11-10":-311,"2020-11-11":-874.69,"2020-11-12":0,"2020-11-13":1760.41,"2020-11-14":-336,"2020-11-15":30671.35,"2020-11-16":-1842.54,"2020-11-17":0,"2020-11-18":500,"2020-11-19":300,"2020-11-20":151.17,"2020-11-21":-336,"2020-11-22":-504.55,"2020-11-23":-826.88,"2020-11-24":0,"2020-11-25":550,"2020-11-26":0,"2020-11-27":1489.55,"2020-11-28":-2763,"2020-11-29":2136,"2020-11-30":-2540.19,"2020-12-01":-119.75,"2020-12-02":-3613.28,"2020-12-03":-36,"2020-12-04":195,"2020-12-05":-8777.92,"2020-12-06":1587.46,"2020-12-07":-1714.57,"2020-12-08":-250,"2020-12-09":941.25,"2020-12-10":0,"2020-12-11":-1110.69,"2020-12-12":0,"2020-12-13":474.28,"2020-12-14":-636.47,"2020-12-15":-1557.45,"2020-12-16":-157.92,"2020-12-17":-1866.14,"2020-12-18":-3350.98,"2020-12-19":350,"2020-12-20":-1852.78,"2020-12-21":350,"2020-12-22":0,"2020-12-23":303,"2020-12-24":0,"2020-12-25":1150,"2020-12-26":0,"2020-12-27":1600,"2020-12-28":-1015.75,"2020-12-29":-554.14,"2020-12-30":2824.77,"2020-12-31":0,"2021-01-01":-119.75,"2021-01-02":400,"2021-01-03":-2427.76,"2021-01-04":-632.96,"2021-01-05":-6063.48,"2021-01-06":490.67,"2021-01-07":0,"2021-01-08":1150,"2021-01-09":-127.99},"average_daily_cash_flow":55.15,"net_cash_flows_by_month":{"2020-07":7576.06,"2020-08":1239.58,"2020-09":743.21,"2020-10":-495.56,"2020-11":25253.7,"2020-12":-16838.08,"2021-01":-7331.27},"minimum_balance_by_month":{"2020-07":16314.96,"2020-08":22250.84,"2020-09":2808.97,"2020-10":-62.3,"2020-11":1855.95,"2020-12":9176.42,"2021-01":4990.35},"maximum_balance_by_month":{"2020-07":25048.2,"2020-08":26143.22,"2020-09":26813.96,"2020-10":7066.02,"2020-11":34358.82,"2020-12":30552.63,"2021-01":14114.55},"average_daily_balance":15460.36,"average_daily_balance_by_month":{"2020-07":23065.27,"2020-08":24571.28,"2020-09":11050.41,"2020-10":3052.42,"2020-11":19145.83,"2020-12":15980.41,"2021-01":8850.68},"average_daily_balance_weekday":15470.84,"average_daily_balance_weekday_by_month":{"2020-07":23623.21,"2020-08":24535.12,"2020-09":10778.34,"2020-10":2683.32,"2020-11":18837.67,"2020-12":16654.48,"2021-01":6727.45},"total_days":184,"negative_balances_by_month":{"2020-07":[],"2020-08":[],"2020-09":[],"2020-10":["2020-10-12"],"2020-11":[],"2020-12":[],"2021-01":[]},"negative_balances_count_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":1,"2020-11":0,"2020-12":0,"2021-01":0},"negative_balances_weekday_by_month":{"2020-07":[],"2020-08":[],"2020-09":[],"2020-10":[],"2020-11":[],"2020-12":[],"2021-01":[]},"negative_balances_weekday_count_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"cash_balance_trend_30d":-0.8,"cash_balance_trend_60d":-1.32,"cash_balance_trend_90d":0.55,"cash_flow_trend_30d":0.14,"cash_flow_trend_60d":-0.21,"cash_flow_trend_90d":-0.32,"average_txn_size_by_month":{"2020-07-01":386.05,"2020-08-01":576.18,"2020-09-01":585.21,"2020-10-01":634.34,"2020-11-01":1308.14,"2020-12-01":954.09,"2021-01-01":1157.79},"average_deposits_by_month":{"2020-07":479.77,"2020-08":626.01,"2020-09":686.5,"2020-10":586.37,"2020-11":1917.87,"2020-12":961.71,"2021-01":1125.75},"expense_by_month":{"2020-07":-4898.07,"2020-08":-9784.7,"2020-09":-13642.32,"2020-10":-15154.88,"2020-11":-22693.06,"2020-12":-37995.79,"2021-01":-14085.78},"withdrawals_by_month":{"2020-07":-4898.07,"2020-08":-13784.7,"2020-09":-13673.33,"2020-10":-15154.88,"2020-11":-22693.06,"2020-12":-37995.79,"2021-01":-14085.78},"revenue_by_month":{"2020-07":11710.67,"2020-08":10534.28,"2020-09":14387.54,"2020-10":14659.32,"2020-11":17946.76,"2020-12":21157.71,"2021-01":6754.51},"revenue_deduction_by_month":{"2020-07":763.46,"2020-08":4490,"2020-09":29,"2020-10":0,"2020-11":30000,"2020-12":0,"2021-01":0},"deposits_by_month":{"2020-07":12474.13,"2020-08":15024.28,"2020-09":14416.54,"2020-10":14659.32,"2020-11":47946.76,"2020-12":21157.71,"2021-01":6754.51},"outside_source_deposits_by_month":{"2020-07":12209.95,"2020-08":10934.28,"2020-09":14387.54,"2020-10":14659.32,"2020-11":17946.76,"2020-12":21157.71,"2021-01":6754.51},"large_deposits_by_month":{"2020-07":6428.46,"2020-08":5374.14,"2020-09":3218.14,"2020-10":0,"2020-11":34775.77,"2020-12":10548.36,"2021-01":4004.51},"debt_consolidator_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"debt_consolidator_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"factoring_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"factoring_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"payroll_inflows_by_month":{"2020-07":6428.46,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"payroll_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":-4307.52,"2020-10":-4307.52,"2020-11":-6728.4,"2020-12":-8022.64,"2021-01":-1454.88},"insurance_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"insurance_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"venmo_zelle_cashapp_inflows_by_month":{"2020-07":2199.5,"2020-08":4834.28,"2020-09":5687.54,"2020-10":7359.32,"2020-11":10196.76,"2020-12":13257.71,"2021-01":4004.51},"venmo_zelle_cashapp_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"atm_inflows_by_month":{"2020-07":3050,"2020-08":6100,"2020-09":8700,"2020-10":7300,"2020-11":7750,"2020-12":7900,"2021-01":2750},"atm_outflows_by_month":{"2020-07":-250,"2020-08":-150,"2020-09":-100,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":-150},"tolls_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"tolls_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"paypal_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"paypal_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"equipment_lease_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"equipment_lease_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"checks_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"checks_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"txn_four_zeros_inflows_by_month":{"2020-07":1100,"2020-08":7000,"2020-09":5500,"2020-10":5500,"2020-11":35100,"2020-12":7700,"2021-01":1600},"txn_four_zeros_outflows_by_month":{"2020-07":0,"2020-08":-4000,"2020-09":-100,"2020-10":0,"2020-11":0,"2020-12":-2300,"2021-01":0},"txn_five_zeros_inflows_by_month":{"2020-07":0,"2020-08":4000,"2020-09":0,"2020-10":1000,"2020-11":30000,"2020-12":1000,"2021-01":0},"txn_five_zeros_outflows_by_month":{"2020-07":0,"2020-08":-4000,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"probable_recurring_txns_inflows_by_month":{"2020-07":1624,"2020-08":3850,"2020-09":5250,"2020-10":6300,"2020-11":5100,"2020-12":4900,"2021-01":2050},"probable_recurring_txns_outflows_by_month":{"2020-07":-10.75,"2020-08":-10.75,"2020-09":-8019.26,"2020-10":-8330.26,"2020-11":-11825.83,"2020-12":-12892.55,"2021-01":-7674.11},"fintech_loan_inflows_by_month":{"2020-07":174,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":30000,"2020-12":0,"2021-01":0},"fintech_loan_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":-2733.48,"2021-01":-2733.48},"bank_loan_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"bank_loan_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"other_loan_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"other_loan_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"fintech_mca_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"fintech_mca_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"bank_cash_advance_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"bank_cash_advance_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"debit_card_inflows_by_month":{"2020-07":32.13,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"debit_card_outflows_by_month":{"2020-07":-4510.26,"2020-08":-9366.46,"2020-09":-8855.45,"2020-10":-10306.36,"2020-11":-15573.66,"2020-12":-26857.92,"2021-01":-9667.42},"credit_card_inflows_by_month":{"2020-07":325.28,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"credit_card_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"merchant_service_inflows_by_month":{"2020-07":2199.5,"2020-08":4834.28,"2020-09":5687.54,"2020-10":7359.32,"2020-11":10196.76,"2020-12":13257.71,"2021-01":4004.51},"merchant_service_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"sba_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"sba_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"remote_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"remote_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"benefits_inflows_by_month":{"2020-07":6428.46,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"benefits_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"card_rewards_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"card_rewards_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"crypto_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"crypto_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"gambling_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"gambling_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":-150,"2020-11":0,"2020-12":-350,"2021-01":0},"investment_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"investment_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"reversed_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"reversed_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"state_tax_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"state_tax_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"payroll_tax_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"payroll_tax_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"internal_transfer_inflows_by_month":{"2020-07":264.18,"2020-08":4090,"2020-09":29,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"internal_transfer_outflows_by_month":{"2020-07":0,"2020-08":-4000,"2020-09":-31.01,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"merchant_service_transfer_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"merchant_service_transfer_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"wire_transfer_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"wire_transfer_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"other_transfer_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":30000,"2020-12":0,"2021-01":0},"other_transfer_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"truck_stop_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"truck_stop_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"federal_tax_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"federal_tax_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"bank_branch_inflows_by_month":{"2020-07":150.58,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"bank_branch_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"credit_builder_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"credit_builder_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"rideshare_by_month":{"2020-07":-53.14,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"custom_nike_by_month":{"2020-07":1613.69,"2020-08":3839.25,"2020-09":-2769.26,"2020-10":-2030.26,"2020-11":-6725.83,"2020-12":-7992.55,"2021-01":-5624.11},"custom_tag_by_month":{"2020-07":1450,"2020-08":3850,"2020-09":5250,"2020-10":6300,"2020-11":5100,"2020-12":4900,"2021-01":2050},"sahil_sample_by_month":{"2020-07":7576.06,"2020-08":541.74,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"expense_count_by_month":{"2020-07":19,"2020-08":25,"2020-09":26,"2020-10":22,"2020-11":29,"2020-12":40,"2021-01":12},"withdrawals_count_by_month":{"2020-07":19,"2020-08":26,"2020-09":27,"2020-10":22,"2020-11":29,"2020-12":40,"2021-01":12},"revenue_count_by_month":{"2020-07":20,"2020-08":21,"2020-09":20,"2020-10":25,"2020-11":24,"2020-12":22,"2021-01":6},"deposits_count_by_month":{"2020-07":26,"2020-08":24,"2020-09":21,"2020-10":25,"2020-11":25,"2020-12":22,"2021-01":6},"nsf_fee_count_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"nsf_raw_fee_count_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"overdraft_fee_count_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"overdraft_raw_fee_count_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"returned_item_deposit_count_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"returned_item_withdrawal_count_by_month":{"2020-07":0,"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"fintech_loan_sources":[{"source":"ONDECK CAPITAL","deposit_sum":30000,"deposit_count":1,"deposits":{"2020-11-15":30000},"pmt_sum":-5466.96,"pmt_count":2,"pmt_frequency_days":31,"pmts":{"2020-12-05":-2733.48,"2021-01-05":-2733.48},"events":[]},{"source":"EARNIN","deposit_sum":174,"deposit_count":2,"deposits":{"2020-07-15":87,"2020-07-22":87},"pmt_sum":0,"pmt_count":0,"pmt_frequency_days":0,"pmts":{},"events":[]}],"fintech_mca_sources":[],"num_fintech_loan_sources":2,"num_fintech_mca_sources":0,"counterparties":[{"category":"revenue","distribution":[{"counterparty":"VENMO","rank":1,"proportion":0.5448,"amount":29419.02},{"counterparty":"BLOCK, INC. (FKA SQUARE, INC.)","rank":2,"proportion":0.3356,"amount":18120.6},{"counterparty":"RADICLE FARM","rank":3,"proportion":0.119,"amount":6428.46},{"counterparty":"PARTY AMERICA","rank":4,"proportion":0.0006,"amount":32.13}],"average_per_counterparty":13500.05,"num_counterparties":4},{"category":"expense","distribution":[{"counterparty":"TUNA MED FOOD","rank":1,"proportion":0.3067,"amount":-26788.34},{"counterparty":"PAYROLL","rank":2,"proportion":0.2675,"amount":-23366.08},{"counterparty":"BROOKLYN HEIGHTS REAL ESTATE","rank":3,"proportion":0.2232,"amount":-19500},{"counterparty":"FLAMINGO FURNITURE","rank":4,"proportion":0.1019,"amount":-8899.7},{"counterparty":"NGUYEN COFFEE SUPPLY","rank":5,"proportion":0.1007,"amount":-8794.58}],"average_per_counterparty":-4996.44,"num_counterparties":21}],"cash_flow_at_a_glance":{"total_revenue":97150.79,"total_expense":118254.6,"total_loan_proceeds":30174,"total_loan_payments":5466.96,"debt_coverage_ratio":-2.86,"total_nsf_fee_count":0},"missing_bank_accounts":[{"account_type":"CHECKING","account_number":"2580","total_transfered_to":-31.01,"total_transfered_from":119},{"account_type":"UNKNOWN","account_number":"UNKNOWN","total_transfered_to":0,"total_transfered_from":264.18}],"bank_accounts":[{"bank_account_pk":9662788,"bank_account_name":"488083738759 CHASE CHECKING","bank_name":"CHASE","account_type":"CHECKING","account_holder":"JILL S COFFEE","account_number":"488083738759","holder_zip":"11215","holder_country":"US","holder_state":"NY","holder_city":"New York","holder_address_1":"74 Prospect Park West Park Slope","holder_address_2":"","account_category":"PERSONAL ACCOUNT","txn_count":244,"daily_balances":{"2020-08-19":3497.27,"2020-08-20":3264.13,"2020-08-21":3264.13,"2020-08-22":3814.13,"2020-08-23":4473.83,"2020-08-24":4873.83,"2020-08-25":4216.2,"2020-08-26":4335.44,"2020-08-27":4506.67,"2020-08-28":4209.67,"2020-08-29":3935.42,"2020-08-30":5103.89,"2020-08-31":5103.89,"2020-09-01":4984.14,"2020-09-02":5558.15,"2020-09-03":5745.63,"2020-09-04":5745.63,"2020-09-05":3058.64,"2020-09-06":3991.12,"2020-09-07":2232.98,"2020-09-08":3082.98,"2020-09-09":2935.81,"2020-09-10":4126.11,"2020-09-11":2808.97,"2020-09-12":3608.97,"2020-09-13":5462.11,"2020-09-14":4385.23,"2020-09-15":4100.69,"2020-09-16":4100.69,"2020-09-17":4721.83,"2020-09-18":4721.83,"2020-09-19":4721.83,"2020-09-20":5450.75,"2020-09-21":4065.1,"2020-09-22":4815.1,"2020-09-23":4815.1,"2020-09-24":5515.1,"2020-09-25":5799.34,"2020-09-26":6455.57,"2020-09-27":7013.26,"2020-09-28":5936.38,"2020-09-29":6336.38,"2020-09-30":5914.24,"2020-10-01":6094.49,"2020-10-02":5927.65,"2020-10-03":6091.65,"2020-10-04":7066.02,"2020-10-05":3109.14,"2020-10-06":3109.14,"2020-10-07":3195.56,"2020-10-08":3195.56,"2020-10-09":3956.07,"2020-10-10":3645.07,"2020-10-11":5599.72,"2020-10-12":-62.3,"2020-10-13":137.7,"2020-10-14":137.7,"2020-10-15":437.7,"2020-10-16":1283.84,"2020-10-17":1283.84,"2020-10-18":2340.13,"2020-10-19":1155.25,"2020-10-20":1155.25,"2020-10-21":1355.25,"2020-10-22":1290.89,"2020-10-23":2438.84,"2020-10-24":2841.44,"2020-10-25":4051.07,"2020-10-26":2828.71,"2020-10-27":2828.71,"2020-10-28":3528.71,"2020-10-29":3528.71,"2020-10-30":5654.85,"2020-10-31":5418.68,"2020-11-01":5939.07,"2020-11-02":4636.2,"2020-11-03":4600.2,"2020-11-04":5400.2,"2020-11-05":1855.95,"2020-11-06":3255.63,"2020-11-07":2919.63,"2020-11-08":4893.63,"2020-11-09":3448.75,"2020-11-10":3137.75,"2020-11-11":2263.06,"2020-11-12":2263.06,"2020-11-13":4023.47,"2020-11-14":3687.47,"2020-11-15":34358.82,"2020-11-16":32516.28,"2020-11-17":32516.28,"2020-11-18":33016.28,"2020-11-19":33316.28,"2020-11-20":33467.45,"2020-11-21":33131.45,"2020-11-22":32626.9,"2020-11-23":31800.02,"2020-11-24":31800.02,"2020-11-25":32350.02,"2020-11-26":32350.02,"2020-11-27":33839.57,"2020-11-28":31076.57,"2020-11-29":33212.57,"2020-11-30":30672.38,"2020-12-01":30552.63,"2020-12-02":26939.35,"2020-12-03":26903.35,"2020-12-04":27098.35,"2020-12-05":18320.43,"2020-12-06":19907.89,"2020-12-07":18193.32,"2020-12-08":17943.32,"2020-12-09":18884.57,"2020-12-10":18884.57,"2020-12-11":17773.88,"2020-12-12":17773.88,"2020-12-13":18248.16,"2020-12-14":17611.69,"2020-12-15":16054.24,"2020-12-16":15896.32,"2020-12-17":14030.18,"2020-12-18":10679.2,"2020-12-19":11029.2,"2020-12-20":9176.42,"2020-12-21":9526.42,"2020-12-22":9526.42,"2020-12-23":9829.42,"2020-12-24":9829.42,"2020-12-25":10979.42,"2020-12-26":10979.42,"2020-12-27":12579.42,"2020-12-28":11563.67,"2020-12-29":11009.53,"2020-12-30":13834.3,"2020-12-31":13834.3,"2021-01-01":13714.55,"2021-01-02":14114.55,"2021-01-03":11686.79,"2021-01-04":11053.83,"2021-01-05":4990.35,"2021-01-06":5481.02,"2021-01-07":5481.02,"2021-01-08":6631.02,"2021-01-09":6503.03},"daily_cash_flows":{"2020-08-19":3497.27,"2020-08-20":-233.14,"2020-08-21":0,"2020-08-22":550,"2020-08-23":659.7,"2020-08-24":400,"2020-08-25":-657.63,"2020-08-26":119.24,"2020-08-27":171.23,"2020-08-28":-297,"2020-08-29":-274.25,"2020-08-30":1168.47,"2020-08-31":0,"2020-09-01":-119.75,"2020-09-02":574.01,"2020-09-03":187.48,"2020-09-04":0,"2020-09-05":-2686.99,"2020-09-06":932.48,"2020-09-07":-1758.14,"2020-09-08":850,"2020-09-09":-147.17,"2020-09-10":1190.3,"2020-09-11":-1317.14,"2020-09-12":800,"2020-09-13":1853.14,"2020-09-14":-1076.88,"2020-09-15":-284.54,"2020-09-16":0,"2020-09-17":621.14,"2020-09-18":0,"2020-09-19":0,"2020-09-20":728.92,"2020-09-21":-1385.65,"2020-09-22":750,"2020-09-23":0,"2020-09-24":700,"2020-09-25":284.24,"2020-09-26":656.23,"2020-09-27":557.69,"2020-09-28":-1076.88,"2020-09-29":400,"2020-09-30":-422.14,"2020-10-01":180.25,"2020-10-02":-166.84,"2020-10-03":164,"2020-10-04":974.37,"2020-10-05":-3956.88,"2020-10-06":0,"2020-10-07":86.42,"2020-10-08":0,"2020-10-09":760.51,"2020-10-10":-311,"2020-10-11":1954.65,"2020-10-12":-5662.02,"2020-10-13":200,"2020-10-14":0,"2020-10-15":300,"2020-10-16":846.14,"2020-10-17":0,"2020-10-18":1056.29,"2020-10-19":-1184.88,"2020-10-20":0,"2020-10-21":200,"2020-10-22":-64.36,"2020-10-23":1147.95,"2020-10-24":402.6,"2020-10-25":1209.63,"2020-10-26":-1222.36,"2020-10-27":0,"2020-10-28":700,"2020-10-29":0,"2020-10-30":2126.14,"2020-10-31":-236.17,"2020-11-01":520.39,"2020-11-02":-1302.87,"2020-11-03":-36,"2020-11-04":800,"2020-11-05":-3544.25,"2020-11-06":1399.68,"2020-11-07":-336,"2020-11-08":1974,"2020-11-09":-1444.88,"2020-11-10":-311,"2020-11-11":-874.69,"2020-11-12":0,"2020-11-13":1760.41,"2020-11-14":-336,"2020-11-15":30671.35,"2020-11-16":-1842.54,"2020-11-17":0,"2020-11-18":500,"2020-11-19":300,"2020-11-20":151.17,"2020-11-21":-336,"2020-11-22":-504.55,"2020-11-23":-826.88,"2020-11-24":0,"2020-11-25":550,"2020-11-26":0,"2020-11-27":1489.55,"2020-11-28":-2763,"2020-11-29":2136,"2020-11-30":-2540.19,"2020-12-01":-119.75,"2020-12-02":-3613.28,"2020-12-03":-36,"2020-12-04":195,"2020-12-05":-8777.92,"2020-12-06":1587.46,"2020-12-07":-1714.57,"2020-12-08":-250,"2020-12-09":941.25,"2020-12-10":0,"2020-12-11":-1110.69,"2020-12-12":0,"2020-12-13":474.28,"2020-12-14":-636.47,"2020-12-15":-1557.45,"2020-12-16":-157.92,"2020-12-17":-1866.14,"2020-12-18":-3350.98,"2020-12-19":350,"2020-12-20":-1852.78,"2020-12-21":350,"2020-12-22":0,"2020-12-23":303,"2020-12-24":0,"2020-12-25":1150,"2020-12-26":0,"2020-12-27":1600,"2020-12-28":-1015.75,"2020-12-29":-554.14,"2020-12-30":2824.77,"2020-12-31":0,"2021-01-01":-119.75,"2021-01-02":400,"2021-01-03":-2427.76,"2021-01-04":-632.96,"2021-01-05":-6063.48,"2021-01-06":490.67,"2021-01-07":0,"2021-01-08":1150,"2021-01-09":-127.99},"average_daily_cash_flow":45.16,"net_cash_flows_by_month":{"2020-08":5103.89,"2020-09":810.35,"2020-10":-495.56,"2020-11":25253.7,"2020-12":-16838.08,"2021-01":-7331.27},"minimum_balance_by_month":{"2020-08":3264.13,"2020-09":2232.98,"2020-10":-62.3,"2020-11":1855.95,"2020-12":9176.42,"2021-01":4990.35},"maximum_balance_by_month":{"2020-08":5103.89,"2020-09":7013.26,"2020-10":7066.02,"2020-11":34358.82,"2020-12":30552.63,"2021-01":14114.55},"average_daily_balance":10005.95,"average_daily_balance_by_month":{"2020-08":4199.88,"2020-09":4740.32,"2020-10":3052.42,"2020-11":19145.83,"2020-12":15980.41,"2021-01":8850.68},"average_daily_balance_weekday":9812.24,"average_daily_balance_weekday_by_month":{"2020-08":4141.25,"2020-09":4772.12,"2020-10":2683.32,"2020-11":18837.67,"2020-12":16654.48,"2021-01":6727.45},"total_days":144,"negative_balances_by_month":{"2020-08":[],"2020-09":[],"2020-10":["2020-10-12"],"2020-11":[],"2020-12":[],"2021-01":[]},"negative_balances_count_by_month":{"2020-08":0,"2020-09":0,"2020-10":1,"2020-11":0,"2020-12":0,"2021-01":0},"negative_balances_weekday_by_month":{"2020-08":[],"2020-09":[],"2020-10":[],"2020-11":[],"2020-12":[],"2021-01":[]},"negative_balances_weekday_count_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"cash_balance_trend_30d":-0.8,"cash_balance_trend_60d":-1.32,"cash_balance_trend_90d":0.55,"cash_flow_trend_30d":0.14,"cash_flow_trend_60d":-0.21,"cash_flow_trend_90d":-0.32,"average_txn_size_by_month":{"2020-08-01":570.68,"2020-09-01":635.56,"2020-10-01":634.34,"2020-11-01":1308.14,"2020-12-01":954.09,"2021-01-01":1157.79},"average_deposits_by_month":{"2020-08":797.34,"2020-09":719.38,"2020-10":586.37,"2020-11":1917.87,"2020-12":961.71,"2021-01":1125.75},"expense_by_month":{"2020-08":-2869.48,"2020-09":-13577.19,"2020-10":-15154.88,"2020-11":-22693.06,"2020-12":-37995.79,"2021-01":-14085.78},"withdrawals_by_month":{"2020-08":-2869.48,"2020-09":-13577.19,"2020-10":-15154.88,"2020-11":-22693.06,"2020-12":-37995.79,"2021-01":-14085.78},"revenue_by_month":{"2020-08":3573.37,"2020-09":14387.54,"2020-10":14659.32,"2020-11":17946.76,"2020-12":21157.71,"2021-01":6754.51},"revenue_deduction_by_month":{"2020-08":4400,"2020-09":0,"2020-10":0,"2020-11":30000,"2020-12":0,"2021-01":0},"deposits_by_month":{"2020-08":7973.37,"2020-09":14387.54,"2020-10":14659.32,"2020-11":47946.76,"2020-12":21157.71,"2021-01":6754.51},"outside_source_deposits_by_month":{"2020-08":3973.37,"2020-09":14387.54,"2020-10":14659.32,"2020-11":17946.76,"2020-12":21157.71,"2021-01":6754.51},"large_deposits_by_month":{"2020-08":4000,"2020-09":3218.14,"2020-10":0,"2020-11":34775.77,"2020-12":10548.36,"2021-01":4004.51},"debt_consolidator_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"debt_consolidator_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"factoring_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"factoring_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"payroll_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"payroll_outflows_by_month":{"2020-08":0,"2020-09":-4307.52,"2020-10":-4307.52,"2020-11":-6728.4,"2020-12":-8022.64,"2021-01":-1454.88},"insurance_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"insurance_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"venmo_zelle_cashapp_inflows_by_month":{"2020-08":1473.37,"2020-09":5687.54,"2020-10":7359.32,"2020-11":10196.76,"2020-12":13257.71,"2021-01":4004.51},"venmo_zelle_cashapp_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"atm_inflows_by_month":{"2020-08":2500,"2020-09":8700,"2020-10":7300,"2020-11":7750,"2020-12":7900,"2021-01":2750},"atm_outflows_by_month":{"2020-08":-150,"2020-09":-100,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":-150},"tolls_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"tolls_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"paypal_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"paypal_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"equipment_lease_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"equipment_lease_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"checks_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"checks_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"txn_four_zeros_inflows_by_month":{"2020-08":5300,"2020-09":5500,"2020-10":5500,"2020-11":35100,"2020-12":7700,"2021-01":1600},"txn_four_zeros_outflows_by_month":{"2020-08":0,"2020-09":-100,"2020-10":0,"2020-11":0,"2020-12":-2300,"2021-01":0},"txn_five_zeros_inflows_by_month":{"2020-08":4000,"2020-09":0,"2020-10":1000,"2020-11":30000,"2020-12":1000,"2021-01":0},"txn_five_zeros_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"probable_recurring_txns_inflows_by_month":{"2020-08":1350,"2020-09":5250,"2020-10":6300,"2020-11":5100,"2020-12":4900,"2021-01":2050},"probable_recurring_txns_outflows_by_month":{"2020-08":0,"2020-09":-8019.26,"2020-10":-8330.26,"2020-11":-11825.83,"2020-12":-12892.55,"2021-01":-7674.11},"fintech_loan_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":30000,"2020-12":0,"2021-01":0},"fintech_loan_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":-2733.48,"2021-01":-2733.48},"bank_loan_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"bank_loan_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"other_loan_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"other_loan_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"fintech_mca_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"fintech_mca_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"bank_cash_advance_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"bank_cash_advance_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"debit_card_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"debit_card_outflows_by_month":{"2020-08":-2719.48,"2020-09":-8790.32,"2020-10":-10306.36,"2020-11":-15573.66,"2020-12":-26857.92,"2021-01":-9667.42},"credit_card_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"credit_card_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"merchant_service_inflows_by_month":{"2020-08":1473.37,"2020-09":5687.54,"2020-10":7359.32,"2020-11":10196.76,"2020-12":13257.71,"2021-01":4004.51},"merchant_service_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"sba_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"sba_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"remote_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"remote_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"benefits_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"benefits_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"card_rewards_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"card_rewards_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"crypto_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"crypto_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"gambling_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"gambling_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":-150,"2020-11":0,"2020-12":-350,"2021-01":0},"investment_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"investment_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"reversed_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"reversed_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"state_tax_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"state_tax_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"payroll_tax_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"payroll_tax_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"internal_transfer_inflows_by_month":{"2020-08":4000,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"internal_transfer_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"merchant_service_transfer_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"merchant_service_transfer_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"wire_transfer_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"wire_transfer_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"other_transfer_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":30000,"2020-12":0,"2021-01":0},"other_transfer_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"truck_stop_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"truck_stop_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"federal_tax_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"federal_tax_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"bank_branch_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"bank_branch_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"credit_builder_inflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"credit_builder_outflows_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"rideshare_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"custom_nike_by_month":{"2020-08":1350,"2020-09":-2769.26,"2020-10":-2030.26,"2020-11":-6725.83,"2020-12":-7992.55,"2021-01":-5624.11},"custom_tag_by_month":{"2020-08":1350,"2020-09":5250,"2020-10":6300,"2020-11":5100,"2020-12":4900,"2021-01":2050},"sahil_sample_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"expense_count_by_month":{"2020-08":9,"2020-09":24,"2020-10":22,"2020-11":29,"2020-12":40,"2021-01":12},"withdrawals_count_by_month":{"2020-08":9,"2020-09":24,"2020-10":22,"2020-11":29,"2020-12":40,"2021-01":12},"revenue_count_by_month":{"2020-08":8,"2020-09":20,"2020-10":25,"2020-11":24,"2020-12":22,"2021-01":6},"deposits_count_by_month":{"2020-08":10,"2020-09":20,"2020-10":25,"2020-11":25,"2020-12":22,"2021-01":6},"nsf_fee_count_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"nsf_divisor":null,"nsf_raw_fee_count_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"overdraft_fee_count_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"overdraft_divisor":null,"overdraft_raw_fee_count_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"returned_item_deposit_count_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"returned_item_withdrawal_count_by_month":{"2020-08":0,"2020-09":0,"2020-10":0,"2020-11":0,"2020-12":0,"2021-01":0},"fintech_loan_sources":[{"source":"ONDECK CAPITAL","deposit_sum":30000,"deposit_count":1,"deposits":{"2020-11-15":30000},"pmt_sum":-5466.96,"pmt_count":2,"pmt_frequency_days":31,"pmts":{"2020-12-05":-2733.48,"2021-01-05":-2733.48},"events":[]}],"fintech_mca_sources":[],"num_fintech_loan_sources":1,"num_fintech_mca_sources":0,"active_dates":[{"start":"2020-08-19","end":"2021-01-09"}],"missing_dates":[],"cash_flow_at_a_glance":{"total_revenue":78479.21,"total_expense":106376.18,"total_loan_proceeds":30000,"total_loan_payments":5466.96,"debt_coverage_ratio":-4.1,"total_nsf_fee_count":0},"periods":[{"begin_date":"2020-08-19","end_date":"2020-09-09","begin_balance":0,"end_balance":2935.81,"txn_count":33,"uploaded_doc_pk":41188515,"missing_period_data":false,"average_amount":618.87,"average_daily_balance":4178.8,"average_daily_balance_weekday":4354.9,"average_daily_cash_flow":133.45,"average_deposit":778.62,"deposit_sum":11679.33,"deposit_count":15,"max_deposit":4000,"average_withdrawal":-485.75,"withdrawal_sum":-8743.52,"withdrawal_count":18,"max_withdrawal":-3250,"revenue":7279.33,"revenue_count":13,"revenue_deduction":4400,"expense":-8743.52,"expense_count":18,"negative_balances":[],"negative_balances_weekday":[],"nsf_days_count":0,"nsf_fee_sum":0,"nsf_fee_count":0,"nsf_raw_fee_count":0,"overdraft_days_count":0,"overdraft_fee_sum":0,"overdraft_fee_count":0,"overdraft_raw_fee_count":0,"nsf_or_overdraft_days_count":0,"returned_item_deposit_count":0,"returned_item_withdrawal_count":0,"has_weekend_txn":true,"large_deposits":4000,"nsf_divisor":null,"overdraft_divisor":null,"reconciled":false,"recon_error_absolute_amount":1234.56,"recon_error_pct_of_average_daily_balance":4.7,"primary_recon_error_reason":"balance mismatch","secondary_recon_error_reason":"possible missing transactions","high_amount_average_daily_balance":false,"balance_ending_with_zero":false,"high_txns_count_atm_over_cash":false,"has_weekend_transactions":true,"no_txn_in_weekdays_within_period":false,"high_txns_amount_atm_over_cash":false},{"begin_date":"2020-09-10","end_date":"2020-10-09","begin_balance":2935.81,"end_balance":3956.07,"txn_count":47,"uploaded_doc_pk":41188521,"missing_period_data":false,"average_amount":593.43,"average_daily_balance":4887.33,"average_daily_balance_weekday":4579.53,"average_daily_cash_flow":34.01,"average_deposit":628.51,"deposit_sum":14455.74,"deposit_count":23,"max_deposit":1853.14,"average_withdrawal":-559.81,"withdrawal_sum":-13435.48,"withdrawal_count":24,"max_withdrawal":-3250,"revenue":14455.74,"revenue_count":23,"revenue_deduction":0,"expense":-13435.48,"expense_count":24,"negative_balances":[],"negative_balances_weekday":[],"nsf_days_count":0,"nsf_fee_sum":0,"nsf_fee_count":0,"nsf_raw_fee_count":0,"overdraft_days_count":0,"overdraft_fee_sum":0,"overdraft_fee_count":0,"overdraft_raw_fee_count":0,"nsf_or_overdraft_days_count":0,"returned_item_deposit_count":0,"returned_item_withdrawal_count":0,"has_weekend_txn":true,"large_deposits":3218.14,"nsf_divisor":null,"overdraft_divisor":null},{"begin_date":"2020-10-10","end_date":"2020-11-09","begin_balance":3956.07,"end_balance":3448.75,"txn_count":48,"uploaded_doc_pk":41188519,"missing_period_data":false,"average_amount":689.5,"average_daily_balance":2897.71,"average_daily_balance_weekday":2547.95,"average_daily_cash_flow":-16.37,"average_deposit":708.45,"deposit_sum":16294.45,"deposit_count":23,"max_deposit":1265,"average_withdrawal":-672.07,"withdrawal_sum":-16801.77,"withdrawal_count":25,"max_withdrawal":-3750,"revenue":16294.45,"revenue_count":23,"revenue_deduction":0,"expense":-16801.77,"expense_count":25,"negative_balances":["2020-10-12"],"negative_balances_weekday":[],"nsf_days_count":0,"nsf_fee_sum":0,"nsf_fee_count":0,"nsf_raw_fee_count":0,"overdraft_days_count":0,"overdraft_fee_sum":0,"overdraft_fee_count":0,"overdraft_raw_fee_count":0,"nsf_or_overdraft_days_count":0,"returned_item_deposit_count":0,"returned_item_withdrawal_count":0,"has_weekend_txn":true,"large_deposits":0,"nsf_divisor":null,"overdraft_divisor":null},{"begin_date":"2020-11-10","end_date":"2020-12-09","begin_balance":3448.75,"end_balance":18884.57,"txn_count":58,"uploaded_doc_pk":41188518,"missing_period_data":false,"average_amount":1406.31,"average_daily_balance":24738.96,"average_daily_balance_weekday":25061.69,"average_daily_cash_flow":514.53,"average_deposit":1940.04,"deposit_sum":48501.01,"deposit_count":25,"max_deposit":30000,"average_withdrawal":-1001.98,"withdrawal_sum":-33065.19,"withdrawal_count":33,"max_withdrawal":-5324.14,"revenue":18501.01,"revenue_count":24,"revenue_deduction":30000,"expense":-33065.19,"expense_count":33,"negative_balances":[],"negative_balances_weekday":[],"nsf_days_count":0,"nsf_fee_sum":0,"nsf_fee_count":0,"nsf_raw_fee_count":0,"overdraft_days_count":0,"overdraft_fee_sum":0,"overdraft_fee_count":0,"overdraft_raw_fee_count":0,"nsf_or_overdraft_days_count":0,"returned_item_deposit_count":0,"returned_item_withdrawal_count":0,"has_weekend_txn":true,"large_deposits":38115.06,"nsf_divisor":null,"overdraft_divisor":null},{"begin_date":"2020-12-10","end_date":"2021-01-09","begin_balance":18884.57,"end_balance":6503.03,"txn_count":58,"uploaded_doc_pk":41188513,"missing_period_data":false,"average_amount":970.33,"average_daily_balance":11945.34,"average_daily_balance_weekday":11676.04,"average_daily_cash_flow":-399.4,"average_deposit":997.67,"deposit_sum":21948.68,"deposit_count":22,"max_deposit":2109.37,"average_withdrawal":-953.62,"withdrawal_sum":-34330.22,"withdrawal_count":36,"max_withdrawal":-4124.25,"revenue":21948.68,"revenue_count":22,"revenue_deduction":0,"expense":-34330.22,"expense_count":36,"negative_balances":[],"negative_balances_weekday":[],"nsf_days_count":0,"nsf_fee_sum":0,"nsf_fee_count":0,"nsf_raw_fee_count":0,"overdraft_days_count":0,"overdraft_fee_sum":0,"overdraft_fee_count":0,"overdraft_raw_fee_count":0,"nsf_or_overdraft_days_count":0,"returned_item_deposit_count":0,"returned_item_withdrawal_count":0,"has_weekend_txn":true,"large_deposits":11213.58,"nsf_divisor":null,"overdraft_divisor":null}]},{"bank_account_pk":9662812,"bank_account_name":"381053654285 CHASE SAVINGS","bank_name":"CHASE","account_type":"SAVINGS","account_holder":"JILL SMITH","account_number":"381053654285","holder_zip":"11215","holder_country":"US","holder_state":"NY","holder_city":"New York","holder_address_1":"307 8TH AVENUE PARK SLOPE","holder_address_2":"APARTMENT 3B","account_category":"PERSONAL ACCOUNT","txn_count":80,"daily_balances":{"2020-07-10":16314.96,"2020-07-11":16314.96,"2020-07-12":16831.65,"2020-07-13":23010.11,"2020-07-14":23363.61,"2020-07-15":23021.28,"2020-07-16":23138.94,"2020-07-17":23438.94,"2020-07-18":23688.94,"2020-07-19":24075.05,"2020-07-20":24107.32,"2020-07-21":24377.66,"2020-07-22":24539.43,"2020-07-23":24507.66,"2020-07-24":24496.91,"2020-07-25":24259.49,"2020-07-26":24294.39,"2020-07-27":24286.73,"2020-07-28":24836.73,"2020-07-29":25048.2,"2020-07-30":24566.47,"2020-07-31":24916.47,"2020-08-01":24796.72,"2020-08-02":25494.21,"2020-08-03":25458.21,"2020-08-04":25958.21,"2020-08-05":22448.27,"2020-08-06":22374.08,"2020-08-07":22250.84,"2020-08-08":22550.84,"2020-08-09":23614.24,"2020-08-10":24051.41,"2020-08-11":24051.41,"2020-08-12":24602.06,"2020-08-13":23456.59,"2020-08-14":23456.59,"2020-08-15":23779.45,"2020-08-16":24672.89,"2020-08-17":25116.75,"2020-08-18":25116.75,"2020-08-19":21116.75,"2020-08-20":21116.75,"2020-08-21":21106,"2020-08-22":21106,"2020-08-23":21051.75,"2020-08-24":21051.75,"2020-08-25":21051.75,"2020-08-26":21051.75,"2020-08-27":21051.75,"2020-08-28":21039.33,"2020-08-29":21039.33,"2020-08-30":21039.33,"2020-08-31":21039.33,"2020-09-01":21039.33,"2020-09-02":21039.33,"2020-09-03":21039.33,"2020-09-04":21068.33,"2020-09-05":21068.33,"2020-09-06":21068.33,"2020-09-07":21035.33,"2020-09-08":20972.19,"2020-09-09":20972.19},"daily_cash_flows":{"2020-07-10":-1025.45,"2020-07-11":0,"2020-07-12":516.69,"2020-07-13":6178.46,"2020-07-14":353.5,"2020-07-15":-342.33,"2020-07-16":117.66,"2020-07-17":300,"2020-07-18":250,"2020-07-19":386.11,"2020-07-20":32.27,"2020-07-21":270.34,"2020-07-22":161.77,"2020-07-23":-31.77,"2020-07-24":-10.75,"2020-07-25":-237.42,"2020-07-26":34.9,"2020-07-27":-7.66,"2020-07-28":550,"2020-07-29":211.47,"2020-07-30":-481.73,"2020-07-31":350,"2020-08-01":-119.75,"2020-08-02":697.49,"2020-08-03":-36,"2020-08-04":500,"2020-08-05":-3509.94,"2020-08-06":-74.19,"2020-08-07":-123.24,"2020-08-08":300,"2020-08-09":1063.4,"2020-08-10":450,"2020-08-11":0,"2020-08-12":550.65,"2020-08-13":-1145.47,"2020-08-14":0,"2020-08-15":322.86,"2020-08-16":893.44,"2020-08-17":443.86,"2020-08-18":0,"2020-08-19":-4000,"2020-08-20":0,"2020-08-21":-10.75,"2020-08-22":0,"2020-08-23":-54.25,"2020-08-24":0,"2020-08-25":0,"2020-08-26":0,"2020-08-27":0,"2020-08-28":-12.42,"2020-08-29":0,"2020-08-30":0,"2020-08-31":0,"2020-09-01":0,"2020-09-02":0,"2020-09-03":0,"2020-09-04":29,"2020-09-05":0,"2020-09-06":0,"2020-09-07":-33,"2020-09-08":-63.14,"2020-09-09":0},"average_daily_cash_flow":58.78,"net_cash_flows_by_month":{"2020-07":7576.06,"2020-08":-3864.31,"2020-09":-67.14},"minimum_balance_by_month":{"2020-07":16314.96,"2020-08":21039.33,"2020-09":20972.19},"maximum_balance_by_month":{"2020-07":25048.2,"2020-08":25958.21,"2020-09":21068.33},"average_daily_balance":22642.74,"average_daily_balance_by_month":{"2020-07":23065.27,"2020-08":22810.04,"2020-09":21033.63},"average_daily_balance_weekday":22838.8,"average_daily_balance_weekday_by_month":{"2020-07":23623.21,"2020-08":22760.3,"2020-09":21021.78},"total_days":62,"negative_balances_by_month":{"2020-07":[],"2020-08":[],"2020-09":[]},"negative_balances_count_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"negative_balances_weekday_by_month":{"2020-07":[],"2020-08":[],"2020-09":[]},"negative_balances_weekday_count_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"cash_balance_trend_30d":-1.2,"cash_balance_trend_60d":-1.04,"cash_balance_trend_90d":0.04,"cash_flow_trend_30d":0.25,"cash_flow_trend_60d":-0.33,"cash_flow_trend_90d":-0.44,"average_txn_size_by_month":{"2020-07-01":386.05,"2020-08-01":579.55,"2020-09-01":31.29},"average_deposits_by_month":{"2020-07":479.77,"2020-08":503.64,"2020-09":29},"expense_by_month":{"2020-07":-4898.07,"2020-08":-6915.22,"2020-09":-65.13},"withdrawals_by_month":{"2020-07":-4898.07,"2020-08":-10915.22,"2020-09":-96.14},"revenue_by_month":{"2020-07":11710.67,"2020-08":6960.91,"2020-09":0},"revenue_deduction_by_month":{"2020-07":763.46,"2020-08":90,"2020-09":29},"deposits_by_month":{"2020-07":12474.13,"2020-08":7050.91,"2020-09":29},"outside_source_deposits_by_month":{"2020-07":12209.95,"2020-08":6960.91,"2020-09":0},"large_deposits_by_month":{"2020-07":6428.46,"2020-08":1374.14,"2020-09":0},"debt_consolidator_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"debt_consolidator_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"factoring_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"factoring_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"payroll_inflows_by_month":{"2020-07":6428.46,"2020-08":0,"2020-09":0},"payroll_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"insurance_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"insurance_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"venmo_zelle_cashapp_inflows_by_month":{"2020-07":2199.5,"2020-08":3360.91,"2020-09":0},"venmo_zelle_cashapp_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"atm_inflows_by_month":{"2020-07":3050,"2020-08":3600,"2020-09":0},"atm_outflows_by_month":{"2020-07":-250,"2020-08":0,"2020-09":0},"tolls_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"tolls_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"paypal_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"paypal_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"equipment_lease_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"equipment_lease_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"checks_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"checks_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"txn_four_zeros_inflows_by_month":{"2020-07":1100,"2020-08":1700,"2020-09":0},"txn_four_zeros_outflows_by_month":{"2020-07":0,"2020-08":-4000,"2020-09":0},"txn_five_zeros_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"txn_five_zeros_outflows_by_month":{"2020-07":0,"2020-08":-4000,"2020-09":0},"probable_recurring_txns_inflows_by_month":{"2020-07":1624,"2020-08":2500,"2020-09":0},"probable_recurring_txns_outflows_by_month":{"2020-07":-10.75,"2020-08":-10.75,"2020-09":0},"fintech_loan_inflows_by_month":{"2020-07":174,"2020-08":0,"2020-09":0},"fintech_loan_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"bank_loan_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"bank_loan_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"other_loan_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"other_loan_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"fintech_mca_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"fintech_mca_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"bank_cash_advance_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"bank_cash_advance_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"debit_card_inflows_by_month":{"2020-07":32.13,"2020-08":0,"2020-09":0},"debit_card_outflows_by_month":{"2020-07":-4510.26,"2020-08":-6646.98,"2020-09":-65.13},"credit_card_inflows_by_month":{"2020-07":325.28,"2020-08":0,"2020-09":0},"credit_card_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"merchant_service_inflows_by_month":{"2020-07":2199.5,"2020-08":3360.91,"2020-09":0},"merchant_service_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"sba_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"sba_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"remote_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"remote_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"benefits_inflows_by_month":{"2020-07":6428.46,"2020-08":0,"2020-09":0},"benefits_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"card_rewards_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"card_rewards_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"crypto_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"crypto_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"gambling_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"gambling_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"investment_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"investment_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"reversed_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"reversed_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"state_tax_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"state_tax_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"payroll_tax_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"payroll_tax_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"internal_transfer_inflows_by_month":{"2020-07":264.18,"2020-08":90,"2020-09":29},"internal_transfer_outflows_by_month":{"2020-07":0,"2020-08":-4000,"2020-09":-31.01},"merchant_service_transfer_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"merchant_service_transfer_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"wire_transfer_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"wire_transfer_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"other_transfer_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"other_transfer_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"truck_stop_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"truck_stop_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"federal_tax_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"federal_tax_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"bank_branch_inflows_by_month":{"2020-07":150.58,"2020-08":0,"2020-09":0},"bank_branch_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"credit_builder_inflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"credit_builder_outflows_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"rideshare_by_month":{"2020-07":-53.14,"2020-08":0,"2020-09":0},"custom_nike_by_month":{"2020-07":1613.69,"2020-08":2489.25,"2020-09":0},"custom_tag_by_month":{"2020-07":1450,"2020-08":2500,"2020-09":0},"sahil_sample_by_month":{"2020-07":7576.06,"2020-08":541.74,"2020-09":0},"expense_count_by_month":{"2020-07":19,"2020-08":16,"2020-09":2},"withdrawals_count_by_month":{"2020-07":19,"2020-08":17,"2020-09":3},"revenue_count_by_month":{"2020-07":20,"2020-08":13,"2020-09":0},"deposits_count_by_month":{"2020-07":26,"2020-08":14,"2020-09":1},"nsf_fee_count_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"nsf_divisor":null,"nsf_raw_fee_count_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"overdraft_fee_count_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"overdraft_divisor":null,"overdraft_raw_fee_count_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"returned_item_deposit_count_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"returned_item_withdrawal_count_by_month":{"2020-07":0,"2020-08":0,"2020-09":0},"fintech_loan_sources":[{"source":"EARNIN","deposit_sum":174,"deposit_count":2,"deposits":{"2020-07-15":87,"2020-07-22":87},"pmt_sum":0,"pmt_count":0,"pmt_frequency_days":0,"pmts":{},"events":[]}],"fintech_mca_sources":[],"num_fintech_loan_sources":1,"num_fintech_mca_sources":0,"active_dates":[{"start":"2020-07-10","end":"2020-09-09"}],"missing_dates":[],"cash_flow_at_a_glance":{"total_revenue":18671.58,"total_expense":11878.42,"total_loan_proceeds":174,"total_loan_payments":0,"debt_coverage_ratio":null,"total_nsf_fee_count":0},"periods":[{"begin_date":"2020-07-10","end_date":"2020-08-09","begin_balance":17340.41,"end_balance":23601.79,"txn_count":61,"uploaded_doc_pk":41188563,"missing_period_data":false,"average_amount":428.82,"average_daily_balance":23302.63,"average_daily_balance_weekday":23641,"average_daily_cash_flow":202.38,"average_deposit":491.39,"deposit_sum":16215.95,"deposit_count":33,"max_deposit":6428.46,"average_withdrawal":-355.08,"withdrawal_sum":-9942.12,"withdrawal_count":28,"max_withdrawal":-3250,"revenue":15452.49,"revenue_count":27,"revenue_deduction":763.46,"expense":-9942.12,"expense_count":28,"negative_balances":[],"negative_balances_weekday":[],"nsf_days_count":0,"nsf_fee_sum":0,"nsf_fee_count":0,"nsf_raw_fee_count":0,"overdraft_days_count":0,"overdraft_fee_sum":0,"overdraft_fee_count":0,"overdraft_raw_fee_count":0,"nsf_or_overdraft_days_count":0,"returned_item_deposit_count":0,"returned_item_withdrawal_count":0,"has_weekend_txn":true,"large_deposits":7802.6,"nsf_divisor":null,"overdraft_divisor":null,"reconciled":false,"recon_error_absolute_amount":1234.56,"recon_error_pct_of_average_daily_balance":4.7,"primary_recon_error_reason":"balance mismatch","secondary_recon_error_reason":"possible missing transactions","high_amount_average_daily_balance":false,"balance_ending_with_zero":false,"high_txns_count_atm_over_cash":false,"has_weekend_transactions":true,"no_txn_in_weekdays_within_period":false,"high_txns_amount_atm_over_cash":false},{"begin_date":"2020-08-10","end_date":"2020-09-09","begin_balance":23601.41,"end_balance":20965.12,"txn_count":19,"uploaded_doc_pk":41188560,"missing_period_data":false,"average_amount":489.76,"average_daily_balance":21982.84,"average_daily_balance_weekday":22073.06,"average_daily_cash_flow":-84.81,"average_deposit":417.26,"deposit_sum":3338.09,"deposit_count":8,"max_deposit":893.44,"average_withdrawal":-542.48,"withdrawal_sum":-5967.31,"withdrawal_count":11,"max_withdrawal":-4000,"revenue":3219.09,"revenue_count":6,"revenue_deduction":119,"expense":-1936.3,"expense_count":9,"negative_balances":[],"negative_balances_weekday":[],"nsf_days_count":0,"nsf_fee_sum":0,"nsf_fee_count":0,"nsf_raw_fee_count":0,"overdraft_days_count":0,"overdraft_fee_sum":0,"overdraft_fee_count":0,"overdraft_raw_fee_count":0,"nsf_or_overdraft_days_count":0,"returned_item_deposit_count":0,"returned_item_withdrawal_count":0,"has_weekend_txn":true,"large_deposits":0,"nsf_divisor":null,"overdraft_divisor":null}]}],"number_of_docs_in_book":7,"number_of_docs_processed":7,"uploaded_docs":[{"pk":41188518,"uuid":"c1224107-cb9f-472a-a6c2-cbb2fd497eee","status":"VERIFICATION_COMPLETE","pages":4,"mixed_uploaded_doc_pk":null,"mixed_uploaded_doc_uuid":null,"rejection_reason":null},{"pk":41188515,"uuid":"c83f9bb2-e7f2-446d-96b2-4c5e0dc11d6b","status":"VERIFICATION_COMPLETE","pages":3,"mixed_uploaded_doc_pk":null,"mixed_uploaded_doc_uuid":null,"rejection_reason":null},{"pk":41188521,"uuid":"80ab24ee-5822-44e0-9818-74c2dc91f66c","status":"VERIFICATION_COMPLETE","pages":4,"mixed_uploaded_doc_pk":null,"mixed_uploaded_doc_uuid":null,"rejection_reason":null},{"pk":41188519,"uuid":"ca3085ac-9e4c-4adb-afac-5d2ceb8b10cc","status":"VERIFICATION_COMPLETE","pages":4,"mixed_uploaded_doc_pk":null,"mixed_uploaded_doc_uuid":null,"rejection_reason":null},{"pk":41188513,"uuid":"f9af167d-17ae-42fd-9dba-4e1122528cf4","status":"VERIFICATION_COMPLETE","pages":4,"mixed_uploaded_doc_pk":null,"mixed_uploaded_doc_uuid":null,"rejection_reason":null},{"pk":41188560,"uuid":"497d0090-6b77-47f2-8a3c-e883cec33cd9","status":"VERIFICATION_COMPLETE","pages":3,"mixed_uploaded_doc_pk":null,"mixed_uploaded_doc_uuid":null,"rejection_reason":null},{"pk":41188563,"uuid":"f952063a-02bb-4cc6-aa8b-69561f33e3fd","status":"VERIFICATION_COMPLETE","pages":4,"mixed_uploaded_doc_pk":null,"mixed_uploaded_doc_uuid":null,"rejection_reason":null}],"book_uuid":"caaa57ba-8909-4a05-9dcc-e7cc057e3c48"}}},"schema":{"$ref":"#/components/schemas/SuccessBookSummarySchema"}}}},"202":{"description":"Accepted","content":{"application/json":{"examples":{"Accepted":{"value":{"job_id":"0f2b9c3a-9d1e-4c1a-9d2e-2c9a1b3c4d5e","status":"PENDING"}}},"schema":{"title":"Accepted","properties":{"job_id":{"type":"string","format":"uuid","description":"The unique identifier of the async job. Use this value to poll [Async job status](https://docs.ocrolus.com/reference/async-job-status) API for the result.\n","example":"0f2b9c3a-9d1e-4c1a-9d2e-2c9a1b3c4d5e"},"status":{"type":"string","enum":["PENDING","DONE","FAILED"],"description":"The current state of the async job. At submission, this is always `PENDING`. Poll the job status endpoint until the status reaches a terminal state — `DONE` or `FAILED`.\n","example":"PENDING"}}}}}},"400":{"description":"Txn Limit Exceeded","content":{"application/json":{"examples":{"Txn Limit Exceed":{"$ref":"#/components/examples/TxnLimitExceeded"}},"schema":{"properties":{"status":{"type":"integer","description":"A numerical code that indicates the status of the request.","example":400},"code":{"type":"integer","description":"A numerical code that indicates the nature of an error.","example":1401},"message":{"type":"string","description":"A textual description that indicates details about this response's status.","example":"Book not found"}}}}}},"403":{"description":"Permission Error","content":{"application/json":{"examples":{"No Permission":{"$ref":"#/components/examples/BookPermissionError"}},"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1summary/get/responses/400/content/application~1json/schema"}}}},"404":{"description":"Data Not Found Error","content":{"application/json":{"examples":{"Book not found":{"$ref":"#/components/examples/BookNotFoundError"},"Transactions not found":{"$ref":"#/components/examples/TransactionsNotFoundError"}},"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1summary/get/responses/400/content/application~1json/schema"}}}},"422":{"description":"Book Contains More Than 100k Transactions","content":{"application/json":{"examples":{"Transaction limit exceeded":{"$ref":"#/components/examples/TxnLimitExceededError"}},"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1summary/get/responses/400/content/application~1json/schema"}}}},"425":{"description":"Analytics Still Processing","content":{"application/json":{"examples":{"Book not found":{"$ref":"#/components/examples/TxnTagsProcessingError"}},"schema":{"$ref":"#/paths/~1v2~1book~1%7Bbook_uuid%7D~1summary/get/responses/400/content/application~1json/schema"}}}}}}},"/v2/book/{book_uuid}/cash_flow_features":{"get":{"summary":"Cash flow features","operationId":"cash-flow-features","description":"This API retrieves pre-engineered analytics on a series of bank statements within a <<glossary:Book>> with an object structure that’s suitable for modeling applications.\n> 📘 Note \n  > ***Min_days_to_include**: Minimum number of days required for the most recent calendar month to be included in monthly cash flow calculations. The default value is `0`. If the value is set to **32**, only fully completed months are included.\n\n---\n### Async processing \nThis API supports asynchronous processing. To get the asynchronous result, add `async=true` in the query parameter to run the request as a background job and receive a `job_id` immediately instead of waiting for the full response inline. When `async=true`, the endpoint returns `202 Accepted` with a `job_id` instead of the analytics payload.\n  \nAsync mode is required for Books with more than 100,000 transactions. Books exceeding 1,000,000 transactions are rejected with `422` (error code `1100`). Once submitted, poll [Async job status](https://docs.ocrolus.com/reference/async-job-status) API to retrieve the result when the job is complete.\n","tags":["Cash Flow Analytics"],"parameters":[{"name":"book_uuid","in":"path","required":true,"description":"The unique identifier of the <<glossary:Book>> that you'd like to analyze. All bank statements in this Book will be analyzed, and other documents will be ignored.\n","schema":{"type":"string","format":"uuid"},"example":"3927d5b7-ca34-4882-b23f-0ce40d40027c"},{"$ref":"#/components/parameters/AsyncParameter"}],"x-readme":{"samples-languages":["curl","python"],"explorer-enabled":true},"responses":{"200":{"description":"Success\n","content":{"application/json":{"examples":{"Success":{"value":{"book_uuid":"ff6f7e9e-c65d-48e1-abb9-60119b3c5852","book_start_month":"2021-04-01","book_end_month":"2021-04-01","num_of_months":1,"cash_flow_features":{"credit_avg_1m":12000,"credit_avg_3m":null,"credit_min_3m":null,"credit_max_3m":null,"credit_std_3m":null,"credit_cv_3m":null,"debit_avg_1m":12000,"debit_avg_3m":null,"debit_min_3m":null,"debit_max_3m":null,"debit_std_3m":null,"debit_cv_3m":null,"payroll_pmts_avg_1m":0,"payroll_pmts_avg_3m":null,"payroll_pmts_min_3m":null,"payroll_pmts_max_3m":null,"payroll_pmts_std_3m":null,"payroll_pmts_cv_3m":null,"insurance_pmts_avg_1m":2000,"insurance_pmts_avg_3m":null,"insurance_pmts_min_3m":null,"insurance_pmts_max_3m":null,"insurance_pmts_std_3m":null,"insurance_pmts_cv_3m":null,"insurance_deposits_avg_1m":0,"insurance_deposits_avg_3m":null,"insurance_deposits_min_3m":null,"insurance_deposits_max_3m":null,"insurance_deposits_std_3m":null,"insurance_deposits_cv_3m":null,"venmo_zelle_cashapp_pmts_avg_1m":0,"venmo_zelle_cashapp_pmts_avg_3m":null,"venmo_zelle_cashapp_pmts_min_3m":null,"venmo_zelle_cashapp_pmts_max_3m":null,"venmo_zelle_cashapp_pmts_std_3m":null,"venmo_zelle_cashapp_pmts_cv_3m":null,"venmo_zelle_cashapp_deposits_avg_1m":0,"venmo_zelle_cashapp_deposits_avg_3m":null,"venmo_zelle_cashapp_deposits_min_3m":null,"venmo_zelle_cashapp_deposits_max_3m":null,"venmo_zelle_cashapp_deposits_std_3m":null,"venmo_zelle_cashapp_deposits_cv_3m":null,"atm_withdrawals_avg_1m":0,"atm_withdrawals_avg_3m":null,"atm_withdrawals_min_3m":null,"atm_withdrawals_max_3m":null,"atm_withdrawals_std_3m":null,"atm_withdrawals_cv_3m":null,"atm_deposits_avg_1m":0,"atm_deposits_avg_3m":null,"atm_deposits_min_3m":null,"atm_deposits_max_3m":null,"atm_deposits_std_3m":null,"atm_deposits_cv_3m":null,"toll_pmts_avg_1m":0,"toll_pmts_avg_3m":null,"toll_pmts_min_3m":null,"toll_pmts_max_3m":null,"toll_pmts_std_3m":null,"toll_pmts_cv_3m":null,"paypal_pmts_avg_1m":0,"paypal_pmts_avg_3m":null,"paypal_pmts_min_3m":null,"paypal_pmts_max_3m":null,"paypal_pmts_std_3m":null,"paypal_pmts_cv_3m":null,"paypal_deposits_avg_1m":0,"paypal_deposits_avg_3m":null,"paypal_deposits_min_3m":null,"paypal_deposits_max_3m":null,"paypal_deposits_std_3m":null,"paypal_deposits_cv_3m":null,"checks_pmts_avg_1m":0,"checks_pmts_avg_3m":null,"checks_pmts_min_3m":null,"checks_pmts_max_3m":null,"checks_pmts_std_3m":null,"checks_pmts_cv_3m":null,"checks_deposits_avg_1m":0,"checks_deposits_avg_3m":null,"checks_deposits_min_3m":null,"checks_deposits_max_3m":null,"checks_deposits_std_3m":null,"checks_deposits_cv_3m":null,"outside_source_deposits_avg_1m":6000,"outside_source_deposits_avg_3m":null,"outside_source_deposits_min_3m":null,"outside_source_deposits_max_3m":null,"outside_source_deposits_std_3m":null,"outside_source_deposits_cv_3m":null,"truck_stop_pmts_avg_1m":0,"truck_stop_pmts_avg_3m":null,"truck_stop_pmts_min_3m":null,"truck_stop_pmts_max_3m":null,"truck_stop_pmts_std_3m":null,"truck_stop_pmts_cv_3m":null,"fintech_loan_pmts_avg_1m":0,"fintech_loan_pmts_avg_3m":null,"fintech_loan_pmts_min_3m":null,"fintech_loan_pmts_max_3m":null,"fintech_loan_pmts_std_3m":null,"fintech_loan_pmts_cv_3m":null,"fintech_loan_deposits_avg_1m":0,"fintech_loan_deposits_avg_3m":null,"fintech_loan_deposits_min_3m":null,"fintech_loan_deposits_max_3m":null,"fintech_loan_deposits_std_3m":null,"fintech_loan_deposits_cv_3m":null,"bank_loan_pmts_avg_1m":0,"bank_loan_pmts_avg_3m":null,"bank_loan_pmts_min_3m":null,"bank_loan_pmts_max_3m":null,"bank_loan_pmts_std_3m":null,"bank_loan_pmts_cv_3m":null,"bank_loan_deposits_avg_1m":0,"bank_loan_deposits_avg_3m":null,"bank_loan_deposits_min_3m":null,"bank_loan_deposits_max_3m":null,"bank_loan_deposits_std_3m":null,"bank_loan_deposits_cv_3m":null,"other_loan_pmts_avg_1m":2000,"other_loan_pmts_avg_3m":null,"other_loan_pmts_min_3m":null,"other_loan_pmts_max_3m":null,"other_loan_pmts_std_3m":null,"other_loan_pmts_cv_3m":null,"other_loan_deposits_avg_1m":0,"other_loan_deposits_avg_3m":null,"other_loan_deposits_min_3m":null,"other_loan_deposits_max_3m":null,"other_loan_deposits_std_3m":null,"other_loan_deposits_cv_3m":null,"fintech_mca_pmts_avg_1m":0,"fintech_mca_pmts_avg_3m":null,"fintech_mca_pmts_min_3m":null,"fintech_mca_pmts_max_3m":null,"fintech_mca_pmts_std_3m":null,"fintech_mca_pmts_cv_3m":null,"fintech_mca_deposits_avg_1m":0,"fintech_mca_deposits_avg_3m":null,"fintech_mca_deposits_min_3m":null,"fintech_mca_deposits_max_3m":null,"fintech_mca_deposits_std_3m":null,"fintech_mca_deposits_cv_3m":null,"bank_cash_advance_pmts_avg_1m":0,"bank_cash_advance_pmts_avg_3m":null,"bank_cash_advance_pmts_min_3m":null,"bank_cash_advance_pmts_max_3m":null,"bank_cash_advance_pmts_std_3m":null,"bank_cash_advance_pmts_cv_3m":null,"bank_cash_advance_deposits_avg_1m":0,"bank_cash_advance_deposits_avg_3m":null,"bank_cash_advance_deposits_min_3m":null,"bank_cash_advance_deposits_max_3m":null,"bank_cash_advance_deposits_std_3m":null,"bank_cash_advance_deposits_cv_3m":null,"debit_card_pmts_avg_1m":0,"debit_card_pmts_avg_3m":null,"debit_card_pmts_min_3m":null,"debit_card_pmts_max_3m":null,"debit_card_pmts_std_3m":null,"debit_card_pmts_cv_3m":null,"credit_card_pmts_avg_1m":0,"credit_card_pmts_avg_3m":null,"credit_card_pmts_min_3m":null,"credit_card_pmts_max_3m":null,"credit_card_pmts_std_3m":null,"credit_card_pmts_cv_3m":null,"expense_avg_1m":12000,"expense_avg_3m":null,"expense_min_3m":null,"expense_max_3m":null,"expense_std_3m":null,"expense_cv_3m":null,"revenue_avg_1m":6000,"revenue_avg_3m":null,"revenue_min_3m":null,"revenue_max_3m":null,"revenue_std_3m":null,"revenue_cv_3m":null,"sba_pmts_avg_1m":0,"sba_pmts_avg_3m":null,"sba_pmts_min_3m":null,"sba_pmts_max_3m":null,"sba_pmts_std_3m":null,"sba_pmts_cv_3m":null,"sba_deposits_avg_1m":0,"sba_deposits_avg_3m":null,"sba_deposits_min_3m":null,"sba_deposits_max_3m":null,"sba_deposits_std_3m":null,"sba_deposits_cv_3m":null,"remote_pmts_avg_1m":0,"remote_pmts_avg_3m":null,"remote_pmts_min_3m":null,"remote_pmts_max_3m":null,"remote_pmts_std_3m":null,"remote_pmts_cv_3m":null,"remote_deposits_avg_1m":0,"remote_deposits_avg_3m":null,"remote_deposits_min_3m":null,"remote_deposits_max_3m":null,"remote_deposits_std_3m":null,"remote_deposits_cv_3m":null,"benefits_pmts_avg_1m":0,"benefits_pmts_avg_3m":null,"benefits_pmts_min_3m":null,"benefits_pmts_max_3m":null,"benefits_pmts_std_3m":null,"benefits_pmts_cv_3m":null,"benefits_deposits_avg_1m":0,"benefits_deposits_avg_3m":null,"benefits_deposits_min_3m":null,"benefits_deposits_max_3m":null,"benefits_deposits_std_3m":null,"benefits_deposits_cv_3m":null,"card_reward_deposits_avg_1m":0,"card_reward_deposits_avg_3m":null,"card_reward_deposits_min_3m":null,"card_reward_deposits_max_3m":null,"card_reward_deposits_std_3m":null,"card_reward_deposits_cv_3m":null,"crypto_pmts_avg_1m":0,"crypto_pmts_avg_3m":null,"crypto_pmts_min_3m":null,"crypto_pmts_max_3m":null,"crypto_pmts_std_3m":null,"crypto_pmts_cv_3m":null,"crypto_deposits_avg_1m":0,"crypto_deposits_avg_3m":null,"crypto_deposits_min_3m":null,"crypto_deposits_max_3m":null,"crypto_deposits_std_3m":null,"crypto_deposits_cv_3m":null,"investment_withdrawals_avg_1m":0,"investment_withdrawals_avg_3m":null,"investment_withdrawals_min_3m":null,"investment_withdrawals_max_3m":null,"investment_withdrawals_std_3m":null,"investment_withdrawals_cv_3m":null,"investment_deposits_avg_1m":0,"investment_deposits_avg_3m":null,"investment_deposits_min_3m":null,"investment_deposits_max_3m":null,"investment_deposits_std_3m":null,"investment_deposits_cv_3m":null,"state_tax_pmts_avg_1m":0,"state_tax_pmts_avg_3m":null,"state_tax_pmts_min_3m":null,"state_tax_pmts_max_3m":null,"state_tax_pmts_std_3m":null,"state_tax_pmts_cv_3m":null,"state_tax_deposits_avg_1m":0,"state_tax_deposits_avg_3m":null,"state_tax_deposits_min_3m":null,"state_tax_deposits_max_3m":null,"state_tax_deposits_std_3m":null,"state_tax_deposits_cv_3m":null,"federal_tax_pmts_avg_1m":0,"federal_tax_pmts_avg_3m":null,"federal_tax_pmts_min_3m":null,"federal_tax_pmts_max_3m":null,"federal_tax_pmts_std_3m":null,"federal_tax_pmts_cv_3m":null,"federal_tax_deposits_avg_1m":0,"federal_tax_deposits_avg_3m":null,"federal_tax_deposits_min_3m":null,"federal_tax_deposits_max_3m":null,"federal_tax_deposits_std_3m":null,"federal_tax_deposits_cv_3m":null,"payroll_tax_pmts_avg_1m":0,"payroll_tax_pmts_avg_3m":null,"payroll_tax_pmts_min_3m":null,"payroll_tax_pmts_max_3m":null,"payroll_tax_pmts_std_3m":null,"payroll_tax_pmts_cv_3m":null,"payroll_tax_deposits_avg_1m":0,"payroll_tax_deposits_avg_3m":null,"payroll_tax_deposits_min_3m":null,"payroll_tax_deposits_max_3m":null,"payroll_tax_deposits_std_3m":null,"payroll_tax_deposits_cv_3m":null,"internal_transfer_withdrawals_avg_1m":0,"internal_transfer_withdrawals_avg_3m":null,"internal_transfer_withdrawals_min_3m":null,"internal_transfer_withdrawals_max_3m":null,"internal_transfer_withdrawals_std_3m":null,"internal_transfer_withdrawals_cv_3m":null,"internal_transfer_deposits_avg_1m":0,"internal_transfer_deposits_avg_3m":null,"internal_transfer_deposits_min_3m":null,"internal_transfer_deposits_max_3m":null,"internal_transfer_deposits_std_3m":null,"internal_transfer_deposits_cv_3m":null,"merchant_service_transfer_withdrawals_avg_1m":0,"merchant_service_transfer_withdrawals_avg_3m":null,"merchant_service_transfer_withdrawals_min_3m":null,"merchant_service_transfer_withdrawals_max_3m":null,"merchant_service_transfer_withdrawals_std_3m":null,"merchant_service_transfer_withdrawals_cv_3m":null,"merchant_service_transfer_deposits_avg_1m":0,"merchant_service_transfer_deposits_avg_3m":null,"merchant_service_transfer_deposits_min_3m":null,"merchant_service_transfer_deposits_max_3m":null,"merchant_service_transfer_deposits_std_3m":null,"merchant_service_transfer_deposits_cv_3m":null,"wire_transfer_withdrawals_avg_1m":0,"wire_transfer_withdrawals_avg_3m":null,"wire_transfer_withdrawals_min_3m":null,"wire_transfer_withdrawals_max_3m":null,"wire_transfer_withdrawals_std_3m":null,"wire_transfer_withdrawals_cv_3m":null,"wire_transfer_deposits_avg_1m":0,"wire_transfer_deposits_avg_3m":null,"wire_transfer_deposits_min_3m":null,"wire_transfer_deposits_max_3m":null,"wire_transfer_deposits_std_3m":null,"wire_transfer_deposits_cv_3m":null,"other_transfer_withdrawals_avg_1m":2000,"other_transfer_withdrawals_avg_3m":null,"other_transfer_withdrawals_min_3m":null,"other_transfer_withdrawals_max_3m":null,"
[...]
